.search-page-title {
  padding-top: 40px; }
  .search-page-title p {
    font-size: 28px;
    margin-bottom: 20px; }

.search-result {
  padding-bottom: 110px; }
  .search-result .item-search {
    border-bottom: solid 1px #b4afaa;
    display: flex;
    padding: 25px 20px 25px 0; }
    @media (max-width: 991.98px) {
      .search-result .item-search {
        display: block;
        padding: 15px; } }
    .search-result .item-search img {
      height: 160px;
      margin: 0;
      -o-object-fit: contain;
         object-fit: contain;
      width: 160px; }
      @media (max-width: 991.98px) {
        .search-result .item-search img {
          margin: 0 auto 15px;
          display: block; } }
    .search-result .item-search article {
      padding-left: 30px;
      width: 80%; }
      @media (max-width: 991.98px) {
        .search-result .item-search article {
          width: 100%;
          padding-left: 0; } }
      .search-result .item-search article p {
        font-size: 16px;
        line-height: 1.5; }
      .search-result .item-search article .entry-title a {
        color: #e41e26;
        text-decoration: underline; }
        .search-result .item-search article .entry-title a:hover {
          color: #ef1717; }
  .search-result .navigation {
    font-size: 18px;
    margin: auto;
    padding-top: 26px; }
    .search-result .navigation .page-numbers {
      color: #000;
      margin: 0 3px; }
    .search-result .navigation .current,
    .search-result .navigation .prev,
    .search-result .navigation .next {
      color: #e41e26;
      font-size: 18px; }
