.pr-star-v4 {
  height: 14px !important;
  width: 14px !important; }
  .pr-star-v4.pr-star-v4-100-filled {
    background-image: url("../../img/stars/star-100.png") !important; }
  .pr-star-v4.pr-star-v4-75-filled {
    background-image: url("../../img/stars/star-75.png") !important; }
  .pr-star-v4.pr-star-v4-50-filled {
    background-image: url("../../img/stars/star-50.png") !important; }
  .pr-star-v4.pr-star-v4-25-filled {
    background-image: url("../../img/stars/star-25.png") !important; }
  .pr-star-v4.pr-star-v4-0-filled {
    background-image: url("../../img/stars/star-0.png") !important; }

body:not(.page-template-page-recipe):not(.single) .p-w-r .pr-snippet .pr-snippet-stars-png .pr-snippet-rating-decimal {
  background-color: #2e1a46;
  border: none;
  color: #fff !important;
  font-family: 'Averia Serif Libre Regular';
  font-size: 16px !important;
  margin: 0 5px;
  padding: 0 5px !important; }

.p-w-r .pr-review-snapshot {
  background-color: transparent !important; }
  .p-w-r .pr-review-snapshot [class^='pr-ratings-histogram-bar'] {
    height: 10px !important; }
  .p-w-r .pr-review-snapshot .pr-review-snapshot-block-histogram {
    border: 0 !important;
    min-height: 100% !important;
    width: 100% !important; }
    .p-w-r .pr-review-snapshot .pr-review-snapshot-block-histogram .pr-review-snapshot-block-headline {
      display: none; }
  .p-w-r .pr-review-snapshot .pr-ratings-histogram .pr-ratings-histogram-bar {
    background-color: #d6d6d6 !important; }

.p-w-r .pr-category-snippet__total {
  color: #d6d6d6;
  font-family: 'Averia Serif Libre Regular';
  font-size: 16px;
  line-height: 20px;
  padding-left: 0; }

.p-w-r .pr-snippet-stars {
  background-color: transparent !important; }

.p-w-r .pr-snippet-stars-reco-inline .pr-snippet-read-and-write span {
  color: #7d7d7d;
  font-family: 'Averia Serif Libre Regular';
  font-size: 16px !important;
  line-height: 20px; }

.p-w-r .pr-snippet.pr-category-snippet {
  margin: 0 !important; }
  .p-w-r .pr-snippet.pr-category-snippet * {
    line-height: normal; }

.p-w-r .pr-snippet .pr-snippet-read-and-write {
  margin-top: 0 !important; }
  .p-w-r .pr-snippet .pr-snippet-read-and-write a {
    color: #7d7d7d;
    font-family: 'Averia Serif Libre Regular';
    font-size: 16px !important;
    line-height: 20px;
    margin-left: 1rem; }

.popular-recipes-carousel .stars-snippet {
  padding: 0; }

.main-cont-reviews .pr-ratings-histogram * {
  color: #2e1a46 !important; }

.main-cont-reviews .pr-snippet-review-count {
  font-size: 16px !important; }

.single-post .pr-snippet.pr-category-snippet,
[class*='page-recipe'] .pr-snippet.pr-category-snippet {
  margin: 0 auto !important; }

.single-post .product-reviews,
[class*='page-recipe'] .product-reviews {
  align-items: center;
  display: flex;
  justify-content: center; }
  .single-post .product-reviews .btn-write-review-link,
  [class*='page-recipe'] .product-reviews .btn-write-review-link {
    color: #ffa400;
    display: block;
    font-family: 'Averia Serif Libre Regular';
    font-size: 16px;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
    text-decoration: none;
    text-transform: unset; }
    .single-post .product-reviews .btn-write-review-link:hover,
    [class*='page-recipe'] .product-reviews .btn-write-review-link:hover {
      color: #ffa400;
      text-decoration: underline; }
  .single-post .product-reviews .pr-rating-stars,
  [class*='page-recipe'] .product-reviews .pr-rating-stars {
    padding: 0 1rem; }
  .single-post .product-reviews .pr-snippet-rating-decimal,
  [class*='page-recipe'] .product-reviews .pr-snippet-rating-decimal {
    display: none;
    padding-right: 0 !important; }

.single-post .pr-snippet-stars,
[class*='page-recipe'] .pr-snippet-stars {
  align-items: center;
  display: flex !important;
  flex-direction: row-reverse; }

.single-post .pr-snippet-rating-decimal,
[class*='page-recipe'] .pr-snippet-rating-decimal {
  border: 0 !important;
  color: #4b764a !important;
  font-size: 28px !important;
  line-height: 30px;
  padding-right: 3rem !important; }

.single-post .pr-rd-review-headline,
[class*='page-recipe'] .pr-rd-review-headline {
  color: #4b764a !important;
  font-family: 'Averia Serif Libre Regular';
  font-size: 20px !important;
  line-height: 24px !important; }

.single-post .pr-rd-author-nickname,
[class*='page-recipe'] .pr-rd-author-nickname {
  color: #4b764a !important;
  font-family: 'Averia Serif Libre Regular';
  font-size: 12px !important;
  line-height: 18px !important; }

.single-post .pr-rd-description-text,
[class*='page-recipe'] .pr-rd-description-text {
  color: #2e1a46 !important;
  font-family: 'Averia Serif Libre Regular';
  font-size: 12px !important;
  line-height: 16px !important; }

.single-post .p-w-r .pr-snippet.pr-category-snippet,
[class*='page-recipe'] .p-w-r .pr-snippet.pr-category-snippet {
  align-items: center;
  flex-direction: row;
  justify-content: center; }

.popular-recipes-carousel .p-w-r .pr-snippet-stars-reco-stars .pr-snippet {
  align-items: center;
  display: flex; }
  .popular-recipes-carousel .p-w-r .pr-snippet-stars-reco-stars .pr-snippet .pr-snippet-stars-container {
    margin-right: 1rem; }

.cont-review-display .pr-snapshot-mobile {
  display: none; }

.cont-review-display .pr-review-display {
  background-color: transparent !important; }
  .cont-review-display .pr-review-display .pr-rd-main-header {
    display: none; }
  .cont-review-display .pr-review-display .pr-rd-footer {
    background-color: transparent; }
  .cont-review-display .pr-review-display article.pr-review button span {
    color: #4b764a;
    letter-spacing: 1.2px;
    text-transform: uppercase; }
  .cont-review-display .pr-review-display article.pr-review button .pr-caret-icon {
    display: none; }
  .cont-review-display .pr-review-display article.pr-review .pr-rd-star-rating {
    display: none; }
  .cont-review-display .pr-review-display article.pr-review .pr-rd-description .pr-rd-author-submission-date,
  .cont-review-display .pr-review-display article.pr-review .pr-rd-description .pr-rd-author-location {
    display: none; }
  .cont-review-display .pr-review-display article.pr-review .pr-rd-description .pr-rd-reviewer-details .pr-rd-author-nickname {
    color: #4b764a; }
    .cont-review-display .pr-review-display article.pr-review .pr-rd-description .pr-rd-reviewer-details .pr-rd-author-nickname span {
      color: #4b764a; }
  .cont-review-display .pr-review-display article.pr-review footer.pr-rd-footer {
    display: none; }
  .cont-review-display .pr-review-display article.pr-review + .pr-review {
    border-top: 1px solid #9b9b9b;
    padding-top: 1rem; }

.stars-snippet .pr-snippet-stars-reco-reco,
.stars-snippet .pr-snippet-write-review-link {
  display: none; }

.stars-snippet.category-page .p-w-r {
  margin: 0; }
  .stars-snippet.category-page .p-w-r .pr-snippet-write-review-link {
    color: #ffa400;
    font-size: 15px !important;
    line-height: 20px; }

.stars-snippet.category-page .pr-snippet-review-count {
  display: none; }

.stars-snippet.category-page .pr-snippet-write-review-link {
  display: block; }

.single .cont-write-review a + a,
[class*='page-recipe'] .cont-write-review a + a {
  display: none; }

.btn-write-review {
  background-color: #2e1a46;
  border-radius: 50px 0;
  color: #fff;
  font-family: 'Averia Serif Libre Bold';
  font-weight: 300;
  letter-spacing: 1px;
  padding: .5rem 3rem;
  transition: border-radius .51s; }
  .btn-write-review:hover {
    background-color: #2e1a46;
    border-radius: 0 50px;
    color: #fff; }

.cont-write-review {
  margin: 2rem 0;
  text-align: center; }
  .cont-write-review .p-w-r .pr-war {
    max-width: 100%; }
  .cont-write-review .btn-write-review {
    padding: .75rem 3.75rem; }
  .cont-write-review div[type='submit'] {
    background-color: #2e1a46;
    border-radius: 50px 0;
    color: #fff;
    font-family: 'Averia Serif Libre Bold';
    font-weight: 300;
    letter-spacing: 1px;
    padding: .5rem 3rem;
    transition: border-radius .51s;
    -webkit-appearance: none;
    border: 0;
    padding: 1rem 3rem; }
    .cont-write-review div[type='submit']:hover {
      background-color: #2e1a46;
      border-radius: 0 50px;
      color: #fff; }

@media (max-width: 767px) {
  .p-w-r .pr-snippet {
    align-items: center;
    display: flex; }
    .p-w-r .pr-snippet.pr-category-snippet {
      align-items: normal;
      display: flex;
      flex-direction: column; }
    .p-w-r .pr-snippet .pr-snippet-stars-png {
      justify-content: flex-end; }
  .popular-recipes-carousel .p-w-r .pr-snippet.pr-category-snippet {
    flex-direction: row; }
  .popular-group-recipes .p-w-r .pr-snippet-stars-reco-stars .pr-snippet,
  .page-template-recipes .p-w-r .pr-snippet-stars-reco-stars .pr-snippet {
    align-items: center;
    display: flex; }
    .popular-group-recipes .p-w-r .pr-snippet-stars-reco-stars .pr-snippet .pr-snippet-stars-container,
    .page-template-recipes .p-w-r .pr-snippet-stars-reco-stars .pr-snippet .pr-snippet-stars-container {
      margin-right: 1rem; } }
