// #############################
// Averia Serif Libre
// #############################

@font-face {
	font-family: 'Averia Serif Libre Italic';
	font-style: italic;
	font-weight: normal;
	src: url('../../fonts/averia-serif-libre/averia-serif-libre-italic.woff2') format('woff2'), url('../../fonts/averia-serif-libre/averia-serif-libre-italic.woff') format('woff');
}

@font-face {
	font-family: 'Averia Serif Libre Bold Italic';
	font-style: italic;
	font-weight: bold;
	src: url('../../fonts/averia-serif-libre/averia-serif-libre-bold-italic.woff2') format('woff2'), url('../../fonts/averia-serif-libre/averia-serif-libre-bold-italic.woff') format('woff');
}

@font-face {
	font-family: 'Averia Serif Libre Light Italic';
	font-style: italic;
	font-weight: 300;
	src: url('../../fonts/averia-serif-libre/averia-serif-libre-light-italic.woff2') format('woff2'), url('../../fonts/averia-serif-libre/averia-serif-libre-light-italic.woff') format('woff');
}

@font-face {
	font-family: 'Averia Serif Libre Light';
	font-style: normal;
	font-weight: 300;
	src: url('../../fonts/averia-serif-libre/averia-serif-libre-light.woff2') format('woff2'), url('../../fonts/averia-serif-libre/averia-serif-libre-light.woff') format('woff');
}

@font-face {
	font-family: 'Averia Serif Libre Regular';
	font-style: normal;
	font-weight: normal;
	src: url('../../fonts/averia-serif-libre/averia-serif-libre-regular.woff2') format('woff2'), url('../../fonts/averia-serif-libre/averia-serif-libre-regular.woff') format('woff');
}

@font-face {
	font-family: 'Averia Serif Libre Bold';
	font-style: normal;
	font-weight: bold;
	src: url('../../fonts/averia-serif-libre/averia-serif-libre-bold.woff2') format('woff2'), url('../../fonts/averia-serif-libre/averia-serif-libre-bold.woff') format('woff');
}

