// #############################
// Boostrap
// #############################

@import '../plugins/bootstrap/scss/functions';
@import '../plugins/bootstrap/scss/variables';
@import '../plugins/bootstrap/scss/mixins';

// #############################
// Colors
// #############################

// Basic -----------------------

$color-dark:			#000; // Dark
$color-light:			#fff; 	 // White
$color-main:			#4b764a; // Green
$color-main-hover: 		#5e8e5f; // Green Hover
$color-secondary:		#2e1a46; // Blue
$color-reviews: 		#ffa400;
$color-gray: 			#f6f6f6; // Gray
$color-alert:			#cb4e44;
$color-green-light:		#e7ebd4;

// Efects -------------

$top-header-shadow:	#cccccc;

// Grayscale -------------------

$color-grayscale-1: 	#f4f4f4;
$color-grayscale-2: 	#545454;
$color-grayscale-3: 	#f8f8f8;
$color-grayscale-4: 	#cbcbcb;
$color-grayscale-5:		#e8e8e8;
$color-grayscale-6:		#7d7d7d;
$color-grayscale-7:		#d6d6d6;
$color-grayscale-8:		#404040;
$color-grayscale-9:		#f1f1f1;
$color-text-faqs:		#9b9b9b;

// Transparents ----------------
$color-transparent: transparent;

// Menu Mobile ----------
$menu-shadow: rgba(0, 0, 0, .2);
$menu-input-bg: rgba(77, 126, 77, .07);

// Shadows and rgba ---------------------
$white-transparent: rgba(255, 255, 255, .7);
$white-opacity: 	rgba(255, 255, 255, .8);
$color-secondary-transparent: 	rgba(46, 26, 70, .4);
$color-black-transparent: rgba(0, 0, 0, .5);
$black-transparent: 	rgba(0, 0, 0, .8);
$header-shadow:			rgba(0, 0, 0, .2);
$bg-inputs: 		rgba(155, 155, 155, .2);
$transparent: 		rgba(0, 0, 0, .1);

@mixin media-ie-landscape {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)  {
    	@content;
    }
}

@mixin sals-button {
	background-color: $color-secondary;
	border-radius: 30px 0;
	color: $color-light;
	font-family: 'Averia Serif Libre Bold';
	font-size: 18px;
	font-weight: 300;
	letter-spacing: normal;
	padding: .5rem 3rem;
	transition: border-radius .51s;

	&:hover {
		background-color: $color-secondary;
		border-radius: 0 30px;
		color: $color-light;
	}
}

@mixin center {
	align-items: center;
	display: flex;
	justify-content: center;
}
