@import 'mixins';
@import 'fonts';

@import '../plugins/bootstrap/scss/root';
@import '../plugins/bootstrap/scss/reboot';
@import '../plugins/bootstrap/scss/type';
@import '../plugins/bootstrap/scss/images';
@import '../plugins/bootstrap/scss/code';
@import '../plugins/bootstrap/scss/grid';
@import '../plugins/bootstrap/scss/tables';
@import '../plugins/bootstrap/scss/forms';
@import '../plugins/bootstrap/scss/buttons';
@import '../plugins/bootstrap/scss/transitions';
@import '../plugins/bootstrap/scss/dropdown';
@import '../plugins/bootstrap/scss/button-group';
@import '../plugins/bootstrap/scss/input-group';
@import '../plugins/bootstrap/scss/custom-forms';
@import '../plugins/bootstrap/scss/nav';
@import '../plugins/bootstrap/scss/navbar';
@import '../plugins/bootstrap/scss/card';
@import '../plugins/bootstrap/scss/breadcrumb';
@import '../plugins/bootstrap/scss/pagination';
@import '../plugins/bootstrap/scss/badge';
@import '../plugins/bootstrap/scss/jumbotron';
@import '../plugins/bootstrap/scss/alert';
@import '../plugins/bootstrap/scss/progress';
@import '../plugins/bootstrap/scss/media';
@import '../plugins/bootstrap/scss/list-group';
@import '../plugins/bootstrap/scss/close';
@import '../plugins/bootstrap/scss/modal';
@import '../plugins/bootstrap/scss/tooltip';
@import '../plugins/bootstrap/scss/popover';
@import '../plugins/bootstrap/scss/carousel';
@import '../plugins/bootstrap/scss/utilities';
@import '../plugins/bootstrap/scss/print';

// General Classes
input,
.btn,
button {
	&:hover,
	&:focus {
		box-shadow: none;
		outline: none;
	}
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
	color: $color-main;
	font-family: 'Averia Serif Libre Bold', Helvetica, sans-serif;
	line-height: 46px;

	&.white {
		color: $color-light;
	}
}

h2 {
	color: $color-main;
	font-size: 28px;
	letter-spacing: 0;
	line-height: 30px;
}

body,
p,
span,
input {
	color: $color-secondary;
	font-family: 'Averia Serif Libre Regular', Helvetica, sans-serif;
	font-size: 16px;
	line-height: 20px;
}

label {
	font-family: 'Averia Serif Libre Bold', Helvetica, sans-serif;
	font-size: 16px;
	line-height: 24px;
}

a {
	color: $color-main;
}

.wpcf7-form-control-wrap {
	.wpcf7-not-valid-tip {
		background-color: $color-alert;
		border-radius: 1px 0px 5px 5px;
		color: $color-light;
		font-size: 13px;
		margin: -10px 0 15px !important;
		padding-left: 10px;
		padding: 5px 0 5px 13px;
	}
}

.input-group-prepend,
.input-group-append {
	.btn {
		z-index: 0 !important;
	}
}

.current-cat-parent {
	display: none !important;
}

.green-color {
	color: $color-main !important;
}

.our-brands {
	background-color: $color-gray;
	padding: 4rem 0;
}

.current-cat {
	font-weight: bold;
}

.navbar-brand {
	margin: 0;

	a {
		@include media-breakpoint-down(sm) {
			margin: 0 auto;
		}

		color: $color-main;
		display: block;
		font-family: 'Averia Serif Libre Regular', Helvetica, sans-serif;
		font-size: 16px;
		letter-spacing: 1.85px;
		line-height: 36px;
		margin: 0;
		max-width: 264px;

		&:hover {
			text-decoration: none;
		}
	}

	img {
		transition: all .1s;

		&.logo-icon {
			width: 0;
		}
	}
}

.sals-separator-text {
	align-items: center;
	background: $color-grayscale-7;
	display: flex;
	height: 101px;
}

@keyframes zoominoutsinglefeatured {
	0% {
		opacity: 1;
		transform: scale(.3, .3);
	}

	50% {
		opacity: .5;
		transform: scale(.32, .32);
	}

	100% {
		opacity: 1;
		transform: scale(.3, .3);
	}
}

.loader {
	background: $color-gray;
	height: 100%;
	left: 0;
	opacity: 1;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;

	img {
		animation: zoominoutsinglefeatured 1.5s infinite ;
		bottom: 0;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		top: 0;
		width: 60%;
	}
}

.posts-navigation {
	display: none;
}

.overlay-custom{
	background: $white-opacity;
	display: block;
	height: 100vh;
	position: fixed;
	top: 0;
	transition: all .5s ease-in-out;
	width: 100vw;
	z-index: 70;
}

/* navigation */
.cont-mobile-menu {
	background-color: $color-grayscale-1;
	box-shadow: 0 0 5px 0 $menu-shadow;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	left: 0;
	overflow-x: visible;
	padding-top: .6rem;
	position: fixed;
	top: 0;
	transform: translate(-680px, 0);
	width: 75vw;
	z-index: 102;

	&.left-filters {
		padding: 0;
	}

	.mobile-logo {
		figure {
			margin: 1.6rem 0 1rem;
		}
	}

	.btn-close-menu-mobile {
		position: absolute;
		right: 0;
		top: 3rem;
		transition: all .3s ease-in-out;
	}

	.menu-scroll {
		height: 77vh;
		overflow-x: scroll;

		.visible-menu {
			padding-top: 4rem;
		}
	}

	.navbar-nav {
		li {
			font-size: 16px;
			font-weight: bold;
			text-transform: uppercase;
		}
	}

	.search-form {
		margin-top: 2rem;

		input {
			background-color: $menu-input-bg;
			border-radius: 12px;
			border: none;
			color: $color-text-faqs;
			font-size: 16px;
			height: 40px;
		}

		.input-group-append {
			.btn-dark {
				border: 0;
				background-color: $menu-input-bg;
				border-bottom-right-radius: 12px;
				border-top-right-radius: 12px;
				color: $color-main;

				i {
					font-size: 20px;
				}
			}
		}
	}

	hr {
		border-color: $color-secondary;
		margin: 2rem -15px;
	}
}

/* overlay layer */
.ssm-overlay {
	background-color: $white-transparent;
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 101;
}

/* prevent scroll when nav is open */
.is-navOpen{
	overflow: hidden;

	.btn-close-menu-mobile {
		right: -5rem;
		transition: all .3s ease-in-out;
	}
}


.all-categories-dropdown {
	background: transparent;
	border: none;
	box-shadow: none;
	color: transparent;
	left: 0;
	padding: 4rem 0;
	position: absolute;
	top: -6rem;

	&:focus {
		background-color: transparent;
		border: 0;
		box-shadow: none;
		color: transparent;
	}
}

.sals-h1-title {
	@include media-breakpoint-down(sm) {
		font-size: 35px;
		letter-spacing: 0;
		margin: 2rem 0 4rem;
	}

	color: $color-main;
	font-size: 42px;
	font-weight: 400;
	line-height: 46px;
	margin-bottom: 20px;
}

.sals-h2-title {
	color: $color-main;
	font-size: 28px;
	font-weight: 400;
	line-height: 30px;
}

.top-header {
	@include media-breakpoint-down(sm) {
		padding: 5px 20px;
	}

	background-color: $color-grayscale-3;
	box-shadow: 0 2px 2px 0 $top-header-shadow;
	padding: 5px 50px;
	position: relative;
	z-index: 10;

	.salsa-logo{
		display: flex;
		align-items: center;

		p {
			@include media-breakpoint-down(sm) {
				font-size: 12px;
				margin: 0 0 0 10px;
			}

			color: $color-main;
			font-family: 'Averia Serif Libre Regular' !important;
			font-size: 14px;
			letter-spacing: 1.6px;
			text-transform: uppercase;
			margin: 0 0 0 20px;
		}
	}

	figure {
		margin: 0;
	}

	.search-icon {
		text-align: right;

		i {
			color: $color-main;
		}
	}
}

.header-nav {
	.navbar-nav {
		@include media-breakpoint-down(sm) {
			text-align: center;
		}

		li {
			> a {
				@include media-breakpoint-down(sm) {
					font-size: 18px;
					letter-spacing: 2.08px;
					line-height: 34px;
				}

				color: $color-main !important;
				font-size: 16px;
				letter-spacing: 1.8px;
				line-height: 2.1;
				text-transform: uppercase;
			}

			+ li {
				@include media-breakpoint-down(sm) {
					margin-top: 2rem;
				}
			}
		}
	}
}

nav {
	.navigation {
		.posts-navigation {
			display: none;
		}

	}
}

// Reviews
.main-cont-reviews {
	@include media-breakpoint-up(md) {
		background-color: $color-gray;
	}

	margin-top: 4rem;
	padding: 3rem 0;

	h2 {
		color: $color-main;
		font-size: 28px;
		line-height: 30px;
	}
}

.blog {
	.sub-header-filter {
    	margin-bottom: 0;
	}	
}

.fixed {
	position: fixed;
	transition: all .1s;

	&-padding {
		@include media-breakpoint-down(sm) {
			padding-top: 0;
		}

		padding-top: 100px;
	}
}

.header-fixed {
	.fixed-padding {
		padding-top: 80px;
		transition: all .1s;
	}

	.navbar-brand {
		img {
			transition: all .1s;

			&.logo {
				width: 0;
			}

			&.logo-icon {
				width: auto;
			}
		}
	}

	.header-nav {
		.navbar-nav {
			> .nav-item {
				&::after {
					bottom: -0.87rem;
				}
			}
		}
	}

	.left-filters {
		z-index: initial;
	}
}

header {
	&.main-header {
		background-color: $color-grayscale-3;
		border: 0;
		box-shadow: 0 2px 6px 0 $header-shadow;
		padding: .29rem 1rem;
		position: fixed;
		width: 100%;
		z-index: 12;
	}

	.search-form {
		margin-left: 2rem;

		input {
			background-color: $color-grayscale-9;
			border-radius: 5px !important;
			border: 0;

			&::placeholder {
				color: $color-transparent;
			}
		}

		.input-group-append {
			button {
				background-color: $color-grayscale-9;
				border-bottom-right-radius: 5px;
				border-top-right-radius: 5px;
				border: 0;
				color: $color-main;
				margin: 0 !important;
				position: absolute;
				right: 0;
			}
		}
	}

	.btn-search-focus {
		margin-left: 2rem;

		&:hover {
			color: $color-main-hover;
		}
	}

	.hamburger-menu {
		-webkit-appearance: none;
		background-color: transparent;
		border: none;
		color: $color-main;
		padding: 0;

		i {
			font-size: 31px;
			width: 34px;
		}

		&.search-button {
			i {
				font-size: 28px;
			}
		}
	}
}

// Radio Categories
.page-filter-button {
	background-color: $color-secondary;
	bottom: -3.71rem;
	left: 0;
	position: absolute;
	right: 0;
	z-index: 1;

	&:hover {
		cursor: pointer;
	}

	.dropdown-toggle {
		&::after {
			display: none;
		}
	}

	.cont-button-filter {
		align-items: center;
		display: flex;
		height: 60px;
		justify-content: center;

		h2 {
			font-size: 12px;
			font-weight: bold;
			letter-spacing: 1.2px;
			margin: 0;
			padding: 0;
			text-transform: uppercase;

			&::after {
				display: block;
				font-family: 'FontAwesome';
				font-size: 12px;
				margin-top: 5px;
			}
		}

		&[aria-expanded='false'] {
			h2 {
				&::after {
					content: '\f107';
				}
			}
		}

		&[aria-expanded='true'] {
			h2 {
				&::after {
					content: '\f106';
				}
			}
		}

		.right-buttons {
			.reset-filters {
				color: $color-light;
				font-size: 12px;
				font-weight: bold;
				letter-spacing: 1.2px;
				text-transform: uppercase;
			}
		}
	}
}

.main-parent-filter {
	&.show {
		background: $color-main;
		color: $color-light;
		display: flex !important;
		margin: auto;
		min-height: 270px;
		overflow-y: scroll;
		padding: 1rem;
		right: 0;
		transform: translate3d(0, 57px, 0) !important;
		width: 100%;
	}


	.radio-list {
		width: 100%;
	}

	.cat-item {
		ul {
			&.children {
				display: flex;
				flex-direction: column;
				padding: 0;
				text-align: left;

				> li {
					> label {
						align-items: center;
						display: flex;
						font-size: 12px;
						font-weight: normal;
						line-height: 2;
						margin: 0;
					}
				}
			}
		}
	}
}

.nav-filters {
	ul {
		&.parent-list {
			width: 100%;

			> li {
				&:last-child {
					margin: 2rem 0 0;
					text-align: center;
				}

				&:first-child {
					> ul {
						&:first-child {
							> li {
								> label {
									font-size: 13px;
									letter-spacing: 1.2px;
									text-transform: uppercase;

									input {
										&[type='checkbox'] {
											display: none;
										}
									}
								}
							}
						}
					}
				}

				input {
					&[type='submit'] {
						@include sals-button;
					}
				}
			}

			label {
				input {
					&[type='checkbox'] {
						margin-right: 5px;
					}
				}
			}
		}
	}

	.cat-item {
		&.all-categories,
		&.cat-item-22 {
			display: none;
		}
	}
}

.cont-categories-filters {
	background-color: $color-secondary;
	color: $color-light;
	padding-top: 1.5rem;
	position: relative;
	z-index: 2;

	.categories {
		> ul {
			display: flex;
			list-style: none;
			margin: 0;
			padding: 0;

			> li {
				padding: 1.5rem 0;
				position: relative;
				text-align: center;
				width: calc(100% / 6);

				&.cat-item-22,
				&.cat-item-2 {
					display: none;
				}

				> .children {
					background-color: $color-main;
					left: 0;
					list-style: none;
					margin-top: 1.5rem;
					opacity: 0;
					padding: 0;
					position: absolute;
					right: 0;
					visibility: hidden;
					z-index: 9;

					> li {
						line-height: 2;
						padding: 0 10px;

						&:hover {
							background-color: $color-main-hover;
						}

						a {
							color: $color-light;
							display: block;
							font-size: 12px;
							font-weight: 400;
							text-align: center;
							text-transform: uppercase;
						}
					}
				}
			}

			> .cat-item {
				> a {
					color: $color-light;
					font-family: 'Averia Serif Libre Bold', Helvetica, sans-serif;
					font-size: 12px;
					letter-spacing: .7px;
					text-transform: uppercase;

					&::after {
						content: '\f107';
						display: block;
						font-family: 'FontAwesome';
					}
				}

				&:hover {
					> a {
						text-decoration: none;

						&::after {
							content: '\f106';
						}
					}

					.children {
						opacity: 1;
						transition: opacity .5s, visibility .5s;
						visibility: visible;
						z-index: 9;
					}
				}
			}
		}
	}
}

body {
	&.category {
		.sub-header-filter {
			align-items: center;
			display: flex;
			justify-content: center;
			margin-bottom: 0;
			z-index: 1;
		}

		.site-header {
			z-index: 2;
		}

		.content-area {
			padding: 0;
		}
	}
}

.sub-header-filter {
	background-image: url('../../img/salsas-pattern-white.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 2rem;
	position: relative;

	&.header-single-post {
		height: 360px;
		min-height: 360px;
	}

	&.header-category {
		height: 260px;
		min-height: 260px;
		padding-top: 0 !important;
	}

	.owl-header {
		min-height: 260px;
		position: absolute;
		z-index: 1;

		.owl-item {
			.item {
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				height: 260px;
				width: 100%;
			}
		}
	}

	&.overlay {
		&::before {
			bottom: 0;
			content: '';
			display: block;
			height: 100%;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			width: 100%;
			z-index: 1;
		}

		.sup-title,
		h2 {
			position: relative;
			text-shadow: 0 2px 8px $black-transparent;
			z-index: 1;
		}

		.search-form {
			z-index: 3;
		}
	}

	&.page-search {
		height: 0;
		min-height: 0;
		padding: 0 !important;
	}

	.sup-title,
	h2 {
		color: $color-light;
		font-family: 'Averia Serif Libre Regular', Helvetica, sans-serif;
		font-size: 28px;
		font-weight: lighter;
		margin-bottom: 0;
	}

	.sup-title {
		margin-top: 2rem;
	}

	.search-form {
		margin: 1.5rem 0 3rem;
		position: relative;

		.search-field {
			border: 1px solid $color-grayscale-7;
			border-radius: 0;
			border-top-left-radius: 50px;
			font-size: 18px;
			min-height: 30px;
			padding-left: 2rem;

			&::placeholder {
				color: $color-secondary;
			}
		}

		.input-group-append {
			border-bottom-right-radius: 30px;
			overflow: hidden;
		}

		.search-submit {
			background-color: $color-secondary;
			border-radius: 0;
			font-size: 24px;
			padding: 0 2.4rem;
		}
	}
}

.brand-logo {
	margin-bottom: -3rem;

	figure {
		margin-bottom: 0;
		text-align: center;

		img {
			width: 130px;
		}
	}
}

.cont-search-results {
	color: $color-secondary;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;

	h1 {
		font-size: 18px;
	}
}

// 404
.error404,
.category {
	.more-recipes-bottom {
		background-color: $color-gray;
		padding-top: 3rem;

		h3 {
			color: $color-main;
			font-size: 28px;
			line-height: 30px;
			text-align: center;
		}
	}

	.page-404-main-section {
		margin-top: 3rem;

		h1 {
			@include media-breakpoint-down(sm) {
				font-size: 35px;
			}

			color: $color-main;
			font-size: 42px;
			letter-spacing: 0;
			line-height: 46px;
			margin-bottom: 0;
			padding-bottom: 0;
			text-transform: uppercase;

			small {
				color: $color-secondary;
				display: block;
				font-size: 12px;
				letter-spacing: 1.2px;
			}
		}

		.page-content {
			p {
				font-size: 18px;
				line-height: 23px;
			}
		}

		.page-menu {
			margin-top: 3rem;

			ul {
				@include media-breakpoint-down(sm) {
					flex-direction: column !important;
				}

				align-items: center;
				display: flex;
				flex-direction: row !important;
				justify-content: center;

				.nav-item {
					+ .nav-item {
						@include media-breakpoint-down(sm) {
							margin-top: 10px;
						}
					}
				}

				.nav-link {
					@include media-breakpoint-down(sm) {
						font-size: 18px;
						line-height: 23px;
					}

					color: $color-secondary !important;
					font-size: 20px;
					line-height: 24px;
					text-decoration: underline;
				}
			}
		}
	}
}

// Footer  banner
.footer-banner {
	align-items: center;
	background: $color-secondary;
	display: flex;
	height: 80px;

	.url-description {
		align-items: center;
		display: flex;

		section {
			margin: 0;
		}

		.custom-html-widget {
			color: $color-light;
			font-size: 26px;
			font-weight: 300;
			margin: 0;
		}
	}

	a {
		display: block;
		width: 85%;
	}
}

// Footer widget
.cont-main-footer {
	@include media-breakpoint-down(sm) {
		text-align: center;
	}

	background-position: center;
	background-size: cover;

	.widget-title {
		color: $color-light;
		font-size: 18px;
		font-weight: bold;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	a {
		color: $color-light;
	}
}

.footer-widget {
	padding: 25px 0;

	a {
		color: $color-light;
		font-size: 16px;
		font-weight: normal;
		line-height: 34px;
		padding: 0;

		&:hover {
			background-color: transparent !important;
			text-decoration: underline !important;
		}
	}
}

// Footer Copyright
footer {
	@include media-breakpoint-up(md) {
		position: relative;
		z-index: 10;
	}

	border: 0 !important;
	background-image: url('../../img/salsas-pattern-white.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	.site-info {
		color: $color-light;
		font-size: 12px;
		font-weight: normal;
		line-height: 1.3;
	}

	.sep {
		margin: 0 .4rem;
	}
}

.menu-footer-copyright-container {
	ul {
		flex-direction: row !important;
	}

	li {
		+ li {
			border-left: 1px solid;
			margin-left: 10px;
			padding-left: 10px;
		}

		> a {
			color: $color-light !important;
			font-size: 12px;
			font-weight: normal;
			line-height: 1.3;
			padding: 0;

			&:hover {
				background-color: transparent;
				text-decoration: underline;
			}
		}
	}
}

.type-post {
	&.hentry {
		@include media-breakpoint-down(sm) {
			margin-bottom: 3rem;
		}

		margin-bottom: 4rem;
	}
}

@media (min-width: 1024px) {

	.page-404-main-section {
		.page-menu {
			ul {
				.menu-item {
					+ .menu-item {
						margin-left: 2rem;
					}
				}
			}
		}
	}

	.post-review {
		.slider-post-image {
			img {
				min-height: 360px;
			}
		}

		.wp-posts-carousel-buttons {
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	.header-nav {
		.navbar-nav {
			> .nav-item {
				position: relative;

				&::after {
					border-bottom: 5px solid $color-main;
					bottom: -1.57rem;
					content: '';
					display: block;
					left: 0;
					position: absolute;
					right: 0;
					transform: scaleX(0);
					transition: transform 250ms ease-in-out;
				}

				&:hover {
					&::after {
						transform: scaleX(1);
					}
				}

				&.active {
					a {
						color: $color-main-hover;
					}

					&::after {
						transform: scaleX(1);
					}
				}

				+ .nav-item {
					margin-left: 35px;
				}
			}
		}
	}
}

@media (max-width: 992px) {
	header {
		.search-form {
			input {
				font-size: 10px;
			}
		}
	}
}

@media (max-width: 767px) {

	.loader {
		img {
			width: 100%;
		}
	}

	header {
		.navbar-toggler,
		.main-search {
			width: 100%;
		}

		.main-search {
			margin-top: 1rem;
		}
	}

	.page-filter-button {
		.cont-button-filter {
			height: 100%;
			position: relative;
			z-index: 2;

			.right-buttons {
				.reset-filters {
					position: relative;
					z-index: 1;
				}
			}
		}
	}

	.cont-categories-filters {
		padding: 2rem 0;

		.categories {
			> ul {
				flex-direction: column;
				text-align: left;

				> li {
					width: 100%;
				}

				> .cat-item {
					> a {
						&::after {
							display: inline-block;
							position: absolute;
							right: 0;
						}
					}
				}
			}
		}
	}

	.sub-header-filter {
		&.page-search {
			margin-bottom: 4rem;
			min-height: 0;
		}

		.page-filter-button {
			bottom: -4.5rem;
		}
	}

	.brands {
		ul {
			flex-wrap: wrap;
			height: 100% !important;
			justify-content: space-evenly;

			.isotope-item {
				top: 0 !important;
				width: 30%;
			}
		}
	}

	.footer-banner {
		height: auto;
		padding: .2rem 0 .95rem;

		.url-site {
			a {
				font-size: 25px;
				margin: 0 auto;
				width: 86%;
			}
		}

		.url-description {
			justify-content: center;

			.custom-html-widget {
				font-size: 20px;
				line-height: 25px;
			}
		}
	}

	.popular-recipes-container {
		.post-review {
			.wp-posts-carousel-desc,
			.wp-posts-carousel-title {
				max-width: 100%;
			}
		}
	}

	.post-review {
		.wp-posts-carousel-title {
			a {
				display: block;
				font-size: 24px;
				margin-bottom: 1rem !important;
			}
		}
	}

	.site-content {
		padding-bottom: 0 !important;
	}

	.category {
		.site-content {
			padding-top: 11rem !important;
		}
	}

	.nav-filters {
		ul {
			&.parent-list {
				> li {
					ul {
						&:not(.children) {
							flex-flow: wrap;
							justify-content: space-between;

							> .cat-item {
								margin-bottom: 2rem;
							}
						}
					}
				}
			}
		}
	}

	.main-parent-filter {
		&.show {
			top: -10px !important;
		}
	}

	footer {
		.site-info {
			flex-direction: column;
		}

		.sep {
			display: none;
		}
	}
}

@media (max-width: 767px) {

	.navbar-toggler, 
	header .search-form {
		display: none;
	}

	header {
		&.main-header {
			padding: .913rem 0 !important;
			position: sticky;
			top: 0;
			z-index: 100;
		}
	}
	
	.eds-toggle-icon {
		background-color: transparent !important;
	}

	.eds-responsive-menu-wrp {
		background-color: $color-light !important;
		box-shadow: 5px 0 10px 10px $menu-shadow !important;

		.eds_logo {
			margin: 20px auto;
			max-width: 80%;
		}

		.menu-item {
			a {
				background-color: transparent;
				border: 0;
				color: $color-dark;
				font-family: 'Averia Serif Libre', Helvetica, sans-serif;
				font-size: 20px;
				padding: 12px 0;
				text-align: center;
			}
		}

		.eds-responsive-menu {
			margin: 30px auto 0;
		}

		input {
			background: $menu-input-bg;
			border-radius: 4px;
			border: 0;

			&:focus {
				outline: none;
			}
		}
	}
}

@media (max-width: 576px) {
	.main-parent-filter {
		&.show {
			top: 3.55rem !important;
		}
	}
}
