$color-main:			#4b764a; // Green
$color-reviews: 		#ffa400;
$color-grayscale-6:		#7d7d7d;
$color-grayscale-7:		#d6d6d6;
$color-text-faqs:		#9b9b9b;
$color-light:			#fff; 	 // White
$color-secondary:		#2e1a46; // Blue

@mixin sals-button {
	background-color: $color-secondary;
	border-radius: 50px 0;
	color: $color-light;
	font-family: 'Averia Serif Libre Bold';
	font-weight: 300;
	letter-spacing: 1px;
	padding: .5rem 3rem;
	transition: border-radius .51s;

	&:hover {
		background-color: $color-secondary;
		border-radius: 0 50px;
		color: $color-light;
	}
}

.pr-star-v4 {
	height: 14px !important;
	width: 14px !important;

    &.pr-star-v4-100-filled {
        background-image: url('../../img/stars/star-100.png') !important;
    }
    
    &.pr-star-v4-75-filled {
        background-image: url('../../img/stars/star-75.png') !important;
    }

    &.pr-star-v4-50-filled {
        background-image: url('../../img/stars/star-50.png') !important;
    }

    &.pr-star-v4-25-filled {
        background-image: url('../../img/stars/star-25.png') !important;
    }

    &.pr-star-v4-0-filled {
        background-image: url('../../img/stars/star-0.png') !important;
    }
}

body {
	&:not(.page-template-page-recipe):not(.single) {
		.p-w-r {
			.pr-snippet {
				.pr-snippet-stars-png {
					.pr-snippet-rating-decimal {
						background-color: $color-secondary;
						border: none;
						color: $color-light !important;
						font-family: 'Averia Serif Libre Regular';
						font-size: 16px !important;
						margin: 0 5px;
						padding: 0 5px !important;
					}
				}
			}
		}
	}
}


.p-w-r {
	.pr-review-snapshot {
		background-color: transparent !important;

		[class^='pr-ratings-histogram-bar'] {
			height: 10px !important;
		}

		.pr-review-snapshot-block-histogram {
			border: 0 !important;
			min-height: 100% !important;
			width: 100% !important;

			.pr-review-snapshot-block-headline {
				display: none;
			}
		}

		.pr-ratings-histogram {
			.pr-ratings-histogram-bar {
				background-color: $color-grayscale-7 !important;
			}
		}
	}

	.pr-category-snippet__total {
		color: $color-grayscale-7;
		font-family: 'Averia Serif Libre Regular';
		font-size: 16px;
		line-height: 20px;
		padding-left: 0;
	}

	.pr-snippet-stars {
		background-color: transparent !important;
	}

	.pr-snippet-stars-reco-inline {
		.pr-snippet-read-and-write {
			span {
				color: $color-grayscale-6;
				font-family: 'Averia Serif Libre Regular';
				font-size: 16px !important;
				line-height: 20px;
			}
		}
	}

	.pr-snippet {
		&.pr-category-snippet {
			margin: 0 !important;

			* {
				line-height: normal;
			}
		}

		.pr-snippet-read-and-write {
			margin-top: 0 !important;

			a {
				color: $color-grayscale-6;
				font-family: 'Averia Serif Libre Regular';
				font-size: 16px !important;
				line-height: 20px;
				margin-left: 1rem;
			}
		}
	}
}

.popular-recipes-carousel {
	.stars-snippet {
		padding: 0;
	}
}

.main-cont-reviews {
	.pr-ratings-histogram {
		* {
			color: $color-secondary !important;
		}
	}

	.pr-snippet-review-count {
		font-size: 16px !important;
	}
}

.single-post,
[class*='page-recipe'] {
	.pr-snippet {
		&.pr-category-snippet {
			margin: 0 auto !important;
		}
	}

	.product-reviews {
		align-items: center;
		display: flex;
		justify-content: center;

		.btn-write-review-link {
			color: $color-reviews;
			display: block;
			font-family: 'Averia Serif Libre Regular';
			font-size: 16px;
			letter-spacing: normal;
			line-height: 20px;
			text-align: left;
			text-decoration: none;
			text-transform: unset;

			&:hover {
				color: $color-reviews;
				text-decoration: underline;
			}
		}

		.pr-rating-stars {
			padding: 0 1rem;
		}

		.pr-snippet-rating-decimal {
			display: none;
			padding-right: 0 !important;
		}
	}

	.pr-snippet-stars {
		align-items: center;
		display: flex !important;
		flex-direction: row-reverse;
	}

	.pr-snippet-rating-decimal {
		border: 0 !important;
		color: $color-main !important;
		font-size: 28px !important;
		line-height: 30px;
		padding-right: 3rem !important;
	}

	.pr-rd-review-headline {
		color: $color-main !important;
		font-family: 'Averia Serif Libre Regular';
		font-size: 20px !important;
		line-height: 24px !important;
	}

	.pr-rd-author-nickname {
		color: $color-main !important;
		font-family: 'Averia Serif Libre Regular';
		font-size: 12px !important;
		line-height: 18px !important;
	}

	.pr-rd-description-text {
		color: $color-secondary !important;
		font-family: 'Averia Serif Libre Regular';
		font-size: 12px !important;
		line-height: 16px !important;
	}

	.p-w-r {
		.pr-snippet {
			&.pr-category-snippet {
				align-items: center;
				flex-direction: row;
				justify-content: center;
			}
		}
	}
}

.popular-recipes-carousel {
	.p-w-r {
		.pr-snippet-stars-reco-stars {
			.pr-snippet {
				align-items: center;
				display: flex;

				.pr-snippet-stars-container {
					margin-right: 1rem;
				}
			}
		}
	}
}

.cont-review-display {
	.pr-snapshot-mobile {
		display: none;
	}

	.pr-review-display {
		background-color: transparent !important;

		.pr-rd-main-header {
			display: none;
		}

		.pr-rd-footer {
			background-color: transparent;
		}

		article {
			&.pr-review {
				button {
					span {
						color: $color-main;
						letter-spacing: 1.2px;
						text-transform: uppercase;
					}

					.pr-caret-icon {
						display: none;
					}
				}

				.pr-rd-star-rating {
					display: none;
				}

				.pr-rd-description {
					.pr-rd-author-submission-date,
					.pr-rd-author-location {
						display: none;
					}

					.pr-rd-reviewer-details {
						.pr-rd-author-nickname {
							color: $color-main;

							span {
								color: $color-main;
							}
						}
					}
				}

				footer {
					&.pr-rd-footer {
						display: none;
					}
				}

				+ .pr-review {
					border-top: 1px solid $color-text-faqs;
					padding-top: 1rem;
				}
			}
		}
	}
}

.stars-snippet {
	.pr-snippet-stars-reco-reco,
	.pr-snippet-write-review-link {
		display: none;
	}

	&.category-page {
		.p-w-r {
			margin: 0;

			.pr-snippet-write-review-link {
				color: $color-reviews;
				font-size: 15px !important;
				line-height: 20px;
			}
		}

		.pr-snippet-review-count {
			display: none;
		}

		.pr-snippet-write-review-link {
			display: block;
		}
	}
}

.single,
[class*='page-recipe'] {
	.cont-write-review {
		a {
			+ a {
				display: none;
			}
		}
	}
}

.btn-write-review {
	@include sals-button;
}

.cont-write-review {
	margin: 2rem 0;
	text-align: center;

	.p-w-r {
		.pr-war {
			max-width: 100%;
		}
	}

	.btn-write-review {
		padding: .75rem 3.75rem;
	}

	div {
		&[type='submit'] {
			@include sals-button;
			-webkit-appearance: none;
			border: 0;
			padding: 1rem 3rem;
		}
	}
}

@media (max-width: 767px) {
	.p-w-r {
		.pr-snippet {
			align-items: center;
			display: flex;

			&.pr-category-snippet {
					align-items: normal;
					display: flex;
					flex-direction: column;
			}

			.pr-snippet-stars-png {
				justify-content: flex-end;
			}
		}
	}

	.popular-recipes-carousel {
		.p-w-r {
			.pr-snippet {
				&.pr-category-snippet {
					flex-direction: row;
				}
			}
		}
	}

	.popular-group-recipes,
	.page-template-recipes {
		.p-w-r {
			.pr-snippet-stars-reco-stars {
				.pr-snippet {
					align-items: center;
					display: flex;

					.pr-snippet-stars-container {
						margin-right: 1rem;
					}
				}
			}
		}
	}
}
