section.banner {
  background-position: center;
  background-size: cover;
  height: 400px; }

section.content {
  background-image: url("../../../img/featured-recipes-texture-bg.png");
  background-position: center;
  padding-bottom: 100px; }
  @media (max-width: 767.98px) {
    section.content {
      background-color: #fff;
      background-image: none;
      padding-bottom: 50px; } }
  section.content h1 {
    color: #000;
    font-family: 'le-osler-stamp-regular';
    font-size: 40px;
    letter-spacing: 1.1px;
    line-height: 1.1;
    margin: 30px 0;
    padding: 0 20px;
    text-align: center; }
    @media (max-width: 767.98px) {
      section.content h1 {
        font-size: 32px;
        padding: 0 10px; } }
  @media (max-width: 767.98px) {
    section.content .bg-texture {
      background-image: url("../../../img/featured-recipes-texture-bg.png"); } }
  section.content .proud-home {
    align-items: center;
    background-color: #00BBB4;
    display: flex;
    min-height: 500px;
    padding: 0 130px; }
    @media (max-width: 767.98px) {
      section.content .proud-home {
        min-height: 250px;
        padding: 0 30px;
        text-align: center; } }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      section.content .proud-home {
        display: table; } }
    section.content .proud-home h2 {
      color: #fff;
      font-family: 'le-osler-stamp-regular';
      font-size: 32px;
      letter-spacing: 1px;
      line-height: 1.13;
      text-transform: uppercase; }
      @media (max-width: 767.98px) {
        section.content .proud-home h2 {
          font-size: 20px;
          line-height: 1.4; } }
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        section.content .proud-home h2 {
          display: table-cell;
          vertical-align: middle; } }
  section.content .proud-img {
    max-height: 500px;
    min-height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100vw; }
    @media (max-width: 767.98px) {
      section.content .proud-img {
        max-height: 250px;
        min-height: 250px; } }
  section.content h3 {
    color: #000;
    font-family: 'le-osler-stamp-regular';
    font-size: 28px;
    letter-spacing: 1.2px;
    line-height: 1.54; }
    @media (max-width: 767.98px) {
      section.content h3 {
        font-size: 20px;
        letter-spacing: .8px;
        line-height: 1.45; } }
  section.content .rigth-img {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg); }
    @media (max-width: 767.98px) {
      section.content .rigth-img {
        padding: 0 15px; } }
  section.content .left-img {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg); }
    @media (max-width: 767.98px) {
      section.content .left-img {
        padding: 0 15px; } }
