[data-status='inactive'] {
  display: none; }

[data-status='active'] {
  display: block; }

.banner-product {
  background-image: url("../../../img/banner-products.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
  padding: 0 !important;
  position: relative;
  z-index: 2; }
  @media (max-width: 767.98px) {
    .banner-product {
      background-position: top center; } }
  .banner-product::before {
    background: rgba(255, 255, 255, 0.7);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.7)), color-stop(70%, rgba(64, 64, 64, 0)), color-stop(100%, #000));
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(64, 64, 64, 0) 70%, #000 100%);
    content: '';
    display: block;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-light', endColorstr='$color-dark', GradientType=0 );
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 3; }

.bg-light-img {
  background: #fff;
  background-image: none !important; }

.products-home.product-category .items-products {
  padding-top: 0; }
  .products-home.product-category .items-products .item {
    margin-bottom: 30px;
    transition: ease .3s; }
    .products-home.product-category .items-products .item .link-product {
      color: #000;
      text-decoration: none;
      transition: ease .3s; }
      .products-home.product-category .items-products .item .link-product p {
        color: #000;
        text-align: left; }
      .products-home.product-category .items-products .item .link-product small {
        font-family: 'le-osler-stamp-regular';
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 16px;
        text-transform: uppercase; }
    .products-home.product-category .items-products .item:hover {
      -webkit-transform: scale(1.05);
              transform: scale(1.05); }
      .products-home.product-category .items-products .item:hover .link-product {
        color: #00BBB4; }

.products-home.product-category .description p {
  font-size: 18px;
  line-height: 1.11;
  margin-bottom: 20px;
  margin-top: 20px; }

.products-home.product-category .img-review {
  margin-left: -5px;
  width: 50%; }

.products-home.product-category .product-reviews a {
  color: #9b9b9b;
  display: block;
  font-family: 'le-osler-stamp-regular';
  font-size: 14px;
  letter-spacing: .5px;
  line-height: 24px;
  text-transform: uppercase; }
  .products-home.product-category .product-reviews a:hover {
    color: #a7e8e5; }

.products-home.all-products-content {
  background-image: url("../../../img/featured-recipes-texture-bg.png");
  background-position: center;
  background-repeat-y: repeat;
  position: relative; }
  @media (max-width: 767.98px) {
    .products-home.all-products-content {
      background-image: none; } }
  .products-home.all-products-content h3 {
    text-align: left; }
  .products-home.all-products-content .description p {
    font-family: 'barlow-regular' !important;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 26px; }
  .products-home.all-products-content .name-product {
    margin-top: 6rem; }
    @media (max-width: 767.98px) {
      .products-home.all-products-content .name-product {
        margin-top: 20px; } }
    .products-home.all-products-content .name-product[data-count='1'] {
      margin-top: 0; }

.all-products-carousel,
.other-products {
  padding: 30px 100px; }
  @media (max-width: 767.98px) {
    .all-products-carousel,
    .other-products {
      padding: 30px 15px; } }
  .all-products-carousel .item,
  .other-products .item {
    margin-bottom: 30px;
    text-align: center;
    transition: ease .3s; }
    .all-products-carousel .item .link-product,
    .other-products .item .link-product {
      color: #000;
      display: block;
      text-decoration: none;
      transition: ease .3s; }
      .all-products-carousel .item .link-product[href*='peppers'] figure .img-product,
      .other-products .item .link-product[href*='peppers'] figure .img-product {
        max-height: 150px; }
      .all-products-carousel .item .link-product figure,
      .other-products .item .link-product figure {
        align-items: flex-end;
        display: flex;
        justify-content: center;
        max-height: 255px;
        min-height: 255px; }
        .all-products-carousel .item .link-product figure .img-product,
        .other-products .item .link-product figure .img-product {
          max-height: 255px;
          -o-object-fit: contain;
             object-fit: contain; }
      .all-products-carousel .item .link-product p,
      .other-products .item .link-product p {
        color: #000; }
      .all-products-carousel .item .link-product small,
      .other-products .item .link-product small {
        font-family: 'le-osler-stamp-regular';
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 16px;
        text-transform: uppercase; }
    .all-products-carousel .item:hover,
    .other-products .item:hover {
      -webkit-transform: scale(1.05);
              transform: scale(1.05); }
      .all-products-carousel .item:hover .link-product,
      .other-products .item:hover .link-product {
        color: #00BBB4; }
  .all-products-carousel .owl-nav,
  .other-products .owl-nav {
    bottom: 50px;
    height: 45px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1; }
    .all-products-carousel .owl-nav .owl-prev,
    .all-products-carousel .owl-nav .owl-next,
    .other-products .owl-nav .owl-prev,
    .other-products .owl-nav .owl-next {
      position: absolute; }
      .all-products-carousel .owl-nav .owl-prev:hover,
      .all-products-carousel .owl-nav .owl-next:hover,
      .other-products .owl-nav .owl-prev:hover,
      .other-products .owl-nav .owl-next:hover {
        background: transparent; }
      .all-products-carousel .owl-nav .owl-prev:focus,
      .all-products-carousel .owl-nav .owl-next:focus,
      .other-products .owl-nav .owl-prev:focus,
      .other-products .owl-nav .owl-next:focus {
        outline: none; }
    .all-products-carousel .owl-nav .owl-prev,
    .other-products .owl-nav .owl-prev {
      left: 0; }
    .all-products-carousel .owl-nav .owl-next,
    .other-products .owl-nav .owl-next {
      right: 0; }

.single-products {
  background-image: url("../../../img/featured-recipes-texture-bg.png");
  background-position: center;
  background-repeat-y: repeat; }
  .single-products .featured-recipes-home h3 {
    background-color: #fff !important; }

.single .ingredients-product {
  background-color: #cff3f1;
  padding: 46px 0; }
  .single .ingredients-product .title-ingredients {
    color: #000;
    font-family: 'le-osler-stamp-regular' !important;
    font-size: 21px;
    letter-spacing: .9px;
    line-height: 24px;
    margin-bottom: 0;
    text-transform: uppercase; }
  .single .ingredients-product .text-ingredients p {
    font-size: 16px;
    letter-spacing: .7px;
    line-height: 1.44; }

.single .featured-recipes-home {
  background-image: none; }

.single-product {
  padding-bottom: 2rem; }
  .single-product .info-product {
    padding: 5rem 0 3rem; }
    @media (max-width: 767.98px) {
      .single-product .info-product {
        padding: 0 0 3rem; } }
    .single-product .info-product .product-big-image {
      display: flex;
      justify-content: center; }
      .single-product .info-product .product-big-image .img-indicator {
        margin-left: 2rem;
        max-width: 120px; }
    .single-product .info-product .img-product {
      display: block;
      max-height: 460px; }
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .single-product .info-product .img-product {
          max-height: 100%;
          width: 100%; } }
    .single-product .info-product h1 {
      color: #000;
      font-family: 'le-osler-stamp-regular';
      font-size: 38px;
      letter-spacing: 1.6px;
      line-height: normal; }
      @media (max-width: 767.98px) {
        .single-product .info-product h1 {
          font-size: 32px;
          letter-spacing: 0.8px;
          line-height: 1.16; } }
      .single-product .info-product h1 small {
        color: #000;
        display: block;
        font-family: 'le-osler-stamp-regular';
        font-size: 20px;
        line-height: 24px;
        margin-top: 1rem;
        width: 100%; }
    .single-product .info-product .code {
      color: #bfbebe;
      font-size: 16px; }
    .single-product .info-product .tags-product {
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 20px;
      margin-bottom: 15px;
      text-transform: uppercase; }
    .single-product .info-product .sizes {
      align-items: center;
      display: flex; }
      .single-product .info-product .sizes span {
        font-family: 'le-osler-stamp-regular' !important;
        font-size: 16px;
        letter-spacing: 0;
        text-transform: uppercase; }
      .single-product .info-product .sizes .sizes-list {
        background: #cff3f1;
        border-radius: 50px;
        display: flex;
        list-style: none;
        margin-bottom: 0;
        margin-left: 2rem;
        max-width: 240px;
        min-height: 50px;
        padding: 0; }
        .single-product .info-product .sizes .sizes-list li {
          -moz-transition: all 0.5s;
          -o-transition: all 0.5s;
          -webkit-transition: all 0.5s;
          align-items: center;
          border-radius: 100px;
          display: flex;
          justify-content: center;
          min-width: 80px;
          padding: 0;
          position: relative;
          transition: all 0.5s; }
          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            .single-product .info-product .sizes .sizes-list li {
              min-height: 50px;
              padding-bottom: 10px; } }
          .single-product .info-product .sizes .sizes-list li:hover::before {
            opacity: 1;
            width: 100%; }
          .single-product .info-product .sizes .sizes-list li:hover a {
            z-index: 2;
            color: #fff; }
          .single-product .info-product .sizes .sizes-list li::before {
            -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            background-color: #a7e8e5;
            border-radius: 100px;
            content: '';
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            transition: all 0.3s;
            width: 0%;
            z-index: 1; }
          .single-product .info-product .sizes .sizes-list li.active {
            background-color: #00BBB4; }
            .single-product .info-product .sizes .sizes-list li.active a {
              color: #fff; }
          .single-product .info-product .sizes .sizes-list li + li {
            margin-left: 0; }
          .single-product .info-product .sizes .sizes-list li a {
            color: #000;
            font-family: 'le-osler-stamp-regular';
            vertical-align: text-bottom; }
    .single-product .info-product .description {
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 26px;
      margin: 1rem 0; }
    .single-product .info-product .cont-cta {
      display: flex;
      margin: 4rem 0 2rem; }
      @media (max-width: 1199.98px) {
        .single-product .info-product .cont-cta {
          flex-wrap: wrap;
          justify-content: center; } }
      @media (max-width: 991.98px) {
        .single-product .info-product .cont-cta {
          margin: 2rem 0; } }
      .single-product .info-product .cont-cta .btn-chichis {
        font-family: 'le-osler-stamp-regular';
        margin: 0 3px !important;
        max-width: 220px;
        min-width: 144px;
        text-transform: uppercase; }
        @media (max-width: 991.98px) {
          .single-product .info-product .cont-cta .btn-chichis {
            margin: 5px 0 !important;
            min-width: 100%; } }
        @media (max-width: 767.98px) {
          .single-product .info-product .cont-cta .btn-chichis {
            margin: 0 4px !important;
            max-width: 100%;
            min-width: calc(100% / 3 - 8px) !important; } }
        .single-product .info-product .cont-cta .btn-chichis.review {
          width: 100%; }
          @media (max-width: 1199.98px) {
            .single-product .info-product .cont-cta .btn-chichis.review {
              width: auto; } }
      .single-product .info-product .cont-cta a {
        margin: 0 10px; }
        @media (max-width: 1199.98px) {
          .single-product .info-product .cont-cta a {
            margin: 10px; } }
  .single-product .recipe-share span,
  .single-product .recipe-share br {
    display: none; }
  .single-product .cards-product .card {
    background-color: #cff3f1;
    border: 0;
    border-radius: 0;
    height: 100%; }
    .single-product .cards-product .card .card-header {
      align-items: center;
      background-color: #00BBB4;
      border-bottom: 0;
      display: flex;
      justify-content: center;
      padding: 20px; }
      .single-product .cards-product .card .card-header p {
        color: #fff;
        font-family: 'le-osler-stamp-regular' !important;
        font-size: 21px;
        letter-spacing: .9px;
        line-height: 24px;
        margin-bottom: 0;
        text-transform: uppercase; }
    .single-product .cards-product .card .card-body {
      min-height: 280px;
      padding: 25px 45px; }
      @media (max-width: 991.98px) {
        .single-product .cards-product .card .card-body {
          padding: 25px 15px; } }
      .single-product .cards-product .card .card-body p {
        font-size: 16px;
        line-height: 20px; }
      .single-product .cards-product .card .card-body img {
        display: block;
        margin: auto;
        max-width: 160px;
        width: 100%; }

.product-banner-section {
  display: flex; }
  @media (max-width: 767.98px) {
    .product-banner-section {
      flex-wrap: wrap; } }
  .product-banner-section .button-banner {
    min-width: 46%;
    position: relative;
    z-index: 1; }
    @media (max-width: 767.98px) {
      .product-banner-section .button-banner {
        min-width: 100%; } }
    .product-banner-section .button-banner img {
      min-height: 100%; }
      @media (max-width: 767.98px) {
        .product-banner-section .button-banner img {
          min-height: 330px; } }
    .product-banner-section .button-banner .buttons {
      bottom: 40px;
      left: 0;
      position: absolute;
      right: 0; }
      @media (max-width: 767.98px) {
        .product-banner-section .button-banner .buttons {
          bottom: 75px; } }
  .product-banner-section .product-banner {
    left: -35px;
    min-width: 50%;
    position: relative; }
    @media (max-width: 767.98px) {
      .product-banner-section .product-banner {
        left: 0;
        min-width: 100%;
        top: -50px; } }

.page-template-single-all-products section.title {
  background-color: #00BBB4; }

.all-product .name-product p {
  color: #000;
  line-height: 1.5; }

.all-product .list-product {
  margin-bottom: 2rem; }
  @media (max-width: 767.98px) {
    .all-product .list-product {
      margin-bottom: 0; } }
