.contact-page .bg-main {
  background-image: url("../../../img/featured-recipes-texture-bg.png");
  background-position: center;
  background-repeat-y: repeat;
  color: #000; }
  .contact-page .bg-main a {
    color: #000; }
    .contact-page .bg-main a:hover {
      color: #a7e8e5; }

.contact-page span.title {
  font-family: 'le-osler-stamp-regular' !important;
  font-size: 21px;
  letter-spacing: .9px; }

.contact-page .text {
  margin-bottom: 50px; }
  @media (max-width: 767.98px) {
    .contact-page .text {
      margin-bottom: 30px; } }

.contact-page h1 {
  color: #000;
  font-family: 'le-osler-stamp-regular';
  font-size: 38px;
  letter-spacing: 1.6px;
  line-height: normal;
  margin-bottom: 40px;
  margin-top: 40px;
  text-transform: uppercase; }
  @media (max-width: 767.98px) {
    .contact-page h1 {
      font-size: 32px;
      letter-spacing: 0.8px;
      line-height: 1.16;
      margin-bottom: 10px;
      margin-top: 12px; } }

.contact-page h3 {
  color: #000;
  font-family: 'le-osler-stamp-regular';
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 40px; }

.contact-page p {
  font-size: 20px;
  line-height: 1.5; }

.contact-page .form-contact {
  margin-bottom: 6rem;
  margin-top: 30px; }
  @media (max-width: 767.98px) {
    .contact-page .form-contact {
      margin-top: 20px; } }
  .contact-page .form-contact textarea {
    background-color: rgba(242, 242, 242, 0.5);
    border: 0; }
  .contact-page .form-contact input[type='text'], .contact-page .form-contact input[type='number'], .contact-page .form-contact input[type='email'] {
    background-color: rgba(242, 242, 242, 0.5);
    border: 0;
    height: 50px; }
  .contact-page .form-contact input[type='submit'] {
    border-radius: 100px;
    border: 0;
    font-family: 'le-osler-stamp-regular' !important;
    height: 50px;
    letter-spacing: 0;
    line-height: 1.3 !important;
    margin-top: 2rem;
    max-width: 160px;
    padding: 12px 2rem;
    width: 100%; }
  .contact-page .form-contact .form-control {
    border-radius: 1px; }
    .contact-page .form-contact .form-control::-webkit-input-placeholder {
      color: #000; }
    .contact-page .form-contact .form-control::-ms-input-placeholder {
      color: #000; }
    .contact-page .form-contact .form-control::placeholder {
      color: #000; }
  .contact-page .form-contact br {
    display: none; }
  .contact-page .form-contact span.wpcf7-form-control-wrap {
    display: block;
    margin-bottom: 20px; }
  .contact-page .form-contact .wpcf7-submit {
    border: 0;
    padding: 10px 30px; }

.contact-page .check {
  border: 0 !important;
  padding: 0 !important; }
  .contact-page .check .wpcf7-list-item {
    display: block;
    margin-left: 0; }
    .contact-page .check .wpcf7-list-item .wpcf7-list-item-label {
      color: #000;
      font-size: 16px;
      margin-left: 10px; }

.contact-page .question {
  height: 101px; }
