.top-header,
.main-header {
  display: none !important; }

.fiesta {
  overflow: hidden;
  position: relative; }
  .fiesta .main {
    padding-top: 14%;
    width: 100%; }
  .fiesta .underlay {
    background-color: #00adb3;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: -1; }
    .fiesta .underlay::before {
      content: '\00a0';
      display: inline-block;
      font-size: 0;
      padding-top: 24%;
      width: 0; }
    .fiesta .underlay img {
      margin-top: -11vw;
      max-width: 98%;
      vertical-align: top; }
      @media (min-width: 1512px) {
        .fiesta .underlay img {
          margin-top: -100px; } }
  .fiesta .main {
    padding-top: 10%; }
  .fiesta .fiesta-logo {
    left: 0;
    position: absolute;
    text-align: center;
    top: 2%;
    width: 100%; }
    .fiesta .fiesta-logo img {
      max-width: 21vw; }

.musica-for-your-mouth {
  margin-top: -5vw;
  position: relative; }
  .musica-for-your-mouth .small {
    display: none; }
  .musica-for-your-mouth .top,
  .musica-for-your-mouth .bottom {
    display: block;
    width: 100%; }
  .musica-for-your-mouth .content {
    background-image: url("../../../img/fiesta-style/blue-rip-main.jpg");
    background-position: center;
    padding: 100px 20px;
    text-align: center; }
    .musica-for-your-mouth .content img {
      max-width: 90%; }
    .musica-for-your-mouth .content p {
      color: white;
      font-family: 'Open Sans', sans-serif !important;
      font-size: 31px;
      line-height: 1.5;
      margin: 70px auto;
      max-width: 1170px; }
  .musica-for-your-mouth .bottom {
    display: block;
    margin-top: -1px;
    position: relative;
    z-index: 2; }

.three-salsas {
  background-image: url("../../../img/fiesta-style/dark-grunge.png");
  background-position: center;
  margin-top: -62px;
  padding-top: 50px; }
  .three-salsas .three-info {
    margin: 60px 0 -30px;
    padding: 0 10px 60px; }
    .three-salsas .three-info img {
      width: 100%; }
    .three-salsas .three-info .title {
      height: 70px;
      margin: 30px 0 20px 0; }
    .three-salsas .three-info p {
      color: #464646;
      font-family: 'Open Sans', sans-serif !important;
      font-size: 27px;
      line-height: 1.5;
      min-height: 260px;
      padding: 10px 30px;
      text-align: center; }
      @media (max-width: 991.98px) {
        .three-salsas .three-info p {
          font-size: 20px;
          padding: 10px 20px; } }

.dancing-ingredients .top {
  position: relative;
  z-index: -1; }
  @media (max-width: 575.98px) {
    .dancing-ingredients .top {
      display: none; } }

.dancing-ingredients img {
  display: block;
  width: 100%; }

@media (max-width: 575.98px) {
  .dancing-ingredients .big {
    display: none; } }

.dancing-ingredients .small {
  display: none; }
  @media (max-width: 575.98px) {
    .dancing-ingredients .small {
      display: block; } }

.fiesta-vids {
  margin-top: -90px; }
  .fiesta-vids::after {
    clear: both;
    content: '';
    display: table; }
  .fiesta-vids .full-width {
    display: block;
    width: 100%; }
  .fiesta-vids .main {
    background-image: url("../../../img/fiesta-style/orange-back-main.jpg");
    background-position: top center;
    background-repeat: repeat-y;
    background-size: 100% auto;
    padding: 0 0 100px;
    position: relative; }
    .fiesta-vids .main::after {
      clear: both;
      content: '';
      display: table; }
  .fiesta-vids .row {
    margin: -1% 0;
    overflow: hidden; }
  .fiesta-vids .container .row > * {
    background-position: center center;
    background-size: cover;
    float: left;
    margin: 30px 1%;
    width: 31.333%; }
    @media (max-width: 992px) {
      .fiesta-vids .container .row > * {
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: 50%; } }
    @media (max-width: 767px) {
      .fiesta-vids .container .row > * {
        width: 100%; } }
    .fiesta-vids .container .row > *::before {
      content: '\00a0';
      display: inline-block;
      font-size: 0;
      padding-bottom: 28.57%;
      padding-top: 28.57%;
      vertical-align: middle;
      width: 0; }
    .fiesta-vids .container .row > *.full {
      width: 98%; }
      @media (max-width: 992px) {
        .fiesta-vids .container .row > *.full {
          width: 50%; } }
      @media (max-width: 767px) {
        .fiesta-vids .container .row > *.full {
          width: 100%; } }
  .fiesta-vids .vid-link {
    cursor: pointer;
    position: relative;
    text-align: center; }
    .fiesta-vids .vid-link::after {
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      content: url("../../../img/fiesta-style/play-white.png");
      display: block;
      left: 50%;
      max-width: 60%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%); }
    .fiesta-vids .vid-link .mask {
      background-color: rgba(0, 176, 185, 0.7);
      bottom: 0;
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1; }
    .fiesta-vids .vid-link .msg {
      color: white;
      display: inline-block;
      font-size: 20px;
      opacity: 0;
      position: relative;
      vertical-align: middle;
      width: 95%;
      z-index: -1; }
    .fiesta-vids .vid-link .mask,
    .fiesta-vids .vid-link .msg {
      transition: opacity .3s; }
    .fiesta-vids .vid-link:hover .mask {
      opacity: 1;
      z-index: 2; }
    .fiesta-vids .vid-link:hover .msg {
      opacity: 1;
      z-index: 3; }
  .fiesta-vids .img-cell {
    background-image: url("../img/blue-recipe-back.jpg");
    text-align: center; }
    .fiesta-vids .img-cell img {
      max-width: 70%;
      vertical-align: middle; }
  .fiesta-vids .recipe {
    display: none; }

.vid-box {
  background-color: rgba(0, 176, 185, 0.7);
  bottom: 0;
  left: 0;
  overflow: auto;
  padding: 0 10%;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 5; }
  .vid-box::before {
    content: '\00a0';
    display: inline-block;
    font-size: 0;
    padding-bottom: 30%;
    padding-bottom: 50vh;
    padding-top: 30%;
    padding-top: 50vh;
    width: 0; }
  .vid-box .vid-container {
    display: inline-block;
    width: 98%;
    vertical-align: middle; }
  .vid-box .vid-area {
    margin: 0 auto;
    max-height: 85vh;
    max-width: 151vh;
    overflow: hidden;
    position: relative; }
    .vid-box .vid-area::before {
      content: '\00a0';
      display: inline-block;
      font-size: 0;
      padding-top: 56.25%;
      width: 0; }
    .vid-box .vid-area iframe,
    .vid-box .vid-area .recipe-img {
      bottom: -.25%;
      height: 100.5%;
      position: absolute;
      right: -.25%;
      width: 100.5%; }
  .vid-box .buttons {
    box-sizing: border-box;
    font-size: 50pt;
    font-size: 8vh;
    height: 8%;
    left: 0;
    padding-right: 15px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0; }
    .vid-box .buttons a {
      color: white;
      display: block;
      margin-top: -10px;
      text-decoration: none; }
  .vid-box .recipe-content {
    background-color: #eeeeee;
    margin: auto;
    max-width: 151vh;
    padding: 2px 2px; }
    .vid-box .recipe-content h1 {
      color: #00b0b9;
      margin-bottom: 0;
      padding-left: 15px;
      padding-right: 15px; }
    .vid-box .recipe-content .recipe-steps {
      padding-bottom: 40px; }
      .vid-box .recipe-content .recipe-steps::after {
        clear: both;
        content: '';
        display: table; }
    .vid-box .recipe-content .ingredients {
      display: inline-block;
      line-height: 1.6em;
      margin-right: 3%;
      max-width: 47%;
      text-align: left;
      vertical-align: top; }
      .vid-box .recipe-content .ingredients ul {
        list-style: none;
        padding: 0; }
    .vid-box .recipe-content .prepare {
      display: inline-block;
      max-width: 47%;
      padding-top: 48px;
      text-align: left;
      vertical-align: top; }
      .vid-box .recipe-content .prepare ol {
        padding: 0; }
    @media (max-width: 900px) {
      .vid-box .recipe-content .table .row {
        padding-left: 15px;
        padding-right: 15px;
        text-align: left; }
      .vid-box .recipe-content .table .row > * {
        max-width: none;
        width: auto; }
      .vid-box .recipe-content .prepare {
        padding-top: 15px; }
        .vid-box .recipe-content .prepare ol {
          padding-left: 20px; } }
