.search-page-title {
  background: #00BBB4;
  color: #fff;
  padding: 1.5rem 2rem; }
  .search-page-title p {
    font-family: 'le-osler-stamp-regular' !important;
    font-size: 38px;
    letter-spacing: 1.58px;
    margin-bottom: 0;
    text-align: center; }

.search-result {
  padding-bottom: 7rem;
  padding-top: 5rem; }
  .search-result .item-search {
    align-items: center;
    border-bottom: solid 1px #b4afaa;
    display: flex;
    justify-content: space-between;
    padding: 25px 20px 25px 0; }
    @media (max-width: 991.98px) {
      .search-result .item-search {
        flex-direction: column; } }
    .search-result .item-search img {
      height: 140px;
      margin: 0;
      -o-object-fit: contain;
         object-fit: contain;
      width: 140px; }
    .search-result .item-search article {
      margin-left: 30px;
      width: 80%; }
      .search-result .item-search article p {
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 20px; }
      .search-result .item-search article .entry-title a {
        color: #000;
        font-family: 'le-osler-stamp-regular';
        font-size: 21px;
        line-height: 24px; }
        .search-result .item-search article .entry-title a:hover {
          color: #a7e8e5; }
  .search-result .navigation {
    font-size: 18px;
    margin: auto;
    padding-top: 26px; }
    .search-result .navigation .page-numbers {
      color: #000;
      margin: 0 3px; }
    .search-result .navigation .current,
    .search-result .navigation .prev,
    .search-result .navigation .next {
      color: #00BBB4;
      font-size: 18px; }
