.ie-browser .btn-chis-white {
  padding: .4rem 2rem .85rem !important; }

.ie-browser .featured-recipes-home .recipes .recipes-item .info {
  max-width: 90%; }
  .ie-browser .featured-recipes-home .recipes .recipes-item .info a {
    padding: .4rem 2rem .85rem !important; }

.ie-browser .featured-recipes-home .recipes .recipes-item .text {
  letter-spacing: normal !important; }

.banner-home .owl-nav {
  display: none; }
  .banner-home .owl-nav .owl-prev,
  .banner-home .owl-nav .owl-next {
    position: absolute;
    top: 40%; }
  .banner-home .owl-nav .owl-next {
    right: 1rem; }
  .banner-home .owl-nav .owl-prev {
    left: 1rem; }

.banner-home .owl-dots {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: absolute;
  right: 0;
  top: 50%;
  width: 100px; }
  .banner-home .owl-dots button:hover, .banner-home .owl-dots button:focus,
  .banner-home .owl-dots span:hover,
  .banner-home .owl-dots span:focus {
    outline: none; }

.banner-home .owl-item .item {
  max-height: 530px;
  min-height: 530px; }
  .banner-home .owl-item .item .img-recipe {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 530px; }
    @media (max-width: 767.98px) {
      .banner-home .owl-item .item .img-recipe {
        background-position: center top; } }

.banner-home .full-banner {
  color: #fff; }
  .banner-home .full-banner .banner-content {
    align-items: flex-end;
    display: flex;
    height: 90%; }
    .banner-home .full-banner .banner-content a:hover {
      background-color: #ccc;
      color: #000; }
    @media (max-width: 1350px) {
      .banner-home .full-banner .banner-content .buttons a {
        margin: 5px 0; } }
    @media (max-width: 670px) {
      .banner-home .full-banner .banner-content .buttons {
        padding: 20px 0 0 50px; } }
  .banner-home .full-banner h2 {
    font-family: 'le-osler-stamp-regular';
    font-size: 60px;
    letter-spacing: 2.9px;
    line-height: 70px;
    margin: 0;
    max-width: 75%;
    padding: 0 0 0 150px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); }
    @media (max-width: 991.98px) {
      .banner-home .full-banner h2 {
        max-width: 95%;
        padding: 0 0 0 50px; } }
    @media (max-width: 767.98px) {
      .banner-home .full-banner h2 {
        font-size: 40px;
        line-height: 1; } }
    .banner-home .full-banner h2 p {
      font-family: 'le-osler-stamp-regular' !important;
      font-size: 70px !important;
      line-height: 1 !important; }
      @media (max-width: 767.98px) {
        .banner-home .full-banner h2 p {
          font-size: 50px !important;
          letter-spacing: 2.1px !important;
          line-height: 1.18 !important; } }
      .banner-home .full-banner h2 p sub {
        font-size: 50px !important; }

.banner-home .slide-description {
  background-color: #00BBB4;
  background-image: url("../../../img/chichis-pattern-bg-teal.jpg");
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  min-height: 100%;
  padding: 0 8rem; }
  @media (max-width: 991.98px) {
    .banner-home .slide-description {
      padding: 3rem;
      padding-bottom: 30px !important; }
      .banner-home .slide-description .item {
        flex-direction: column-reverse; } }
  .banner-home .slide-description h2 {
    font-family: 'le-osler-stamp-regular';
    font-size: 60px;
    letter-spacing: 2.9px;
    line-height: 70px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); }
    @media (max-width: 767.98px) {
      .banner-home .slide-description h2 {
        font-size: 40px;
        line-height: 1; } }
    .banner-home .slide-description h2 p {
      font-family: 'le-osler-stamp-regular' !important;
      font-size: 70px !important;
      line-height: 1 !important; }
      @media (max-width: 991.98px) {
        .banner-home .slide-description h2 p {
          font-size: 50px !important;
          letter-spacing: 2.1px !important;
          line-height: 1.18 !important;
          text-align: left; } }
      .banner-home .slide-description h2 p sub {
        font-size: 50px !important; }
  .banner-home .slide-description .description {
    font-family: 'barlow-bold';
    font-size: 21px;
    letter-spacing: 1px;
    line-height: 27px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); }
  .banner-home .slide-description .buttons {
    align-items: center;
    display: flex;
    margin: 25px 0; }
    @media (max-width: 767.98px) {
      .banner-home .slide-description .buttons {
        justify-content: center; } }
    .banner-home .slide-description .buttons a:hover {
      background-color: #ccc;
      color: #000; }
    .banner-home .slide-description .buttons a + a {
      margin-left: 1rem; }

.btn-chis-white {
  background-color: #fff;
  border-radius: 25px !important;
  color: #000;
  font-family: 'le-osler-stamp-regular';
  font-size: 14px !important;
  letter-spacing: 1px;
  padding: .85rem 2rem !important; }
  .btn-chis-white:hover {
    background-color: #ccc;
    color: #000; }

.text-under-banner {
  background-image: url("../../../img/text-under-banner.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover; }
  .text-under-banner.text-product {
    background-image: url("../../../img/featured-recipes-texture-bg.png");
    background-position: center;
    background-repeat-y: repeat; }
    .text-under-banner.text-product h1 {
      color: #fff;
      font-family: 'le-osler-stamp-regular';
      font-size: 38px;
      letter-spacing: 1.6px;
      line-height: 46px;
      margin-bottom: 3rem;
      margin-top: -6rem;
      min-width: 458px;
      padding: 1.7rem 2rem;
      position: relative;
      text-align: center;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      z-index: 4; }
    .text-under-banner.text-product p {
      font-family: 'barlow-regular';
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 1.63;
      margin-bottom: 0; }

.single-products .text-under-banner h1 {
  min-width: 100%; }

.products-home {
  padding: 50px 0; }
  @media (max-width: 767.98px) {
    .products-home {
      padding-bottom: 0;
      padding-top: 30px; } }
  .products-home .items-products {
    padding-top: 40px; }
    @media (max-width: 767.98px) {
      .products-home .items-products {
        padding-top: 0; } }
    .products-home .items-products .item {
      margin-bottom: 30px;
      transition: ease .3s; }
      @media (max-width: 767.98px) {
        .products-home .items-products .item {
          margin-bottom: 10px; } }
      .products-home .items-products .item .link-product {
        color: #000;
        display: block;
        text-decoration: none;
        transition: ease .3s; }
        .products-home .items-products .item .link-product figure {
          display: block;
          max-height: 255px;
          min-height: 255px; }
          @media (max-width: 767.98px) {
            .products-home .items-products .item .link-product figure {
              max-height: 158px;
              min-height: 158px; } }
          .products-home .items-products .item .link-product figure .img-product {
            max-height: 255px; }
            @media (max-width: 767.98px) {
              .products-home .items-products .item .link-product figure .img-product {
                max-height: 158px; } }
      .products-home .items-products .item:hover {
        -webkit-transform: scale(1.05);
                transform: scale(1.05); }
        .products-home .items-products .item:hover .link-product {
          color: #00BBB4; }
    .products-home .items-products.page-products .item .link-product {
      display: block; }
      .products-home .items-products.page-products .item .link-product.product-img figure {
        align-items: flex-end;
        display: flex;
        justify-content: center;
        max-height: 255px;
        min-height: 255px; }
        @media (max-width: 767.98px) {
          .products-home .items-products.page-products .item .link-product.product-img figure {
            max-height: 158px;
            min-height: 158px; } }
        .products-home .items-products.page-products .item .link-product.product-img figure .img-product {
          max-height: 255px; }
          @media (max-width: 767.98px) {
            .products-home .items-products.page-products .item .link-product.product-img figure .img-product {
              max-height: 158px; } }
      .products-home .items-products.page-products .item .link-product.product-img p {
        color: #000; }
      .products-home .items-products.page-products .item .link-product.product-img small {
        font-family: 'barlow-bold';
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 16px;
        text-transform: uppercase; }
    .products-home .items-products.items-all-products .link-product p {
      text-transform: uppercase; }
  .products-home.product-category .item .link-product {
    display: block; }
    .products-home.product-category .item .link-product figure {
      align-items: flex-end;
      display: flex;
      justify-content: center;
      max-height: 255px;
      min-height: 255px; }
      @media (max-width: 767.98px) {
        .products-home.product-category .item .link-product figure {
          max-height: 158px;
          min-height: 158px; } }
      .products-home.product-category .item .link-product figure .img-product {
        max-height: 255px; }
        @media (max-width: 767.98px) {
          .products-home.product-category .item .link-product figure .img-product {
            max-height: 158px; } }
    .products-home.product-category .item .link-product p {
      color: #000; }
    .products-home.product-category .item .link-product small {
      font-family: 'le-osler-stamp-regular';
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 16px;
      text-transform: uppercase; }

.featured-recipes-home {
  background-image: url("../../../img/featured-recipes-texture-bg.png");
  background-position: center;
  background-repeat-y: repeat;
  padding-top: 50px; }
  .featured-recipes-home .title {
    padding: 2rem 0 3rem; }
  .featured-recipes-home .show-more {
    padding: 3rem 0 5rem; }
  .featured-recipes-home .recipes {
    max-height: 500px;
    min-height: 500px; }
    @media (max-width: 991.98px) {
      .featured-recipes-home .recipes {
        max-height: 250px;
        min-height: 250px; } }
    @media (max-width: 767.98px) {
      .featured-recipes-home .recipes {
        flex-direction: column-reverse !important; } }
  @media screen and (max-width: 767.98px) and (-ms-high-contrast: active), (max-width: 767.98px) and (-ms-high-contrast: none) {
    .featured-recipes-home .recipes {
      flex-direction: row !important; } }
    .featured-recipes-home .recipes:nth-child(3n+1) {
      background: #00BBB4; }
    .featured-recipes-home .recipes:nth-child(3n+2) {
      background: #ff7d3c; }
    .featured-recipes-home .recipes:nth-child(3n+3) {
      background: #522d6d; }
    .featured-recipes-home .recipes figure {
      margin-bottom: 0; }
      .featured-recipes-home .recipes figure img {
        min-height: 500px;
        -o-object-fit: cover;
           object-fit: cover; }
        @media (max-width: 991.98px) {
          .featured-recipes-home .recipes figure img {
            max-height: 100%;
            min-height: 250px; } }
        @media (max-width: 767.98px) {
          .featured-recipes-home .recipes figure img {
            min-height: 250px; } }
    .featured-recipes-home .recipes .item {
      height: 48%;
      margin-bottom: 20px; }
    .featured-recipes-home .recipes .recipes-item {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center; }
      @media (max-width: 991.98px) {
        .featured-recipes-home .recipes .recipes-item {
          margin-bottom: 20px;
          max-height: 250px;
          min-height: 230px; } }
      .featured-recipes-home .recipes .recipes-item .info {
        align-items: center;
        color: #fff;
        display: flex;
        flex-direction: column;
        font-family: 'le-osler-stamp-regular';
        font-size: 18px;
        font-weight: inherit;
        justify-content: space-around;
        margin: 0;
        padding: 1rem 1rem .5rem;
        text-align: center; }
        .featured-recipes-home .recipes .recipes-item .info p {
          color: #fff;
          font-family: 'le-osler-stamp-regular' !important;
          font-size: 24px;
          letter-spacing: 1px;
          line-height: normal;
          margin: 0; }
        .featured-recipes-home .recipes .recipes-item .info a {
          margin: 1rem auto 0;
          max-width: 150px;
          padding: .8rem 2rem !important; }
      .featured-recipes-home .recipes .recipes-item:hover img {
        -webkit-transform: scale(1.05);
                transform: scale(1.05); }

.news .post-news {
  margin-top: 2rem; }
  .news .post-news .news-item.left {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 4rem;
    min-height: 595px; }
    @media (max-width: 575.98px) {
      .news .post-news .news-item.left {
        margin-left: 0; } }
  .news .post-news .news-item.right {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 288px;
    position: relative; }
    .news .post-news .news-item.right:first-child {
      margin-bottom: 1rem; }
    .news .post-news .news-item.right:hover .info {
      visibility: visible;
      z-index: 2; }
    .news .post-news .news-item.right:hover::before {
      background-color: rgba(251, 220, 0, 0.8); }
  .news .post-news .news-item a {
    display: block; }
  .news .post-news .news-item::before {
    align-items: center;
    background-color: transparent;
    bottom: 0;
    color: #fff;
    content: '';
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: ease .3s;
    z-index: 1; }
  .news .post-news .info h4 {
    font-family: 'le-osler-stamp-regular';
    font-size: 18px;
    letter-spacing: 1px;
    line-height: normal; }
  .news .post-news .info .description * {
    font-family: 'barlow-regular';
    font-size: 16px;
    line-height: 20px; }
  .news .post-news .info .link {
    font-family: 'le-osler-stamp-regular';
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: underline; }
  .news .post-news .info.yellow {
    bottom: 17%;
    left: 0;
    padding: 0 2rem;
    position: absolute;
    right: 0;
    transition: ease .3s;
    visibility: hidden; }
    .news .post-news .info.yellow * {
      color: #000; }
  .news .post-news .info.red {
    background-color: rgba(220, 30, 53, 0.9);
    bottom: 10%;
    color: #fff;
    left: 0;
    max-width: 460px;
    padding: 2rem 1.5rem;
    position: absolute;
    z-index: 2; }
    .news .post-news .info.red * {
      color: #fff; }

@media (max-width: 1300px) {
  .banner-home .slide-description {
    padding: 0 4rem; }
    .banner-home .slide-description h2 {
      font-size: 60px; }
    .banner-home .slide-description .description {
      font-size: 20px; }
    .banner-home .slide-description .stars-snippet {
      margin: 0 0 10px; } }

@media (max-width: 1200px) {
  .banner-home .slide-description {
    padding: 0 3rem; }
    .banner-home .slide-description h2 {
      font-size: 50px;
      line-height: 55px; }
    .banner-home .slide-description .description {
      font-size: 18px; } }

@media (max-width: 767px) {
  .banner-home .slide-description {
    padding: 0 2rem; }
    .banner-home .slide-description h2 {
      font-size: 40px;
      line-height: 45px;
      margin: 20px 0 10px;
      text-align: center; }
    .banner-home .slide-description .buttons {
      flex-wrap: nowrap; }
      .banner-home .slide-description .buttons a {
        margin: 7px auto 0 0;
        width: 45%; }
        .banner-home .slide-description .buttons a + a {
          margin-left: 30px; }
  .banner-home .banner-img-custom {
    height: 150px !important; }
  .banner-home .owl-dots {
    flex-direction: row;
    justify-content: center;
    top: 500px;
    width: 100%; }
    .banner-home .owl-dots span {
      box-shadow: 0 0 7px 3px #6d6a6a; }
  .banner-home .owl-item .item {
    flex-direction: column-reverse; }
  .featured-recipes-home .recipes {
    max-height: 100%;
    min-height: auto; } }

@media (max-width: 576px) {
  .banner-home .slide-description {
    padding: 0 2rem; }
    .banner-home .slide-description .buttons {
      margin: 0 0 20px; }
      .banner-home .slide-description .buttons a {
        margin: 7px auto 0 0;
        width: 60%; }
  .banner-home .owl-item .item .img-recipe {
    background-size: cover; }
    .banner-home .owl-item .item .img-recipe.banner-top {
      background-position: center -180px;
      height: 530px;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: -1; } }
    @media screen and (max-width: 576px) and (-ms-high-contrast: active), (max-width: 576px) and (-ms-high-contrast: none) {
      .banner-home .owl-item .item .img-recipe.banner-top {
        background-position: center;
        position: static; } }
