.category-post-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 255px;
  margin: 0 auto .5rem;
  width: 255px; }
  @media (min-width: 1200px) {
    .category-post-image {
      max-width: 255px; } }
  @media (max-width: 991.98px) {
    .category-post-image {
      height: 158px;
      width: 100%; } }
  .category-post-image img {
    display: none; }

.type-post.hentry {
  margin: 0 auto 4rem;
  max-width: 255px; }

.brand {
  color: #2e1a46;
  font-family: 'Averia Serif Libre Bold';
  font-size: 12px;
  letter-spacing: 1.2px;
  line-height: 20px;
  text-transform: uppercase; }

.header-single-post .serving-suggestion,
.banner-product .serving-suggestion {
  bottom: 1.3rem;
  color: #fff;
  font-family: 'Averia Serif Libre Bold';
  font-size: 16px;
  letter-spacing: 0;
  line-height: 1.25px;
  position: absolute;
  right: 1.3rem;
  z-index: 5; }
  @media (max-width: 991.98px) {
    .header-single-post .serving-suggestion,
    .banner-product .serving-suggestion {
      font-size: 12px;
      line-height: 20px; } }

.left-filters {
  background-color: #f6f6f6;
  font-family: 'Averia Serif Libre Bold';
  padding: 3rem 0 3rem 8%;
  z-index: 11; }
  @media (max-width: 991.98px) {
    .left-filters {
      z-index: 9; } }
  .left-filters h5 {
    color: #2e1a46;
    font-family: 'Averia Serif Libre Bold';
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase; }
    @media (max-width: 991.98px) {
      .left-filters h5 {
        color: #000;
        font-family: 'le-osler-stamp-regular';
        font-size: 20px;
        letter-spacing: .83px;
        line-height: 31px;
        margin-bottom: .5rem;
        text-transform: none; } }
  @media (max-width: 991.98px) {
    .left-filters .nav-fixed {
      margin-top: 2rem; } }
  @media (min-width: 992px) {
    .left-filters .nav-fixed {
      padding-left: 6rem; } }
  .left-filters .cont-options .sf-field-category > ul > li:first-child {
    display: none; }
  .left-filters .cont-options .sf-field-category > ul > li > input[type='checkbox'] {
    display: none; }
  .left-filters .cont-options .sf-field-category > ul > li > label {
    padding: 0;
    position: relative;
    width: 100%; }
    @media (max-width: 991.98px) {
      .left-filters .cont-options .sf-field-category > ul > li > label::after {
        color: #000;
        content: '\f078';
        font-family: 'Font Awesome 5 Free';
        font-size: 12px;
        font-weight: 900;
        position: absolute;
        right: 5px; }
      .left-filters .cont-options .sf-field-category > ul > li > label.active::after {
        content: '\f077'; } }
  .left-filters .cont-options ul {
    padding-left: 0;
    width: 100%; }
    .left-filters .cont-options ul > li {
      color: #2e1a46;
      width: 100%; }
      .left-filters .cont-options ul > li.all-categories {
        display: none; }
      .left-filters .cont-options ul > li.sf-field-reset {
        display: flex; }
        @media (max-width: 991.98px) {
          .left-filters .cont-options ul > li.sf-field-reset {
            justify-content: left; } }
        .left-filters .cont-options ul > li.sf-field-reset a {
          background-color: #2e1a46;
          border-radius: 50px 0;
          color: #fff;
          font-family: 'Averia Serif Libre Bold';
          font-size: 12px;
          font-weight: 300;
          letter-spacing: 1.2px;
          padding: 0.125rem 3.628rem;
          text-transform: uppercase;
          transition: border-radius .51s; }
          .left-filters .cont-options ul > li.sf-field-reset a:hover {
            background-color: #2e1a46;
            border-radius: 0 50px;
            color: #fff; }
      .left-filters .cont-options ul > li > label {
        font-family: 'Averia Serif Libre Bold';
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 1.2px;
        text-transform: uppercase; }
        @media (max-width: 991.98px) {
          .left-filters .cont-options ul > li > label {
            color: #000;
            font-family: 'le-osler-stamp-regular';
            font-size: 17px;
            letter-spacing: .71px;
            line-height: 34px;
            text-transform: none; } }
    .left-filters .cont-options ul.children {
      margin-left: 0; }
      @media (max-width: 991.98px) {
        .left-filters .cont-options ul.children {
          display: none;
          margin-bottom: 1rem; } }
      .left-filters .cont-options ul.children > li {
        align-items: center;
        display: flex; }
        @media (max-width: 991.98px) {
          .left-filters .cont-options ul.children > li {
            padding: 0; } }
        .left-filters .cont-options ul.children > li [type='checkbox'] {
          -webkit-appearance: none;
          background-color: #bfbebe;
          border-radius: 2px;
          display: inline-block;
          height: 15px;
          position: relative;
          width: 15px; }
          .left-filters .cont-options ul.children > li [type='checkbox']:active {
            background-color: #2e1a46; }
          .left-filters .cont-options ul.children > li [type='checkbox']:checked {
            background-color: #2e1a46;
            color: #fff; }
            .left-filters .cont-options ul.children > li [type='checkbox']:checked:active {
              background-color: #4b764a; }
            .left-filters .cont-options ul.children > li [type='checkbox']:checked::after {
              align-items: center;
              color: #fff;
              content: '\f00c';
              display: flex;
              font-family: 'Font Awesome 5 Free';
              font-size: 9px;
              font-weight: 600;
              height: 15px;
              justify-content: center;
              position: absolute;
              width: 15px; }
        .left-filters .cont-options ul.children > li > label {
          font-size: 13px;
          letter-spacing: normal;
          line-height: normal;
          text-transform: unset; }
          .left-filters .cont-options ul.children > li > label:hover {
            cursor: pointer; }
  .left-filters .cont-options input[type='submit'] {
    background-color: #2e1a46;
    border-radius: 50px 0;
    color: #fff;
    font-family: 'Averia Serif Libre Bold';
    font-weight: 300;
    letter-spacing: 1px;
    padding: .5rem 3rem;
    text-transform: uppercase;
    transition: border-radius .51s; }
    .left-filters .cont-options input[type='submit']:hover {
      background-color: #2e1a46;
      border-radius: 0 50px;
      color: #fff; }

.right-recipes {
  padding-top: 3rem; }
  .right-recipes .btn-filter-recipes {
    align-items: center;
    color: #4b764a;
    display: flex;
    font-family: 'Averia Serif Libre Bold';
    font-size: 25px;
    justify-content: center;
    line-height: 35px;
    margin: 2rem 0 3rem;
    text-align: center; }
    .right-recipes .btn-filter-recipes svg {
      margin-right: 1.5rem;
      width: 30px; }
    .right-recipes .btn-filter-recipes:hover, .right-recipes .btn-filter-recipes:focus {
      color: #4b764a;
      text-decoration: none; }
  .right-recipes .item {
    transition: ease .3s; }
    .right-recipes .item:hover {
      -webkit-transform: scale(1.05);
              transform: scale(1.05); }
    .right-recipes .item a:hover {
      text-decoration: none; }
  .right-recipes .stars-snippet {
    padding: 0; }
  .right-recipes .entry-header {
    font-family: 'Averia Serif Libre Bold';
    padding: 0 .8rem; }
    @media (min-width: 1200px) {
      .right-recipes .entry-header {
        padding: 0; } }
    @media (max-width: 991.98px) {
      .right-recipes .entry-header {
        padding: 0; } }
    .right-recipes .entry-header .entry-title {
      color: #4b764a;
      font-family: 'Averia Serif Libre Bold' !important; }
      @media (max-width: 991.98px) {
        .right-recipes .entry-header .entry-title {
          font-size: 18px;
          letter-spacing: 0;
          line-height: 19px; } }
    .right-recipes .entry-header p {
      margin-bottom: 0; }
    .right-recipes .entry-header p,
    .right-recipes .entry-header a {
      font-family: 'Averia Serif Libre Bold';
      font-size: 16px;
      line-height: 20px; }
  .right-recipes section[data-video='true']::after {
    right: 2.5rem; }
  .right-recipes .btn-write-review-link {
    color: #ffa400;
    display: block;
    font-family: 'Averia Serif Libre Regular';
    font-size: 16px;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
    text-decoration: none;
    text-transform: unset; }
    @media (min-width: 1200px) {
      .right-recipes .btn-write-review-link {
        padding: 0; } }
    @media (max-width: 991.98px) {
      .right-recipes .btn-write-review-link {
        padding: 0; } }
    .right-recipes .btn-write-review-link:hover {
      color: #ffa400;
      text-decoration: underline; }

.main-cont-reviews {
  background-color: #f6f6f6;
  margin-top: 4rem;
  padding: 3rem 0; }
  @media (max-width: 991.98px) {
    .main-cont-reviews {
      background-color: transparent; } }

.page-template-page-recipe h1,
.page-template-page-recipe h2 {
  font-family: 'Averia Serif Libre Bold'; }

.page-template-page-recipe .btn-main {
  font-family: 'Averia Serif Libre Bold';
  padding: 0.375rem 0.75rem !important;
  width: 100%;
  width: 100%; }

.page-template-page-recipe p,
.page-template-page-recipe li,
.page-template-page-recipe span {
  font-family: 'Averia Serif Libre Regular' !important;
  font-size: 16px;
  line-height: 20px; }

.page-template-page-recipe li span {
  display: inline-block;
  width: 35px; }

.page-template-page-recipe .col-directions li span {
  width: 100%; }

.page-template-page-recipe .recipe-information {
  margin: 1rem 0; }

.page-template-page-recipe section .information-item label {
  line-height: 2; }

.page-template-page-recipe .col-directions li {
  padding-left: 35px; }
