header {
  position: relative; }
  header .overlay {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  header .main {
    padding-top: 14%;
    width: 100%; }
    @media (max-width: 991.98px) {
      header .main {
        min-height: 500px;
        -o-object-fit: cover;
           object-fit: cover; } }
  header .foldable-logo {
    left: 0;
    position: absolute;
    text-align: center;
    top: 54%;
    width: 100%; }
    header .foldable-logo img {
      width: 48.020833%; }
      @media (max-width: 991.98px) {
        header .foldable-logo img {
          width: 90%; } }

body.vid-open {
  overflow: hidden; }

.vid-box {
  background-color: rgba(0, 176, 185, 0.7);
  bottom: 0;
  left: 0;
  overflow: auto;
  padding: 0 10%;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 5; }
  .vid-box .buttons {
    box-sizing: border-box;
    font-size: 50pt;
    height: 8%;
    left: 0;
    padding-right: 15px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0; }
    .vid-box .buttons a {
      color: #fff;
      display: block;
      margin-top: -10px;
      text-decoration: none; }
  .vid-box .vid-container {
    display: inline-block;
    vertical-align: middle;
    width: 98%; }
  .vid-box .vid-area {
    margin: 0 auto;
    max-height: 85vh;
    max-width: 151vh;
    overflow: hidden;
    position: relative; }
    .vid-box .vid-area::before {
      content: '\00a0';
      display: inline-block;
      font-size: 0;
      padding-top: 56.25%;
      width: 0; }
    .vid-box .vid-area iframe,
    .vid-box .vid-area .recipe-img {
      bottom: -.25%;
      height: 100.5%;
      position: absolute;
      right: -.25%;
      width: 100.5%; }
  .vid-box .recipe-content {
    background-color: #f8f8f8;
    margin: auto;
    max-width: 151vh;
    padding: 2px; }
    .vid-box .recipe-content h1 {
      color: #00b0b9;
      font-family: 'le-osler-stamp-regular' !important;
      margin-bottom: 0;
      margin-top: 20px;
      padding-left: 15px;
      padding-right: 15px; }
    .vid-box .recipe-content .recipe-steps {
      padding-bottom: 40px; }
      .vid-box .recipe-content .recipe-steps::after {
        clear: both;
        content: '';
        display: table; }
    .vid-box .recipe-content .ingredients {
      display: inline-block;
      line-height: 1.6em;
      margin-right: 3%;
      max-width: 90%;
      text-align: left;
      vertical-align: top; }
      .vid-box .recipe-content .ingredients ul {
        list-style: none;
        padding: 0; }
    .vid-box .recipe-content .prepare {
      display: inline-block;
      max-width: 90%;
      padding-top: 48px;
      text-align: left;
      vertical-align: top; }
      .vid-box .recipe-content .prepare ol {
        padding: 0; }

.easy-recipes {
  display: block;
  left: 0;
  margin: 0 auto;
  max-width: 550px;
  position: absolute;
  right: 0;
  top: -95px;
  z-index: 2; }
  @media (max-width: 991.98px) {
    .easy-recipes {
      padding: 0 15px;
      top: -51px; } }

section.how-to-fold {
  margin-top: -66px;
  position: relative; }
  @media (max-width: 991.98px) {
    section.how-to-fold .top.sep {
      margin-bottom: -10px; } }
  @media (max-width: 991.98px) {
    section.how-to-fold .bottom {
      min-height: 350px;
      -o-object-fit: cover;
         object-fit: cover; } }
  section.how-to-fold .wrap-wrapper {
    bottom: 3%;
    left: 0;
    position: absolute;
    right: 0;
    top: 10%; }
    section.how-to-fold .wrap-wrapper .ltext,
    section.how-to-fold .wrap-wrapper .wrap,
    section.how-to-fold .wrap-wrapper .rtext {
      bottom: 0;
      position: absolute;
      top: 0; }
    section.how-to-fold .wrap-wrapper .ltext {
      left: 0;
      width: 30%;
      z-index: 1; }
    section.how-to-fold .wrap-wrapper .rtext {
      right: 0;
      width: 30%; }
    section.how-to-fold .wrap-wrapper .wrap {
      left: 25%;
      text-align: center;
      width: 50%; }
      @media (max-width: 991.98px) {
        section.how-to-fold .wrap-wrapper .wrap {
          align-items: center;
          display: flex;
          justify-content: center;
          left: 0;
          margin: 0 auto;
          right: 0;
          width: 60%;
          z-index: 0; } }
    section.how-to-fold .wrap-wrapper .not-your-average {
      position: absolute;
      right: 10%;
      top: -3%;
      width: 77%; }
    section.how-to-fold .wrap-wrapper .get-the-bread {
      position: absolute;
      right: 4%;
      top: 66%;
      width: 77%; }
    section.how-to-fold .wrap-wrapper .with-a-twist {
      left: 4%;
      position: absolute;
      top: 42%;
      width: 77%; }

section.folded-fried-vid {
  position: relative; }
  @media (max-width: 991.98px) {
    section.folded-fried-vid img.background {
      min-height: 450px;
      -o-object-fit: cover;
         object-fit: cover; } }
  section.folded-fried-vid .background {
    width: 100%; }
  section.folded-fried-vid .folded-holder {
    box-sizing: border-box;
    left: 50%;
    max-width: 900px;
    padding: 0 30px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 65%; }
    @media (max-width: 991.98px) {
      section.folded-fried-vid .folded-holder {
        width: 100%; } }
  section.folded-fried-vid .play-button {
    left: 50%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 19%; }
    @media (max-width: 991.98px) {
      section.folded-fried-vid .play-button {
        width: 30%; } }

section.agua .content {
  margin: 50px auto;
  max-width: 930px;
  padding: 0 15px;
  text-align: center; }

section.agua .big-blue {
  font-family: 'le-osler-stamp-regular' !important;
  letter-spacing: 2px;
  text-transform: uppercase; }

section.steps {
  background: url("../../../img/foldable/background-color-texture-orange.jpg");
  background-size: 100% 100%;
  margin-top: 180px;
  padding: 1px 0;
  text-align: center; }
  @media (max-width: 991.98px) {
    section.steps {
      margin-top: 86px; } }
  section.steps .top-logo {
    max-width: 50%;
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%); }
    @media (max-width: 767.98px) {
      section.steps .top-logo {
        width: 120px; } }
  section.steps .show-steps {
    display: block;
    margin: 0 auto 160px;
    max-width: 90%; }
    @media (max-width: 767.98px) {
      section.steps .show-steps {
        margin: 0 auto 120px; } }

section.recipe-vids {
  position: relative; }
  section.recipe-vids .img-cell {
    align-items: center;
    background-image: url("../../../img/foldable/blue-recipe-back.jpg");
    display: flex;
    justify-content: center;
    min-height: 270px;
    text-align: center; }
    section.recipe-vids .img-cell img {
      max-height: 270px; }
  section.recipe-vids .recipe {
    display: none; }
  section.recipe-vids .vid-link {
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    display: flex;
    min-height: 270px;
    position: relative;
    text-align: center; }
    section.recipe-vids .vid-link::after {
      background-image: url("../../../img/foldable/play-white.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      display: block;
      height: 130px;
      left: 50%;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 130px; }
    section.recipe-vids .vid-link .mask {
      background-color: rgba(0, 176, 185, 0.7);
      bottom: 0;
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1; }
    section.recipe-vids .vid-link .msg {
      color: #fff;
      display: inline-block;
      font-size: 20px;
      line-height: 25px;
      margin: auto;
      max-height: 270px;
      opacity: 0;
      overflow: hidden;
      position: relative;
      right: 0;
      top: 0;
      vertical-align: middle;
      width: 95%;
      z-index: -1; }
    section.recipe-vids .vid-link:hover .mask {
      opacity: 1;
      z-index: 2; }
    section.recipe-vids .vid-link:hover .msg {
      opacity: 1;
      z-index: 3; }
