// #############################
// Boostrap
// #############################

@import '../plugins/bootstrap/scss/functions';
@import '../plugins/bootstrap/scss/variables';
@import '../plugins/bootstrap/scss/mixins';

// #############################
// Colors
// #############################

// Basic -----------------------

$color-dark:			#000; // Dark
$color-light:			#fff; 	 // White
$color-main:			#e41e26; // Red
$color-main-hover: 		#ef1717; // Red Hover
$color-secondary:		#2e1a46; // Blue
$color-gray: 			#f6f6f6; // Gray
$color-reviews: 		#ffa400;
$color-herdez-header:   #e4ded9;
$color-herdez-alert:    #cb4e44;
$color-error:           #f00;
$error-transparent:     rgba(255, 0, 0, 0.14);
$overlay-bg:            rgba(255, 255, 255, .8);

// Complementaries -------------

$color-cards: 			#e9e2dd;
$color-cards-hover: 	#dcd3cc;
$header-cards: 			#ddb140;
$menu-input: 			#ddd;
$menu-shadow:			0 0 10px 10px rgba(0, 0, 0, .2);


// Salsas colors -------------
$top-header-bg:	#f8f8f8;
$top-header-shadow:	#cccccc;
$search-input-top-header: rgba(75, 118, 74, 0.07);
$salsas-color-main:			#4b764a; // Green
$salsas-color-secondary:		#2e1a46; // Blue

// Grayscale -------------------

$color-grayscale-1: 	#e9e2dd;
$color-grayscale-2: 	#545454;
$color-grayscale-3: 	#fafafa;
$color-grayscale-4: 	#bfbebe;
$color-grayscale-5:		#e8e8e8;
$color-grayscale-6:		#7d7d7d;
$color-grayscale-7:		#d6d6d6;
$color-grayscale-8:		#404040;
$color-grayscale-9:		#b4afaa;
$color-grayscale-10:	#979797;
$color-grayscale-10:	#cecece;
$color-text-faqs:		#9b9b9b;

// Transparents ----------------

// Menu Mobile ----------
$menu-shadow: rgba(0, 0, 0, .2);
$menu-input-bg: rgba(77, 126, 77, .7);


// Shadows and rgba ---------------------
$header-shadow: 	0 2px 6px 0 rgba(0, 0, 0, .2);
$cards-shadow: 	4px 4px 8px 0 rgba(0, 0, 0, .5);
$white-transparent: rgba(255, 255, 255, .7);
$white-opacity: 	rgba(255, 255, 255, .8);
$color-secondary-transparent: 	rgba(46, 26, 70, .4);
$black-transparent: 	rgba(0, 0, 0, .8);
$bg-inputs: 		rgba(155, 155, 155, .2);

$black-transparent2: 	rgba(0, 0, 0, .4);
$red-transparent: 	rgba(228, 30, 38, .75);

@mixin herd-button {
	background-color: $color-main !important;
	border-radius: 0;
	color: $color-light;
	font-family: 'proxima-nova-regular' !important;
	letter-spacing: 2pt;
	line-height: 22pt !important;
	text-transform: uppercase;

	&:hover {
		background-color: darken($color-main, 8%) !important;
		color: $color-light;
	}
}

@mixin sals-button {
	background-color: $salsas-color-secondary;
	border-radius: 50px 0;
	color: $color-light;
	font-family: 'Averia Serif Libre Bold';
	font-weight: 300;
	letter-spacing: 1px;
	padding: .5rem 3rem;
	text-transform: uppercase;
	transition: border-radius .51s;

	&:hover {
		background-color: $salsas-color-secondary;
		border-radius: 0 50px;
		color: $color-light;
	}
}

@mixin main-button {
	background-color: $color-main !important;
	border-radius: 0;
	color: $color-light;
	font-family: 'proxima-nova-regular' !important;
	letter-spacing: 2pt;
	line-height: 22pt !important;
	text-transform: uppercase;

	&:hover {
		background-color: darken($color-main, 8%) !important;
		color: $color-light;
	}
}
