@import 'mixins';
@import 'fonts';

@import '../plugins/bootstrap/scss/root';
@import '../plugins/bootstrap/scss/reboot';
@import '../plugins/bootstrap/scss/type';
@import '../plugins/bootstrap/scss/images';
@import '../plugins/bootstrap/scss/code';
@import '../plugins/bootstrap/scss/grid';
@import '../plugins/bootstrap/scss/tables';
@import '../plugins/bootstrap/scss/forms';
@import '../plugins/bootstrap/scss/buttons';
@import '../plugins/bootstrap/scss/transitions';
@import '../plugins/bootstrap/scss/dropdown';
@import '../plugins/bootstrap/scss/button-group';
@import '../plugins/bootstrap/scss/input-group';
@import '../plugins/bootstrap/scss/custom-forms';
@import '../plugins/bootstrap/scss/nav';
@import '../plugins/bootstrap/scss/navbar';
@import '../plugins/bootstrap/scss/card';
@import '../plugins/bootstrap/scss/breadcrumb';
@import '../plugins/bootstrap/scss/pagination';
@import '../plugins/bootstrap/scss/badge';
@import '../plugins/bootstrap/scss/jumbotron';
@import '../plugins/bootstrap/scss/alert';
@import '../plugins/bootstrap/scss/progress';
@import '../plugins/bootstrap/scss/media';
@import '../plugins/bootstrap/scss/list-group';
@import '../plugins/bootstrap/scss/close';
@import '../plugins/bootstrap/scss/modal';
@import '../plugins/bootstrap/scss/tooltip';
@import '../plugins/bootstrap/scss/popover';
@import '../plugins/bootstrap/scss/carousel';
@import '../plugins/bootstrap/scss/utilities';
@import '../plugins/bootstrap/scss/print';

input,
button,
.btn {
    &:hover,
    &:focus {
        box-shadow: none !important;
        outline: none !important;
    }
}


button {
	background-color: transparent;
	border-color: transparent;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'proxima-nova-bold';
}

h1 {
	@include media-breakpoint-down(md) {
		font-size: 36px;
		line-height: 1.14;
	}

	font-size: 48px;
	line-height: 52px;
}

h2 {
	font-size: 28px;
	line-height: 38px;
}

h3 {
	font-size: 22px;
	line-height: 24px;
}

h4 {
	font-size: 18px;
	line-height: 20px;
}

h5 {
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 20px;
	text-transform: uppercase;
}

hr {
	border-top: 2px solid $color-grayscale-10;
	opacity: .5;
}

body,
p,
span,
input {
	font-family: 'proxima-nova-medium' !important;
	font-size: 16px;
	line-height: 24px;
}

label {
	font-family: 'proxima-nova-bold';
	font-size: 16px;
	line-height: 24px;
}

input {
	&[type='submit'] {
		@include herd-button;
	}
}

ul {
	li {
		a {
			color: $color-main;
			font-family: 'proxima-nova-medium';
			font-size: 14px;
			line-height: 20px;

			&:hover {
				background-color: transparent;
				color: $color-main-hover;
			}
		}
	}

	&.flex-column {
		li {
			a {
				padding: 0;
				text-decoration: underline;
			}
		}
	}
}

.mar-top-30 {
	margin-top: 30px;
}

.navbar-expand-md {
	@include media-breakpoint-down(xs) {
		padding: 5px 0;
	}

	padding: 25px 0;

	.navbar-nav {
		justify-content: flex-end;
		width: 100%;
	}
}

.text-under-banner {
	h2 {
		@include media-breakpoint-down(md) {
			font-size: 36px;
			line-height: 1.14;
		}

		font-size: 48px;
	}

	p {
		font-family: 'proxima-nova-medium' !important;
		font-size: 16px !important;
		letter-spacing: -.1px;
		line-height: 24px;
	}
}

.owl-theme {
	.owl-dots {
		.owl-dot {
			&.active {
				span {
					background-color: $color-main;
				}
			}

			span {
				background-color: $color-light;
			}
		}
	}
}

.back-top {
	bottom: 50%;
	box-shadow: 0 0 20px -5px $black-transparent2;
	display: none;
	position: fixed;
	right: 0;
	width: 90px;
	z-index: 999;

	figure {
		margin-bottom: 0;
	}

	&:hover {
		cursor: pointer;
	}
}

.btn-main {
	@include main-button;
}

.sub-header-filter {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 2rem;
	position: relative;

	&.header-single-post {
		height: 360px;
		min-height: 360px;
	}
}

/* navigation */
.cont-mobile-menu {
	background-color: $color-light;
	box-shadow: 0 0 5px 0 $menu-shadow;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	left: 0;
	max-width: 293px;
	overflow-x: visible;
	padding-top: .6rem;
	position: fixed;
	top: 0;
	transform: translate(-680px, 0);
	width: 80%;
	z-index: 102 !important;

	&.left-filters {
		padding: 0;
	}

	.mobile-logo {
		figure {
			margin: 25px auto;
			width: 222px;
		}
	}

	.btn-close-menu-mobile {
		position: absolute;
		right: 0;
		top: 21px;
		transition: all .3s ease-in-out;
	}

	.menu-scroll {
		height: 77vh;
		overflow-x: scroll;

		.visible-menu {
			ul {
				li {
					+ li {
						margin-top: 40px;
					}
				}
			}
		}

		ul {
			li {
				+ li {
					margin-top: 0;
					padding: 0;
				}

				a {
					color: $color-main;
					font-family: 'proxima-nova-regular';
					font-size: 19px;
					letter-spacing: 1.51px;
					line-height: 20px;
					text-transform: uppercase;
				}
			}
		}

		.visible-menu {
			padding-top: 4rem;
		}
	}

	.navbar-nav {
		li {
			font-size: 16px;
			font-weight: bold;
			text-transform: uppercase;
		}
	}

	.search-form {
		margin-top: 40px;

		input {
			background-color: $color-cards;
			border-radius: 13px !important;
			border: none;
			color: $color-text-faqs;
			font-size: 12px;
			height: 30px;
			padding: 4px 20px;

			&::placeholder {
				opacity: .6;
			}
		}

		.input-group-append {
			.search-submit {
				background-color: transparent;
				border: 0;
				color: $color-dark;
				position: absolute;
				right: 0;
				top: 0;
				z-index: 3;

				i {
					font-size: 20px;
				}
			}
		}
	}

	hr {
		border-color: $color-secondary;
		margin: 2rem -15px;
	}
}

/* overlay layer */
.ssm-overlay {
	background-color: $white-transparent;
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 101;
}

/* prevent scroll when nav is open */
.is-navOpen{
	overflow: hidden;

	.btn-close-menu-mobile {
		right: -62px;
		transition: all .3s ease-in-out;
	}
}

.top-header {
	background-color: $top-header-bg;
	box-shadow: 0 2px 2px 0 $top-header-shadow;
	position: relative;
	z-index: 75;

	.salsa-logo{
		align-items: center;
		display: flex;

		p {
			@include media-breakpoint-down(sm) {
				font-size: 14px;
				margin: 0 0 0 10px;
			}

			color: $salsas-color-main;
			font-family: 'Averia Serif Libre Regular' !important;
			font-size: 14px;
			letter-spacing: 1.6px;
			text-transform: uppercase;
			margin: 0 0 0 20px;

			&::after {
				color: $salsas-color-main;
				content: '\f078';
				display: inline-block;
				font-family: 'Font Awesome 5 Free';
				font-size: 12px;
				font-weight: 900;
				margin-left: 1rem;
			}
		}
	}

	figure {
		margin: 0;
	}

	.search-icon {
		text-align: right;

		i {
			color: $salsas-color-main;
		}
	}

	.top-header-collapse {
		display: block;
		position: relative;

		&[aria-expanded='true'] {
			.salsa-logo {
				p {
					&::after {
						content: '\f077';
					}
				}
			}
		}

		.dropdown-salsas {
			@include media-breakpoint-down(md) {
				padding: 5px 20px;
			}
			
			@include media-breakpoint-down(xs) {
				padding: 5px 10px;
			}

			padding: 5px 50px;

			a {
				text-decoration: none;
			}
		}
	}

	.other-brands-collapse {
		@include media-breakpoint-up(sm) {
			background-color: $color-light;
			left: 6.5rem;
			max-width: 255px;
		}

		background-color: $top-header-bg;
		top: 50px;
		left: 0px;
		position: absolute;
		right: 0px;
		z-index: 105;
		box-shadow: 0 2px 4px 0 $black-transparent2;

		.menu {
			font-size: 14px;
			letter-spacing: 1.62px;
			list-style: none;
			margin: 0;
			padding-left: 0;
			padding: 2rem 0;
			text-align: center;
			text-transform: uppercase;

			li {
				a {
					color: $salsas-color-main;
					font-family: 'Averia Serif Libre Regular';
					line-height: 26px;
					padding: 0;
				}
			}
		}

		.cont-search {
			margin-bottom: 2rem;
		}
	}

	input,
	.input-group-append {
		@include media-breakpoint-up(sm) {
			height: 30px;
		}

		height: 40px;
	}

	input {
		background-color: $search-input-top-header;
		border-radius: 14px !important;
		border: none;
		color: $color-grayscale-6;
		font-family: 'Averia Serif Libre Regular' !important;
		font-size: 16px;
		line-height: 20px;
		padding: .5rem 3.5rem .5rem 1.5rem;

	}

	.input-group-append {
		position: absolute;
		right: 10px;
		z-index: 3;

		button {
			background-color: transparent;
			padding: 0;
			width: 40px;

			i {
				color: $salsas-color-main;
				font-size: 16px;
			}
		}
	}
}

.main-header {
	box-shadow: $header-shadow;
	position: sticky;
	top: 0;
	z-index: 12;
	background: $color-light;

	&.navbar-light {
		.navbar-nav {
			@include media-breakpoint-down(md) {
				text-align: center;
			}

			.nav-item {
				@include media-breakpoint-up(lg) {
					margin: 0 20px;
					position: relative;

					&::after {
						border-bottom: 5px solid $color-main;
						bottom: -2rem;
						content: '';
						display: block;
						left: 0;
						position: absolute;
						right: 0;
						transform: scaleX(0);
						transition: transform 250ms ease-in-out;
					}

					&:hover {
						&::after {
							transform: scaleX(1);
						}
					}

					&.active {
						a {
							color: $color-main-hover;
						}

						&::after {
							transform: scaleX(1);
						}
					}
				}
			}

			.nav-link {
				color: $color-main;
				font-size: 19px;
				text-transform: uppercase;
				font-family: 'proxima-nova-regular';
				transition: ease .3s;

				&:hover {
					color: $color-main-hover;
					font-family: 'proxima-nova-bold';
				}
			}
		}
	}

	.navbar-brand {
		display: block;
		margin: 0 auto;

		a {
			display: block;
		}

		img {
			@include media-breakpoint-down(xs) {
				width: 120px;
			}

			display: block;
			margin: auto;
		}
	}

	.navbar-toggler {
		@include media-breakpoint-down(md) {
			border: 0;
			display: block;
			margin: 5px auto 15px;
		}
	}

	.search-form {
		@include media-breakpoint-down(md) {
			margin: 5px 0 10px;
		}

		margin-left: 1rem;
		width: 200px;
	}

	.form-control {
		@include media-breakpoint-down(md) {
			padding: 10px 20px;
		}
		background-color: $color-cards;
		border: 0;
		border-radius: 20px 0 0 20px;
		color: $color-dark;
		padding: 3px 15px;
		padding-left: 20px;
		transition: ease .3s;

		&:focus {
			background-color: $color-cards-hover;
			border-color: transparent;
			box-shadow: none;
			color: $color-dark;
		}
	}

	.search-submit {
		background-color: $color-cards;
		border: 0;
		border-radius: 0 20px 20px 0;
		color: $color-dark;
		padding: 0 10px;
	}

	.hamburger-menu {
		i {
			font-size: 34px;
		}

		&.search-button {
			i {
				font-size: 30px;
			}
		}
	}
}

// home
.products-home,
.featured-recipes-home {
	h2 {
		color: $color-dark;
		font-size: 48px;
	}

	h3 {
		background: $color-light;
		color: $color-main;
		display: inline-block;
		font-size: 28px;
		margin: 0;
		padding: 10px 20px 10px 0;

		&::before {
			background-image: url('../../img/line-pattern.png');
			bottom: 0;
			content: '';
			height: 19px;
			left: 41px;
			margin: auto;
			position: absolute;
			right: 21px;
			top: 0;
			z-index: -1;
		}
	}

	.title-carousel {
		@include media-breakpoint-down(xs) {
			padding: 0;
		}
	}

	p {
		font-family: 'proxima-nova-bold' !important;
		font-size: 22px;
	}
}

.page-template-recipes,
.page-template-page-recipe {
	footer {
		margin-top: -2rem;
		position: relative;
		z-index: 11;
	}
}

// Footer
footer {
	padding-top: 50px;

	.sep {
		border-left: 1px solid;
		margin-left: 15px;
		padding-left: 9px;
	}

	&.site-footer {
		background-image: url('../../img/texture-paper-torn.png') !important;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.footer-banner {
		align-items: center;
		display: flex;
		height: 100px;
		margin-top: 1rem;

		.url-description {
			align-items: center;
			display: flex;
			font-family: 'proxima-nova-bold';

			section {
				@include media-breakpoint-down(md) {
					width: 100%;
					text-align: center;
				}

				margin: 0;
			}

			.custom-html-widget {
				color: $color-main;
				font-family: 'proxima-nova-bold';
				font-size: 28px;
				line-height: 38px;
				margin: 0;
			}
		}

		a {
			@include media-breakpoint-down(md) {
				width: 200px;
				margin: auto;
			}

			display: block;
		}
	}

	.cont-main-footer {
		@include media-breakpoint-down(md) {
		    padding: 35px 15px 20px;
		}
	}

	.footer-widget {
		@include media-breakpoint-down(md) {
			margin-top: 30px;
			text-align: center;
		}

		h3 {
			&.widget-title {
				@include media-breakpoint-down(md) {
					margin-bottom: 10px;
				}

				font-family: 'proxima-nova-bold';
				font-size: 22px;
				font-weight: bold;
				line-height: 24px;
				margin-bottom: 1rem;
			}
		}

		.section-newsletter {
			@include media-breakpoint-down(md) {
				font-size: 13px;
				letter-spacing: normal;
				line-height: 1.71;
				padding: 0;
			}

			font-family: 'proxima-nova-medium';
			font-size: 16px;
			line-height: 24px;

			form {
				.tnp-field-email {
					label {
						display: none;
					}

					input {
						background-color: $color-light;
						height: 50px;
						margin-top: 10px;
					}
				}
			}
		}

		a {
			font-family: 'proxima-nova-bold';
			font-size: 16px;
			line-height: 1.38;
		}
	}

	.site-info {
		@include media-breakpoint-down(md) {
			text-align: center;
		}

		font-family: 'proxima-nova-regular';
		font-size: 12px;
		line-height: 20px;

		.menu-footer-copyright-container {
			ul {
				@include media-breakpoint-down(md) {
					justify-content: center;
				}

				flex-direction: row !important;
				li {
					+ li {
						border-left: 1px solid;
						margin-left: 15px;
						padding-left: 15px;
					}

					a {
						color: $color-dark !important;
						font-family: 'proxima-nova-regular'; 
						font-size: 16px;
						text-decoration: none;
					}
				}
			}
		}

		p {
			color: $color-dark !important;
			font-family: 'proxima-nova-regular' !important;
			font-size: 16px;
			margin: 0;
			text-decoration: none;
		}

		a {
			color: inherit;
		}
	}

	.social-links-section {
		ul {
			list-style: none;
			padding: 0;

			li {
				border-radius: 50%;
				border: 1px solid $color-main;
				display: inline-block;
				height: 40px;
				margin-right: 5px;
				text-align: center;
				transition: ease .2s;
				width: 40px;

				a {
					align-items: center;
					display: flex;
					height: 100%;
					justify-content: center;
					line-height: 0;
					vertical-align: super;
					width: 100%;

					i {
						font-size: 18px;
					}
				}

				&:hover {
					background-color: $color-main;

					a {
						color: $color-light;
						text-decoration: none;
					}
				}
			}
		}
	}
}

.img-brand {
	max-width: 200px !important;
	width: 100%;
}

.reviews {
	.pr-histogram-label {
		color: $color-dark !important;
	}

	.pr-ratings-histogram-barValue {
		background: $color-main !important;

	}

	.pr-ratings-histogram-bar,
	.pr-ratings-histogram-barValue {
		height: 15px !important;
	}

	header {
		box-shadow: none;
	}
}

@keyframes zoominoutsinglefeatured {
	0% {
		opacity: 1;
		transform: scale(.7, .7);
	}

	50% {
		opacity: .5;
		transform: scale(.72, .72);
	}

	100% {
		opacity: 1;
		transform: scale(.7, .7);
	}
}

.loader {
	background: $color-light;
	background-size: 250px;
	height: 100%;
	left: 0;
	opacity: 1;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;

	img {
		animation: zoominoutsinglefeatured 1.5s infinite ;
		bottom: 0;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		top: 0;
	}
}

@media (max-width: 767px) {
	header {
		.search-form {
			display: none;
		}

		.navbar-brand {
			img {
				width: 222px;
			}
		}
	}

	.eds-responsive-menu-wrp {
		background-color: $color-light !important;
		box-shadow: $menu-shadow;
		text-align: center;

		img {
			margin: 0 auto;
			width: 110px;
		}

		.menu-item {
			a {
				background-color: transparent;
				border: 0;
				color: $color-dark;
				font-family: 'proxima-nova-medium';
				font-size: 20px;
				padding: 12px 0;
				text-align: center;
			}
		}

		input {
			background-color: $color-light;
			border: 1px solid $menu-input;
			border-radius: 4px;
			margin: 20px auto !important;
			&:focus {
				outline: none;
			}
		}
	}
}

.no-results {
	header {
		box-shadow: none;
	}
}

.wpcf7-form-control-wrap {
	.wpcf7-not-valid-tip {
		background-color: $color-herdez-alert;
		border-radius: 1px 0px 5px 5px;
		color: #fff;
		font-size: 13px;
		padding-left: 10px;
		padding: 5px 0 5px 13px;
	}
}

// 404
.error404,
.category {
	.page-404-main-section {
		header {
			box-shadow: none;
		}
	}
	.more-recipes-bottom {
		background-color: $color-gray;
		padding-top: 3rem;

		h3 {
			color: $color-main;
			font-size: 28px;
			line-height: 30px;
			text-align: center;
		}
	}

	.page-404-main-section {
		h1 {
			color: $color-main;
			font-size: 42px;
			letter-spacing: 0;
			line-height: 46px;
			margin-bottom: 0;
			padding-bottom: 0;
			text-transform: uppercase;

			small {
				color: $color-secondary;
				display: block;
				font-size: 12px;
				letter-spacing: 1.2px;
			}
		}

		.page-content {
			p {
				font-size: 20px;
				line-height: 24px;
			}
		}

		.page-menu {
			margin-top: 5rem;

			ul {
				align-items: center;
				display: flex;
				flex-direction: row !important;
				justify-content: center;

				.nav-link {
					color: $color-secondary !important;
					font-size: 20px;
					line-height: 24px;
					text-decoration: underline;
				}
			}
		}
	}
}

.overlay-custom{
    background: $overlay-bg;
    display: block;
    height: 100vh;
    position: fixed;
    top: 0;
    transition: all .5s ease-in-out;
    width: 100vw;
    z-index: 70;
}

.newsletter {
	padding: 100px 0 20px;
	text-align: center;

	.fa-check-circle {
		color: $color-main;
		font-size: 67px;
		margin-bottom: 14px;
	}

	h2 {
		color: $color-main;	
	}
}

.newsletter-error {
    input {
        background-color: $error-transparent;
        border: 1px solid $color-error;
    }

    .newsletter-error {
        color: $color-error;
        font-size: 14px;
        line-height: 1;
        margin: 0;
    }
}

.modal-backdrop {
	&.show {
		opacity: .85;
	}
}

.nutritional-pop-up {
	.modal-dialog {
		bottom: 0;
		height: 90vh;
		left: 0;
		margin: auto;
		max-height: 700px;
		max-width: 461px;
		position: absolute;
		right: 0;
		top: 0;
		width: 90%;

		figure {
			@include media-breakpoint-down(md) {
				height: 90%;
			}

			height: 100%;
		}

		img {
			height: 100%;
		}
	}

	.close {
		@include media-breakpoint-down(md) {
			right: 17px;
			top: 13px;
		}

		border: 2px solid $color-light;
		border-radius: 50%;
		height: 35px;
		opacity: 1;
		position: absolute;
		right: 150px;
		top: 50px;
		width: 35px;

		span {
			color: $color-light;
			text-shadow: none;
		}
	}
}

.review-link {
	color: $color-main;
	font-family: 'proxima-nova-bold';
	font-size: 16px;
	font-style: normal;
	letter-spacing: normal;
	text-decoration: underline;
	
	&:hover {
        color: $color-main-hover;
    }
}
