// #############################
// Colors
// #############################

// Basic -----------------------

$color-dark:			#000; // Dark
$color-light:			#fff; 	 // White
$color-main:			#4b764a; // Green
$color-main-hover: 		#5e8e5f; // Green Hover
$color-secondary:		#2e1a46; // Blue
$color-reviews: 		#ffa400;
$color-gray: 			#f6f6f6; // Gray
$color-alert:			#cb4e44;
$color-green-light:		#e7ebd4;

// Complementaries -------------



// Grayscale -------------------

$color-grayscale-1: 	#f4f4f4;
$color-grayscale-2: 	#545454;
$color-grayscale-3: 	#fafafa;
$color-grayscale-4: 	#bfbebe;
$color-grayscale-5:		#e8e8e8;
$color-grayscale-6:		#7d7d7d;
$color-grayscale-7:		#d6d6d6;
$color-grayscale-8:		#404040;
$color-text-faqs:		#9b9b9b;

// Transparents ----------------


// Menu Mobile ----------
$menu-shadow: rgba(0, 0, 0, .2);
$menu-input-bg: rgba(77, 126, 77, .07);

// Shadows and rgba ---------------------
$header-shadow: 	0 2px 6px 0 rgba(0, 0, 0, .2);
$white-transparent: rgba(255, 255, 255, .7);
$white-opacity: 	rgba(255, 255, 255, .8);
$color-secondary-transparent: 	rgba(46, 26, 70, .4);
$color-black-transparent: rgba(0, 0, 0, .5);
$black-transparent: 	rgba(0, 0, 0, .8);
$header-shadow:			rgba(0, 0, 0, .3);
$bg-inputs: 		rgba(155, 155, 155, .2);
$transparent: 		rgba(0, 0, 0, .1);


@mixin sals-button {
	background-color: $color-secondary;
	border-radius: 50px 0;
	color: $color-light;
	font-weight: 300;
	letter-spacing: 1px;
	padding: .5rem 3rem;
	text-transform: uppercase;
	transition: border-radius .51s;

	&:hover {
		background-color: $color-secondary;
		border-radius: 0 50px;
		color: $color-light;
	}
}

@mixin center {
	align-items: center;
	display: flex;
	justify-content: center;
}
