@import 'mixins';

.p-w-r {
	.pr-review-snapshot {
		background-color: transparent !important;

		[class^='pr-ratings-histogram-bar'] {
			height: 10px !important;
		}

		.pr-review-snapshot-block-histogram {
			border: 0 !important;
			min-height: 100% !important;
			width: 100% !important;

			.pr-review-snapshot-block-headline {
				display: none;
			}
		}

		.pr-ratings-histogram {
			.pr-ratings-histogram-bar {
				background-color: $color-grayscale-7;
			}
		}
	}

	.pr-snippet-stars {
		background-color: transparent !important;
	}

	.pr-snippet {
		&.pr-category-snippet {
			margin: 0 auto !important;
		}

		.pr-snippet-read-and-write {
			margin-top: 0 !important;

			a {
				color: $color-grayscale-6;
			}
		}
	}
}

.popular-recipes-carousel {
	.p-w-r {
		.pr-snippet-stars-reco-stars {
			.pr-snippet {
				align-items: center;
				display: flex;

				.pr-snippet-stars-container {
					margin-right: 1rem;
				}
			}
		}
	}
}

.cont-review-display {
	.pr-snapshot-mobile {
		display: none;
	}

	.pr-review-display {
		background-color: transparent !important;

		.pr-rd-main-header {
			display: none;
		}

		.pr-rd-footer {
			background-color: transparent;
		}

		article {
			&.pr-review {
				button {
					span {
						color: $color-main;
						letter-spacing: 1.2px;
						text-transform: uppercase;
					}

					.pr-caret-icon {
						display: none;
					}
				}

				.pr-rd-star-rating {
					display: none;
				}

				.pr-rd-description {
					.pr-rd-author-submission-date,
					.pr-rd-author-location {
						display: none;
					}

					.pr-rd-reviewer-details {
						.pr-rd-author-nickname {
							color: $color-main;

							span {
								color: $color-main;
							}
						}
					}
				}

				footer {
					&.pr-rd-footer {
						display: none;
					}
				}

				+ .pr-review {
					border-top: 1px solid $color-text-faqs;
					padding-top: 1rem;
				}
			}
		}
	}
}

.stars-snippet {
	.pr-snippet-stars-reco-reco,
	.pr-snippet-write-review-link {
		display: none;
	}

	&.category-page {
		.p-w-r {
			margin: .5rem 0 0;

			.pr-snippet-write-review-link {
				color: $color-reviews;
				font-size: 15px !important;
				line-height: 20px;
			}
		}

		.pr-snippet-review-count {
			display: none;
		}

		.pr-snippet-write-review-link {
			display: block;
		}
	}
}

.single {
	.cont-write-review {
		a {
			+ a {
				display: none;
			}
		}
	}
}

.btn-write-review {
	@include sals-button;
}

.cont-write-review {
	margin: 2rem 0;
	text-align: center;

	.p-w-r {
		.pr-war {
			max-width: 100%;
		}
	}

	.btn-write-review {
		padding: 1rem 3rem;
	}

	div {
		&[type='submit'] {
			@include sals-button;
			-webkit-appearance: none;
			border: 0;
			padding: 1rem 3rem;
		}
	}
}

@media (max-width: 768px) {
	.p-w-r {
		.pr-snippet {
			.pr-snippet-stars-png {
				justify-content: space-between;
			}
		}
	}

	.popular-group-recipes,
	.page-template-recipes {
		.p-w-r {
			.pr-snippet-stars-reco-stars {
				.pr-snippet {
					align-items: center;
					display: flex;

					.pr-snippet-stars-container {
						margin-right: 1rem;
					}
				}
			}
		}
	}
}
