@import 'mixins';
@import 'fonts';

// Media Querys
@media (min-width: 1025px) {
	.container-fluid {
		&:not(.normal) {
			padding-left: 4rem !important;
			padding-right: 4rem !important;
		}
	}

	.header-nav {
		.navbar-nav {
			width: 100%;

			li {
				+ li {
					margin-left: 3rem;
				}

				> a {
					font-size: 18px;
					letter-spacing: .5px;
					text-transform: uppercase;
				}
			}
		}
	}

	.post-review {
		.slider-post-image {
			img {
				min-height: 360px;
			}
		}

		.wp-posts-carousel-buttons {
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}

@media (max-width: 768px) {
	header {
		.navbar-toggler,
		.main-search {
			width: 100%;
		}

		.main-search {
			margin-top: 1rem;
		}
	}

	.page-filter-button {
		.cont-button-filter {
			.right-buttons {
				.reset-filters {
					position: relative;
					z-index: 1;
				}
			}
		}
	}

	.cont-categories-filters {
		.categories {
			> ul {
				flex-direction: column;
				text-align: left;

				> li {
					width: 100%;
				}

				> .cat-item {
					> a {
						&::after {
							display: inline-block;
							position: absolute;
							right: 0;
						}
					}
				}
			}
		}
	}

	.sub-header-filter {
		margin-bottom: 0;
	}

	.brands {
		ul {
			flex-wrap: wrap;
			height: 100% !important;
			justify-content: space-evenly;

			.isotope-item {
				top: 0 !important;
				width: 30%;
			}
		}
	}

	.footer-banner {
		height: auto;
		padding-bottom: 1rem;

		.url-site {
			a {
				font-size: 25px;
				width: 100%;
			}
		}

		.url-description {
			justify-content: center;

			.custom-html-widget {
				font-size: 18px;
			}
		}
	}

	.popular-recipes-container {
		.post-review {
			.wp-posts-carousel-desc,
			.wp-posts-carousel-title {
				max-width: 100%;
			}
		}
	}

	.post-review {
		.wp-posts-carousel-title {
			a {
				display: block;
				font-size: 24px;
				margin-bottom: 1rem !important;
			}
		}
	}
}
