@import 'mixins';
@import 'fonts';

// General Classes
input,
.btn,
button {
	&:hover,
	&:focus {
		box-shadow: none;
		outline: none;
	}
}

.wpcf7-form-control-wrap {
	.wpcf7-not-valid-tip {
		background-color: $color-alert;
		border-radius: 1px 0px 5px 5px;
		color: $color-light;
		font-size: 13px;
		margin: -10px 0 15px !important;
		padding-left: 10px;
		padding: 5px 0 5px 13px;
	}
}

.input-group-prepend,
.input-group-append {
	.btn {
		z-index: 0 !important;
	}
}

.current-cat-parent {
	display: none !important;
}

.our-brands {
	background-color: $color-gray;
	padding: 4rem 0;
}

.current-cat {
	font-weight: bold;
}

a {
	color: $color-main;
}

.navbar-brand {
	margin: 0;

	a {
		color: $color-main;
		display: block;
		margin: 0 auto;
		max-width: 300px;
	}
}

.sals-separator-text {
	align-items: center;
	background: $color-grayscale-7;
	display: flex;
	height: 101px;
}

@keyframes zoominoutsinglefeatured {
	0% {
		opacity: 1;
		transform: scale(.3, .3);
	}

	50% {
		opacity: .5;
		transform: scale(.32, .32);
	}

	100% {
		opacity: 1;
		transform: scale(.3, .3);
	}
}

.loader {
	background: $color-gray;
	height: 100%;
	left: 0;
	opacity: 1;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;

	img {
		animation: zoominoutsinglefeatured 1.5s infinite ;
		bottom: 0;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		top: 0;
		width: 60%;
	}
}

.posts-navigation {
	display: none;
}

.overlay-custom{
	background: $white-opacity;
	display: block;
	height: 100vh;
	position: fixed;
	top: 0;
	transition: all .5s ease-in-out;
	width: 100vw;
	z-index: 70;
}

/* navigation */
.cont-mobile-menu {
	background-color: $color-grayscale-1;
	height: 100%;
	left: 0;
	overflow-x: visible;
	padding-top: .6rem;
	position: fixed;
	top: 0;
	transform: translate(-680px,0);
	width: 75vw;
	z-index: 102;

	&.left-filters {
		padding: 0;
	}

	.mobile-logo {
		figure {
			margin: 1rem 0;
		}
	}

	.btn-close-menu-mobile {
		position: absolute;
		right: 0;
		top: 1rem;
		transition: all .3s ease-in-out;
	}

	.menu-scroll {
		height: 100vh;
		overflow-x: scroll;
	}

	.navbar-nav {
		li {
			font-size: 16px;
			font-weight: bold;
			text-transform: uppercase;
		}
	}

	.search-form {
		margin-top: 2rem;

		input {
			background-color: $color-green-light;
			border-radius: 5px;
			border: none;
		}

		.input-group-append {
			display: none;
		}
	}

	hr {
		border-color: $color-secondary;
		margin: 2rem -15px;
	}
}

/* overlay layer */
.ssm-overlay {
	background-color: $white-transparent;
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 101;
}

/* prevent scroll when nav is open */
.is-navOpen{
	overflow: hidden;

	.btn-close-menu-mobile {
		right: -5rem;
		transition: all .3s ease-in-out;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-weight: bold;
}

.all-categories-dropdown {
	background: transparent;
	border: none;
	box-shadow: none;
	color: transparent;
	left: 0;
	padding: 4rem 0;
	position: absolute;
	top: -6rem;

	&:focus {
		background-color: transparent;
		border: 0;
		box-shadow: none;
		color: transparent;
	}
}

.sals-h1-title {
	color: $color-main;
	font-size: 42px;
	font-weight: 400;
	line-height: 46px;
}

.sals-h2-title {
	color: $color-main;
	font-size: 28px;
	font-weight: 400;
	line-height: 30px;
}

p {
	font-family: 'Averia Serif Libre', Helvetica, sans-serif;
}

.header-nav {
	.navbar-nav {
		li {
			> a {
				color: $color-main !important;
				letter-spacing: 2px;
			}
		}
	}
}

nav {
	.navigation {
		.posts-navigation {
			display: none;
		}

	}
}



// Reviews
.main-cont-reviews {
	background-color: $color-gray;
	margin-top: 4rem;
	padding: 3rem 0;

	h2 {
		color: $color-main;
		font-size: 28px;
		line-height: 30px;
	}
}

// Results Page
.search-results,
.blog {
	.site-content {
		padding: 0 !important;
	}
}

.blog {
	.sub-header-filter {
    	margin-bottom: 0;
	}	
}

header {
	.main-header {
		border: 0 !important;
		box-shadow: 0 -1px 15px 4px $header-shadow !important;
		padding: 0 1rem !important;
		position: relative;
		z-index: 1;
	}

	.search-form {
		margin-left: 2rem;

		input {
			border-right: 0;
		}

		.input-group-append {
			button {
				background: transparent;
				border-color: $transparent;
				border-left: 0;
				color: $color-main;
			}
		}
	}

	.btn-search-focus {
		margin-left: 2rem;

		&:hover {
			color: $color-main-hover;
		}
	}

	.hamburger-menu {
		-webkit-appearance: none;
		border: none;
		color: $color-main;
	}
}

// Radio Categories
.page-filter-button {
	background-color: $color-secondary;
	bottom: -3.71rem;
	left: 0;
	position: absolute;
	right: 0;
	z-index: 1;

	&:hover {
		cursor: pointer;
	}

	.dropdown-toggle {
		&::after {
			display: none;
		}
	}

	.cont-button-filter {
		align-items: center;
		display: flex;
		height: 60px;
		justify-content: center;

		h2 {
			font-size: 12px;
			font-weight: bold;
			letter-spacing: 1.2px;
			margin: 0;
			padding: 0;
			text-transform: uppercase;

			&::after {
				display: block;
				font-family: 'FontAwesome';
				font-size: 12px;
				margin-top: 5px;
			}
		}

		&[aria-expanded='false'] {
			h2 {
				&::after {
					content: '\f107';
				}
			}
		}

		&[aria-expanded='true'] {
			h2 {
				&::after {
					content: '\f106';
				}
			}
		}

		.right-buttons {
			.reset-filters {
				color: $color-light;
				font-size: 12px;
				font-weight: bold;
				letter-spacing: 1.2px;
				text-transform: uppercase;
			}
		}
	}
}

.main-parent-filter {
	&.show {
		background: $color-main;
		color: $color-light;
		display: flex !important;
		margin: auto;
		min-height: 270px;
		overflow-y: scroll;
		padding: 1rem;
		right: 0;
		transform: translate3d(0, 57px, 0) !important;
		width: 100%;
	}


	.radio-list {
		width: 100%;
	}

	.cat-item {
		ul {
			&.children {
				display: flex;
				flex-direction: column;
				padding: 0;
				text-align: left;

				> li {
					> label {
						align-items: center;
						display: flex;
						font-size: 12px;
						font-weight: normal;
						line-height: 2;
						margin: 0;
					}
				}
			}
		}
	}
}

.nav-filters {
	ul {
		&.parent-list {
			width: 100%;

			> li {
				&:last-child {
					margin: 2rem 0 0;
					text-align: center;
				}

				&:first-child {
					> ul {
						&:first-child {
							> li {
								> label {
									font-size: 13px;
									letter-spacing: 1.2px;
									text-transform: uppercase;

									input {
										&[type='checkbox'] {
											display: none;
										}
									}
								}
							}
						}
					}
				}

				input {
					&[type='submit'] {
						@include sals-button;
					}
				}
			}

			label {
				input {
					&[type='checkbox'] {
						margin-right: 5px;
					}
				}
			}
		}
	}

	.cat-item {
		&.all-categories,
		&.cat-item-22 {
			display: none;
		}
	}
}

.cont-categories-filters {
	background-color: $color-secondary;
	color: $color-light;
	padding-top: 1.5rem;
	position: relative;
	z-index: 2;

	.categories {
		> ul {
			display: flex;
			list-style: none;
			margin: 0;
			padding: 0;

			> li {
				padding: 1.5rem 0;
				position: relative;
				text-align: center;
				width: calc(100% / 6);

				&.cat-item-22,
				&.cat-item-2 {
					display: none;
				}

				> .children {
					background-color: $color-main;
					left: 0;
					list-style: none;
					margin-top: 1.5rem;
					opacity: 0;
					padding: 0;
					position: absolute;
					right: 0;
					visibility: hidden;
					z-index: 9;

					> li {
						line-height: 2;
						padding: 0 10px;

						&:hover {
							background-color: $color-main-hover;
						}

						a {
							color: $color-light;
							display: block;
							font-size: 12px;
							font-weight: 400;
							text-align: center;
							text-transform: uppercase;
						}
					}
				}
			}

			> .cat-item {
				> a {
					color: $color-light;
					font-size: 14px;
					letter-spacing: .7px;
					text-transform: uppercase;

					&::after {
						content: '\f107';
						display: block;
						font-family: 'FontAwesome';
					}
				}

				&:hover {
					> a {
						text-decoration: none;

						&::after {
							content: '\f106';
						}
					}

					.children {
						opacity: 1;
						transition: opacity .5s, visibility .5s;
						visibility: visible;
						z-index: 9;
					}
				}
			}
		}
	}
}

body {
	&.category {
		.sub-header-filter {
			align-items: center;
			display: flex;
			justify-content: center;
			margin-bottom: 0;
			z-index: 1;
		}

		.site-header {
			z-index: 2;
		}

		.content-area {
			padding: 0;
		}
	}
}

.sub-header-filter {
	background-position: center !important;
	box-shadow: 0 -1px 15px 4px $header-shadow;
	margin-bottom: 2rem;
	padding-top: 2rem !important;

	&.header-single-post {
		height: 260px;
		margin-bottom: 0;
		min-height: 260px;
	}

	&.header-category {
		height: 260px;
		min-height: 260px;
		padding-top: 0 !important;
	}

	.owl-header {
		min-height: 260px;
		position: absolute;
		z-index: 1;

		.owl-item {
			.item {
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				height: 260px;
				width: 100%;
			}
		}
	}

	&.overlay {
		&::before {
			bottom: 0;
			content: '';
			display: block;
			height: 100%;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			width: 100%;
			z-index: 1;
		}

		h1,
		h2 {
			position: relative;
			text-shadow: 0 2px 8px $black-transparent;
			z-index: 1;
		}

		.search-form {
			z-index: 3;
		}
	}

	&.page-search {
		height: 0;
		min-height: 0;
		padding: 0 !important;
	}

	h1,
	h2 {
		color: $color-light;
		font-weight: lighter;
		margin-bottom: 0;
	}

	h1 {
		font-size: 36px;
	}

	h2 {
		font-size: 32px;
	}

	.search-form {
		margin-bottom: 3rem;
		position: relative;

		.search-field {
			border: 1px solid $color-grayscale-7;
			border-radius: 0;
			border-top-left-radius: 50px;
			font-size: 18px;
			min-height: 50px;
			padding-left: 2rem;

			&::placeholder {
				color: $color-secondary;
			}
		}

		.input-group-append {
			border-bottom-right-radius: 50px;
			overflow: hidden;
		}

		.search-submit {
			background-color: $color-secondary;
			border-radius: 0;
			font-size: 24px;
			padding: 0 2.4rem;
		}
	}
}

.brand-logo {
	margin-bottom: -3rem;

	figure {
		margin-bottom: 0;
		text-align: center;

		img {
			width: 130px;
		}
	}
}

.cont-search-results {
	color: $color-secondary;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;

	h1 {
		font-size: 18px;
	}
}

// 404
.error404,
.category {
	.more-recipes-bottom {
		background-color: $color-gray;
		padding-top: 3rem;

		h3 {
			color: $color-main;
			font-size: 28px;
			line-height: 30px;
			text-align: center;
		}
	}

	.page-404-main-section {
		h1 {
			color: $color-main;
			font-size: 42px;
			letter-spacing: 0;
			line-height: 46px;
			margin-bottom: 0;
			padding-bottom: 0;
			text-transform: uppercase;

			small {
				color: $color-secondary;
				display: block;
				font-size: 12px;
				letter-spacing: 1.2px;
			}
		}

		.page-content {
			p {
				font-size: 20px;
				line-height: 24px;
			}
		}

		.page-menu {
			margin-top: 5rem;

			ul {
				align-items: center;
				display: flex;
				flex-direction: row !important;
				justify-content: center;

				.nav-link {
					color: $color-secondary !important;
					font-size: 20px;
					line-height: 24px;
					text-decoration: underline;
				}
			}
		}
	}
}

// Footer  banner
.footer-banner {
	align-items: center;
	background: $color-secondary;
	display: flex;
	height: 80px;

	.url-description {
		align-items: center;
		display: flex;

		section {
			margin: 0;
		}

		.custom-html-widget {
			color: $color-light;
			font-size: 26px;
			font-weight: 300;
			margin: 0;
		}
	}

	a {
		display: block;
		width: 85%;
	}
}

// Footer widget
.cont-main-footer {
	background-position: center;
	background-size: cover;

	.widget-title {
		color: $color-light;
		font-size: 18px;
		font-weight: bold;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
}

.footer-widget {
	padding: 25px 0;

	a {
		color: $color-light;
		font-size: 16px;
		font-weight: normal;
		line-height: 2.5;
		padding: 0;

		&:hover {
			background-color: transparent !important;
			text-decoration: underline !important;
		}
	}
}

// Footer Copyright
footer {
	border: 0 !important;

	.site-info {
		color: $color-light;
		font-size: 12px;
		font-weight: normal;
		line-height: 1.3;
	}

	.sep {
		margin: 0 .4rem;
	}
}

.menu-footer-copyright-container {
	ul {
		flex-direction: row !important;
	}

	li {
		+ li {
			border-left: 1px solid;
			margin-left: 10px;
			padding-left: 10px;
		}

		> a {
			color: $color-light !important;
			font-size: 12px;
			font-weight: normal;
			line-height: 1.3;
			padding: 0;

			&:hover {
				background-color: transparent;
				text-decoration: underline;
			}
		}
	}
}

.type-post {
	&.hentry {
		margin-bottom: 4rem;
	}
}

@media (min-width: 1024px) {

	.page-404-main-section {
		.page-menu {
			ul {
				.menu-item {
					+ .menu-item {
						margin-left: 2rem;
					}
				}
			}
		}
	}

	.header-nav {
		.navbar-nav {
			> .nav-item {
				position: relative;

				&::after {
					border-bottom: 5px solid $color-main;
					bottom: -1.77rem;
					content: '';
					display: block;
					left: 0;
					position: absolute;
					right: 0;
					transform: scaleX(0);
					transition: transform 250ms ease-in-out;
				}

				&:hover {
					&::after {
						transform: scaleX(1);
					}
				}

				&.active {
					a {
						color: $color-main-hover;
					}

					&::after {
						transform: scaleX(1);
					}
				}
			}
		}
	}
}

@media (max-width: 992px) {
	header {
		.search-form {
			input {
				font-size: 10px;
			}
		}
	}
}

@media (max-width: 768px) {
	.sub-header-filter {
		.page-filter-button {
			bottom: -4.5rem;
		}
	}
}

@media (max-width: 768px) {

	.loader {
		img {
			width: 100%;
		}
	}

	.cont-categories-filters {
		padding: 2rem 0;
	}

	.site-content {
		padding-bottom: 0 !important;
	}

	.sub-header-filter {
		&.page-search {
			margin-bottom: 4rem;
			min-height: 0;
		}

		.page-filter-button {
			//bottom: -8.9rem;
			padding: .7rem 0;
		}
	}

	.category {
		.site-content {
			padding-top: 11rem !important;
		}
	}

	.page-filter-button {
		.cont-button-filter {
			height: 100%;
			position: relative;
			z-index: 2;
		}
	}

	.nav-filters {
		ul {
			&.parent-list {
				> li {
					ul {
						&:not(.children) {
							flex-flow: wrap;
							justify-content: space-between;

							> .cat-item {
								margin-bottom: 2rem;
							}
						}
					}
				}
			}
		}
	}

	.main-parent-filter {
		&.show {
			top: -10px !important;
		}
	}

	footer {
		.site-info {
			flex-direction: column;
		}

		.sep {
			display: none;
		}
	}
}

@media (max-width: 767px) {
	#simple-menu.eds-toggle-icon, .eds-responsive-menu-wrp.sidr {
		display: block !important;
	}

	.navbar-toggler, 
	header .search-form {
		display: none;
	}

	header {
		&.main-header {
			position: sticky;
			top: 0;
			z-index: 100;
		}
	}
	
	.eds-toggle-icon {
		background-color: transparent !important;
	}

	.eds-responsive-menu-wrp {
		background-color: $color-light !important;
		box-shadow: 5px 0 10px 10px $menu-shadow !important;

		.eds_logo {
			margin: 20px auto;
			max-width: 80%;
		}

		.menu-item {
			a {
				background-color: transparent;
				border: 0;
				color: $color-dark;
				font-family: 'Averia Serif Libre', Helvetica, sans-serif;
				font-size: 20px;
				padding: 12px 0;
				text-align: center;
			}
		}

		.eds-responsive-menu {
			margin: 30px auto 0;
		}

		input {
			background: $menu-input-bg;
			border-radius: 4px;
			border: 0;

			&:focus {
				outline: none;
			}
		}
	}
}

@media (max-width: 576px) {
	.navbar-brand a {
		margin-left: 0;
		max-width: 90%;
	}

	.main-parent-filter {
		&.show {
			top: 3.55rem !important;
		}
	}
}
