@import '../mixins';

[data-status='inactive'] {
	opacity: 0;
	position: absolute;
	width: 92%;
}

[data-status='active'] {
	opacity: 1;
	position: relative;
}

.banner-product {
	background-image: url('../../../img/banner-products.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 280px;
}

.text-product {
	h1 {
		color: $color-main;
		margin-bottom: 15px;
	}
}

.banner-all-products {
	background-image: url('../../../img/all-product-background.png');
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 70px 0 54px;

	p {
		font-family: 'proxima-nova-bold' !important;
		font-size: 22px !important;
	}

	.items-all-products {
		padding-top: 20px;

		.item {
			margin-bottom: 15px;
			transition: ease .3s;

			.img-product {
				@include media-breakpoint-down(xs) {
					height: 157px;
					width: 157px;
				}

				height: 220px;
				object-fit: contain;
				width: 220px;
			}

			.link-product {
				color: $color-dark;
				display: block;
				text-decoration: none;
				transition: ease .3s;
			}

			&:hover {
				transform: scale(1.05);

				.link-product {
					color: $color-main;
				}
			}
		}
	}
}

.product-category {
	.item {
		text-align: left;
	}

	.items-products {
		p {
			font-family: 'proxima-nova-bold' !important;
			font-size: 18px;
			line-height: 1.11;
			margin-bottom: 5px;
			margin-top: 20px;
			text-align: left;
			width: auto;
		}
	}

	.img-review {
		margin-left: -5px;
		width: 75%;
	}

	.product-reviews {
		a {
			color: $color-main;
			display: block;
			text-decoration: underline;
		}
	}
}

.all-products-carousel {
	@include media-breakpoint-down(md) {
		padding: 30px 0 0;
	}

	padding: 30px 100px;

	.owl-stage {
		@include media-breakpoint-down(xs) {
			display: flex;
			align-items:center;
			min-height: 280px;
		}
	}

	.item {
		@include media-breakpoint-down(xs) {
			opacity: .4;
		}

		margin-bottom: 30px;
		transition: ease .3s;

		img {
			@include media-breakpoint-down(xs) {
				height: 110px;
				width: 110px;
			}

			height: 160px;
			margin: auto;
			object-fit: contain;
			width: 160px;
			transition: ease .3s;
		}

		.link-product {
			color: $color-dark;
			display: block;
			text-align: center;
			text-decoration: none;
			transition: ease .3s;

			p {
				font-size: 18px;
				line-height: 1.11;
				margin-top: 10px;
			}
		}

		&:hover {
			transform: scale(1.05);

			.link-product {
				color: $color-main;
			}
		}
	}

	.center {
		.item {
			opacity: 1;

			img {
				height: 180px;
				margin: auto;
				object-fit: contain;
				width: 180px;
			}
		}
	}

	.owl-nav {
		@include media-breakpoint-down(md) {
			    top: inherit;
			    bottom: 30px;
			    z-index: 1;
		}

		bottom: 50px;
		height: 45px;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		top: 0;
		z-index: -1;

		.owl-prev,
		.owl-next {
			@include media-breakpoint-down(md) {
				top: -210px;
				height: 180px;
				opacity: 0;
			}

			position: absolute;

			&:hover {
				background: transparent;
			}

			&:focus {
				outline: none;
			}
		}

		.owl-prev {
			left: 0;
		}

		.owl-next {
			right: 0;
		}
	}
}


.single-product {
	.info-product {
		@include media-breakpoint-down(md) {
			padding-bottom: 35px;
			padding-top: 35px;
		}
		padding-bottom: 50px;
		padding-top: 70px;

		.img-product {
			display: block;
			margin: auto;
		}

		h1 {
			@include media-breakpoint-down(md) {
				font-size: 36px;
				line-height: 1.14;
			}

			color: $color-main;
			font-size: 48px;
			line-height: 42px;
		}

		.code {
			color: $color-grayscale-4;
			font-size: 16px;
		}

		.tags-product {
			display: none;
			font-size: 14px;
			letter-spacing: 1px;
			line-height: 20px;
			margin-bottom: 15px;
			text-transform: uppercase;
		}

		.sizes {
			align-items: center;
			display: flex;

			span {
				font-family: 'proxima-nova-bold' !important;
				font-size: 16px;
				letter-spacing: 0;
				text-transform: uppercase;
			}

			.sizes-list {
				display: flex;
				list-style: none;
				margin-bottom: 0;
				margin-left: 2rem;
				padding: 0;

				li {
					align-items: center;
					display: flex;
					justify-content: center;
					padding: 7px 0;
					position: relative;
					transition: all .5s;

					&:hover {
						a {
							color: $color-main-hover;
							z-index: 2;
						}

					}

					&.active {
						a {
							color: $color-main;
						}
					}

					+ li {
						margin-left: 1.5rem;
					}

					a {
						color: $color-text-faqs;
						font-family: 'proxima-nova-bold';
						font-size: 15px;
						text-decoration: underline;
						vertical-align: text-bottom;
					}
				}
			}
		}

		.description {
			font-size: 16px;
			line-height: 1.5;
			margin-bottom: 15px;
		}

		.cont-cta {

			@include media-breakpoint-down(md) {
				flex-wrap: wrap;
				justify-content: space-between;
				margin: 10px 0 4px;
			}

			display: flex;
			margin: 3rem 0 4px;

			.btn-main {
				@include media-breakpoint-down(md) {
					margin: 5px 0;
					padding: 9px;
					width: 100%;
				}

				max-width: 220px;
				min-width: 160px;
				height: 50px;
				padding: 9px 0;
				font-size: 16px;
				letter-spacing: 1px;

				&.review {
					@include media-breakpoint-down(lg) {
						width: auto;
					}

					@include media-breakpoint-down(md) {
						width: 100%;
					}

					width: 100%;
				}
			}

			a {
				&:not(:first-child) {
					@include media-breakpoint-down(md) {
						margin-left: 0;
					}
					margin-left: 30px;
				}
			}
		}
	}

	.recipe-share {
		span,
		br {
			display: none;
		}
	}

	.cards-product {
		.card {
			background-color: $color-cards;
			border: 0;
			border-radius: 0;
			height: 100%;

			.card-header {
				align-items: center;
				background-color: $header-cards;
				border-bottom: 0;
				display: flex;
				justify-content: center;
				padding: 20px;

				p {
					font-family: 'proxima-nova-bold' !important;
					font-size: 22px;
					margin-bottom: 0;
				}
			}

			.card-body {
				@include media-breakpoint-down(md) {
					padding: 25px 15px;
				}

				min-height: 280px;
				padding: 25px 45px;

				p {
					font-size: 16px;
					line-height: 1.5;
				}

				img {
					display: block;
					margin: auto;
					max-width: 180px;
					width: 100%;
				}
			}
		}
	}
}

.ingredients-product {
	@include media-breakpoint-down(md) {
		padding: 0px 0 40px;
	}

	background-color: $color-cards;
	padding: 25px 0 40px;
	margin-bottom: 60px;

	.title-ingredients {
		@include media-breakpoint-down(xs) {
			padding: 18px 0;
			margin-bottom: 27px;
		}

		font-size: 22px;
		font-weight: bold;
		line-height: 1.09;
		letter-spacing: normal;
		font-family: 'proxima-nova-bold' !important
	}

	.nutrition {
		.btn-main {
			font-size: 16px;
			letter-spacing: 2px;
			min-height: 50px;
			padding: 9px 20px;
		}
	}
}

.all-product {
	.name-product {
		.description-product {
			p {
				@include media-breakpoint-down(md) {
					width: auto;
				}

				font-family: 'proxima-nova-regular' !important;
				font-size: 16px;
				line-height: 1.5;
				width: 90%;
			}
		}
	}

	.list-product {
		margin-bottom: 50px;
	}
}

.single {
	.ssbp--theme-6 {
		.ssbp-btn {
			border-color: $color-main !important;
		
			&::before {
				color: $color-main !important;
			}

			&:hover {
				border-color: transparent !important;
				&::before {
					color: $color-light !important;
				}	
			}
		}

		.ssbp-list {
			li {
			    margin-left: 0 !important;
			    margin-right: 14px !important;
			}
		}
	}	
}


