@import '../mixins';

.search-page-title {
	padding-top: 40px;

	p {
		font-size: 28px;
		margin-bottom: 20px;
	}
}

.search-result {
	padding-bottom: 110px;

	.item-search {
		border-bottom: solid 1px $color-grayscale-9;
		display: flex;
		padding: 25px 20px 25px 0;
		@include media-breakpoint-down(md) {
			display: block;
			padding: 15px;
		}

		img {
			@include media-breakpoint-down(md) {
			    margin: 0 auto 15px;
				display: block;
			}

			height: 160px;
			margin: 0;
			object-fit: contain;
			width: 160px;
		}

		article {
			padding-left: 30px;
			width: 80%;

			@include media-breakpoint-down(md) {
				width: 100%;
				padding-left: 0;
			}

			p {
				font-size: 16px;
				line-height: 1.5;
			}

			.entry-title {
				a {
					color: $color-main;
					text-decoration: underline;

					&:hover {
						color: $color-main-hover;
					}
				}
			}
		}
	}

	.navigation {
		font-size: 18px;
		margin: auto;
		padding-top: 26px;

		.page-numbers {
			color: $color-dark;
			margin: 0 3px;
		}

		.current,
		.prev,
		.next {
			color: $color-main;
			font-size: 18px;
		}
	}
}
