@import '../mixins';

.contact-page {
	.tabs-faq {
		.nav-pills {
			margin-bottom: 60px;
			margin-top: 10px;

			.nav-item {
				margin-bottom: 10px;
				text-align: center;

				a {
					background-color: $color-cards;
					border-radius: 0;
					color: $color-dark;
					font-size: 22px;
					padding: 18px;
				}

				.active {
					background-color: $header-cards !important;
					color: $color-light;
				}
			}
		}
	}

	.tab-content {
		h4 {
			color: $color-main;
			font-size: 14px;
			font-weight: 500;
			margin: 20px 0;
			text-transform: uppercase;
		}

		p {
			font-size: 16px;
		}
	}

	.contact-faq {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 67px;

		p {
			font-size: 22px;
			margin-bottom: 0;
		}

		.btn-primary {
			background-color: $color-main;
			border: 0;
			border-radius: 0;
			color: $color-light;
			font-family: 'proxima-nova-regular';
			font-size: 16px;
			letter-spacing: 2pt;
			line-height: 22pt;
			padding: 14px;
			text-transform: uppercase;

			&:hover {
				background-color: $color-main-hover;
			}
	    }
	}
}

