@import '../mixins';

.banner-home {

	.item {
		.img-banner {
			height: auto;
			max-height: 500px;
			object-fit: cover;
			object-position: center;

			@include media-breakpoint-down(md) {
				max-height: 400px;
			}

			@include media-breakpoint-down(xs) {
				max-height: 250px;	
			}
		}

		.null-mobile {
			img {
				height: 500px;
				object-fit: cover;
				object-position: center;

				@include media-breakpoint-down(md) {
					height: 400px;
				}

				@include media-breakpoint-down(xs) {
					height: 250px;	
				}
			}
		}
	}

	.owl-nav,
	.owl-dots {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;

		.owl-prev {
			color: $color-light !important;
			margin-right: 60px;
		}

		.owl-next {
			color: $color-light !important;
			margin-left: 60px;
		}
	}

	.owl-dots {
		bottom: 2px;
		margin: auto;
		width: 100px;
	}
}

.text-under-banner {
	background-image: url('../../../img/text-under-banner.jpg');
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 23px 0 30px;
}

.products-home {
	padding: 45px 0;

	.items-products {
		padding-top: 16px;

		.item {
			margin-bottom: 40px;
			transition: ease .3s;

			.img-product {
				@include media-breakpoint-down(lg) {
					height: 200px;
					width: 200px;
				}

				@include media-breakpoint-down(xs) {
					height: 157px;
					width: 157px;
				}

				height: 255px;
				object-fit: contain;
				width: 255px;
			}

			.link-product {
				color: $color-dark;
				display: block;
				text-align: center;
				text-decoration: none;
				transition: ease .3s;
			}

			&:hover {
				transform: scale(1.05);

				.link-product {
					color: $color-main;
				}
			}
		}
	}
}

.featured-recipes-home {
	padding-bottom: 50px;

	.recipes {
		@include media-breakpoint-down(md) {
			height: auto;
		}

		height: 600px;
		margin-top: 15px;

		.item {
			height: 48%;
			margin-bottom: 24px;
		}

		.recipes-item {
			@include media-breakpoint-down(xs) {
				margin-bottom: 0;
			}

			@include media-breakpoint-down(md) {
				height: 240px !important;
				margin-bottom: 20px;
			}

			cursor: pointer;
			overflow: hidden;
			position: relative;
			transition: ease .3s;

			img {
				height: 100%;
				left: 50%;
				position: absolute;
				top: 50%;
				transform: translateX(-50%) translateY(-50%);
				transition: all .4s ease-in-out;
				width: auto;
			}

			p {
				@include media-breakpoint-down(xs) {
					padding: 0 15px;
				}

				align-items: center;
				background: $black-transparent2;
				bottom: 0;
				color: $color-light;
				display: flex;
				font-size: 22px;
				font-weight: inherit;
				height: 100px;
				left: 0;
				line-height: 1.09;
				margin: 0;
				padding: 0 35px;
				position: absolute;
				right: 0;
			}

			&::before {
				align-items: center;
				background-color: transparent;
				bottom: 0;
				color: $color-light;
				content: '';
				display: flex;
				justify-content: center;
				left: 0;
				position: absolute;
				right: 0;
				text-decoration: underline;
				top: 0;
				transition: ease .3s;
				z-index: 1;
			}

			&:hover {
				&::before {
					background-color: $red-transparent;
					content: 'View Recipe';
					transition: ease .3s;
				}

				img {
					transform: translateX(-50%) translateY(-50%) scale(1.3);
				}
			}
		}
	}
}
