.contact-page .bg-main {
  background-image: url("../../../img/la-victoria-texture.jpg");
  background-position: center;
  background-size: cover;
  background-color: #dc1e35;
  color: #fff; }
  @media (max-width: 991.98px) {
    .contact-page .bg-main {
      margin-top: 4rem; } }
  .contact-page .bg-main a {
    color: #fff; }

.contact-page .text {
  margin-bottom: 50px; }

.contact-page h1 {
  color: #fff;
  font-family: 'magica-ruby-demi';
  font-size: 44px;
  letter-spacing: 2px;
  line-height: 46px;
  margin-bottom: 40px;
  margin-top: 40px;
  text-transform: uppercase; }
  @media (max-width: 991.98px) {
    .contact-page h1 {
      font-size: 41px;
      letter-spacing: 1.86px;
      line-height: 48px;
      margin: 0.5rem 0 1rem; } }

.contact-page h2 {
  color: #000;
  font-family: 'roboto-condensed-bold';
  font-size: 26px;
  line-height: 36px;
  margin-bottom: 10px;
  margin-top: 40px;
  text-align: center; }
  @media (max-width: 991.98px) {
    .contact-page h2 {
      font-size: 25px;
      line-height: 31px;
      margin-top: 0; } }

.contact-page p {
  font-size: 24px;
  line-height: 1.5; }
  @media (max-width: 991.98px) {
    .contact-page p {
      font-size: 18px;
      letter-spacing: 0;
      line-height: 24px; } }
  .contact-page p b,
  .contact-page p strong {
    font-family: 'roboto-condensed-bold'; }

.contact-page .form-contact {
  margin-bottom: 7rem;
  margin-top: 30px; }
  .contact-page .form-contact textarea {
    background-color: #ebe9e6; }
    @media (max-width: 991.98px) {
      .contact-page .form-contact textarea {
        font-size: 16px; } }
  .contact-page .form-contact input[type='text'], .contact-page .form-contact input[type='number'], .contact-page .form-contact input[type='email'] {
    background-color: #ebe9e6; }
    @media (max-width: 991.98px) {
      .contact-page .form-contact input[type='text'], .contact-page .form-contact input[type='number'], .contact-page .form-contact input[type='email'] {
        font-size: 16px;
        height: 50px; } }
  .contact-page .form-contact form p {
    background-color: #dc1e35;
    border-radius: 20px 0;
    height: 43px;
    margin-top: 25px;
    padding: 2px;
    transition: border-radius .51s;
    width: 160px; }
    .contact-page .form-contact form p input[type='submit'] {
      background-color: transparent !important;
      border-radius: 20px 0;
      border: 1px solid rgba(251, 220, 0, 0.8);
      font-family: 'magica-ruby-bold' !important;
      font-size: 16px;
      height: 100%;
      letter-spacing: 1px;
      padding: 0;
      text-transform: uppercase;
      transition: border-radius .51s;
      width: 100%; }
    .contact-page .form-contact form p:hover {
      background-color: #b8192c;
      border-radius: 0 20px;
      color: #fff; }
      .contact-page .form-contact form p:hover input[type='submit'] {
        border-radius: 0 20px; }
  .contact-page .form-contact form span.wpcf7-list-item-label {
    font-size: 18px; }
  .contact-page .form-contact .form-control {
    border-radius: 1px; }
    .contact-page .form-contact .form-control::-webkit-input-placeholder {
      color: #000; }
    .contact-page .form-contact .form-control::-ms-input-placeholder {
      color: #000; }
    .contact-page .form-contact .form-control::placeholder {
      color: #000; }
  .contact-page .form-contact br {
    display: none; }
  .contact-page .form-contact span.wpcf7-list-item {
    margin-left: 0; }
  .contact-page .form-contact span.wpcf7-form-control-wrap {
    display: block;
    margin-bottom: 20px; }
    @media (max-width: 991.98px) {
      .contact-page .form-contact span.wpcf7-form-control-wrap {
        margin-bottom: 10px; }
        .contact-page .form-contact span.wpcf7-form-control-wrap .wpcf7-acceptance span {
          margin: 0; }
        .contact-page .form-contact span.wpcf7-form-control-wrap .wpcf7-acceptance label {
          font-size: 18px;
          line-height: 26px; } }

.contact-page .check {
  border: 0 !important;
  padding: 0 !important; }
  .contact-page .check .wpcf7-list-item {
    display: block;
    margin-left: 0; }
    .contact-page .check .wpcf7-list-item .wpcf7-list-item-label {
      color: #000;
      font-size: 16px;
      margin-left: 10px; }

.contact-page .question {
  height: 101px; }

@media (min-width: 1200px) {
  .page-template-page-contact .container {
    max-width: 1140px; } }
