.banner-home .item .img-banner {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover; }
  @media (max-width: 991.98px) {
    .banner-home .item .img-banner {
      height: 400px; } }
  @media (max-width: 575.98px) {
    .banner-home .item .img-banner {
      height: 250px; } }

.banner-home .owl-nav .owl-prev,
.banner-home .owl-nav .owl-next {
  position: absolute;
  top: 40%; }

.banner-home .owl-nav .owl-next {
  right: 1rem; }

.banner-home .owl-nav .owl-prev {
  left: 1rem; }

.banner-home .owl-dots {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 100px; }

.banner-home .slide-description {
  background-image: url("../../../img/la-victoria-texture.jpg");
  background-position: center;
  background-size: cover;
  background-color: #dc1e35;
  color: #fff;
  margin: -5rem auto 0;
  max-width: 63.9%;
  padding: 2.63rem 1.7rem;
  position: relative;
  text-align: center; }
  @media (max-width: 767.98px) {
    .banner-home .slide-description {
      margin: -5rem auto 0;
      max-width: 90%; } }
  .banner-home .slide-description h4 {
    font-family: 'roboto-condensed-bold';
    font-size: 27px;
    line-height: 34px; }
    @media (max-width: 767.98px) {
      .banner-home .slide-description h4 {
        font-size: 24px;
        line-height: 29px; } }
  .banner-home .slide-description p {
    font-family: 'roboto-condensed-regular';
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 0; }
    @media (max-width: 767.98px) {
      .banner-home .slide-description p {
        font-size: 16px;
        line-height: 17px; } }

.banner-home .btn-banner {
  background-color: #fff;
  color: #dc1e35;
  font-family: 'magica-ruby-bold';
  text-decoration: underline; }

.text-under-banner {
  background-image: url("../../../img/text-under-banner.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover; }
  .text-under-banner.text-product {
    background-image: none; }
    .text-under-banner.text-product h1 {
      background-image: url("../../../img/la-victoria-texture.jpg");
      background-position: center;
      background-size: cover;
      background-color: #dc1e35;
      color: #fff;
      display: inline-block;
      font-family: 'magica-ruby-demi';
      font-size: 44px;
      letter-spacing: 2px;
      line-height: 46px;
      margin-top: -4rem;
      min-width: 458px;
      padding: 1.7rem 2rem;
      text-align: center;
      text-transform: uppercase;
      width: auto; }
      @media (max-width: 767.98px) {
        .text-under-banner.text-product h1 {
          font-size: 41px;
          min-width: 100%; } }
    .text-under-banner.text-product p {
      font-family: 'roboto-condensed-bold' !important;
      font-size: 24px;
      line-height: 30px;
      text-align: center; }
      @media (max-width: 767.98px) {
        .text-under-banner.text-product p {
          font-size: 18px;
          line-height: 24px; } }

.products-home {
  padding: 40px 0; }
  @media (max-width: 575.98px) {
    .products-home {
      padding-bottom: 0; } }
  .products-home .items-products {
    padding-top: 40px; }
    .products-home .items-products .item {
      margin-bottom: 3rem;
      transition: ease .3s; }
      @media (max-width: 575.98px) {
        .products-home .items-products .item {
          margin-bottom: 4rem; } }
      .products-home .items-products .item .link-product {
        color: #000;
        text-decoration: none;
        transition: ease .3s; }
        .products-home .items-products .item .link-product figure {
          display: block;
          margin: 0 auto;
          max-width: 250px; }
      .products-home .items-products .item:hover {
        -webkit-transform: scale(1.05);
                transform: scale(1.05); }
        .products-home .items-products .item:hover .link-product {
          color: #dc1e35; }
    .products-home .items-products.page-products .item .link-product {
      display: block;
      text-align: center; }
      .products-home .items-products.page-products .item .link-product.product-img figure {
        max-height: initial;
        min-height: auto;
        text-align: center; }
        .products-home .items-products.page-products .item .link-product.product-img figure .img-product {
          max-height: 220px; }
      .products-home .items-products.page-products .item .link-product.product-img p {
        color: #000; }
      .products-home .items-products.page-products .item .link-product.product-img small {
        font-family: 'roboto-condensed-bold';
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 16px;
        text-transform: uppercase; }
  .products-home.product-category .item .link-product {
    display: block;
    text-align: center; }
    .products-home.product-category .item .link-product.product-img figure {
      max-height: initial;
      min-height: auto;
      text-align: center; }
      .products-home.product-category .item .link-product.product-img figure .img-product {
        max-height: 220px; }
    .products-home.product-category .item .link-product.product-img p {
      color: #000; }
    .products-home.product-category .item .link-product.product-img small {
      font-family: 'roboto-condensed-bold';
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 16px;
      text-transform: uppercase; }

.featured-recipes-home {
  padding-top: 0; }
  .featured-recipes-home .title {
    background-color: #ebe9e6;
    position: relative;
    z-index: -2; }
  .featured-recipes-home .content {
    background-color: #ebe9e6;
    padding-bottom: 50px; }
  .featured-recipes-home h3 {
    background-color: #ebe9e6 !important; }
  .featured-recipes-home .recipes {
    padding-top: 2rem; }
    @media (max-width: 991.98px) {
      .featured-recipes-home .recipes {
        height: auto; } }
    .featured-recipes-home .recipes .item {
      height: 48%;
      margin-bottom: 20px; }
    .featured-recipes-home .recipes .recipes-item {
      cursor: pointer;
      overflow: hidden;
      position: relative;
      transition: all ease .3s; }
      @media (max-width: 991.98px) {
        .featured-recipes-home .recipes .recipes-item {
          margin-bottom: 20px; } }
      .featured-recipes-home .recipes .recipes-item figure {
        margin-bottom: 0; }
        .featured-recipes-home .recipes .recipes-item figure img {
          height: 206px;
          -o-object-fit: cover;
             object-fit: cover;
          -o-object-position: top;
             object-position: top;
          transition: all ease .3s;
          width: 100vw; }
          @media (max-width: 991.98px) {
            .featured-recipes-home .recipes .recipes-item figure img {
              height: 227px; } }
      .featured-recipes-home .recipes .recipes-item .info {
        background-image: url("../../../img/bg-texture.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
        display: flex;
        flex-direction: column;
        font-family: 'magica-ruby-bold';
        font-size: 18px;
        font-weight: inherit;
        height: 160px;
        justify-content: center;
        margin: 0;
        padding: 1rem 1rem .5rem;
        position: relative;
        text-align: center;
        z-index: 1; }
        .featured-recipes-home .recipes .recipes-item .info p {
          color: #fff;
          font-family: 'magica-ruby-bold' !important;
          font-size: 18px;
          letter-spacing: 1px;
          line-height: 22px;
          margin: 0;
          text-transform: uppercase; }
        .featured-recipes-home .recipes .recipes-item .info a {
          color: #dc1e35;
          font-size: 16px;
          letter-spacing: 1px;
          line-height: 22px;
          text-transform: uppercase; }
        .featured-recipes-home .recipes .recipes-item .info .stars-snippet {
          margin: .5rem 0; }
      .featured-recipes-home .recipes .recipes-item:hover img {
        -webkit-transform: scale(1.05);
                transform: scale(1.05); }

.news {
  padding: 35px 0 60px !important; }
  @media (max-width: 767.98px) {
    .news {
      padding-top: 20px; } }
  .news .post-news {
    margin-top: 2rem; }
    .news .post-news .news-item.left {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-left: 4.375rem;
      min-height: 595px; }
      @media (max-width: 991.98px) {
        .news .post-news .news-item.left {
          margin-left: 0;
          min-height: 321px; } }
    .news .post-news .news-item.right {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 288px;
      position: relative; }
      .news .post-news .news-item.right:first-child {
        margin-bottom: 1rem; }
      .news .post-news .news-item.right::before {
        background-color: rgba(251, 220, 0, 0.8); }
      .news .post-news .news-item.right .info {
        z-index: 2; }
    .news .post-news .news-item a {
      display: block; }
    .news .post-news .news-item::before {
      align-items: center;
      background-color: transparent;
      bottom: 0;
      color: #fff;
      content: '';
      display: flex;
      justify-content: center;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: ease .3s;
      z-index: 1; }
    .news .post-news .owl-carousel .owl-nav {
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 35%;
      width: 100%; }
      .news .post-news .owl-carousel .owl-nav button:hover, .news .post-news .owl-carousel .owl-nav button:focus {
        background-color: transparent; }
    .news .post-news .info h4 {
      font-family: 'magica-ruby-bold';
      font-size: 18px;
      letter-spacing: 1px;
      line-height: 22px;
      text-transform: uppercase; }
    .news .post-news .info .description * {
      font-size: 18px;
      line-height: 22px; }
      @media (max-width: 767.98px) {
        .news .post-news .info .description * {
          font-size: 14px;
          line-height: 20px; } }
    .news .post-news .info .link {
      font-family: 'magica-ruby-bold';
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 22px;
      text-decoration: underline;
      text-transform: uppercase; }
    .news .post-news .info.yellow {
      bottom: 17%;
      left: 0;
      padding: 0 2rem;
      position: absolute;
      right: 0;
      transition: ease .3s; }
      .news .post-news .info.yellow * {
        color: #000; }
    .news .post-news .info.red {
      background-color: rgba(220, 30, 53, 0.9);
      bottom: 10%;
      color: #fff;
      left: 15px;
      max-width: 460px;
      padding: 2rem 1.5rem;
      position: absolute;
      z-index: 2; }
      @media (max-width: 575.98px) {
        .news .post-news .info.red {
          bottom: 0;
          left: 0;
          padding: 1rem; } }
      @media (max-width: 767.98px) {
        .news .post-news .info.red .description {
          margin: 0.5rem 0; } }
      .news .post-news .info.red * {
        color: #fff; }
