.faq-page {
  padding-top: 4rem; }
  .faq-page h1 {
    font-family: 'magica-ruby-bold';
    font-size: 44px;
    line-height: 46px;
    margin-bottom: 2rem;
    text-align: center; }
  .faq-page .cont-tabs {
    background-color: #ebe9e6;
    margin-top: 5rem;
    padding-bottom: 5rem; }
  .faq-page .tabs-faq .nav-pills {
    margin-bottom: 60px;
    margin-top: -3.9rem; }
    .faq-page .tabs-faq .nav-pills .nav-item {
      margin-bottom: 10px;
      text-align: center; }
      .faq-page .tabs-faq .nav-pills .nav-item a {
        background-color: #d7d1cb;
        border-radius: 24px 24px 0 0;
        color: #000;
        font-size: 22px;
        padding: 18px; }
      .faq-page .tabs-faq .nav-pills .nav-item .active {
        background-color: #ebe9e6 !important; }
  .faq-page .tab-content {
    font-family: 'roboto-condensed-regular'; }
    .faq-page .tab-content h4 {
      color: #000;
      font-size: 20px;
      margin: 20px 0;
      text-transform: uppercase; }
    .faq-page .tab-content p {
      font-size: 16px; }
  .faq-page .announcer-bar {
    background-color: #fbdc00; }
    .faq-page .announcer-bar .btn-victoria {
      min-width: 160px; }
  .faq-page .contact-faq {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.35rem 0; }
    .faq-page .contact-faq p {
      font-size: 22px;
      margin-bottom: 0; }
    .faq-page .contact-faq .btn-primary {
      background-color: #dc1e35;
      border: 0;
      border-radius: 0;
      color: #fff;
      font-family: 'proxima-nova-regular';
      font-size: 16px;
      letter-spacing: 2pt;
      line-height: 22pt;
      padding: 14px;
      text-transform: uppercase; }
      .faq-page .contact-faq .btn-primary:hover {
        background-color: #ff112e; }
