[data-status='inactive'] {
  display: none !important; }

[data-status='active'] {
  display: block !important; }

.banner-product {
  background-image: url("../../../img/banner-products.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 360px; }

.text-product h1 {
  color: #dc1e35;
  margin-bottom: 15px; }

.products-home .list-product figure {
  align-items: center !important;
  display: flex !important;
  justify-content: center;
  height: 220px;
  max-height: 220px !important;
  min-height: 220px !important; }

.products-home.product-category .items-products {
  padding-top: 0; }
  .products-home.product-category .items-products .item {
    margin-bottom: 30px;
    text-align: center;
    transition: ease .3s; }
    .products-home.product-category .items-products .item .link-product {
      color: #000;
      text-decoration: none;
      transition: ease .3s; }
      .products-home.product-category .items-products .item .link-product p {
        color: #000;
        font-size: 20px; }
        .products-home.product-category .items-products .item .link-product p + p {
          font-family: 'magica-ruby-bold' !important;
          font-size: 18px;
          letter-spacing: 1px;
          line-height: 22px;
          margin-top: 0;
          text-transform: uppercase; }
      .products-home.product-category .items-products .item .link-product small {
        font-family: 'roboto-condensed-bold';
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 16px;
        text-transform: uppercase; }
    .products-home.product-category .items-products .item:hover {
      -webkit-transform: scale(1.05);
              transform: scale(1.05); }
      .products-home.product-category .items-products .item:hover .link-product {
        color: #dc1e35; }

.products-home.product-category .description p {
  font-family: 'roboto-condensed-regular' !important;
  font-size: 18px;
  line-height: 1.11;
  margin-bottom: 35px;
  margin-top: 20px; }

.products-home.product-category .img-review {
  margin-left: -5px;
  width: 75%; }

.products-home.product-category .product-reviews a {
  color: #dc1e35;
  display: block;
  text-decoration: underline; }

.all-banner {
  background-color: #ebe9e6; }
  @media (max-width: 991.98px) {
    .all-banner {
      padding-top: 5rem !important; } }
  @media (max-width: 991.98px) {
    .all-banner h1 {
      font-size: 44px;
      line-height: 46px; } }

.all-products-carousel,
.other-products {
  padding: 30px; }
  .all-products-carousel .item,
  .other-products .item {
    margin-bottom: 30px;
    text-align: center;
    transition: ease .3s; }
    .all-products-carousel .item .link-product,
    .other-products .item .link-product {
      color: #000;
      display: block;
      text-decoration: none;
      transition: ease .3s; }
      .all-products-carousel .item .link-product figure,
      .other-products .item .link-product figure {
        align-items: center;
        display: flex;
        justify-content: center;
        height: 220px;
        max-height: 220px;
        min-height: 220px; }
        .all-products-carousel .item .link-product figure .img-product,
        .other-products .item .link-product figure .img-product {
          max-height: 200px;
          -o-object-fit: contain;
             object-fit: contain; }
      .all-products-carousel .item .link-product p,
      .other-products .item .link-product p {
        color: #000;
        font-size: 20px; }
        @media (max-width: 991.98px) {
          .all-products-carousel .item .link-product p,
          .other-products .item .link-product p {
            font-size: 18px;
            line-height: 24px; } }
      .all-products-carousel .item .link-product small,
      .other-products .item .link-product small {
        font-family: 'roboto-condensed-bold';
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 16px;
        text-transform: uppercase; }
    .all-products-carousel .item:hover,
    .other-products .item:hover {
      -webkit-transform: scale(1.05);
              transform: scale(1.05); }
      .all-products-carousel .item:hover .link-product,
      .other-products .item:hover .link-product {
        color: #dc1e35; }
  .all-products-carousel .owl-nav,
  .other-products .owl-nav {
    bottom: 50px;
    height: 45px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1; }
    .all-products-carousel .owl-nav .owl-prev,
    .all-products-carousel .owl-nav .owl-next,
    .other-products .owl-nav .owl-prev,
    .other-products .owl-nav .owl-next {
      position: absolute;
      width: 10px; }
      .all-products-carousel .owl-nav .owl-prev:hover,
      .all-products-carousel .owl-nav .owl-next:hover,
      .other-products .owl-nav .owl-prev:hover,
      .other-products .owl-nav .owl-next:hover {
        background: transparent; }
      .all-products-carousel .owl-nav .owl-prev:focus,
      .all-products-carousel .owl-nav .owl-next:focus,
      .other-products .owl-nav .owl-prev:focus,
      .other-products .owl-nav .owl-next:focus {
        outline: none; }
    .all-products-carousel .owl-nav .owl-prev,
    .other-products .owl-nav .owl-prev {
      left: 0; }
    .all-products-carousel .owl-nav .owl-next,
    .other-products .owl-nav .owl-next {
      right: 0; }

.other-products .item .link-product p {
  color: #dc1e35; }

.single-products .featured-recipes-home h3,
.single .featured-recipes-home h3 {
  background-color: #fff !important; }

.ingredients-product {
  background-color: #ebe9e6;
  padding: 2rem; }
  @media (max-width: 991.98px) {
    .ingredients-product {
      padding: 0 0 2rem; } }
  .ingredients-product .title-ingredients {
    font-family: 'roboto-condensed-bold';
    font-size: 26px;
    line-height: 34px; }
    @media (max-width: 991.98px) {
      .ingredients-product .title-ingredients {
        font-size: 25px;
        line-height: 31px;
        padding: 2rem 1rem 0rem; } }
  @media (max-width: 991.98px) {
    .ingredients-product .text-ingredients {
      padding: 0 2rem; } }
  .ingredients-product .text-ingredients p {
    font-family: 'roboto-condensed-regular';
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 0; }
    @media (max-width: 991.98px) {
      .ingredients-product .text-ingredients p {
        font-size: 16px;
        letter-spacing: 0;
        line-height: 22px; } }
  .ingredients-product .btn-victoria {
    max-width: 340px;
    width: 100%; }

.cont-reviews .title,
.cont-reviews .content {
  background-color: transparent !important; }

.single-product {
  padding-bottom: 2rem; }
  .single-product .info-product {
    padding: 5rem 0 3rem; }
    @media (max-width: 991.98px) {
      .single-product .info-product {
        flex-direction: column-reverse; } }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      .single-product .info-product .col-12 {
        flex: 1 0 auto !important; } }
    .single-product .info-product .product-big-image {
      align-items: flex-start;
      display: flex;
      justify-content: flex-end;
      min-height: 460px; }
      @media (max-width: 991.98px) {
        .single-product .info-product .product-big-image {
          margin-bottom: 3rem;
          min-height: 345px; } }
      .single-product .info-product .product-big-image figure {
        align-items: flex-end;
        display: flex;
        min-height: 460px; }
        @media (max-width: 991.98px) {
          .single-product .info-product .product-big-image figure {
            min-height: 345px; } }
      .single-product .info-product .product-big-image .img-indicator {
        margin-left: 2rem;
        max-width: 120px; }

@media screen and (min-width: 992px) and (-ms-high-contrast: active), (min-width: 992px) and (-ms-high-contrast: none) {
  .single-product .info-product .product-big-image .img-indicator {
    position: absolute;
    right: 0; } }
        @media (max-width: 991.98px) {
          .single-product .info-product .product-big-image .img-indicator {
            margin-left: 1rem;
            max-width: 78px;
            position: absolute; } }
  @media screen and (max-width: 991.98px) and (-ms-high-contrast: active), (max-width: 991.98px) and (-ms-high-contrast: none) {
    .single-product .info-product .product-big-image .img-indicator {
      right: -4rem; } }
      .single-product .info-product .product-big-image .img-organic {
        top: 260px;
        max-width: 100px;
        position: absolute;
        right: 2.3rem; }

@media screen and (min-width: 992px) and (-ms-high-contrast: active), (min-width: 992px) and (-ms-high-contrast: none) {
  .single-product .info-product .product-big-image .img-organic {
    right: 0; } }
        @media (max-width: 991.98px) {
          .single-product .info-product .product-big-image .img-organic {
            max-width: 80px;
            right: 0.5rem;
            top: 180px; } }
  @media screen and (max-width: 991.98px) and (-ms-high-contrast: active), (max-width: 991.98px) and (-ms-high-contrast: none) {
    .single-product .info-product .product-big-image .img-organic {
      right: -4rem; } }
    .single-product .info-product .img-product {
      display: block; }
    .single-product .info-product h1 {
      color: #000;
      font-family: 'magica-ruby-demi';
      font-size: 44px;
      letter-spacing: 2px;
      line-height: 46px;
      text-transform: uppercase; }
      @media (max-width: 991.98px) {
        .single-product .info-product h1 {
          font-size: 41px;
          letter-spacing: 1.86px;
          line-height: 48px; } }
      .single-product .info-product h1 small {
        color: #000;
        display: block;
        font-family: 'magica-ruby-bold';
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 22px;
        width: 100%; }
        @media (max-width: 991.98px) {
          .single-product .info-product h1 small {
            font-size: 16px;
            letter-spacing: .89px;
            line-height: 20px;
            margin: 1rem 0; } }
    .single-product .info-product .code {
      color: #bfbebe;
      font-size: 16px; }
    .single-product .info-product .tags-product {
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 20px;
      margin-bottom: 15px;
      text-transform: uppercase; }
    .single-product .info-product .description {
      font-size: 18px;
      line-height: 26px;
      margin: 1rem 0; }
      @media (max-width: 991.98px) {
        .single-product .info-product .description {
          font-size: 16px;
          letter-spacing: 0;
          line-height: 22px; } }
    .single-product .info-product .sizes {
      align-items: center;
      display: flex; }
      .single-product .info-product .sizes span {
        font-family: 'magica-ruby-bold' !important;
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 22px;
        text-transform: uppercase; }
        @media (max-width: 991.98px) {
          .single-product .info-product .sizes span {
            font-size: 16px;
            letter-spacing: .89px;
            line-height: 20px; } }
      .single-product .info-product .sizes .sizes-list {
        display: flex;
        list-style: none;
        margin-bottom: 0;
        margin-left: 2rem;
        padding: 0; }
        .single-product .info-product .sizes .sizes-list li {
          align-items: center;
          display: flex;
          justify-content: center;
          padding: 7px 0;
          position: relative;
          transition: all .5s; }
          .single-product .info-product .sizes .sizes-list li:hover a {
            color: #ff112e;
            z-index: 2; }
          .single-product .info-product .sizes .sizes-list li.active a {
            color: #000; }
          .single-product .info-product .sizes .sizes-list li + li {
            margin-left: 1.5rem; }
          .single-product .info-product .sizes .sizes-list li a {
            color: #dc1e35;
            font-family: 'magica-ruby-bold';
            font-size: 16px;
            text-transform: uppercase;
            vertical-align: text-bottom; }
    .single-product .info-product .cont-cta {
      margin: 25px 0; }
      @media (max-width: 991.98px) {
        .single-product .info-product .cont-cta {
          margin: 1rem 0 2rem; } }
      @media (max-width: 1199.98px) {
        .single-product .info-product .cont-cta .btn-victoria:last-child a {
          font-size: 14px; } }
  .single-product .recipe-share span,
  .single-product .recipe-share br {
    display: none; }
  .single-product .cards-product .card {
    background-color: #d7d1cb;
    border: 0;
    border-radius: 0;
    height: 100%; }
    .single-product .cards-product .card .card-header {
      align-items: center;
      background-color: #fbdc00;
      border-bottom: 0;
      display: flex;
      justify-content: center;
      padding: 20px; }
      .single-product .cards-product .card .card-header p {
        font-family: 'roboto-condensed-bold' !important;
        font-size: 26px;
        line-height: 34px;
        margin-bottom: 0; }
    .single-product .cards-product .card .card-body {
      min-height: 280px;
      padding: 25px 45px; }
      @media (max-width: 991.98px) {
        .single-product .cards-product .card .card-body {
          padding: 25px 15px; } }
      .single-product .cards-product .card .card-body p * {
        font-size: 18px !important;
        line-height: 26px !important; }
      .single-product .cards-product .card .card-body img {
        display: block;
        margin: auto;
        max-width: 160px;
        width: 100%; }
  @media (max-width: 991.98px) {
    .single-product .btn-victoria {
      width: 100%; } }

.all-product .name-product p {
  color: #000;
  line-height: 1.5; }

.all-product .list-product {
  margin-bottom: 2rem; }

.all-product .pr-snippet-rating-decimal {
  display: none !important; }

.single .p-w-r .pr-snippet {
  text-align: left; }
  .single .p-w-r .pr-snippet .pr-snippet-stars-png {
    display: flex !important;
    flex-direction: row-reverse; }
    .single .p-w-r .pr-snippet .pr-snippet-stars-png .pr-snippet-rating-decimal {
      border: 0;
      color: #000;
      font-size: 23px;
      margin-right: 10px; }

.single .cont-reviews .p-w-r .pr-snippet .pr-snippet-stars-png {
  flex-direction: row; }

.single .ssbp-wrap .ssbp-list li {
  margin-top: 0 !important; }
  .single .ssbp-wrap .ssbp-list li > a {
    border-color: #dc1e35 !important; }
    .single .ssbp-wrap .ssbp-list li > a::before {
      color: #dc1e35 !important; }
    .single .ssbp-wrap .ssbp-list li > a:hover {
      border-color: initial !important; }
      .single .ssbp-wrap .ssbp-list li > a:hover::before {
        color: #fff !important; }

@media (max-width: 767px) {
  .banner-product {
    background-position: center; } }
