.search-page-title {
  display: flex;
  justify-content: center;
  padding-top: 40px; }
  .search-page-title h2 {
    display: flex;
    font-size: 26px;
    justify-content: center;
    margin-bottom: 20px; }

.search-result {
  padding-bottom: 110px; }
  .search-result .item-search {
    border-top: solid 1px #b4afaa;
    display: flex;
    padding: 20px 20px 10px 0; }
    .search-result .item-search img {
      height: 140px;
      margin: 0;
      -o-object-fit: contain;
         object-fit: contain;
      width: 140px; }
    .search-result .item-search article p {
      font-family: 'roboto-condensed-regular';
      font-size: 14px;
      line-height: 18px; }
    .search-result .item-search article .entry-title a {
      color: #dc1e35;
      font-family: 'roboto-condensed-bold';
      font-size: 20px;
      line-height: 24px;
      text-decoration: underline; }
      .search-result .item-search article .entry-title a:hover {
        color: #ff112e; }
  .search-result .navigation {
    font-size: 18px;
    margin: auto;
    padding-top: 26px; }
    .search-result .navigation .page-numbers {
      color: #000;
      margin: 0 3px; }
    .search-result .navigation .current,
    .search-result .navigation .prev,
    .search-result .navigation .next {
      color: #dc1e35;
      font-size: 18px; }
