// #############################
// Dinot
// #############################

@font-face {
	font-family: 'dinot-bold';
	font-style: normal;
	font-weight: bold;
	src: url('../../fonts/dinot/dinot-bold.woff2') format('woff2'), url('../../fonts/dinot/dinot-bold.woff') format('woff');
}

@font-face {
	font-family: 'dinot-regular';
	font-style: normal;
	font-weight: normal;
	src: url('../../fonts/dinot/dinot-regular.woff2') format('woff2'), url('../../fonts/dinot/dinot-regular.woff') format('woff');
}

// #############################
// Hagin Caps
// #############################

@font-face {
	font-family: 'hagin-caps-medium';
	font-style: normal;
	font-weight: bold;
	src: url('../../fonts/hagin-caps/hagin-caps-medium.woff2') format('woff2'), url('../../fonts/hagin-caps/hagin-caps-medium.woff') format('woff');
}

@font-face {
	font-family: 'hagin-caps-thin';
	font-style: normal;
	font-weight: normal;
	src: url('../../fonts/hagin-caps/hagin-caps-thin.woff2') format('woff2'), url('../../fonts/hagin-caps/hagin-caps-thin.woff') format('woff');
}

// #############################
// Roboto Condensed
// #############################

@font-face {
	font-family: 'roboto-condensed-bold';
	font-style: normal;
	font-weight: bold;
	src: url('../../fonts/roboto-condensed/roboto-condensed-bold.woff2') format('woff2'), url('../../fonts/roboto-condensed/roboto-condensed-bold.woff') format('woff');
}

@font-face {
	font-family: 'roboto-condensed-regular';
	font-style: normal;
	font-weight: normal;
	src: url('../../fonts/roboto-condensed/roboto-condensed-regular.woff2') format('woff2'), url('../../fonts/roboto-condensed/roboto-condensed-regular.woff') format('woff');
}

// #############################
// Magica Ruby
// #############################

@font-face {
	font-family: 'magica-ruby-demi';
	font-style: normal;
	font-weight: bold;
	src: url('../../fonts/magica-ruby/magica-ruby-demi.woff2') format('woff2'), url('../../fonts/magica-ruby/magica-ruby-demi.woff') format('woff');
}

@font-face {
	font-family: 'magica-ruby-regular';
	font-style: normal;
	font-weight: normal;
	src: url('../../fonts/magica-ruby/magica-ruby-regular.woff2') format('woff2'), url('../../fonts/magica-ruby/magica-ruby-regular.woff') format('woff');
}

@font-face {
	font-family: 'magica-ruby-bold';
	font-style: normal;
	font-weight: bold;
	src: url('../../fonts/magica-ruby/magica-ruby-bold.woff2') format('woff2'), url('../../fonts/magica-ruby/magica-ruby-bold.woff') format('woff');
}

// #############################
// Averia Serif Libre
// #############################

@font-face {
	font-family: 'Averia Serif Libre Italic';
	font-style: italic;
	font-weight: normal;
	src: url('../../fonts/averia-serif-libre/averia-serif-libre-italic.woff2') format('woff2'), url('../../fonts/averia-serif-libre/averia-serif-libre-italic.woff') format('woff');
}

@font-face {
	font-family: 'Averia Serif Libre Bold Italic';
	font-style: italic;
	font-weight: bold;
	src: url('../../fonts/averia-serif-libre/averia-serif-libre-bold-italic.woff2') format('woff2'), url('../../fonts/averia-serif-libre/averia-serif-libre-bold-italic.woff') format('woff');
}

@font-face {
	font-family: 'Averia Serif Libre Light Italic';
	font-style: italic;
	font-weight: 300;
	src: url('../../fonts/averia-serif-libre/averia-serif-libre-light-italic.woff2') format('woff2'), url('../../fonts/averia-serif-libre/averia-serif-libre-light-italic.woff') format('woff');
}

@font-face {
	font-family: 'Averia Serif Libre Light';
	font-style: normal;
	font-weight: 300;
	src: url('../../fonts/averia-serif-libre/averia-serif-libre-light.woff2') format('woff2'), url('../../fonts/averia-serif-libre/averia-serif-libre-light.woff') format('woff');
}

@font-face {
	font-family: 'Averia Serif Libre Regular';
	font-style: normal;
	font-weight: normal;
	src: url('../../fonts/averia-serif-libre/averia-serif-libre-regular.woff2') format('woff2'), url('../../fonts/averia-serif-libre/averia-serif-libre-regular.woff') format('woff');
}

@font-face {
	font-family: 'Averia Serif Libre Bold';
	font-style: normal;
	font-weight: bold;
	src: url('../../fonts/averia-serif-libre/averia-serif-libre-bold.woff2') format('woff2'), url('../../fonts/averia-serif-libre/averia-serif-libre-bold.woff') format('woff');
}
