// #############################
// Boostrap
// #############################

@import '../plugins/bootstrap/scss/functions';
@import '../plugins/bootstrap/scss/variables';
@import '../plugins/bootstrap/scss/mixins';


// #############################
// Colors
// #############################

// Basic -----------------------

$color-dark:			#000; // Dark
$color-light:			#fff; 	 // White
$color-main:			#dc1e35; // Red
$color-main-hover: 		#ff112e; // Red Hover
$color-secondary:		#2e1a46; // Blue
$color-reviews: 		#ffa400;
$color-gray: 			#f6f6f6; // Gray
$color-alert:   #cb4e44;
$color-error: 			#f00;
$overlay-bg:            rgba(255, 255, 255, .8);

// Complementaries -------------

$color-cards: 			#d7d1cb;
$color-cards-hover: 	#dcd3cc;
$header-cards: 			#fbdc00;


// Salsas colors -------------
$top-header-bg:	#f8f8f8;
$top-header-shadow:	#ccc;
$search-input-top-header: rgba(75, 118, 74, 0.07);
$salsas-color-main:			#4b764a; // Green
$salsas-color-secondary:		#2e1a46; // Blue

// Grayscale -------------------

$color-grayscale-1: 	#e9e2dd;
$color-grayscale-2: 	#545454;
$color-grayscale-3: 	#fafafa;
$color-grayscale-4: 	#bfbebe;
$color-grayscale-5:		#ebe9e6;
$color-grayscale-6:		#7d7d7d;
$color-grayscale-7:		#d6d6d6;
$color-grayscale-8:		#404040;
$color-grayscale-9:		#b4afaa;
$color-text-faqs:		#9a938c;

// Transparents ----------------

// Menu Mobile ----------
$menu-shadow: rgba(0, 0, 0, .2);
$menu-input-bg: rgba(77, 126, 77, .7);


// Shadows and rgba ---------------------
$header-shadow: 	0 2px 6px 0 rgba(0, 0, 0, .2);
$cards-shadow: 	4px 4px 8px 0 rgba(0, 0, 0, .5);
$white-transparent: rgba(255, 255, 255, .7);
$white-opacity: 	rgba(255, 255, 255, .8);
$color-secondary-transparent: 	rgba(46, 26, 70, .4);
$black-transparent: 	rgba(0, 0, 0, .8);
$bg-inputs: 		rgba(155, 155, 155, .2);

$black-transparent2: 	rgba(0, 0, 0, .4);
$red-transparent: 	rgba(220, 30, 53, .9);
$yellow-transparent: 	rgba(251, 220, 0, .8);
$error-transparent:				rgba(255, 0, 0, 0.14);

@mixin herd-button {
	background-color: $color-main !important;
	border-radius: 0;
	color: $color-light;
	font-family: 'proxima-nova-regular' !important;
	letter-spacing: 2pt;
	line-height: 22pt !important;
	text-transform: uppercase;

	&:hover {
		background-color: darken($color-main, 8%) !important;
		color: $color-light;
	}
}

@mixin sals-button {
	background-color: $salsas-color-secondary;
	border-radius: 50px 0;
	color: $color-light;
	font-family: 'Averia Serif Libre Bold';
	font-weight: 300;
	letter-spacing: 1px;
	padding: .5rem 3rem;
	text-transform: uppercase;
	transition: border-radius .51s;

	&:hover {
		background-color: $salsas-color-secondary;
		border-radius: 0 50px;
		color: $color-light;
	}
}

@mixin vict-button {
	background-color: $color-main;
	border-radius: 20px 0;
	height: 40px;
	max-width: 160px;
	padding: 2px;
	transition: border-radius .51s;
	width: 30%;

	.btn-sub-victoria {
		align-items: center;
		background-color: transparent !important;
		border-radius: 20px 0;
		border: 1px solid $yellow-transparent;
		color: $color-light;
		display: flex;
		font-family: 'magica-ruby-bold' !important;
		font-size: 16px;
		height: 100%;
		justify-content: center;
		letter-spacing: 1px;
		line-height: 22px;
		text-transform: uppercase;
		transition: border-radius .51s;
		width: 100%;
	}

	&:hover {
		background-color: darken($color-main, 8%);
		border-radius: 0 20px;
		color: $color-light;

		.btn-sub-victoria {
			border-radius: 0 20px;
		}
	}
}

@mixin red-texture {
	background-image: url('../../../img/la-victoria-texture.jpg');
	background-position: center;
	background-size: cover;
}

@mixin media-ie-landscape {
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)  {
		@content;
	}
}
