@import 'mixins';

.pr-star-v4 {
	&.pr-star-v4-100-filled {
		background-image: url('../../img/stars/star-100.png') !important;
	}

	&.pr-star-v4-75-filled {
		background-image: url('../../img/stars/star-75.png') !important;
	}

	&.pr-star-v4-50-filled {
		background-image: url('../../img/stars/star-50.png') !important;
	}

	&.pr-star-v4-25-filled {
		background-image: url('../../img/stars/star-25.png') !important;
	}

	&.pr-star-v4-0-filled {
		background-image: url('../../img/stars/star-0.png') !important;
	}
}

.single-products {
	.product-reviews {
		.pr-snippet {
			text-align: center;
		}

		.pr-snippet-stars {
			flex-direction: row !important;

			.pr-snippet-rating-decimal {
				border: 0;
				color: $color-main !important;
				font-size: 14px !important;
				line-height: 20px;
			}
		}
	}
}

.right-recipes {
	.p-w-r {
		.pr-snippet {
			.pr-snippet-stars-png {
				.pr-snippet-rating-decimal {
					background-color: $salsas-color-secondary;
					border: none;
					color: $color-light !important;
					font-family: 'Averia Serif Libre Regular';
					font-size: 16px !important;
					margin: 0 5px;
					padding: 0 5px !important;
				}
			}
		}
	}
}

.p-w-r {
	.pr-review-snapshot {
		background-color: transparent !important;

		[class^='pr-ratings-histogram-bar'] {
			height: 10px !important;
		}

		.pr-review-snapshot-block-histogram {
			border: 0 !important;
			min-height: 100% !important;
			width: 100% !important;

			.pr-review-snapshot-block-headline {
				display: none;
			}
		}

		.pr-ratings-histogram {
			.pr-ratings-histogram-bar {
				background-color: $color-grayscale-7;
			}
		}
	}
	.pr-rd-header {
		box-shadow: none;
	}

	.pr-snippet-stars {
		background-color: transparent;
	}

	.pr-snippet {
		&.pr-category-snippet {
			margin: 0 auto !important;
		}

		text-align: center;

		.pr-snippet-stars-png {
			align-items: center;
			background-color: transparent;
			display: flex;
			flex-direction: row;
			justify-content: center;

			.pr-snippet-rating-decimal {
				border: 0;
				color: $color-main;
				font-size: 14px;
				line-height: 20px;
			}
		}

		.pr-snippet-read-and-write {
			margin-top: 0 !important;

			a {
				color: $color-grayscale-6;
			}
		}
	}

	.pr-snippet-stars-png {
		.pr-snippet-rating-decimal {
			background: $header-cards;	
			color: $color-light !important;
			font-family: 'roboto-condensed-bold' !important;
			font-size: 14px !important;
			margin: 0 5px;
		}
	}

	.pr-category-snippet__total {
		color: $header-cards !important;
		font-family: 'roboto-condensed-bold' !important;
		font-size: 14px !important;
	}

	.pr-rating-stars {
		.pr-star-v4 {
			height: 12px !important;
			margin-right: 3px;
			width: 12px !important;

			&.pr-star-v4-100-filled {
				background-image: url('../../img/star-red-100.svg');
			}

			&.pr-star-v4-75-filled {
				background-image: url('../../img/star-red-75.svg');
			}

			&.pr-star-v4-50-filled {
				background-image: url('../../img/star-red-50.svg');
			}

			&.pr-star-v4-25-filled {
				background-image: url('../../img/star-red-25.svg');
			}

			&.pr-star-v4-0-filled {
				background-image: url('../../img/star-red-0.svg');
			}
		}
	}
}

.single {
	.cont-write-review {
		a {
			+ a {
				display: none;
			}
		}
	}

	.cont-write-review {
		@include media-breakpoint-down(md) {
			margin: 2rem auto 0;
			width: 100%;
		}

		margin: 2rem auto;
	}

	.p-w-r {
		.pr-snippet {
			&.pr-category-snippet {
				margin: 0 !important;
			}
		}

		.pr-category-snippet__total {
			color: $color-dark !important;
			font-family: 'roboto-condensed-regular' !important;
			line-height: 20px;
		}
	}

	.featured-recipes-home {
		.p-w-r {
			.pr-snippet-stars {
				.pr-rating-stars {
					padding-left: 5.5rem;
				}

				.pr-snippet-rating-decimal {
					background: transparent;
					color: $color-dark !important;
					font-family: 'roboto-condensed-bold' !important;
					font-size: 26px !important;
					left: 2rem;
					position: absolute;
					top: 2rem;
				}
			}

			.pr-ratings-histogram {
				margin-top: 0;
			}

			.pr-snippet-read-and-write {
				display: block;
				padding-left: 5.5rem;

				a {
					color: $color-dark;
					font-family: 'roboto-condensed-regular';
					font-size: 18px !important;
					line-height: 26px;
					padding: 0;
				}
			}

			.pr-review-display {
				.pr-rd-review-headline {
					font-family: 'roboto-condensed-bold';
					font-size: 20px;
					line-height: 24px;
				}

				p {
					color: $color-dark;
					font-family: 'roboto-condensed-regular';
					font-size: 14px;
					line-height: 20px;
				}
			}

			.pr-review-snapshot {
				p {
					color: $color-dark;
					font-size: 14px;
					line-height: 20px;
				}
			}

			.pr-ratings-histogram-barValue {
				background-color: $color-main !important;
			}
		}
	}
}

.cont-review-display {
	.pr-snapshot-mobile {
		display: none;
	}

	.pr-review-display {
		background-color: transparent !important;

		.pr-rd-main-header {
			box-shadow: none;
			display: none;
		}

		.pr-rd-footer {
			background-color: transparent;
		}

		article {
			&.pr-review {
				button {
					span {
						color: $color-main;
						letter-spacing: 1.2px;
						text-transform: uppercase;
					}

					.pr-caret-icon {
						display: none;
					}
				}

				.pr-rd-star-rating {
					display: none;
				}

				.pr-rd-description {
					.pr-rd-author-submission-date,
					.pr-rd-author-location {
						display: none;
					}

					.pr-rd-reviewer-details {
						.pr-rd-author-nickname {
							color: $color-dark;
							font-family: 'magica-ruby-bold';
							font-size: 18px;
							line-height: 22px;

							span {
								color: $color-dark;
							}
						}
					}
				}

				footer {
					&.pr-rd-footer {
						display: none;
					}
				}

				+ .pr-review {
					border-top: 1px solid $color-text-faqs;
					padding-top: 1rem;
				}
			}
		}
	}
}

.page-template-write-review {
	.cont-write-review {
		max-width: 100%;
		width: 100%;

		.pr-footer {
			.pr-btn-review {
				&::after {
					background-color: transparent !important;
					border: 1px solid $yellow-transparent;
					border-radius: 20px 0;
					color: $color-light;
					content: '';
					display: block;
					font-size: 14px;
					height: 90%;
					left: 2px;
					letter-spacing: 1px;
					line-height: 2.5;
					padding: 0;
					position: absolute;
					text-align: center;
					text-decoration: underline;
					top: 2px;
					width: 97%;
				}
			}
		}
	}
}

.stars-snippet {
	.pr-snippet-stars-reco-reco,
	.pr-snippet-write-review-link {
		display: none;
	}

	&.category-page {
		.p-w-r {
			margin: 0;

			.pr-snippet-write-review-link {
				color: $color-reviews;
				font-size: 12px !important;
				line-height: 20px;
			}
		}

		.pr-snippet-review-count {
			display: none;
		}

		.pr-snippet-write-review-link {
			display: block;
		}
	}
}

.btn-write-review {
	@include vict-button;
}

.cont-write-review {
	margin: 2rem 0;
	max-width: 190px;
	text-align: center;
	width: 45%;

	.p-w-r {
		.pr-war {
			max-width: 100%;
		}
	}

	.btn-write-review {
		padding: 1rem 3rem;
	}

	div {
		&[type='submit'] {
			@include vict-button;
			appearance: none;
			border: 0;
			font-family: 'hagin-caps-medium' !important;
			padding: 12px 3rem;
			position: relative;
		}
	}
}

@media (max-width: 768px) {
	.p-w-r {
		.pr-snippet {
			text-align: center;

			.pr-snippet-stars-png {
				justify-content: space-between;
			}
		}
	}
	.page-template-single-all-products, 
	.home {
		.p-w-r {
			.pr-snippet {
				.pr-snippet-stars-png {
					justify-content: center !important;
				}
			}
		}
	}
}
