@import '../mixins';

[data-status='inactive'] {
	display: none !important;
}

[data-status='active'] {
	display: block !important;
}

.banner-product {
	background-image: url('../../../img/banner-products.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 360px;
}

.text-product {
	h1 {
		color: $color-main;
		margin-bottom: 15px;
	}
}

.products-home {
	.list-product {
		figure {
			align-items: center !important;
			display: flex !important;
			justify-content: center;
			height: 220px;
			max-height: 220px !important;
			min-height: 220px !important;
		}
	}

	&.product-category {
		.items-products {
			padding-top: 0;

			.item {
				margin-bottom: 30px;
				text-align: center;
				transition: ease .3s;

				.link-product {
					color: $color-dark;
					text-decoration: none;
					transition: ease .3s;

					// &[href*='enchilada'] {
					// 	figure {
					// 		.img-product {
					// 			max-height: 130px;
					// 		}
					// 	}
					// }

					// &[href*='peppers'] {
					// 	figure {
					// 		.img-product {
					// 			max-height: 160px;
					// 		}
					// 	}
					// }

					p {
						color: $color-dark;
						font-size: 20px;

						+ p {
							font-family: 'magica-ruby-bold' !important;
							font-size: 18px;
							letter-spacing: 1px;
							line-height: 22px;
							margin-top: 0;
							text-transform: uppercase;
						}
					}

					small {
						font-family: 'roboto-condensed-bold';
						font-size: 14px;
						letter-spacing: 1px;
						line-height: 16px;
						text-transform: uppercase;
					}
				}

				&:hover {
					transform: scale(1.05);

					.link-product {
						color: $color-main;
					}
				}
			}
		}

		.description {
			p {
				font-family: 'roboto-condensed-regular' !important;
				font-size: 18px;
				line-height: 1.11;
				margin-bottom: 35px;
				margin-top: 20px;
			}
		}

		.img-review {
			margin-left: -5px;
			width: 75%;
		}

		.product-reviews {
			a {
				color: $color-main;
				display: block;
				text-decoration: underline;
			}
		}
	}
}

.all-banner {
	@include media-breakpoint-down(md) {
		padding-top: 5rem !important;
	}

	background-color: $color-grayscale-5;

	h1 {
		@include media-breakpoint-down(md) {
			font-size: 44px;
			line-height: 46px;
		}
	}
}

.all-products-carousel,
.other-products {
	padding: 30px;

	.item {
		margin-bottom: 30px;
		text-align: center;
		transition: ease .3s;

		.link-product {
			color: $color-dark;
			display: block;
			text-decoration: none;
			transition: ease .3s;

			figure {
				align-items: center;
				display: flex;
				justify-content: center;
				height: 220px;
				max-height: 220px;
				min-height: 220px;

				.img-product {
					max-height: 200px;
					object-fit: contain;
				}
			}

			// &[href*='enchilada'] {
			// 	figure {
			// 		.img-product {
			// 			max-height: 130px;
			// 		}
			// 	}
			// }

			// &[href*='peppers'] {
			// 	figure {
			// 		.img-product {
			// 			max-height: 100px;
			// 		}
			// 	}
			// }

			p {
				@include media-breakpoint-down(md) {
					font-size: 18px;
					line-height: 24px;
				}

				color: $color-dark;
				font-size: 20px;
			}

			small {
				font-family: 'roboto-condensed-bold';
				font-size: 14px;
				letter-spacing: 1px;
				line-height: 16px;
				text-transform: uppercase;
			}
		}

		&:hover {
			transform: scale(1.05);

			.link-product {
				color: $color-main;
			}
		}
	}

	.owl-nav {
		bottom: 50px;
		height: 45px;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		top: 0;
		z-index: -1;

		.owl-prev,
		.owl-next {
			position: absolute;
			width: 10px;

			&:hover {
				background: transparent;
			}

			&:focus {
				outline: none;
			}
		}

		.owl-prev {
			left: 0;
		}

		.owl-next {
			right: 0;
		}
	}
}

.other-products {
	.item {
		.link-product {
			p {
				color: $color-main;
			}
		}
	}
}

.single-products,
.single {
	.featured-recipes-home {
		h3 {
			background-color: $color-light !important;
		}
	}
}

.ingredients-product {
	@include media-breakpoint-down(md) {
		padding: 0 0 2rem;
	}

	background-color: $color-grayscale-5;
	padding: 2rem;

	.title-ingredients {
		@include media-breakpoint-down(md) {
			font-size: 25px;
			line-height: 31px;
			padding: 2rem 1rem 0rem;
		}

		font-family: 'roboto-condensed-bold';
		font-size: 26px;
		line-height: 34px;
	}

	.text-ingredients {
		@include media-breakpoint-down(md) {
			padding: 0 2rem;
		}

		p {
			@include media-breakpoint-down(md) {
				font-size: 16px;
				letter-spacing: 0;
				line-height: 22px;
			}

			font-family: 'roboto-condensed-regular';
			font-size: 18px;
			line-height: 26px;
			margin-bottom: 0;
		}
	}

	.btn-victoria {
		max-width: 340px;
		width: 100%;
	}
}

.cont-reviews {
	.title, 
	.content {
		background-color: transparent !important;
	}
}

.single-product {
	padding-bottom: 2rem;

	.info-product {
		@include media-breakpoint-down(md) {
			flex-direction: column-reverse;
		}

		padding: 5rem 0 3rem;

		.col-12 {
			@include media-ie-landscape {
				flex: 1 0 auto !important;
			}
		}

		.product-big-image {
			@include media-breakpoint-down(md) {
				margin-bottom: 3rem;
				min-height: 345px;
			}

			align-items: flex-start;
			display: flex;
			justify-content: flex-end;
			min-height: 460px;

			figure {
				@include media-breakpoint-down(md) {
					min-height: 345px;
				}

				align-items: flex-end;
				display: flex;
				min-height: 460px;
			}

			.img-indicator {
				@include media-breakpoint-up(lg) {
					@include media-ie-landscape {
						position: absolute;
						right: 0;
					}
				}

				@include media-breakpoint-down(md) {
					@include media-ie-landscape {
						right: -4rem;
					}

					margin-left: 1rem;
					max-width: 78px;
					position: absolute;
				}

				margin-left: 2rem;
				max-width: 120px;
			}

			.img-organic {
				@include media-breakpoint-up(lg) {
					@include media-ie-landscape {
						right: 0;
					}
				}

				@include media-breakpoint-down(md) {
					@include media-ie-landscape {
						right: -4rem;
					}

					max-width: 80px;
					right: 0.5rem;
					top: 180px;
				}

				top: 260px;
				max-width: 100px;
				position: absolute;
				right: 2.3rem;
			}
		}

		.img-product {
			display: block;
		}

		h1 {
			@include media-breakpoint-down(md) {
				font-size: 41px;
				letter-spacing: 1.86px;
				line-height: 48px;
			}

			color: $color-dark;
			font-family: 'magica-ruby-demi';
			font-size: 44px;
			letter-spacing: 2px;
			line-height: 46px;
			text-transform: uppercase;

			small {
				@include media-breakpoint-down(md) {
					font-size: 16px;
					letter-spacing: .89px;
					line-height: 20px;
					margin: 1rem 0;
				}

				color: $color-dark;
				display: block;
				font-family: 'magica-ruby-bold';
				font-size: 18px;
				letter-spacing: 1px;
				line-height: 22px;
				width: 100%;
			}
		}

		.code {
			color: $color-grayscale-4;
			font-size: 16px;
		}

		.tags-product {
			font-size: 14px;
			letter-spacing: 1px;
			line-height: 20px;
			margin-bottom: 15px;
			text-transform: uppercase;
		}

		.description {
			@include media-breakpoint-down(md) {
				font-size: 16px;
				letter-spacing: 0;
				line-height: 22px;
			}

			font-size: 18px;
			line-height: 26px;
			margin: 1rem 0;
		}

		.sizes {
			align-items: center;
			display: flex;

			span {
				@include media-breakpoint-down(md) {
					font-size: 16px;
					letter-spacing: .89px;
					line-height: 20px;
				}

				font-family: 'magica-ruby-bold' !important;
				font-size: 18px;
				letter-spacing: 1px;
				line-height: 22px;
				text-transform: uppercase;
			}

			.sizes-list {
				display: flex;
				list-style: none;
				margin-bottom: 0;
				margin-left: 2rem;
				padding: 0;

				li {
					align-items: center;
					display: flex;
					justify-content: center;
					padding: 7px 0;
					position: relative;
					transition: all .5s;

					&:hover {
						a {
							color: $color-main-hover;
							z-index: 2;
						}

					}

					&.active {
						a {
							color: $color-dark;
						}
					}

					+ li {
						margin-left: 1.5rem;
					}

					a {
						color: $color-main;
						font-family: 'magica-ruby-bold';
						font-size: 16px;
						text-transform: uppercase;
						vertical-align: text-bottom;
					}
				}
			}
		}

		.cont-cta {
			@include media-breakpoint-down(md) {
				margin: 1rem 0 2rem;
			}

			margin: 25px 0;

			.btn-victoria {
				&:last-child {
					a {
						@include media-breakpoint-down(lg) {
							font-size: 14px;
						}
					}
				}
			}
		}
	}

	.recipe-share {
		span,
		br {
			display: none;
		}
	}

	.cards-product {
		.card {
			background-color: $color-cards;
			border: 0;
			border-radius: 0;
			height: 100%;

			.card-header {
				align-items: center;
				background-color: $header-cards;
				border-bottom: 0;
				display: flex;
				justify-content: center;
				padding: 20px;

				p {
					font-family: 'roboto-condensed-bold' !important;
					font-size: 26px;
					line-height: 34px;
					margin-bottom: 0;
				}
			}

			.card-body {
				@include media-breakpoint-down(md) {
					padding: 25px 15px;
				}

				min-height: 280px;
				padding: 25px 45px;

				p {
					* {
						font-size: 18px !important;
						line-height: 26px !important;
					}
				}

				img {
					display: block;
					margin: auto;
					max-width: 160px;
					width: 100%;
				}
			}
		}
	}

	.btn-victoria {
		@include media-breakpoint-down(md) {
			width: 100%;
		}
	}
}

.all-product {
	.name-product {
		p {
			color: $color-dark;
			line-height: 1.5;
		}
	}

	.list-product {
		margin-bottom: 2rem;
	}

	.pr-snippet-rating-decimal {
		display: none !important;
	}
}

.single {
	.p-w-r {
		.pr-snippet {
			text-align: left;

			.pr-snippet-stars-png {
				display: flex !important;
				flex-direction: row-reverse;

				.pr-snippet-rating-decimal {
					border: 0;
					color: $color-dark;
					font-size: 23px;
					margin-right: 10px;
				}
			}
		}
	}

	.cont-reviews {
		.p-w-r {
			.pr-snippet {
				.pr-snippet-stars-png {
					flex-direction: row;
				}
			}
		}
	}

	.ssbp-wrap {
		.ssbp-list {
			li {
				margin-top: 0 !important;

				> a {
					border-color: $color-main !important;

					&::before {
						color: $color-main !important;
					}

					&:hover {
						border-color: initial !important;

						&::before {
							color: $color-light !important;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.banner-product {
		background-position: center;
	}
}

