@import '../mixins';

.banner-home {
	.item {
		.img-banner {
			height: 500px;
			object-fit: cover;

			@include media-breakpoint-down(md) {
				height: 400px;
			}

			@include media-breakpoint-down(xs) {
				height: 250px;
			}
		}
	}

	.owl-nav {

		.owl-prev,
		.owl-next {
			position: absolute;
			top: 40%;
		}

		.owl-next {
			right: 1rem;
		}

		.owl-prev {
			left: 1rem;
		}
	}

	.owl-dots {
		bottom: 0;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		width: 100px;
	}

	.slide-description {

		@include media-breakpoint-down(sm) {
			margin: -5rem auto 0;
			max-width: 90%;
		}

		@include red-texture;
		background-color: $color-main;
		color: $color-light;
		margin: -5rem auto 0;
		max-width: 63.9%;
		padding: 2.63rem 1.7rem;
		position: relative;
		text-align: center;

		h4 {
			@include media-breakpoint-down(sm) {
				font-size: 24px;
				line-height: 29px;
			}

			font-family: 'roboto-condensed-bold';
			font-size: 27px;
			line-height: 34px;
		}

		p {
			@include media-breakpoint-down(sm) {
				font-size: 16px;
				line-height: 17px;
			}

			font-family: 'roboto-condensed-regular';
			font-size: 18px;
			line-height: 22px;
			margin-bottom: 0;
		}
	}

	.btn-banner {
		background-color: $color-light;
		color: $color-main;
		font-family: 'magica-ruby-bold';
		text-decoration: underline;
	}
}

.text-under-banner {
	background-image: url('../../../img/text-under-banner.jpg');
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;

	&.text-product {
		background-image: none;

		h1 {
			@include media-breakpoint-down(sm) {
				font-size: 41px;
				min-width: 100%;
			}

			@include red-texture;
			background-color: $color-main;
			color: $color-light;
			display: inline-block;
			font-family: 'magica-ruby-demi';
			font-size: 44px;
			letter-spacing: 2px;
			line-height: 46px;
			margin-top: -4rem;
			min-width: 458px;
			padding: 1.7rem 2rem;
			text-align: center;
			text-transform: uppercase;
			width: auto;
		}

		p {
			@include media-breakpoint-down(sm) {
				font-size: 18px;
				line-height: 24px;
			}

			font-family: 'roboto-condensed-bold' !important;
			font-size: 24px;
			line-height: 30px;
			text-align: center;
		}
	}
}

.products-home {
	@include media-breakpoint-down(xs) {
		padding-bottom: 0;
	}

	padding: 40px 0;

	.items-products {
		padding-top: 40px;

		.item {
			@include media-breakpoint-down(xs) {
				margin-bottom: 4rem;
			}

			margin-bottom: 3rem;
			transition: ease .3s;

			.link-product {
				color: $color-dark;
				text-decoration: none;
				transition: ease .3s;

				figure {
					display: block;
					margin: 0 auto;
					max-width: 250px;

					.img-product {
						//max-height: 160px;
					}
				}

				// &[href*='enchilada'] {
				// 	figure {
				// 		max-height: 130px;
				// 		min-height: 130px;

				// 		img {
				// 			max-height: 130px;
				// 		}
				// 	}
				// }

				// &[href*='peppers'] {
				// 	figure {
				// 		max-height: 100px;
				// 		min-height: 100px;

				// 		img {
				// 			max-height: 100px;
				// 		}
				// 	}
				// }
			}

			&:hover {
				transform: scale(1.05);

				.link-product {
					color: $color-main;
				}
			}
		}

		&.page-products {
			.item {
				.link-product {
					display: block;
					text-align: center;

					&.product-img {

						figure {
							max-height: initial;
							min-height: auto;
							text-align: center;

							.img-product {
								max-height: 220px;
							}
						}

						p {
							color: $color-dark;
						}

						small {
							font-family: 'roboto-condensed-bold';
							font-size: 14px;
							letter-spacing: 1px;
							line-height: 16px;
							text-transform: uppercase;
						}
					}

					// &[href*='enchilada'],
					// &[href*='peppers'] {
					// 	figure {
					// 		align-items: center;
					// 		display: flex;
					// 		justify-content: center;
					// 		height: 220px;
					// 		max-height: 220px;
					// 		min-height: 220px;
					// 	}
					// }

					// &[href*='enchilada'] {
					// 	figure {
					// 		.img-product {
					// 			max-height: 160px;
					// 		}
					// 	}
					// }

					// &[href*='peppers'] {
					// 	figure {
					// 		.img-product {
					// 			max-height: 130px;
					// 		}
					// 	}
					// }
				}
			}
		}
	}

	&.product-category {
		.item {
			.link-product {
				display: block;
				text-align: center;

				&.product-img {

					figure {
						max-height: initial;
						min-height: auto;
						text-align: center;

						.img-product {
							max-height: 220px;
						}
					}

					p {
						color: $color-dark;
					}

					small {
						font-family: 'roboto-condensed-bold';
						font-size: 14px;
						letter-spacing: 1px;
						line-height: 16px;
						text-transform: uppercase;
					}
				}

				// &[href*='enchilada'],
				// &[href*='peppers'] {
				// 	figure {
				// 		align-items: center;
				// 		display: flex;
				// 		justify-content: center;
				// 		height: 220px;
				// 		max-height: 220px;
				// 		min-height: 220px;
				// 	}
				// }

				// &[href*='enchilada'] {
				// 	figure {
				// 		.img-product {
				// 			max-height: 160px;
				// 		}
				// 	}
				// }

				// &[href*='peppers'] {
				// 	figure {
				// 		.img-product {
				// 			max-height: 130px;
				// 		}
				// 	}
				// }
			}
		}
	}
}

.featured-recipes-home {
	padding-top: 0;

	.title {
		background-color: $color-grayscale-5;
		position: relative;
		z-index: -2;
	}

	.content {
		background-color: $color-grayscale-5;
		padding-bottom: 50px;
	}

	h3 {
		background-color: $color-grayscale-5 !important;
	}

	.recipes {
		@include media-breakpoint-down(md) {
			height: auto;
		}

		padding-top: 2rem;

		.item {
			height: 48%;
			margin-bottom: 20px;
		}

		.recipes-item {
			@include media-breakpoint-down(md) {
				margin-bottom: 20px;
			}

			cursor: pointer;
			overflow: hidden;
			position: relative;
			transition: all ease .3s;

			figure {
				margin-bottom: 0;

				img {
					@include media-breakpoint-down(md) {
						height: 227px;
					}

					height: 206px;
					object-fit: cover;
					object-position: top;
					transition: all ease .3s;
					width: 100vw;
				}
			}

			.info {
				background-image: url('../../../img/bg-texture.jpg');
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				color: $color-light;
				display: flex;
				flex-direction: column;
				font-family: 'magica-ruby-bold';
				font-size: 18px;
				font-weight: inherit;
				height: 160px;
				justify-content: center;
				margin: 0;
				padding: 1rem 1rem .5rem;
				position: relative;
				text-align: center;
				z-index: 1;

				p {
					color: $color-light;
					font-family: 'magica-ruby-bold' !important;
					font-size: 18px;
					letter-spacing: 1px;
					line-height: 22px;
					margin: 0;
					text-transform: uppercase;
				}

				a {
					color: $color-main;
					font-size: 16px;
					letter-spacing: 1px;
					line-height: 22px;
					text-transform: uppercase;
				}

				.stars-snippet {
					margin: .5rem 0;
				}
			}

			&:hover {
				img {
					transform: scale(1.05);
				}
			}
		}
	}
}

.news {
	@include media-breakpoint-down(sm) {
		padding-top: 20px;
	}

	padding: 35px 0 60px !important;

	.post-news {
		margin-top: 2rem;

		.news-item {
			&.left {
				@include media-breakpoint-down(md) {
					margin-left: 0;
					min-height: 321px;
				}

				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				margin-left: 4.375rem;
				min-height: 595px;
			}

			&.right {
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				min-height: 288px;
				position: relative;

				&:first-child {
					margin-bottom: 1rem;
				}

				&::before {
					background-color: $yellow-transparent;
				}

				.info {
					z-index: 2;
				}
			}

			a {
				display: block;
			}

			&::before {
				align-items: center;
				background-color: transparent;
				bottom: 0;
				color: $color-light;
				content: '';
				display: flex;
				justify-content: center;
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
				transition: ease .3s;
				z-index: 1;
			}
		}

		.owl-carousel {
			.owl-nav {
				display: flex;
				justify-content: space-between;
				position: absolute;
				top: 35%;
				width: 100%;

				button {
					&:hover,
					&:focus {
						background-color: transparent;
					}
				}
			}
		}

		.info {

			h4 {
				font-family: 'magica-ruby-bold';
				font-size: 18px;
				letter-spacing: 1px;
				line-height: 22px;
				text-transform: uppercase;
			}

			.description {
				* {
					@include media-breakpoint-down(sm) {
						font-size: 14px;
						line-height: 20px;
					}

					font-size: 18px;
					line-height: 22px;
				}
			}

			.link {
				font-family: 'magica-ruby-bold';
				font-size: 16px;
				letter-spacing: 1px;
				line-height: 22px;
				text-decoration: underline;
				text-transform: uppercase;
			}

			&.yellow {
				bottom: 17%;
				left: 0;
				padding: 0 2rem;
				position: absolute;
				right: 0;
				transition: ease .3s;

				* {
					color: $color-dark;
				}
			}

			&.red {
				@include media-breakpoint-down(xs) {
					bottom: 0;
					left: 0;
					padding: 1rem;
				}

				.description {
					@include media-breakpoint-down(sm) {
						margin: 0.5rem 0;
					}
				}

				background-color: $red-transparent;
				bottom: 10%;
				color: $color-light;
				left: 15px;
				max-width: 460px;
				padding: 2rem 1.5rem;
				position: absolute;
				z-index: 2;

				* {
					color: $color-light;
				}
			}
		}
	}
}
