@import '../mixins';

.faq-page {
	padding-top: 4rem;

	h1 {
		font-family: 'magica-ruby-bold';
		font-size: 44px;
		line-height: 46px;
		margin-bottom: 2rem;
		text-align: center;
	}

	.cont-tabs {
		background-color: $color-grayscale-5;
		margin-top: 5rem;
		padding-bottom: 5rem;
	}

	.tabs-faq {
		.nav-pills {
			margin-bottom: 60px;
			margin-top: -3.9rem;

			.nav-item {
				margin-bottom: 10px;
				text-align: center;

				a {
					background-color: $color-cards;
					border-radius: 24px 24px 0 0;
					color: $color-dark;
					font-size: 22px;
					padding: 18px;
				}

				.active {
					background-color: $color-grayscale-5 !important;
				}
			}
		}
	}

	.tab-content {
		font-family: 'roboto-condensed-regular';

		h4 {
			color: $color-dark;
			font-size: 20px;
			margin: 20px 0;
			text-transform: uppercase;
		}

		p {
			font-size: 16px;
		}
	}

	.announcer-bar {
		background-color: $header-cards;

		.btn-victoria {
			min-width: 160px;
		}
	}

	.contact-faq {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 1.35rem 0;

		p {
			font-size: 22px;
			margin-bottom: 0;
		}

		.btn-primary {
			background-color: $color-main;
			border: 0;
			border-radius: 0;
			color: $color-light;
			font-family: 'proxima-nova-regular';
			font-size: 16px;
			letter-spacing: 2pt;
			line-height: 22pt;
			padding: 14px;
			text-transform: uppercase;

			&:hover {
				background-color: $color-main-hover;
			}
	    }
	}
}

