@import '../mixins';

.contact-page {
	.bg-main {
		@include media-breakpoint-down(md) {
			margin-top: 4rem;
		}

		@include red-texture;
		background-color: $color-main;
		color: $color-light;

		a {
			color: $color-light;
		}
	}

	.text {
		margin-bottom: 50px;
	}

	h1 {
		@include media-breakpoint-down(md) {
			font-size: 41px;
			letter-spacing: 1.86px;
			line-height: 48px;
			margin: 0.5rem 0 1rem;
		}

		color: $color-light;
		font-family: 'magica-ruby-demi';
		font-size: 44px;
		letter-spacing: 2px;
		line-height: 46px;
		margin-bottom: 40px;
		margin-top: 40px;
		text-transform: uppercase;
	}

	h2 {
		@include media-breakpoint-down(md) {
			font-size: 25px;
			line-height: 31px;
			margin-top: 0;
		}

		color: $color-dark;
		font-family: 'roboto-condensed-bold';
		font-size: 26px;
		line-height: 36px;
		margin-bottom: 10px;
		margin-top: 40px;
		text-align: center;
	}

	p {
		@include media-breakpoint-down(md) {
			font-size: 18px;
			letter-spacing: 0;
			line-height: 24px;
		}

		font-size: 24px;
		line-height: 1.5;

		b,
		strong {
			font-family: 'roboto-condensed-bold';
		}
	}

	.form-contact {
		margin-bottom: 7rem;
		margin-top: 30px;

		textarea {
			@include media-breakpoint-down(md) {
				font-size: 16px;
			}

			background-color: $color-grayscale-5;
		}

		input {
			&[type='text'],
			&[type='number'],
			&[type='email'] {
				@include media-breakpoint-down(md) {
					font-size: 16px;
					height: 50px;
				}

				background-color: $color-grayscale-5;
			}
		}

		form {
			p {
				background-color: $color-main;
				border-radius: 20px 0;
				height: 43px;
				margin-top: 25px;
				padding: 2px;
				transition: border-radius .51s;
				width: 160px;

				input {
					&[type='submit'] {
						background-color: transparent !important;
						border-radius: 20px 0;
						border: 1px solid $yellow-transparent;
						font-family: 'magica-ruby-bold' !important;
						font-size: 16px;
						height: 100%;
						letter-spacing: 1px;
						padding: 0;
						text-transform: uppercase;
						transition: border-radius .51s;
						width: 100%;
					}
				}

				&:hover {
					background-color: darken($color-main, 8%);
					border-radius: 0 20px;
					color: $color-light;

					input {
						&[type='submit'] {
							border-radius: 0 20px;
						}
					}
				}
			}

			span {
				&.wpcf7-list-item-label {
					font-size: 18px;
				}
			}
		}

		.form-control {
			border-radius: 1px;

			&::placeholder {
				color: $color-dark;
			}
		}

		br {
			display: none;
		}

		span {
			&.wpcf7-list-item {
				margin-left: 0;
			}

			&.wpcf7-form-control-wrap {
				@include media-breakpoint-down(md) {
					margin-bottom: 10px;

					.wpcf7-acceptance {
						span {
							margin: 0;
						}

						label {
							font-size: 18px;
							line-height: 26px;
						}
					}
				}

				display: block;
				margin-bottom: 20px;
			}
		}
	}

	.check {
		border: 0 !important;
		padding: 0 !important;

		.wpcf7-list-item {
			display: block;
			margin-left: 0;

			.wpcf7-list-item-label {
				color: $color-dark;
				font-size: 16px;
				margin-left: 10px;
			}
		}
	}

	.question {
		height: 101px;
	}
}

@media (min-width: 1200px) {
	.page-template-page-contact {
		.container {
			max-width: 1140px;
		}
	}
}
