@import '../mixins';

.search-page-title {
	display: flex;
	justify-content: center;
	padding-top: 40px;

	h2 {
		display: flex;
		font-size: 26px;
		justify-content: center;
		margin-bottom: 20px;
	}
}

.search-result {
	padding-bottom: 110px;

	.item-search {
		border-top: solid 1px $color-grayscale-9;
		display: flex;
		padding: 20px 20px 10px 0;

		img {
			height: 140px;
			margin: 0;
			object-fit: contain;
			width: 140px;
		}

		article {
			p {
				font-family: 'roboto-condensed-regular';
				font-size: 14px;
				line-height: 18px;
			}

			.entry-title {
				a {
					color: $color-main;
					font-family: 'roboto-condensed-bold';
					font-size: 20px;
					line-height: 24px;
					text-decoration: underline;

					&:hover {
						color: $color-main-hover;
					}
				}
			}
		}
	}

	.navigation {
		font-size: 18px;
		margin: auto;
		padding-top: 26px;

		.page-numbers {
			color: $color-dark;
			margin: 0 3px;
		}

		.current,
		.prev,
		.next {
			color: $color-main;
			font-size: 18px;
		}
	}
}
