@import '../mixins';

// Brand page

.cont-all-brands {
	margin-top: 4rem;

	h1 {
		@include media-breakpoint-down(md) {
			font-size: 35px;
			letter-spacing: 0;
			line-height: 46px;
		}

		color: $color-main;
		font-size: 42px;
	}

	.item {
		+ .item {
			@include media-breakpoint-down(md) {
				margin-top: 40px;
			}
		}

		a {
			@include media-breakpoint-down(md) {
				width: 214px;
				margin: 0 auto;
			}
		}
	}

	p {
		@include media-breakpoint-down(md) {
			font-size: 18px;
			line-height: 23px;
		}

		font-size: 20px;
		line-height: 24px;
	}
}

.brand-desc {
	font-size: 16px;
	line-height: 1.5em;
}

.page-brand-gallery {
	ul {
		.isotope-item {
			width: 20%;
		}
	}
}

.page-template-brand,
.error404 {
	.site-content {
		padding-bottom: 0 !important;
	}

	.popular-group-recipes {
		background-color: $color-grayscale-1;
		margin-top: 3rem;
		padding-bottom: 3rem;
	}

	.brand {
		color: $color-secondary;
		font-size: 12px;
		letter-spacing: 1.2px;
		text-transform: uppercase;
	}
}


@media (min-width: 1000px) {
	.cont-all-brands {
		.item {
			a {
				margin: 0 auto;
				max-width: 80%;
			}
		}
	}
}
