@import '../mixins';

.contact-page {
	.left-column {
		@include media-breakpoint-down(md) {
			padding-bottom: 3rem;
		}

		background-color: $color-main;
		color: $color-light;
		padding-top: 4rem;

		a {
			color: $color-light;
		}

		h1 {
			@include media-breakpoint-down(md) {
				font-size: 35px;
			}

			color: $color-light;
			font-size: 42px;
			line-height: 46px;
			margin-bottom: 3rem;
			text-transform: capitalize;
		}

		h3 {
			color: $color-light;
			font-size: 18px;
			letter-spacing: 1px;
			text-transform: uppercase;
		}

		p {
			color: $color-light;
			margin-bottom: 3rem;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.right-column {
		input,
		textarea {
			&:not([type='submit']) {
				background-color: $bg-inputs;
				border-radius: 1px;
				font-size: 16px;
				line-height: 1.5;
				margin-bottom: 10px !important;
				min-height: 50px;
			}

			&[type='checkbox'] {
				min-height: 0;
			}

			&[type='submit'] {
				@include sals-button;
				border: 0;
				border-radius: 30px 0;
				min-height: 50px;
			}
		}

		h3 {
			@include media-breakpoint-down(md) {
				font-size: 25px;
				line-height: 31px;
				margin: 0;
				text-align: center;
			}

			color: $color-main;
			font-size: 24px;
			font-weight: bold;
			line-height: 1;
			margin-left: 15px;
		}

		span {
			&[class*='acceptance'] {
				&:first-child {
					color: $color-secondary;
					display: block;
					font-size: 16px;
					margin: .8rem 0 !important;

					.wpcf7-list-item {
						margin-left: 0;
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.contact-page {
		flex-direction: column-reverse;
		margin-bottom: 3rem;
	}
}
@media (min-width: 1024px) {
	.contact-page {
		.right-column {
			padding: 4rem 1rem;
		}
	}
}
