@import '../mixins';

.cont-coupons-filter {
	align-items: center;
	display: flex;
	justify-content: center;

	.coupon-brand {
		max-width: 10%;
		width: 100%;
	}
}

.cont-coupons {
	h2 {
		@include media-breakpoint-down(md) {
			font-size: 35px;
			line-height: 46px;
		}
	}
}

.cont-print-coupons {
	display: none;
}

.print-coupons-minicart {
	a {
		@include sals-button;
		padding: 1.05rem 3rem !important;

		&:first-child {
			border-bottom-right-radius: 0;
			border-top-right-radius: 0;
		}

		&:nth-child(2) {
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
		}

		&.print-coupons {
			i {
				margin-right: .5rem;
			}
		}

		span {
			color: $color-light;
			font-size: 18px;
			letter-spacing: normal;
			line-height: 22px;
			text-transform: none;
		}
	}
}

.btn-clip-coupon {
	align-items: center;
	background-color: $color-light;
	border-radius: 0;
	bottom: 0;
	color: $color-dark;
	display: flex;
	height: 50px;
	justify-content: center;
	left: 0;
	margin: auto;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
}

.coupon-item {
	&[class*='vc_gitem-zone-mini'] {
		height: 100%;
		margin: auto !important;
		position: absolute !important;
	}

	&:hover {

		.btn-clip-coupon {
			opacity: 1;
		}
	}
}

.cont-recipes-coupons {

	.owl-stage {
		display: flex;
		justify-content: space-around;
		padding: 0 !important;

		.owl-item {
			width: calc(100% / 4) !important;

			.wp-posts-carousel-container {
				border: 0;

				.slider-post-image {
					height: 270px;

					img {
						display: none;
					}

					span {
						background-position: center;
						background-repeat: no-repeat;
						background-size: cover;
						display: block;
						height: 100%;
						width: 100%;
					}
				}
			}

			.wp-posts-carousel-details {
				.wp-posts-carousel-title {
					font-size: 16px;
					text-align: left;

					a {
						color: $color-dark;
					}
				}
			}
		}
	}

	.cont-extra-recipes {
		.btn-clip-coupon {
			display: none;
		}

		h4 {
			font-size: 20px;
		}

		p {
			display: none;
		}
	}
}

@media (max-width: 767px) {
	.cont-brands-mobile {
		overflow: scroll;
	}

	.print-coupons-minicart {
		text-align: center;

		a {
			font-size: 14px;
		}
	}

	.cont-coupons-filter {
		flex-direction: column;
		list-style: none;
		padding: 0;

		li {
			&:first-child {
				display: none;
			}
		}

		.coupon-brand {
			margin-bottom: 2rem;
			max-width: 100%;
		}
	}
}

@media print {
	h2,
	select,
	.cont-coupons-filter,
	.cont-recipes-coupons,
	.coupon-item {
		display: none;
	}

	&[class*='vc_grid-container-wrapper'] {
		&[class*='vc_clearfix'] {
			display: none;
		}
	}

	.cont-print-coupons {
		display: block !important;
		text-align: center;

		.coupon-printed {
			page-break-after: always;
		}
	}
}
