@import '../mixins';

.mar-top-3r {
	margin-top: 3rem;
}

.page-template-home {
	.brand {
		color: $color-secondary;
		font-size: 12px;
		letter-spacing: 1.2px;
		text-transform: uppercase;
	}
}

// Post review slider 
.popular-recipes-container {
	.popular-recipes-carousel {
		.item {
			.carousel-image {
				@include media-breakpoint-down(sm) {
					max-height: 170px;
					min-height: 170px;
				}

				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				max-height: 360px;
				min-height: 360px;

				img {
					display: none;
				}
			}

			.information {
				display: flex;
				justify-content: space-between;
			}

			.title {
				h3 {
					@include media-breakpoint-down(sm) {
						font-size: 20px;
						letter-spacing: 0;
						line-height: 25px;
					}

					color: $color-main;
					font-size: 24px;
					margin: 0;
					text-align: left;
					text-transform: capitalize;
				}
			}

			.right {
				a {
					align-items: center;
					background-color: $color-secondary;
					border-radius: 30px 0;
					color: $color-light;
					display: flex;
					font-weight: bold;
					height: 50px;
					justify-content: center;
					line-height: 1.2;
					transition: border-radius .51s;
					width: 160px;

					&:hover {
						border-radius: 0 30px;
					}
				}
			}

			.description {
				color: $color-secondary;
				font-size: 16px;
				margin-bottom: 0;
				padding: 2% 0;
			}
		}

		.owl-nav {
			align-items: center;
			display: flex;
			height: 360px;
			left: 0;
			margin: auto;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			z-index: 2;

			button {
				color: $color-secondary;
				position: absolute;

				&:hover {
					background-color: transparent;
					color: inherit;
				}

				&:focus {
					box-shadow: none;
					outline: none;
				}

				span {
					font-size: 60px;
				}

				&.owl-prev {
					@include media-breakpoint-up(md) {
						left: 16rem;
					}

					left: 2rem;
				}

				&.owl-next {
					@include media-breakpoint-up(md) {
						right: 16rem;
					}

					right: 2rem;
				}
			}
		}
	}

	.owl-carousel {
		.owl-item {
			&::before {
				background-color: $white-transparent;
				bottom: 0;
				content: '';
				display: block;
				height: 100%;
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
				width: 100%;
				z-index: 2;

			}

			&.center {
				&::before {
					display: none;
				}
			}
		}
	}
}

.popular-group-recipes {
	@include media-breakpoint-down(sm) {
		padding-bottom: 0;
		padding-top: 4rem;
	}

	padding: 3rem 0 5rem;

	h2 {
		@include media-breakpoint-down(sm) {
			line-height: 32px;
		}

		margin-bottom: 3rem;
		text-align: center;
	}

	.item {
		a {
			transition: ease .3s;

			&:hover {
				text-decoration: none;
				transform: scale(1.05);
			}
		}

		.recipe-name {
			@include media-breakpoint-down(sm) {
				font-size: 18px;
				letter-spacing: 0;
				line-height: 19px;
			}

			color: $color-main;
			font-family: 'Averia Serif Libre Bold';
			font-size: 16px;
			margin: 0;
			text-align: left;
			text-transform: capitalize;
		}

		.recipe-image {
			@include media-breakpoint-down(sm) {
				height: 158px !important;
			}

			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			height: 255px;
			margin-bottom: .5rem;
			width: 255px;
		}
	}
}

.cont-brands {
	@include media-breakpoint-up(md) {
		background-color: $color-gray;
	}

	padding: 3rem 0;

	.item {
		+ .item {
			@include media-breakpoint-down(sm) {
				margin-top: 2rem;
			}
		}

		a {
			@include media-breakpoint-down(sm) {
				width: 214px;
				margin: 0 auto;
			}

			@include media-ie-landscape {
				display: block !important;
				height: auto;
				vertical-align: middle;
			}

			align-items: center;
			display: flex !important;
			height: 160px;
		}
	}

	h2 {
		margin-bottom: 4rem;
	}
}

// Our brands
.brands {
	ul {
		display: flex;
		justify-content: center;

		.isotope-item {
			left: unset !important;
			margin: 0 15px !important;
			position: inherit !important;
		}
	}
}

@media (max-width: 767px) {
	.popular-recipes-container {
		.popular-recipes-carousel {
			padding: 0 1rem;
		}
	}

	.sub-header-filter {
		a {
			color: $color-light;

			&:hover,
			&:focus {
				text-decoration: none;
			}
		}

		.cont-categories-filters {
			h2 {
				&::after {
					content: '\f105';
					display: inline-block;
					font-family: 'FontAwesome';
					font-size: 20px;
					margin-left: 2rem;
				}
			}
		}

		h2 {
			font-size: 28px !important;
			letter-spacing: 0;
			line-height: 46px;
		}
	}
}

@media (max-width: 890px) {
	.popular-recipes-container {
		.popular-recipes-carousel {
			.item {
				.information {
					flex-direction: column;

					.left {
						margin-bottom: 1rem;
					}

					.right {
						margin: 0 auto;

						a {
							font-family: 'Averia Serif Libre Bold';
							font-size: 18px;
							line-height: 22px;
						}
					}
				}

				.description {
					margin-top: 1rem;
					padding: 0;
				}
			}

			.owl-nav {
				top: 0;
			    align-items: center;
			    display: flex;
			    height: 360px;
			    @include media-breakpoint-down(sm) {
					height: 170px;
					left: 9px;
					right: 9px;
				}


				button {
					color: $color-light;

					&.owl-prev {
						left: 0 !important;
					}

					&.owl-next {
						right: 0 !important;
					}
				}
			}
		}
	}

	.popular-group-recipes {
		.item {
			margin-bottom: 2rem;

			.recipe-image {
				height: 300px;
				width: 100%;
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.popular-recipes-container {
		.popular-recipes-carousel {
			.item {
				.information {
					.left {
						padding-left: 1rem;
					}

					.right {
						padding-right: 1rem;
					}
				}
			}
		}
	}
}
