@import '../mixins';

// Category Page 
.category-post-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 255px;
	margin: 0 auto .5rem;
	width: 255px;

	img {
		display: none;
	}
}

.row-ie {
	@include media-breakpoint-down(lg) {
		display: inline !important;
		min-width: 50%;
	}
}

.ssbp-wrap {
	.ssbp-list {
		li {
			margin-top: 0 !important;

			> a {
				border-color: $color-main !important;

				&::before {
					color: $color-main !important;
				}

				&:hover {
					border-color: initial !important;

					&::before {
						color: $color-light !important;
					}
				}
			}
		}
	}
}

.single-post,
[class*='page-recipe'] {
	.navigation,
	.comments-area {
		display: none;
	}
}

.brand-desc {
	margin-top: 3rem;

	h1 {
		font-size: 3.5rem;
	}
}

.brand {
	color: $color-secondary;
	font-family: 'Averia Serif Libre Bold';
	font-size: 12px;
	letter-spacing: 1.2px;
	text-transform: uppercase;
}

.page-brand-gallery {
	ul {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		height: 100% !important;
		justify-content: space-evenly;

		.isotope-item {
			float: none !important;
			left: initial !important;
			position: inherit !important;
			top: initial !important;
			width: 25%;

			img {
				margin: 0 auto;
				width: 70%;
			}
		}
	}
}

.sub-header-filter {
	.cont-recipe-video {
		bottom: -5px;
		position: absolute;
		right: 0;

		video,
		iframe {
			height: 130px;
			max-width: 225px;
			min-height: 130px;
			width: 100%;
		}

		.button-play {
			background-image: url('../../../img/button-play-button.png');
			background-position: center;
			background-repeat: no-repeat;
			background-size: 60px 60px;
			bottom: 0;
			height: 100%;
			left: 0;
			margin: auto;
			position: absolute;
			right: 0;
			top: 0;
			width: 100%;
		}
	}
}

.cont-popup-recipe-video {
	iframe {
		height: 500px;
		width: 100%;
	}
}

.single-post,
[class*='page-recipe'] {
	.brand-logo {
		@include media-breakpoint-down(md) {
			background-size: contain;
			margin: 0 0 2rem;
		}

		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		height: 85px;
		margin: 0;
	}

	.btn-main,
	.btn-salsas {
		@include media-breakpoint-down(md) {
			margin-bottom: 2rem;
			max-width: 100%;
			padding: 1rem 3.5rem !important;
			width: 100%;
		}

		background-color: $color-main !important;
		border-radius: 30px 0;
		color: $color-light;
		font-family: 'Averia Serif Libre Bold' !important;
		font-size: 18px;
		letter-spacing: 0 !important;
		line-height: 22px !important;
		padding: 0.15rem 3.5rem;
		text-transform: inherit;
		transition: border-radius .51s;

		&:hover {
			background-color: darken($color-main, 8%);
			border-radius: 0 30px;
			color: $color-light;
		}

		br {
			@include media-breakpoint-down(md) {
				display: none;
			}
		}
	}

	.recipe-share {
		.date {
			@include media-breakpoint-down(md) {
				margin: 2rem 0;
				text-align: center;
			}

			color: $color-secondary;
			margin: 0;
		}
	}
}

section {
	&[data-post='category-recipe'] {
		.entry-title {
			border-bottom: 0;
			margin: 1rem 0 0;
			padding: 0;

			a {
				color: $color-main;
				display: block;
				font-size: 16px;

				&:hover {
					color: initial;
				}
			}
		}
	}

	&[data-video='true'] {
		position: relative;

		&::after {
			background-image: url('../../../img/button-play-button.png');
			background-repeat: no-repeat;
			background-size: contain;
			content: '';
			display: block;
			height: 60px;
			position: absolute;
			right: .5rem;
			top: .5rem;
			width: 60px;
		}
	}

	&.recipe {
		.entry-content {
			.wpurp-recipe-title {
				text-align: center !important;
			}
		}
	}

	.information-item {
		display: flex;
		flex-direction: column;
		padding-left: 4rem;
		position: relative;

		&.recipe {
			&-servings {
				&::before {
					background-image: url('../../../img/icons/icon-recipe-servings.png');
				}
			}

			&-calories {
				&::before {
					background-image: url('../../../img/icons/icon-recipe-calories.png');
				}
			}

			&-prep-time {
				&::before {
					background-image: url('../../../img/icons/icon-recipe-prep-time.png');
				}
			}

			&-cook-time {
				&::before {
					background-image: url('../../../img/icons/icon-recipe-cook-time.png');
				}
			}

			&-total-time {
				&::before {
					background-image: url('../../../img/icons/icon-recipe-total-time.png');
				}
			}
		}

		&::before {
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			border-radius: 50%;
			content: '';
			display: inline-block;
			height: 51px;
			left: 0;
			position: absolute;
			width: 51px;
		}

		label {
			color: $color-secondary;
			font-family: 'Averia Serif Libre Bold';
			font-size: 12px;
			letter-spacing: 1.2px;
			margin: 0;
			text-transform: uppercase;
		}

		span {
			@include media-breakpoint-down(md) {
				font-size: 25px;
				line-height: 25px;
			}

			color: $color-main;
			font-family: 'Averia Serif Libre Bold';
			font-size: 24px;
			line-height: 22px;
		}
	}

	.cont-columns {
		@include media-breakpoint-down(md) {
			margin-top: 1.8rem;
		}

		color: $color-secondary;
		margin-top: 1.57rem;

		.column {
			&.col-ingredients {
				p {
					font-weight: 600;
				}

				ul {
					list-style: none;
					padding-left: 0;
				}
			}

			h4 {
				color: $color-secondary;
				font-family: 'Averia Serif Libre Bold';
				font-size: 24px;
				line-height: 22px;
			}

			ol,
			ul {
				li {
					+ li {
						margin-top: 1rem;
					}
				}
			}

			h4 {
				margin-bottom: 1.7rem;
			}
		}

		.directions {

		}
	}

	.recipe-share {
		@include media-breakpoint-down(md) {
			margin-top: 2rem;
			padding: 3rem 0 2rem;
			text-align: center;
		}

		border-bottom: 1px solid $color-grayscale-4;
		border-top: 1px solid $color-grayscale-4;
		margin-top: 1rem;
		padding: 1rem 0;
	}
}

.header-single-post,
.banner-product {
	.back-recipes {
		color: $color-light;
		font-size: 12px;
		font-weight: bold;
		letter-spacing: 1.2px;
		text-shadow: 2px 2px 3px $color-dark;
		text-transform: uppercase;

		&:hover {
			text-decoration: none;
		}
	}

	.serving-suggestion {
		@include media-breakpoint-down(md) { 
			font-size: 12px;
			line-height: 20px;
		}

		bottom: 1.3rem;
		color: $color-light;
		font-family: 'Averia Serif Libre Bold';
		font-size: 16px;
		letter-spacing: 0;
		line-height: 1.25px;
		position: absolute;
		right: 1.3rem;
	}
}

.category-brand {
	color: $color-secondary;
	font-size: 12px;
	letter-spacing: 1.2px;
	text-transform: uppercase;

	a {
		color: $color-secondary;
	}
}

.btn-recipe-gray {
	background: $color-grayscale-2;
	border-radius: 0;
	color: $color-light;
	font-size: 20px;
	padding: .7rem 4rem;

	&:hover {
		color: $color-light;
	}
}

.left-filters {
	@include media-breakpoint-down(md) {
		z-index: 9;
	}

	background-color: $color-grayscale-1;
	padding: 3rem 0 3rem 8%;
	z-index: 11;

	.title {
		@include media-breakpoint-down(sm) {
			margin-bottom: 18px;
		}
	}

	h5 {
		@include media-breakpoint-down(md) {
			font-family: 'Averia Serif Libre Regular';
			letter-spacing: 2.08px;
			line-height: 34px;
			margin-bottom: 2rem;
		}

		@include media-breakpoint-down(sm) {
			margin-bottom: 0;
		}

		color: $color-secondary;
		font-size: 18px;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	.nav-fixed {
		@include media-breakpoint-up(lg) {
			padding-left: 5rem;

		}

		@include media-breakpoint-down(md) {
			img {
				margin-right: .5rem;
				width: 20px;
			}
		}
	}

	.cont-options {
		.sf-field-category {
			> ul {
				> li {
					&:first-child {
						display: none;
					}

					> input[type="checkbox"] {
						display: none;
					}

					> label {
						padding: 0;
						position: relative;
						width: 100%;

						@include media-breakpoint-down(md) {
							&::after {
								color: $color-secondary;
								content: '\f078';
								font-family: 'Font Awesome 5 Free';
								font-size: 15px;
								font-weight: 900;
								position: absolute;
								right: 10px;
							}

							&.active {
								&::after {
									content: '\f077';
								}
							}
						}
					}
				}
			}
		}

		ul {
			padding-left: 0;
			width: 100%;

			> li {
				@include media-breakpoint-down(md) {
					padding: 0;
				}

				color: $color-secondary;
				width: 100%;

				&.all-categories {
					display: none;
				}

				&.sf-field-reset {
					@include media-breakpoint-down(md) {
						justify-content: left;
					}

					display: flex;

					a {
						@include media-breakpoint-down(sm) {
							margin-top: 40px;
						}

						@include sals-button;
						font-size: 12px !important;
						background-color: $color-secondary;
						border-radius: 50px 0;
						color: $color-light;
						font-family: 'Averia Serif Libre Bold';
						font-size: 12px;
						font-weight: 300;
						letter-spacing: 1.2px;
						padding: 0.313rem 3.628rem;
						text-transform: uppercase;
						transition: border-radius .51s;

						&:hover {
							background-color: $color-secondary;
							border-radius: 0 50px;
							color: $color-light;
						}
					}
				}

				> label {
					@include media-breakpoint-down(md) {
						font-size: 15px;
						letter-spacing: 1.5px;
						line-height: 35px;
					}

					font-size: 12px;
					font-weight: bold;
					letter-spacing: 1.2px;
					text-transform: uppercase;
				}
			}

			&.children {
				@include media-breakpoint-down(sm) {
					display: none;
				}

				margin-left: 0;

				> li {
					@include media-breakpoint-down(md) {
						margin: 5px 0;
						padding: 0;
					}

					align-items: center;
					display: flex;

					[type='checkbox'] {
						-webkit-appearance: none;
						background-color: $color-grayscale-4;
						border-radius: 2px;
						display: inline-block;
						height: 15px;
						position: relative;
						width: 15px;

						&:active {
							background-color: $color-secondary;
						}

						&:checked {
							background-color: $color-secondary;
							color: $color-light;

							&:active {
								background-color: $color-main;
							}

							&::after {
								align-items: center;
								color: $color-light;
								content: '\f00c';
								display: flex;
								font-family: 'Font Awesome 5 Free';
								font-size: 9px;
								font-weight: 600;
								height: 15px;
								justify-content: center;
								position: absolute;
								width: 15px;
							}
						}
					}

					> label {
						font-size: 12px;
						letter-spacing: normal;
						line-height: normal;
						text-transform: unset;

						&:hover {
							cursor: pointer;
						}
					}
				}
			}
		}

		input {
			&[type='submit'] {
				@include sals-button;
			}
		}
	}
}

.right-recipes {
	padding-top: 3rem;

	.btn-filter-recipes {
		align-items: center;
		display: flex;
		font-family: 'Averia Serif Libre Bold';
		font-size: 25px;
		justify-content: center;
		line-height: 35px;
		margin: 0rem 0 3rem;
		text-align: center;

		img {
			margin-right: 1.5rem;
			width: 30px;
		}

		&:hover,
		&:focus {
			color: inherit;
			text-decoration: none;
		}
	}

	.item {
		@include media-breakpoint-up(lg) {
			margin: 0 auto;
			max-width: 255px;
			padding: 0 .7rem;
	
		}
		transition: ease .3s;
		
		&:hover {
			transform: scale(1.05);
		}

		a {
			&:hover {
				text-decoration: none;
			}
		}
	}

	.entry-header {
		font-family: 'Averia Serif Libre Bold';
		max-width: 255px;
		margin: 0 auto;


		p {
			@include media-breakpoint-down(md) {
				font-size: 18px;
				letter-spacing: 0;
				line-height: 19px;
			}

			color: $color-main;
			font-family: 'Averia Serif Libre Bold';
			margin-bottom: 0;
		}
	}

	section {
		&[data-video='true'] {
			&::after {
				right: 2.5rem;
			}
		}
	}

	.btn-write-review-link {
		@media (max-width: 890px) {
			margin: 0 auto;
			max-width: 158px;
		}
		color: $color-reviews;
		display: block;
		font-family: 'Averia Serif Libre Regular';
		font-size: 16px;
		letter-spacing: normal;
		line-height: 30px;
		margin: 0 auto;
		max-width: 255px;
		padding: 0;
		text-align: left;
		text-decoration: none;
		text-transform: unset;

		&:hover {
			color: $color-reviews;
			text-decoration: underline;
		}
	}
}

// Recipe Page

body {
	&.single-post,
	[class*='page-recipe'] {
		.post {
			&.hentry {
				margin: 0;
			}
		}
	}

	.btn-modal-close {
		@include sals-button;
	}
}

.entry-header {
	.recipe {
		&-title {
			@include media-breakpoint-down(md) {
				font-size: 35px;
			}

			color: $color-main;
			font-size: 42px;
			line-height: 46px;
			text-align: center;
		}

		&-reviews {
			.write-review {
				text-align: center;
			}
		}

		&-description {
			p {
				@include media-breakpoint-down(md) {
					font-size: 18px;
					max-height: 60px;
				}

				color: $color-secondary;
				line-height: 24px;
				font-size: 20px;
				margin: 1rem auto;
				max-height: 50px;
				overflow: hidden;
				position: relative;
				text-align: center;

				&::after {
					background-image: linear-gradient(to bottom, $white-transparent, $color-light);
					bottom: 0;
					content: '';
					display: block;
					height: 20px;
					left: 0;
					position: absolute;
					right: 0;
					width: 100%;
				}

				&.showing {
					background: 0;
					max-height: 100%;

					&::after {
						content: none;
					}
				}
			}

			.cont-show-more {
				@include media-breakpoint-down(md) {
					margin-bottom: 1rem;
				}

				text-align: center;

				.read-more {
					@include media-breakpoint-down(md) {
						font-family: 'Averia Serif Libre Regular';
						font-size: 16px;
						line-height: 20px;
					}

					border-radius: 0;
					color: $color-grayscale-4;
				}
			}
		}
	}
}

.recipe {
	&-information {
		border-bottom: 2px solid $color-grayscale-4;
		border-top: 2px solid $color-grayscale-4;
		display: flex;
		justify-content: space-around;
		padding: 14px 0 16px;

		.recipe-calories {
			display: none;
		}
	}
}

.col-right {
	&.col-directions {
		ol {
			padding-left: 1rem;
		}
	}
}

.cont-reviews {
	h2 {
		color: $color-main;
		font-family: 'Averia Serif Libre Regular';
		font-size: 28px;
		margin-bottom: 2rem;
		padding: 0;
		text-align: center;
	}

	.columns {
		margin-top: 2rem;
	}
}

@media (max-width: 767px) {
	.recipe {
		&-information {
			flex-direction: column;
		}
	}

	section {
		.information-item {
			line-height: 1.3;
			margin: 1rem 0;
			margin: 1rem auto;
			min-width: 190px;
			padding-left: 6rem;

			&::before {
				height: 54px;
				width: 54px;
			}
		}
	}

	.cont-columns {
		.col-directions {
			margin-top: 4rem;
		}
	}

	.cont-recipe-video {
		height: 65px;
		right: 0;
		top: 0;
		width: 65px;

		iframe {
			display: none;
		}
	}

	.header-single-post {
		.back-recipes {
			left: 15%;
			position: absolute;
			top: 1rem;
		}
	}
}

@media (max-width: 992px) {
	.cont-columns {
		.col-directions {
			.directions {
				padding-left: 15px;
			}
		}
	}

	.col-right {
		h4 {
			margin-left: 0;
		}
	}
}

@media (max-width: 890px) {
	.category-post-image {
		height: 158px;
		width: 158px;
	}

	.right-recipes {
		.entry-header,
		.stars-snippet {
			padding: 0;
			max-width: 158px;
			margin: 0 auto;
		}
	}
}


@media print {
	a {
		color: $color-dark;

		&::after {
			color: $color-dark;
		}
	}

	@page {
		margin-bottom: 2cm;
		margin-left: 2cm;
		margin-right: 2cm;
		margin-top: 2cm;
	}

	.main-header,
	.sub-header-filter,
	.comments-area,
	.cont-reviews,
	.btn,
	.cont-recipe-video,
	footer,
	.footer-banner,
	.footer-widget {
		display: none;
	}


	.entry-header {
		.recipe-description {
			p {
				max-height: 100%;

				&::after {
					content: none;
				}
			}
		}
	}

	.cont-columns {
		break-inside: avoid;
		page-break-inside: avoid;
	}
}
