.pr-star-v4.pr-star-v4-100-filled {
  background-image: url("../../img/stars/star-100.png") !important; }

.pr-star-v4.pr-star-v4-75-filled {
  background-image: url("../../img/stars/star-75.png") !important; }

.pr-star-v4.pr-star-v4-50-filled {
  background-image: url("../../img/stars/star-50.png") !important; }

.pr-star-v4.pr-star-v4-25-filled {
  background-image: url("../../img/stars/star-25.png") !important; }

.pr-star-v4.pr-star-v4-0-filled {
  background-image: url("../../img/stars/star-0.png") !important; }

.single-products .product-reviews .pr-snippet {
  text-align: center; }

.single-products .product-reviews .pr-snippet-stars {
  flex-direction: row !important; }
  .single-products .product-reviews .pr-snippet-stars .pr-snippet-rating-decimal {
    border: 0;
    color: #dc1e35 !important;
    font-size: 14px !important;
    line-height: 20px; }

.right-recipes .p-w-r .pr-snippet .pr-snippet-stars-png .pr-snippet-rating-decimal {
  background-color: #2e1a46;
  border: none;
  color: #fff !important;
  font-family: 'Averia Serif Libre Regular';
  font-size: 16px !important;
  margin: 0 5px;
  padding: 0 5px !important; }

.p-w-r .pr-review-snapshot {
  background-color: transparent !important; }
  .p-w-r .pr-review-snapshot [class^='pr-ratings-histogram-bar'] {
    height: 10px !important; }
  .p-w-r .pr-review-snapshot .pr-review-snapshot-block-histogram {
    border: 0 !important;
    min-height: 100% !important;
    width: 100% !important; }
    .p-w-r .pr-review-snapshot .pr-review-snapshot-block-histogram .pr-review-snapshot-block-headline {
      display: none; }
  .p-w-r .pr-review-snapshot .pr-ratings-histogram .pr-ratings-histogram-bar {
    background-color: #d6d6d6; }

.p-w-r .pr-rd-header {
  box-shadow: none; }

.p-w-r .pr-snippet-stars {
  background-color: transparent; }

.p-w-r .pr-snippet {
  text-align: center; }
  .p-w-r .pr-snippet.pr-category-snippet {
    margin: 0 auto !important; }
  .p-w-r .pr-snippet .pr-snippet-stars-png {
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .p-w-r .pr-snippet .pr-snippet-stars-png .pr-snippet-rating-decimal {
      border: 0;
      color: #dc1e35;
      font-size: 14px;
      line-height: 20px; }
  .p-w-r .pr-snippet .pr-snippet-read-and-write {
    margin-top: 0 !important; }
    .p-w-r .pr-snippet .pr-snippet-read-and-write a {
      color: #7d7d7d; }

.p-w-r .pr-snippet-stars-png .pr-snippet-rating-decimal {
  background: #fbdc00;
  color: #fff !important;
  font-family: 'roboto-condensed-bold' !important;
  font-size: 14px !important;
  margin: 0 5px; }

.p-w-r .pr-category-snippet__total {
  color: #fbdc00 !important;
  font-family: 'roboto-condensed-bold' !important;
  font-size: 14px !important; }

.p-w-r .pr-rating-stars .pr-star-v4 {
  height: 12px !important;
  margin-right: 3px;
  width: 12px !important; }
  .p-w-r .pr-rating-stars .pr-star-v4.pr-star-v4-100-filled {
    background-image: url("../../img/star-red-100.svg"); }
  .p-w-r .pr-rating-stars .pr-star-v4.pr-star-v4-75-filled {
    background-image: url("../../img/star-red-75.svg"); }
  .p-w-r .pr-rating-stars .pr-star-v4.pr-star-v4-50-filled {
    background-image: url("../../img/star-red-50.svg"); }
  .p-w-r .pr-rating-stars .pr-star-v4.pr-star-v4-25-filled {
    background-image: url("../../img/star-red-25.svg"); }
  .p-w-r .pr-rating-stars .pr-star-v4.pr-star-v4-0-filled {
    background-image: url("../../img/star-red-0.svg"); }

.single .cont-write-review a + a {
  display: none; }

.single .cont-write-review {
  margin: 2rem auto; }
  @media (max-width: 991.98px) {
    .single .cont-write-review {
      margin: 2rem auto 0;
      width: 100%; } }

.single .p-w-r .pr-snippet.pr-category-snippet {
  margin: 0 !important; }

.single .p-w-r .pr-category-snippet__total {
  color: #000 !important;
  font-family: 'roboto-condensed-regular' !important;
  line-height: 20px; }

.single .featured-recipes-home .p-w-r .pr-snippet-stars .pr-rating-stars {
  padding-left: 5.5rem; }

.single .featured-recipes-home .p-w-r .pr-snippet-stars .pr-snippet-rating-decimal {
  background: transparent;
  color: #000 !important;
  font-family: 'roboto-condensed-bold' !important;
  font-size: 26px !important;
  left: 2rem;
  position: absolute;
  top: 2rem; }

.single .featured-recipes-home .p-w-r .pr-ratings-histogram {
  margin-top: 0; }

.single .featured-recipes-home .p-w-r .pr-snippet-read-and-write {
  display: block;
  padding-left: 5.5rem; }
  .single .featured-recipes-home .p-w-r .pr-snippet-read-and-write a {
    color: #000;
    font-family: 'roboto-condensed-regular';
    font-size: 18px !important;
    line-height: 26px;
    padding: 0; }

.single .featured-recipes-home .p-w-r .pr-review-display .pr-rd-review-headline {
  font-family: 'roboto-condensed-bold';
  font-size: 20px;
  line-height: 24px; }

.single .featured-recipes-home .p-w-r .pr-review-display p {
  color: #000;
  font-family: 'roboto-condensed-regular';
  font-size: 14px;
  line-height: 20px; }

.single .featured-recipes-home .p-w-r .pr-review-snapshot p {
  color: #000;
  font-size: 14px;
  line-height: 20px; }

.single .featured-recipes-home .p-w-r .pr-ratings-histogram-barValue {
  background-color: #dc1e35 !important; }

.cont-review-display .pr-snapshot-mobile {
  display: none; }

.cont-review-display .pr-review-display {
  background-color: transparent !important; }
  .cont-review-display .pr-review-display .pr-rd-main-header {
    box-shadow: none;
    display: none; }
  .cont-review-display .pr-review-display .pr-rd-footer {
    background-color: transparent; }
  .cont-review-display .pr-review-display article.pr-review button span {
    color: #dc1e35;
    letter-spacing: 1.2px;
    text-transform: uppercase; }
  .cont-review-display .pr-review-display article.pr-review button .pr-caret-icon {
    display: none; }
  .cont-review-display .pr-review-display article.pr-review .pr-rd-star-rating {
    display: none; }
  .cont-review-display .pr-review-display article.pr-review .pr-rd-description .pr-rd-author-submission-date,
  .cont-review-display .pr-review-display article.pr-review .pr-rd-description .pr-rd-author-location {
    display: none; }
  .cont-review-display .pr-review-display article.pr-review .pr-rd-description .pr-rd-reviewer-details .pr-rd-author-nickname {
    color: #000;
    font-family: 'magica-ruby-bold';
    font-size: 18px;
    line-height: 22px; }
    .cont-review-display .pr-review-display article.pr-review .pr-rd-description .pr-rd-reviewer-details .pr-rd-author-nickname span {
      color: #000; }
  .cont-review-display .pr-review-display article.pr-review footer.pr-rd-footer {
    display: none; }
  .cont-review-display .pr-review-display article.pr-review + .pr-review {
    border-top: 1px solid #9a938c;
    padding-top: 1rem; }

.page-template-write-review .cont-write-review {
  max-width: 100%;
  width: 100%; }
  .page-template-write-review .cont-write-review .pr-footer .pr-btn-review::after {
    background-color: transparent !important;
    border: 1px solid rgba(251, 220, 0, 0.8);
    border-radius: 20px 0;
    color: #fff;
    content: '';
    display: block;
    font-size: 14px;
    height: 90%;
    left: 2px;
    letter-spacing: 1px;
    line-height: 2.5;
    padding: 0;
    position: absolute;
    text-align: center;
    text-decoration: underline;
    top: 2px;
    width: 97%; }

.stars-snippet .pr-snippet-stars-reco-reco,
.stars-snippet .pr-snippet-write-review-link {
  display: none; }

.stars-snippet.category-page .p-w-r {
  margin: 0; }
  .stars-snippet.category-page .p-w-r .pr-snippet-write-review-link {
    color: #ffa400;
    font-size: 12px !important;
    line-height: 20px; }

.stars-snippet.category-page .pr-snippet-review-count {
  display: none; }

.stars-snippet.category-page .pr-snippet-write-review-link {
  display: block; }

.btn-write-review {
  background-color: #dc1e35;
  border-radius: 20px 0;
  height: 40px;
  max-width: 160px;
  padding: 2px;
  transition: border-radius .51s;
  width: 30%; }
  .btn-write-review .btn-sub-victoria {
    align-items: center;
    background-color: transparent !important;
    border-radius: 20px 0;
    border: 1px solid rgba(251, 220, 0, 0.8);
    color: #fff;
    display: flex;
    font-family: 'magica-ruby-bold' !important;
    font-size: 16px;
    height: 100%;
    justify-content: center;
    letter-spacing: 1px;
    line-height: 22px;
    text-transform: uppercase;
    transition: border-radius .51s;
    width: 100%; }
  .btn-write-review:hover {
    background-color: #b8192c;
    border-radius: 0 20px;
    color: #fff; }
    .btn-write-review:hover .btn-sub-victoria {
      border-radius: 0 20px; }

.cont-write-review {
  margin: 2rem 0;
  max-width: 190px;
  text-align: center;
  width: 45%; }
  .cont-write-review .p-w-r .pr-war {
    max-width: 100%; }
  .cont-write-review .btn-write-review {
    padding: 1rem 3rem; }
  .cont-write-review div[type='submit'] {
    background-color: #dc1e35;
    border-radius: 20px 0;
    height: 40px;
    max-width: 160px;
    padding: 2px;
    transition: border-radius .51s;
    width: 30%;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 0;
    font-family: 'hagin-caps-medium' !important;
    padding: 12px 3rem;
    position: relative; }
    .cont-write-review div[type='submit'] .btn-sub-victoria {
      align-items: center;
      background-color: transparent !important;
      border-radius: 20px 0;
      border: 1px solid rgba(251, 220, 0, 0.8);
      color: #fff;
      display: flex;
      font-family: 'magica-ruby-bold' !important;
      font-size: 16px;
      height: 100%;
      justify-content: center;
      letter-spacing: 1px;
      line-height: 22px;
      text-transform: uppercase;
      transition: border-radius .51s;
      width: 100%; }
    .cont-write-review div[type='submit']:hover {
      background-color: #b8192c;
      border-radius: 0 20px;
      color: #fff; }
      .cont-write-review div[type='submit']:hover .btn-sub-victoria {
        border-radius: 0 20px; }

@media (max-width: 768px) {
  .p-w-r .pr-snippet {
    text-align: center; }
    .p-w-r .pr-snippet .pr-snippet-stars-png {
      justify-content: space-between; }
  .page-template-single-all-products .p-w-r .pr-snippet .pr-snippet-stars-png,
  .home .p-w-r .pr-snippet .pr-snippet-stars-png {
    justify-content: center !important; } }
