@import url(//hello.myfonts.net/count/384fbc);

// #############################
// Barlow
// #############################

@font-face {
	font-family: 'barlow-bold';
	font-style: normal;
	font-weight: bold;
	src: url('../../../assets/fonts/barlow/barlow-bold.woff2') format('woff2'), url('../../../assets/fonts/barlow/barlow-bold.woff') format('woff');
}

@font-face {
	font-family: 'barlow-regular';
	font-style: normal;
	font-weight: normal;
	src: url('../../../assets/fonts/barlow/barlow-regular.woff2') format('woff2'), url('../../../assets/fonts/barlow/barlow-regular.woff') format('woff');
}

@font-face {
	font-family: 'hello-cute';
	font-style: normal;
	font-weight: normal;
	src: url('../../../assets/fonts/hello-cute/hello-cute.woff2') format('woff2'), url('../../../assets/fonts/hello-cute/hello-cute.woff') format('woff');
}

// #############################
// LeOsler Stamp
// #############################


@font-face {
	font-family: 'le-osler-stamp-regular';
	src: url('../../../assets/fonts/le-osler-stamp/le-osler-stamp-regular.eot');
	src: url('../../../assets/fonts/le-osler-stamp/le-osler-stamp-regular.eot?#iefix') format('embedded-opentype'), url('../../../assets/fonts/le-osler-stamp/le-osler-stamp-regular.woff2') format('woff2'), url('../../../assets/fonts/le-osler-stamp/le-osler-stamp-regular.woff') format('woff'), url('../../../assets/fonts/le-osler-stamp/le-osler-stamp-regular.ttf') format('truetype');
}

// #############################
// Averia Serif Libre
// #############################

@font-face {
	font-family: 'Averia Serif Libre Italic';
	font-style: italic;
	font-weight: normal;
	src: url('../../fonts/averia-serif-libre/averia-serif-libre-italic.woff2') format('woff2'), url('../../fonts/averia-serif-libre/averia-serif-libre-italic.woff') format('woff');
}

@font-face {
	font-family: 'Averia Serif Libre Bold Italic';
	font-style: italic;
	font-weight: bold;
	src: url('../../fonts/averia-serif-libre/averia-serif-libre-bold-italic.woff2') format('woff2'), url('../../fonts/averia-serif-libre/averia-serif-libre-bold-italic.woff') format('woff');
}

@font-face {
	font-family: 'Averia Serif Libre Light Italic';
	font-style: italic;
	font-weight: 300;
	src: url('../../fonts/averia-serif-libre/averia-serif-libre-light-italic.woff2') format('woff2'), url('../../fonts/averia-serif-libre/averia-serif-libre-light-italic.woff') format('woff');
}

@font-face {
	font-family: 'Averia Serif Libre Light';
	font-style: normal;
	font-weight: 300;
	src: url('../../fonts/averia-serif-libre/averia-serif-libre-light.woff2') format('woff2'), url('../../fonts/averia-serif-libre/averia-serif-libre-light.woff') format('woff');
}

@font-face {
	font-family: 'Averia Serif Libre Regular';
	font-style: normal;
	font-weight: normal;
	src: url('../../fonts/averia-serif-libre/averia-serif-libre-regular.woff2') format('woff2'), url('../../fonts/averia-serif-libre/averia-serif-libre-regular.woff') format('woff');
}

@font-face {
	font-family: 'Averia Serif Libre Bold';
	font-style: normal;
	font-weight: bold;
	src: url('../../fonts/averia-serif-libre/averia-serif-libre-bold.woff2') format('woff2'), url('../../fonts/averia-serif-libre/averia-serif-libre-bold.woff') format('woff');
}
