// #############################
// Boostrap
// #############################

@import '../plugins/bootstrap/scss/functions';
@import '../plugins/bootstrap/scss/variables';
@import '../plugins/bootstrap/scss/mixins';


// #############################
// Colors
// #############################

// Basic -----------------------

$color-dark:			#000; // Dark
$color-light:			#fff; 	 // White
$color-main:			#00BBB4; // Cian
$color-main-red:		#dc1e35; // Red
$color-main-hover: 		#a7e8e5; // Cian Hover
$color-main-hover-2:	#4cb1ab;
$color-green-light:		#cff3f1; // Green Light
$color-green-light-2:	#afd733; // Green Light 2
$color-secondary:		#fcd1bb; // Pink
$color-gray: 			#f6f6f6; // Gray
$color-reviews: 		#ffa400;
$color-error: 			#f00;
$color-alert:           #cb4e44;


// Salsas colors -------------
$top-header-bg:	#f8f8f8;
$top-header-shadow:	#ccc;
$search-input-top-header: rgba(75, 118, 74, 0.07);
$salsas-color-main:			#4b764a; // Green
$salsas-color-secondary:		#2e1a46; // Blue

// Complementaries -------------

$color-cards: 			#d7d1cb;
$color-cards-hover: 	#dcd3cc;
$header-cards: 			#fbdc00;
$shadow-carousel-item:	#6d6a6a;
$overlay-bg:			rgba(255, 255, 255, .8);
$folda-main:			#00b0b9;

// Menu Mobile ----------
$menu-shadow: rgba(0, 0, 0, .2);
$menu-input-bg: rgba(77, 126, 77, .7);


// Grayscale -------------------

$color-grayscale-1: 	#e9e2dd;
$color-grayscale-2: 	#545454;
$color-grayscale-3: 	#fafafa;
$color-grayscale-4: 	#bfbebe;
$color-grayscale-5:		#ebe9e6;
$color-grayscale-6:		#7d7d7d;
$color-grayscale-7:		#9b9b9b;
$color-grayscale-8:		#404040;
$color-dark-secondary:	#343434;
$color-grayscale-9:		#b4afaa;
$color-grayscale-10:	#f1f1f1;
$color-text-faqs:		#9a938c;

// Array ----------------

$colors-featured: 		#00BBB4, #ff7d3c, #522d6d;


// Shadows and rgba ---------------------
$header-shadow: 				0 2px 6px 0 rgba(0, 0, 0, .2);
$cards-shadow: 					4px 4px 8px 0 rgba(0, 0, 0, .5);
$white-transparent: 			rgba(255, 255, 255, .7);
$white-opacity: 				rgba(255, 255, 255, .8);
$color-secondary-transparent: 	rgba(46, 26, 70, .4);
$black-transparent: 			rgba(0, 0, 0, .8);
$bg-inputs: 					rgba(242, 242, 242, .5);

$black-transparent2: 			rgba(0, 0, 0, .4);
$red-transparent: 				rgba(220, 30, 53, .9);
$error-transparent:				rgba(255, 0, 0, 0.14);
$yellow-transparent: 			rgba(251, 220, 0, .8);
$green-transparent:				rgba(215, 235, 153, .3);
$blue-transparent:				rgba(0, 176, 185, 0.7);

// filter gradient
$filter-middle:					rgba(64, 64, 64, 0);


@mixin herd-button {
	background-color: $color-main !important;
	border-radius: 0;
	color: $color-light;
	font-family: 'le-osler-stamp-regular' !important;
	letter-spacing: 2pt;
	line-height: 22pt !important;
	text-transform: uppercase;

	&:hover {
		background-color: darken($color-main, 8%) !important;
		color: $color-light;
	}
}

@mixin bg-texture {
	background-image: url('../../../img/featured-recipes-texture-bg.png');
	background-position: center;
	background-repeat-y: repeat; 
}

@mixin sals-button {
	background-color: $salsas-color-secondary;
	border-radius: 50px 0;
	color: $color-light;
	font-family: 'Averia Serif Libre Bold';
	font-weight: 300;
	letter-spacing: 1px;
	padding: .5rem 3rem;
	text-transform: uppercase;
	transition: border-radius .51s;

	&:hover {
		background-color: $salsas-color-secondary;
		border-radius: 0 50px;
		color: $color-light;
	}
}

@mixin vict-button {
	align-items: center;
	background-color: $color-main;
	border-radius: 25px;
	border: 0;
	color: $color-light;
	display: flex;
	font-family: 'le-osler-stamp-regular';
	font-size: 14px;
	height: 50px;
	justify-content: center;
	letter-spacing: 1px;
	min-width: 130px;
	padding: 0;
	text-align: center;
	text-transform: uppercase;

	&:hover {
		background-color: $color-main-hover;
		color: $color-light;
		text-decoration: none;
	}
}

@mixin media-ie-landscape {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)  {
    	@content;
    }
}
