@import 'mixins';
@import 'fonts';

@import '../plugins/bootstrap/scss/root';
@import '../plugins/bootstrap/scss/reboot';
@import '../plugins/bootstrap/scss/type';
@import '../plugins/bootstrap/scss/images';
@import '../plugins/bootstrap/scss/code';
@import '../plugins/bootstrap/scss/grid';
@import '../plugins/bootstrap/scss/tables';
@import '../plugins/bootstrap/scss/forms';
@import '../plugins/bootstrap/scss/buttons';
@import '../plugins/bootstrap/scss/transitions';
@import '../plugins/bootstrap/scss/dropdown';
@import '../plugins/bootstrap/scss/button-group';
@import '../plugins/bootstrap/scss/input-group';
@import '../plugins/bootstrap/scss/custom-forms';
@import '../plugins/bootstrap/scss/nav';
@import '../plugins/bootstrap/scss/navbar';
@import '../plugins/bootstrap/scss/card';
@import '../plugins/bootstrap/scss/breadcrumb';
@import '../plugins/bootstrap/scss/pagination';
@import '../plugins/bootstrap/scss/badge';
@import '../plugins/bootstrap/scss/jumbotron';
@import '../plugins/bootstrap/scss/alert';
@import '../plugins/bootstrap/scss/progress';
@import '../plugins/bootstrap/scss/media';
@import '../plugins/bootstrap/scss/list-group';
@import '../plugins/bootstrap/scss/close';
@import '../plugins/bootstrap/scss/modal';
@import '../plugins/bootstrap/scss/tooltip';
@import '../plugins/bootstrap/scss/popover';
@import '../plugins/bootstrap/scss/carousel';
@import '../plugins/bootstrap/scss/utilities';
@import '../plugins/bootstrap/scss/print';

input, 
button,
.btn {
	&:hover,
	&:focus {
		box-shadow: none !important;
		outline: none !important;
	}
}

.overlay-custom{
	background: $overlay-bg;
	display: block;
	height: 100vh;
	position: fixed;
	top: 0;
	transition: all .5s ease-in-out;
	width: 100vw;
	z-index: 70;
}

.newsletter {
	padding: 100px 0 100px;
	text-align: center;

	.fa-check-circle {
		color: $color-main;
		font-size: 67px;
		margin-bottom: 14px;
	}

	h2 {
		color: $color-main;    
	}

	.btn-chichis {
	    max-width: 170px;
	}
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'barlow-bold';
}

h1 {
	font-size: 48pt;
	line-height: 52pt;
}

h2 {
	font-size: 28pt;
	line-height: 38pt;
}

h3 {
	font-size: 22pt;
	line-height: 24pt;
}

h4 {
	font-size: 18pt;
	line-height: 20pt;
}

h5 {
	font-size: 14pt;
	letter-spacing: 1pt;
	line-height: 20pt;
	text-transform: uppercase;
}

body,
p,
span,
input {
	font-family: 'barlow-regular' !important;
	font-size: 16pt;
	line-height: 24pt;
}

label {
	font-family: 'barlow-bold';
	font-size: 16pt;
	line-height: 24pt;
}

input {
	&[type='submit'] {
		@include herd-button;
	}
}

button {
	background: transparent;
	border: none;
}

.wpcf7-form-control-wrap {
    .wpcf7-not-valid-tip {
        background-color: $color-alert;
        border-radius: 1px 0px 5px 5px;
        color: $color-light;
        font-size: 13px;
        padding-left: 10px;
        padding: 5px 0 5px 13px;
    }
}

ul {
	li {
		a {
			color: $color-grayscale-7;
			font-family: 'barlow-regular';
			font-size: 11pt;
			line-height: 20pt;

			&:hover {
				background-color: transparent;
				color: $color-main-hover-2;
			}
		}
	}

	&.flex-column {
		li {
			a {
				padding: 0;
			}
		}
	}
}

.page-template-default,
.error404 {
	.site-content {
		header {
			box-shadow: 0 0;
			margin: 30px 0;
		}
	}
}

.mar-aut {
	@include media-breakpoint-down(sm) {
		margin: 0 auto;
	}
}

.error404 {
	.not-found {
		h1 {
			font-size: 40px;
			margin: 30px 0;
			text-align: center;
		}
	}
}

.btn-chichis {
	@include vict-button;

	@include media-ie-landscape {
		padding-bottom: 8px;
	}
}

.navbar-expand-md {
	.navbar-nav {
		align-items: flex-end;
		justify-content: space-around;
		width: 100%;
	}
}

.text-under-banner {
	h2 {
		font-size: 48px;
	}

	p {
		font-size: 16px;
		letter-spacing: -.1px;
		line-height: 24px;
	}
}

.owl-theme {
	.owl-dots {
		.owl-dot {
			&.active {
				span {
					background-color: $color-main;
				}
			}

			span {
				background-color: $color-secondary;
				border: 0;
			}
		}
	}
}

.back-top {
	@include media-breakpoint-down(sm) {
		display: none !important;
	}

	bottom: 50%;
	box-shadow: 0 0 20px -5px $black-transparent2;
	display: none;
	position: fixed;
	right: 0;
	width: 90px;
	z-index: 999;

	figure {
		margin-bottom: 0;
	}

	&:hover {
		cursor: pointer;
	}
}

.sub-header-filter {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 2rem;
	position: relative;

	&.header-single-post {
		height: 360px;
		min-height: 360px;
	}
}

/* navigation */
.cont-mobile-menu {
	background-color: $color-gray;
	box-shadow: 0 0 5px 0 $menu-shadow;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	left: 0;
	overflow-x: visible;
	padding-top: .6rem;
	position: fixed;
	top: 0;
	transform: translate(-680px, 0);
	width: 75vw;
	z-index: 102 !important;

	&.left-filters {
		padding: 0;
	}

	.mobile-logo {
		margin-top: 3rem;

		figure {
			margin: 1.6rem 0 1rem;
		}
	}

	.btn-close-menu-mobile {
		position: absolute;
		right: 0;
		top: 3rem;
		transition: all .3s ease-in-out;
	}

	.menu-scroll {
		height: 77vh;
		overflow-x: scroll;

		.visible-menu {
			ul {
				li {
					+ li {
						margin-top: 20px;
					}
				}
			}
		}

		ul {
			li {
				+ li {
					margin-top: 0;
					padding: 0;
				}

				a {
					color: $color-dark;
					font-family: 'le-osler-stamp-regular';
					font-size: 17px;
					letter-spacing: 1.51px;
					line-height: 20px;
					text-transform: uppercase;
				}
			}
		}

		.dropdown-menu {
			@include media-breakpoint-down(sm) {
				position: unset !important;
				text-align: center;
				transform: translate3d(0, 0, 0) !important;

				li {
					+ li {
						margin-top: 5px !important;
					}
				}
			}
		}

		.visible-menu {
			padding-top: 4rem;
		}
	}

	.navbar-nav {
		li {
			font-size: 16px;
			font-weight: bold;
			text-transform: uppercase;
		}
	}

	.search-form {
		margin-top: 2rem;

		input {
			background-color: $color-grayscale-5;
			border-radius: 13px;
			border: none;
			color: $color-text-faqs;
			font-size: 12px;
			height: 30px;
		}

		.input-group-append {
			.search-submit {
				background-color: transparent;
				border: 0;
				color: $color-dark;
				position: absolute;
				right: 1.5rem;
				top: 2rem;

				i {
					font-size: 20px;
				}
			}
		}
	}

	hr {
		border-color: $color-secondary;
		margin: 2rem -15px;
	}
}

/* overlay layer */
.ssm-overlay {
	background-color: $white-transparent;
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 101;
}

/* prevent scroll when nav is open */
.is-navOpen{
	overflow: hidden;

	.btn-close-menu-mobile {
		right: -5rem;
		transition: all .3s ease-in-out;
	}
}

.top-header {
	background-color: $top-header-bg;
	box-shadow: 0 2px 2px 0 $top-header-shadow;
	position: relative;
	z-index: 75;

	.salsa-logo{
		align-items: center;
		display: flex;

		p {
			@include media-breakpoint-down(sm) {
				font-size: 14px;
				margin: 0 0 0 10px;
			}

			color: $salsas-color-main;
			font-family: 'Averia Serif Libre Regular' !important;
			font-size: 14px;
			letter-spacing: 1.6px;
			text-transform: uppercase;
			margin: 0 0 0 20px;

			&::after {
				color: $salsas-color-main;
				content: '\f078';
				display: inline-block;
				font-family: 'Font Awesome 5 Free';
				font-size: 12px;
				font-weight: 900;
				margin-left: 1rem;
			}
		}
	}

	figure {
		margin: 0;
	}

	.search-icon {
		text-align: right;

		i {
			color: $salsas-color-main;
		}
	}

	.top-header-collapse {
		display: block;
		position: relative;

		&[aria-expanded='true'] {
			.salsa-logo {
				p {
					&::after {
						content: '\f077';
					}
				}
			}
		}

		.dropdown-salsas {
			@include media-breakpoint-down(md) {
				padding: 5px 20px;
			}

			@include media-breakpoint-down(xs) {
				padding: 5px 10px;
			}

			padding: 5px 50px;

			a {
				text-decoration: none;
			}
		}
	}

	.other-brands-collapse {
		@include media-breakpoint-up(sm) {
			background-color: $color-light;
			left: 6.5rem;
			max-width: 255px;
		}

		background-color: $top-header-bg;
		top: 50px;
		left: 0px;
		position: absolute;
		right: 0px;
		z-index: 105;
		box-shadow: 0 2px 4px 0 $black-transparent2;

		.menu {
			font-size: 14px;
			letter-spacing: 1.62px;
			list-style: none;
			margin: 0;
			padding-left: 0;
			padding: 2rem 0;
			text-align: center;
			text-transform: uppercase;

			li {
				a {
					color: $salsas-color-main;
					font-family: 'Averia Serif Libre Regular';
					line-height: 26px;
					padding: 0;
				}
			}
		}

		.cont-search {
			margin-bottom: 2rem;
		}
	}

	input,
	.input-group-append {
		@include media-breakpoint-up(sm) {
			height: 30px;
		}

		height: 40px;
	}

	input {
		background-color: $search-input-top-header;
		border-radius: 14px !important;
		border: none;
		color: $color-grayscale-6;
		font-family: 'Averia Serif Libre Regular' !important;
		font-size: 16px;
		line-height: 20px;
		padding: .5rem 3.5rem .5rem 1.5rem;

	}

	.input-group-append {
		position: absolute;
		right: 10px;
		z-index: 3;

		button {
			background-color: transparent;
			padding: 0;
			width: 40px;

			i {
				color: $salsas-color-main;
				font-size: 16px;
			}
		}
	}
}

.site-header {
	align-items: center;
	background-color: $color-light;
	box-shadow: $header-shadow;
	display: flex !important;
	min-height: 80px;
	position: relative;
	z-index: 3;

	.form-control-custom {
		line-height: 0;
	}

	&.navbar-light {
		.navbar-nav {
			@include media-breakpoint-down(md) {
				text-align: center;
			}

			> .nav-item {
				@include media-breakpoint-up(lg) {
					position: relative;

					&::after {
						border-bottom: 5px solid $color-main;
						bottom: -1.11rem;
						content: '';
						display: block;
						left: 0;
						position: absolute;
						right: 0;
						transform: scaleX(0);
						transition: transform 250ms ease-in-out;
					}

					&:hover {
						&::after {
							transform: scaleX(1);
						}
					}

					&.active {
						> a {
							color: $color-main;
						}

						&::after {
							transform: scaleX(1);
						}
					}
				}

				.nav-link {
					font-size: 18px;
					letter-spacing: 1.69px;
					text-transform: uppercase;
				}

				.dropdown-menu {
					background-color: $white-opacity;
					border: 0;
					border-radius: 0;
					left: -2.4rem;
					margin-top: 1.2rem;
					text-align: center;

					li {
						&:first-child {
							display: none;
						}

						a {
							font-family: 'le-osler-stamp-regular';
							font-size: 14px;
						}
					}
				}

				.caret {
					display: none;
				}
			}

			.nav-link {
				color: $color-dark;
				font-family: 'le-osler-stamp-regular';
				font-size: 18px;

				&::after {
					content: none;
				}

				&:hover {
					color: $color-main;
				}
			}
		}
	}

	.navbar-brand {
		@include media-breakpoint-up(lg) {
			display: block;
			height: 100%;
			position: relative;
		}

		display: block;
		margin: 0 auto;

		a {
			display: block;
		}

		img {
			@include media-breakpoint-down(sm) {
				@include media-ie-landscape {
					max-width: 150px;
				}
			}

			display: block;
			margin: auto;
		}
	}

	.navbar-toggler {
		@include media-breakpoint-down(md) {
			border: 0;
			display: block;
			margin: 5px auto 15px;
		}
	}

	.search-form {
		position: relative;
		width: 190px;

		.search-field {
			background-color: $color-grayscale-10;
			border-radius: 13px;
			padding: 1px 30px 1px 10px;
			width: 100%;
		}

		.input-group-append {
			position: absolute;
			right: 0;

			button {
				padding: 0;
				width: 30px;
			}
		}
	}

	.form-control {
		@include media-breakpoint-down(md) {
			padding: 10px 20px;
		}

		border: 0;
		border-radius: 20px;
		color: $color-dark;
		padding: 0;
		position: absolute;
		transition: ease .3s;
		width: 0;

		&:focus {
			border: 1px solid $color-dark;
			box-shadow: none;
			color: $color-dark;
		}
	}

	.search-submit {
		background-color: transparent;
		border: 0;
		color: $color-dark;
		padding: 0 10px;

		&:focus {
			box-shadow: none;
		}
	}
}

// home page
section {
	&.title {
		@include media-breakpoint-down(sm) {
			padding: 40px 0;
		}

		background-color: $color-green-light;
		padding: 2.63rem 3rem;

		h1 {
			font-family: 'le-osler-stamp-regular';
			font-size: 38px;
			letter-spacing: 1px;
			line-height: 36px;
			margin-bottom: 0;
			text-align: center;
		}
	}
}

.products-home,
.featured-recipes-home {
	h2 {
		color: $color-dark;
		font-size: 48px;
	}

	h3 {
		color: $color-dark;
		font-family: 'le-osler-stamp-regular';
		font-size: 28px;
		letter-spacing: 1.17px;
		margin: 0;
		text-align: center;

		a {
			color: inherit;
		}
	}

	p {
		@include media-breakpoint-down(sm) {
			font-size: 20px;
			letter-spacing: 0.8px;
		}

		color: $color-dark;
		font-family: 'le-osler-stamp-regular' !important;
		font-size: 24px;
		margin: 1rem 0 0;
	}
}

.news {
	padding: 50px 0;
	width: 100%;

	h3 {
		background-color: $color-light;
		color: $color-dark;
		display: inline-block;
		font-size: 26px;
		margin: 0;
		padding: 10px 3rem;
		text-align: center;
	}
}

// Footer
footer {

	.sep {
		@include media-breakpoint-down(sm) {
			display: none;
		}

		border-left: 1px solid;
		margin-left: 10px;
		max-height: 26px;
		padding-left: 5px;
	}

	&.site-footer {
		background-repeat: no-repeat;
		background-size: cover;
	}

	.cont-main-footer {
		background-color: $color-green-light;
		padding-top: 2rem;
	}

	.nav-middle {
		ul {
			li {
				a {
					font-family: 'barlow-regular';
					font-size: 14px;
					letter-spacing: 1px;
					line-height: 24px;
				}
			}
		}
	}

	.footer-banner {
		@include media-breakpoint-down(xs) {
			height: auto;
			padding-bottom: 1rem;
			text-align: center;
		}

		align-items: center;
		background-image: url('../../img/chi_chis_footer.jpg');
		display: flex;
		height: 100px;

		.footer-logo {
			@include media-breakpoint-down(xs) {
				max-width: 170px;
			}
		}

		.url-description {
			@include media-breakpoint-down(md) {
				justify-content: center;
			}

			align-items: center;
			display: flex;
			font-family: 'le-osler-stamp-regular';

			section {
				margin: 0;
			}

			.custom-html-widget {
				color: $color-light;
				font-family: 'le-osler-stamp-regular';
				font-size: 26px;
				line-height: 30px;
				margin: 0;
				text-shadow: 0 2px 3px $black-transparent2;
			}
		}

		a {
			@include media-breakpoint-down(xs) {
				width: 100%;
			}

			display: block;
			width: 75%;
		}
	}

	.footer-widget {
		@include media-breakpoint-down(md) {
			margin-top: 0;
		}

		.widget {
			@include media-breakpoint-down(md) {
				text-align: center;
			}			
		}

		h3 {
			&.widget-title {
				@include media-breakpoint-down(md) {
					margin-top: 2rem;
				}

				font-family: 'le-osler-stamp-regular';
				font-size: 22px;
				font-weight: bold;
				line-height: 24px;
				margin-bottom: 1rem;
			}
		}

		.section-newsletter {
			font-family: 'barlow-regular';
			font-size: 16px;
			line-height: 24px;

			.tnp-widget {
				margin-top: 1rem;
			}

			.tnp-field-button {
				margin-top: 20px;

				.tnp-submit {
					background-color: $color-main !important;
					border: 0;
					border-radius: 25px;
					font-family: 'le-osler-stamp-regular' !important;
					font-size: 14px;
					height: 50px;
					letter-spacing: 1px;
					padding: 0;
					width: 100%;

					&:hover {
						background-color: darken($color-main, 8%);
						color: $color-light;
					}
				}
			}

			form {
				.tnp-field-email {
					label {
						display: none;
					}

					input {
						background-color: $color-light;
						border: 0;
						border-radius: 25px;
						height: 50px;
						padding-left: 2rem;

						&:focus {
							box-shadow: 0;
							outline: none;
						}
					}

					&.newsletter-error {
						input {
							background-color: $error-transparent;
							border: 1px solid $color-error;
						}

						.newsletter-error {
							color: $color-error;
							font-size: 14px;
							line-height: 1;
							margin: 0;
							padding-left: 1rem;
						}
					}
				}
			}
		}
	}

	.site-info {
		color: $color-text-faqs;
		font-family: 'barlow-regular';
		font-size: 12pt;
		line-height: 20pt;

		.menu-footer-copyright-container {
			ul {
				flex-direction: row !important;

				li {
					+ li {
						border-left: 1px solid;
						margin-left: 10px;
						padding-left: 10px;
					}

					a {
						color: $color-text-faqs !important;
						font-size: 12pt;
						text-decoration: none;
					}
				}
			}
		}

		a {
			color: inherit;
		}
	}

	.social-links-section {
		ul {
			list-style: none;
			padding: 0;

			li {
				@include media-breakpoint-down(md) {
					height: 30px;
					width: 30px;
				}

				@include media-breakpoint-down(sm) {
					height: 40px;
					width: 40px;
				}

				border: 2px solid $color-dark-secondary;
				border-radius: 50%;
				display: inline-block;
				height: 40px;
				text-align: center;
				transition: ease .2s;
				width: 40px;

				+ li {
					margin-left: 5px;
				}

				a {
					align-items: center;
					color: $color-dark-secondary;
					display: flex;
					height: 100%;
					justify-content: center;
					line-height: 0;
					vertical-align: super;
					width: 100%;

					i {
						@include media-breakpoint-down(md) {
							font-size: 14px
						}

						@include media-breakpoint-down(sm) {
							font-size: 20px;
						}

						font-size: 20px;
					}
				}

				&:hover {
					background-color: $color-main;

					a {
						color: $color-light;
						text-decoration: none;
					}
				}
			}
		}
	}
}

.search {
	.no-results {
		.page-header {
			box-shadow: 0 0;
		}

		.input-group-append {
			margin-left: 5px;
		}
	}
}

.nutritional-pop-up {
	.modal-dialog {
		bottom: 0;
		height: 90vh;
		left: 0;
		margin: auto;
		max-height: 700px;
		max-width: 461px;
		position: absolute;
		right: 0;
		top: 0;
		width: 90%;

		figure {
			@include media-breakpoint-down(md) {
				height: 90%;
			}

			height: 100%;
		}

		img {
			height: 100%;
		}
	}

	.close {
		@include media-breakpoint-down(md) {
			right: 17px;
			top: 13px;
		}

		height: 35px;
		opacity: 1;
		position: absolute;
		right: 150px;
		top: 50px;
		width: 35px;

		span {
			color: $color-light;
			text-shadow: none;
		}
	}
}

//R E S I Z E 
@media (max-width: 1200px) {
	.navbar-expand-md {
		.navbar-nav {
			flex-direction: row;
		}
	}

	.navbar-light {
		.navbar-toggler {
			display: none;
		}
	}
}

@media (max-width: 991px) {
	.navbar-light {
		.navbar-toggler {
			display: initial;

			&:focus {
				outline: none;
			}
		}
	}
}

@media (max-width: 576px) {
	.navbar-expand-md {
		.navbar-nav {
			padding: 0 10px;
		}
	}

	.search {
		.search-page-title {
			p {
				font-size: 27px;
			}
		}

		.search-result {
			padding-bottom: 5rem;
			padding-top: 3rem;
		}
	}
}

.eds-responsive-menu-wrp {
	background-color: $color-main-red !important;
	box-shadow: 5px 0 10px 10px $black-transparent2 !important;

	.eds-responsive-menu {
		margin: 30px auto 0;
	}

	input {
		border: 0;
		border-radius: 4px;


		&:focus {
			outline: none;
		}
	}

	.menu-item {
		a {
			background-color: transparent;
			border: 0;
			color: $color-light;
			font-family: 'dinot-regular';
			font-size: 20px;
			padding: 12px 0;
			text-align: center;
		}
	}

	a {
		.eds_logo {
			text-align: center !important;
		}
	}

	.eds_logo {
		text-align: center;
	}
}

@media (max-width: 767px) {
	.site-header {
		background: $color-light;
		box-shadow: none !important;
		max-height: 100px !important;
		min-height: 100px !important;
		position: sticky !important;
		top: 0;

		.search-form {
			display: none;
		}

		.navbar {
			padding: 0.7rem 1rem;
		}

		.hamburger-menu {
			i {
				font-size: 34px;
			}

			&.search-button {
				i {
					font-size: 30px;
				}
			}
		}
	}

	.eds-responsive-menu-wrp {
		background-color: $color-light !important;

		.menu-item {
			a {
				background-color: transparent;
				border: 0;
				color: $color-dark;
				font-family: 'barlow-regular';
				font-size: 20px;
				padding: 12px 0;
				text-align: center;
			}
		}

		input {
			background: $green-transparent;
		}
	}
}

@keyframes zoominoutsinglefeatured {
	0% {
		opacity: 1;
		transform: scale(1, 1);
	}

	50% {
		opacity: .5;
		transform: scale(1.2, 1.2);
	}

	100% {
		opacity: 1;
		transform: scale(1, 1);
	}
}

.loader {
	background: $color-light;
	background-size: 250px;
	height: 100%;
	left: 0;
	opacity: 1;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;

	img {
		animation: zoominoutsinglefeatured 1.5s infinite ;
		bottom: 0;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		top: 0;
	}
}
