@import '../plugins/bootstrap/scss/functions';
@import '../plugins/bootstrap/scss/variables';
@import '../plugins/bootstrap/scss/mixins';

// vars
$color-grayscale-6:		#7d7d7d;
$color-grayscale-7:		#9b9b9b;
$color-light:			#fff; 	 // White
$color-main:			#00BBB4; // Green
$color-reviews: 		#ffa400;
$color-text-faqs:		#9a938c;
$color-dark:			#000; // Dark

.pr-star-v4 {
	&.pr-star-v4-100-filled {
		background-image: url('../../img/stars/star-100.png') !important;
	}
	
	&.pr-star-v4-75-filled {
		background-image: url('../../img/stars/star-75.png') !important;
	}

	&.pr-star-v4-50-filled {
		background-image: url('../../img/stars/star-50.png') !important;
	}

	&.pr-star-v4-25-filled {
		background-image: url('../../img/stars/star-25.png') !important;
	}

	&.pr-star-v4-0-filled {
		background-image: url('../../img/stars/star-0.png') !important;
	}
}

.btn-write-review-link {
	color: $color-main !important;
	text-align: left;
}

.page-template-single-all-products,
.single-products {
	.p-w-r {
		.pr-snippet {
			.pr-snippet-rating-decimal,
			.pr-category-snippet__total {
				color: $color-dark !important;
			}
		}
	}	
}

.p-w-r {
	.pr-review-snapshot {
		background-color: transparent;

		[class^='pr-ratings-histogram-bar'] {
			height: 10px !important;
		}

		.pr-review-snapshot-block-histogram {
			border: 0 !important;
			min-height: 100% !important;
			width: 100% !important;

			.pr-review-snapshot-block-headline {
				display: none;
			}
		}

		.pr-ratings-histogram {
			.pr-ratings-histogram-bar {
				background-color: $color-grayscale-7;
			}
		}
	}

	.pr-snippet-stars {
		background-color: transparent;
	}

	.pr-snippet {
		@include media-breakpoint-down(sm) {
			display: flex;
			flex-wrap: wrap;
		}

		&.pr-category-snippet {
			margin: 0 !important;
		}

		text-align: center;

		.pr-snippet-stars-png {
			align-items: center;
			background-color: transparent;
			display: flex;
			flex-direction: row;
			justify-content: center;

			.pr-snippet-rating-decimal {
				border: 0;
				color: $color-light;
				font-family: 'le-osler-stamp-regular';
				font-size: 14px;
				line-height: 20px;
			}
		}

		.pr-snippet-read-and-write {
			margin-top: 0 !important;
			text-align: center;
			width: 100%;

			a {
				color: $color-grayscale-6;
			}
		}

		.pr-category-snippet__total {
			color: $color-light;
			font-family: 'le-osler-stamp-regular';
		}
	}
}

.single {
	.p-w-r {
		.pr-snippet {
			@include media-breakpoint-down(sm) {
				flex-wrap: wrap;
			}

			align-items: center;
			display: flex;
			text-align: left;

			.pr-snippet-read-and-write {
				width: auto;
			}

			.pr-category-snippet__total {
				color: $color-dark;
			}

			.pr-snippet-stars-png {
				.pr-snippet-rating-decimal {
					color: $color-dark;
				}
			}
		}
	}



	.cont-write-review {
		a {
			font-family: 'le-osler-stamp-regular';
			font-size: 16px;
			margin: 0 auto;
			max-width: 300px;

			+ a {
				display: none;
			}
		}
	}
}

.cont-review-display {
	.pr-snapshot-mobile {
		display: none;
	}

	.pr-review-display {
		background-color: transparent;

		.pr-rd-main-header {
			display: none;
		}

		.pr-rd-footer {
			background-color: transparent;
		}

		article {
			&.pr-review {
				button {
					span {
						color: $color-main;
						letter-spacing: 1.2px;
						text-transform: uppercase;
					}

					.pr-caret-icon {
						display: none;
					}
				}

				.pr-rd-star-rating {
					display: none;
				}

				.pr-rd-description {
					.pr-rd-author-submission-date,
					.pr-rd-author-location {
						display: none;
					}

					.pr-rd-reviewer-details {
						.pr-rd-author-nickname {
							color: $color-main;

							span {
								color: $color-main;
							}
						}
					}
				}

				footer {
					&.pr-rd-footer {
						display: none;
					}
				}

				+ .pr-review {
					border-top: 1px solid $color-text-faqs;
					padding-top: 1rem;
				}
			}
		}
	}
}

.stars-snippet {
	.pr-snippet-stars-reco-reco,
	.pr-snippet-write-review-link {
		display: none;
	}

	&.category-page {
		.p-w-r {
			margin: 0;

			.pr-snippet-write-review-link {
				color: $color-reviews;
				font-size: 12px !important;
				line-height: 20px;
			}
		}

		.pr-snippet-review-count {
			display: none;
		}

		.pr-snippet-write-review-link {
			display: block;
		}
	}
}

.cont-write-review {
	margin: 2rem 0;
	text-align: center;

	.p-w-r {
		.pr-war {
			max-width: 100%;
		}
	}

	.btn-write-review {
		padding: 1rem 3rem;
	}

	div {
		&[type='submit'] {
			align-items: center;
			appearance: none;
			background-color: $color-main;
			border-radius: 25px;
			border: 0;
			border: 0;
			color: $color-light;
			display: flex;
			font-family: 'le-osler-stamp-regular';
			font-size: 14px;
			height: 50px;
			justify-content: center;
			letter-spacing: 1px;
			min-width: 130px;
			padding: 0;
			padding: 1rem 3rem;
			text-align: center;
			text-transform: uppercase;

			&:hover {
				background-color: darken($color-main, 8%);
				color: $color-light;
			}
		}
	}
}
