.pr-star-v4.pr-star-v4-100-filled {
  background-image: url("../../img/stars/star-100.png") !important; }

.pr-star-v4.pr-star-v4-75-filled {
  background-image: url("../../img/stars/star-75.png") !important; }

.pr-star-v4.pr-star-v4-50-filled {
  background-image: url("../../img/stars/star-50.png") !important; }

.pr-star-v4.pr-star-v4-25-filled {
  background-image: url("../../img/stars/star-25.png") !important; }

.pr-star-v4.pr-star-v4-0-filled {
  background-image: url("../../img/stars/star-0.png") !important; }

.btn-write-review-link {
  color: #00BBB4 !important;
  text-align: left; }

.page-template-single-all-products .p-w-r .pr-snippet .pr-snippet-rating-decimal,
.page-template-single-all-products .p-w-r .pr-snippet .pr-category-snippet__total,
.single-products .p-w-r .pr-snippet .pr-snippet-rating-decimal,
.single-products .p-w-r .pr-snippet .pr-category-snippet__total {
  color: #000 !important; }

.p-w-r .pr-review-snapshot {
  background-color: transparent; }
  .p-w-r .pr-review-snapshot [class^='pr-ratings-histogram-bar'] {
    height: 10px !important; }
  .p-w-r .pr-review-snapshot .pr-review-snapshot-block-histogram {
    border: 0 !important;
    min-height: 100% !important;
    width: 100% !important; }
    .p-w-r .pr-review-snapshot .pr-review-snapshot-block-histogram .pr-review-snapshot-block-headline {
      display: none; }
  .p-w-r .pr-review-snapshot .pr-ratings-histogram .pr-ratings-histogram-bar {
    background-color: #9b9b9b; }

.p-w-r .pr-snippet-stars {
  background-color: transparent; }

.p-w-r .pr-snippet {
  text-align: center; }
  @media (max-width: 767.98px) {
    .p-w-r .pr-snippet {
      display: flex;
      flex-wrap: wrap; } }
  .p-w-r .pr-snippet.pr-category-snippet {
    margin: 0 !important; }
  .p-w-r .pr-snippet .pr-snippet-stars-png {
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .p-w-r .pr-snippet .pr-snippet-stars-png .pr-snippet-rating-decimal {
      border: 0;
      color: #fff;
      font-family: 'le-osler-stamp-regular';
      font-size: 14px;
      line-height: 20px; }
  .p-w-r .pr-snippet .pr-snippet-read-and-write {
    margin-top: 0 !important;
    text-align: center;
    width: 100%; }
    .p-w-r .pr-snippet .pr-snippet-read-and-write a {
      color: #7d7d7d; }
  .p-w-r .pr-snippet .pr-category-snippet__total {
    color: #fff;
    font-family: 'le-osler-stamp-regular'; }

.single .p-w-r .pr-snippet {
  align-items: center;
  display: flex;
  text-align: left; }
  @media (max-width: 767.98px) {
    .single .p-w-r .pr-snippet {
      flex-wrap: wrap; } }
  .single .p-w-r .pr-snippet .pr-snippet-read-and-write {
    width: auto; }
  .single .p-w-r .pr-snippet .pr-category-snippet__total {
    color: #000; }
  .single .p-w-r .pr-snippet .pr-snippet-stars-png .pr-snippet-rating-decimal {
    color: #000; }

.single .cont-write-review a {
  font-family: 'le-osler-stamp-regular';
  font-size: 16px;
  margin: 0 auto;
  max-width: 300px; }
  .single .cont-write-review a + a {
    display: none; }

.cont-review-display .pr-snapshot-mobile {
  display: none; }

.cont-review-display .pr-review-display {
  background-color: transparent; }
  .cont-review-display .pr-review-display .pr-rd-main-header {
    display: none; }
  .cont-review-display .pr-review-display .pr-rd-footer {
    background-color: transparent; }
  .cont-review-display .pr-review-display article.pr-review button span {
    color: #00BBB4;
    letter-spacing: 1.2px;
    text-transform: uppercase; }
  .cont-review-display .pr-review-display article.pr-review button .pr-caret-icon {
    display: none; }
  .cont-review-display .pr-review-display article.pr-review .pr-rd-star-rating {
    display: none; }
  .cont-review-display .pr-review-display article.pr-review .pr-rd-description .pr-rd-author-submission-date,
  .cont-review-display .pr-review-display article.pr-review .pr-rd-description .pr-rd-author-location {
    display: none; }
  .cont-review-display .pr-review-display article.pr-review .pr-rd-description .pr-rd-reviewer-details .pr-rd-author-nickname {
    color: #00BBB4; }
    .cont-review-display .pr-review-display article.pr-review .pr-rd-description .pr-rd-reviewer-details .pr-rd-author-nickname span {
      color: #00BBB4; }
  .cont-review-display .pr-review-display article.pr-review footer.pr-rd-footer {
    display: none; }
  .cont-review-display .pr-review-display article.pr-review + .pr-review {
    border-top: 1px solid #9a938c;
    padding-top: 1rem; }

.stars-snippet .pr-snippet-stars-reco-reco,
.stars-snippet .pr-snippet-write-review-link {
  display: none; }

.stars-snippet.category-page .p-w-r {
  margin: 0; }
  .stars-snippet.category-page .p-w-r .pr-snippet-write-review-link {
    color: #ffa400;
    font-size: 12px !important;
    line-height: 20px; }

.stars-snippet.category-page .pr-snippet-review-count {
  display: none; }

.stars-snippet.category-page .pr-snippet-write-review-link {
  display: block; }

.cont-write-review {
  margin: 2rem 0;
  text-align: center; }
  .cont-write-review .p-w-r .pr-war {
    max-width: 100%; }
  .cont-write-review .btn-write-review {
    padding: 1rem 3rem; }
  .cont-write-review div[type='submit'] {
    align-items: center;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: #00BBB4;
    border-radius: 25px;
    border: 0;
    border: 0;
    color: #fff;
    display: flex;
    font-family: 'le-osler-stamp-regular';
    font-size: 14px;
    height: 50px;
    justify-content: center;
    letter-spacing: 1px;
    min-width: 130px;
    padding: 0;
    padding: 1rem 3rem;
    text-align: center;
    text-transform: uppercase; }
    .cont-write-review div[type='submit']:hover {
      background-color: #00928d;
      color: #fff; }
