.contact-page .tabs-faq .nav-pills {
  margin-bottom: 60px;
  margin-top: 10px; }
  .contact-page .tabs-faq .nav-pills .nav-item {
    margin-bottom: 10px;
    text-align: center; }
    .contact-page .tabs-faq .nav-pills .nav-item a {
      background-color: #e9e2dd;
      border-radius: 0;
      color: #000;
      font-size: 22px;
      padding: 18px; }
    .contact-page .tabs-faq .nav-pills .nav-item .active {
      background-color: #ddb140 !important;
      color: #fff; }

.contact-page .tab-content h4 {
  color: #e41e26;
  font-size: 14px;
  font-weight: 500;
  margin: 20px 0;
  text-transform: uppercase; }

.contact-page .tab-content p {
  font-size: 16px; }

.contact-page .contact-faq {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 67px; }
  .contact-page .contact-faq p {
    font-size: 22px;
    margin-bottom: 0; }
  .contact-page .contact-faq .btn-primary {
    background-color: #e41e26;
    border: 0;
    border-radius: 0;
    color: #fff;
    font-family: 'proxima-nova-regular';
    font-size: 16px;
    letter-spacing: 2pt;
    line-height: 22pt;
    padding: 14px;
    text-transform: uppercase; }
    .contact-page .contact-faq .btn-primary:hover {
      background-color: #ef1717; }
