.banner-home .item .img-banner {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover; }
  @media (max-width: 991.98px) {
    .banner-home .item .img-banner {
      height: 400px; } }
  @media (max-width: 575.98px) {
    .banner-home .item .img-banner {
      height: 250px;
      -o-object-position: left;
         object-position: left; } }

.banner-home .owl-nav,
.banner-home .owl-dots {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0; }
  .banner-home .owl-nav .owl-prev,
  .banner-home .owl-dots .owl-prev {
    color: #fff !important;
    margin-right: 60px; }
  .banner-home .owl-nav .owl-next,
  .banner-home .owl-dots .owl-next {
    color: #fff !important;
    margin-left: 60px; }

.banner-home .owl-dots {
  bottom: 2px;
  margin: auto;
  width: 100px; }

.text-under-banner {
  background-image: url("../../../img/text-under-banner.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 23px 0 30px; }

.products-home {
  padding: 45px 0; }
  .products-home .items-products {
    padding-top: 16px; }
    .products-home .items-products .item {
      margin-bottom: 40px;
      transition: ease .3s; }
      .products-home .items-products .item .img-product {
        height: 255px;
        -o-object-fit: contain;
           object-fit: contain;
        width: 255px; }
        @media (max-width: 1199.98px) {
          .products-home .items-products .item .img-product {
            height: 200px;
            width: 200px; } }
        @media (max-width: 575.98px) {
          .products-home .items-products .item .img-product {
            height: 157px;
            width: 157px; } }
      .products-home .items-products .item .link-product {
        color: #000;
        display: block;
        text-align: center;
        text-decoration: none;
        transition: ease .3s; }
      .products-home .items-products .item:hover {
        -webkit-transform: scale(1.05);
                transform: scale(1.05); }
        .products-home .items-products .item:hover .link-product {
          color: #e41e26; }

.featured-recipes-home {
  padding-bottom: 50px; }
  .featured-recipes-home .recipes {
    height: 600px;
    margin-top: 15px; }
    @media (max-width: 991.98px) {
      .featured-recipes-home .recipes {
        height: auto; } }
    .featured-recipes-home .recipes .item {
      height: 48%;
      margin-bottom: 24px; }
    .featured-recipes-home .recipes .recipes-item {
      cursor: pointer;
      overflow: hidden;
      position: relative;
      transition: ease .3s; }
      @media (max-width: 575.98px) {
        .featured-recipes-home .recipes .recipes-item {
          margin-bottom: 0; } }
      @media (max-width: 991.98px) {
        .featured-recipes-home .recipes .recipes-item {
          height: 240px !important;
          margin-bottom: 20px; } }
      .featured-recipes-home .recipes .recipes-item img {
        height: 100%;
        left: 50%;
        position: absolute;
        top: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
        transition: all .4s ease-in-out;
        width: auto; }
      .featured-recipes-home .recipes .recipes-item p {
        align-items: center;
        background: rgba(0, 0, 0, 0.4);
        bottom: 0;
        color: #fff;
        display: flex;
        font-size: 22px;
        font-weight: inherit;
        height: 100px;
        left: 0;
        line-height: 1.09;
        margin: 0;
        padding: 0 35px;
        position: absolute;
        right: 0; }
        @media (max-width: 575.98px) {
          .featured-recipes-home .recipes .recipes-item p {
            padding: 0 15px; } }
      .featured-recipes-home .recipes .recipes-item::before {
        align-items: center;
        background-color: transparent;
        bottom: 0;
        color: #fff;
        content: '';
        display: flex;
        justify-content: center;
        left: 0;
        position: absolute;
        right: 0;
        text-decoration: underline;
        top: 0;
        transition: ease .3s;
        z-index: 1; }
      .featured-recipes-home .recipes .recipes-item:hover::before {
        background-color: rgba(228, 30, 38, 0.75);
        content: 'View Recipe';
        transition: ease .3s; }
      .featured-recipes-home .recipes .recipes-item:hover img {
        -webkit-transform: translateX(-50%) translateY(-50%) scale(1.3);
                transform: translateX(-50%) translateY(-50%) scale(1.3); }
