@import '../mixins';

.contact-page {
	padding-bottom: 80px;

	.text {
		margin-bottom: 50px;
	}

	h1 {
		color: $color-main;
		margin-bottom: 40px;
		margin-top: 40px;
	}

	h3 {
		color: $color-main;
		margin-bottom: 10px;

		&:not(:first-child) {
			@include media-breakpoint-down(xs) {
				margin-top: 20px;
			}
		}
	}

	p {
		font-size: 16px;
		line-height: 1.5;
	}

	.form-contact {
		margin-top: 30px;

		.form-control {
			@include media-breakpoint-down(xs) {
				padding: 1.3rem 1.5rem;
			}

			border: solid 1px $color-grayscale-9;
			border-radius: 0;
			padding: .78rem 1.5rem;

			&::placeholder {
				color: $color-grayscale-9;
			}
		}

		br {
			display: none;
		}

		span.wpcf7-form-control-wrap {
			@include media-breakpoint-down(xs) {
				margin-bottom: 10px;
			}

			display: block;
			margin-bottom: 20px;
		}

		.wpcf7-submit {
			@include media-breakpoint-down(xs) {
				padding: 11px 42px;
				font-size: 16px;
				margin-top: 10px;
			}

			border: 0;
			padding: 10px 30px;
		}
	}

	.optional {
		border: 0 !important;
		padding: 0 !important;

		.wpcf7-list-item {
			display: block;
			margin-left: 0;

			label {
				width: 100%;
			}

			.wpcf7-list-item-label {
				color: $color-dark;
				font-size: 16px;
				margin-left: 10px;
			}
		}
	}

	.question {
		height: 101px;
	}
}
