.p-w-r .pr-review-snapshot {
  background-color: transparent !important; }
  .p-w-r .pr-review-snapshot [class^='pr-ratings-histogram-bar'] {
    height: 10px !important; }
  .p-w-r .pr-review-snapshot .pr-review-snapshot-block-histogram {
    border: 0 !important;
    min-height: 100% !important;
    width: 100% !important; }
    .p-w-r .pr-review-snapshot .pr-review-snapshot-block-histogram .pr-review-snapshot-block-headline {
      display: none; }
  .p-w-r .pr-review-snapshot .pr-ratings-histogram .pr-ratings-histogram-bar {
    background-color: #d6d6d6; }

.p-w-r .pr-snippet-stars {
  background-color: transparent !important; }

.p-w-r .pr-snippet.pr-category-snippet {
  margin: 0 auto !important; }

.p-w-r .pr-snippet .pr-snippet-read-and-write {
  margin-top: 0 !important; }
  .p-w-r .pr-snippet .pr-snippet-read-and-write a {
    color: #7d7d7d; }

.popular-recipes-carousel .p-w-r .pr-snippet-stars-reco-stars .pr-snippet {
  align-items: center;
  display: flex; }
  .popular-recipes-carousel .p-w-r .pr-snippet-stars-reco-stars .pr-snippet .pr-snippet-stars-container {
    margin-right: 1rem; }

.cont-review-display .pr-snapshot-mobile {
  display: none; }

.cont-review-display .pr-review-display {
  background-color: transparent !important; }
  .cont-review-display .pr-review-display .pr-rd-main-header {
    display: none; }
  .cont-review-display .pr-review-display .pr-rd-footer {
    background-color: transparent; }
  .cont-review-display .pr-review-display article.pr-review button span {
    color: #4b764a;
    letter-spacing: 1.2px;
    text-transform: uppercase; }
  .cont-review-display .pr-review-display article.pr-review button .pr-caret-icon {
    display: none; }
  .cont-review-display .pr-review-display article.pr-review .pr-rd-star-rating {
    display: none; }
  .cont-review-display .pr-review-display article.pr-review .pr-rd-description .pr-rd-author-submission-date,
  .cont-review-display .pr-review-display article.pr-review .pr-rd-description .pr-rd-author-location {
    display: none; }
  .cont-review-display .pr-review-display article.pr-review .pr-rd-description .pr-rd-reviewer-details .pr-rd-author-nickname {
    color: #4b764a; }
    .cont-review-display .pr-review-display article.pr-review .pr-rd-description .pr-rd-reviewer-details .pr-rd-author-nickname span {
      color: #4b764a; }
  .cont-review-display .pr-review-display article.pr-review footer.pr-rd-footer {
    display: none; }
  .cont-review-display .pr-review-display article.pr-review + .pr-review {
    border-top: 1px solid #9b9b9b;
    padding-top: 1rem; }

.stars-snippet .pr-snippet-stars-reco-reco,
.stars-snippet .pr-snippet-write-review-link {
  display: none; }

.stars-snippet.category-page .p-w-r {
  margin: .5rem 0 0; }
  .stars-snippet.category-page .p-w-r .pr-snippet-write-review-link {
    color: #ffa400;
    font-size: 15px !important;
    line-height: 20px; }

.stars-snippet.category-page .pr-snippet-review-count {
  display: none; }

.stars-snippet.category-page .pr-snippet-write-review-link {
  display: block; }

.single .cont-write-review a + a {
  display: none; }

.btn-write-review {
  background-color: #2e1a46;
  border-radius: 50px 0;
  color: #fff;
  font-weight: 300;
  letter-spacing: 1px;
  padding: .5rem 3rem;
  text-transform: uppercase;
  transition: border-radius .51s; }
  .btn-write-review:hover {
    background-color: #2e1a46;
    border-radius: 0 50px;
    color: #fff; }

.cont-write-review {
  margin: 2rem 0;
  text-align: center; }
  .cont-write-review .p-w-r .pr-war {
    max-width: 100%; }
  .cont-write-review .btn-write-review {
    padding: 1rem 3rem; }
  .cont-write-review div[type='submit'] {
    background-color: #2e1a46;
    border-radius: 50px 0;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    padding: .5rem 3rem;
    text-transform: uppercase;
    transition: border-radius .51s;
    -webkit-appearance: none;
    border: 0;
    padding: 1rem 3rem; }
    .cont-write-review div[type='submit']:hover {
      background-color: #2e1a46;
      border-radius: 0 50px;
      color: #fff; }

@media (max-width: 768px) {
  .p-w-r .pr-snippet .pr-snippet-stars-png {
    justify-content: space-between; }
  .popular-group-recipes .p-w-r .pr-snippet-stars-reco-stars .pr-snippet,
  .page-template-recipes .p-w-r .pr-snippet-stars-reco-stars .pr-snippet {
    align-items: center;
    display: flex; }
    .popular-group-recipes .p-w-r .pr-snippet-stars-reco-stars .pr-snippet .pr-snippet-stars-container,
    .page-template-recipes .p-w-r .pr-snippet-stars-reco-stars .pr-snippet .pr-snippet-stars-container {
      margin-right: 1rem; } }
