@font-face {
  font-family: 'Averia Serif Libre Italic';
  font-style: italic;
  font-weight: normal;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-italic.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-italic.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Bold Italic';
  font-style: italic;
  font-weight: bold;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-bold-italic.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-bold-italic.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Light Italic';
  font-style: italic;
  font-weight: 300;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-light-italic.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-light-italic.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Light';
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-light.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-light.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Regular';
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-regular.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-regular.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Bold';
  font-style: normal;
  font-weight: bold;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-bold.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-bold.woff") format("woff"); }

input:hover, input:focus,
.btn:hover,
.btn:focus,
button:hover,
button:focus {
  box-shadow: none;
  outline: none; }

.wpcf7-form-control-wrap .wpcf7-not-valid-tip {
  background-color: #cb4e44;
  border-radius: 1px 0px 5px 5px;
  color: #fff;
  font-size: 13px;
  margin: -10px 0 15px !important;
  padding-left: 10px;
  padding: 5px 0 5px 13px; }

.input-group-prepend .btn,
.input-group-append .btn {
  z-index: 0 !important; }

.current-cat-parent {
  display: none !important; }

.our-brands {
  background-color: #f6f6f6;
  padding: 4rem 0; }

.current-cat {
  font-weight: bold; }

a {
  color: #4b764a; }

.navbar-brand {
  margin: 0; }
  .navbar-brand a {
    color: #4b764a;
    display: block;
    margin: 0 auto;
    max-width: 300px; }

.sals-separator-text {
  align-items: center;
  background: #d6d6d6;
  display: flex;
  height: 101px; }

@-webkit-keyframes zoominoutsinglefeatured {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.3, 0.3);
            transform: scale(0.3, 0.3); }
  50% {
    opacity: .5;
    -webkit-transform: scale(0.32, 0.32);
            transform: scale(0.32, 0.32); }
  100% {
    opacity: 1;
    -webkit-transform: scale(0.3, 0.3);
            transform: scale(0.3, 0.3); } }

@keyframes zoominoutsinglefeatured {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.3, 0.3);
            transform: scale(0.3, 0.3); }
  50% {
    opacity: .5;
    -webkit-transform: scale(0.32, 0.32);
            transform: scale(0.32, 0.32); }
  100% {
    opacity: 1;
    -webkit-transform: scale(0.3, 0.3);
            transform: scale(0.3, 0.3); } }

.loader {
  background: #f6f6f6;
  height: 100%;
  left: 0;
  opacity: 1;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999; }
  .loader img {
    -webkit-animation: zoominoutsinglefeatured 1.5s infinite;
            animation: zoominoutsinglefeatured 1.5s infinite;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 60%; }

.posts-navigation {
  display: none; }

.overlay-custom {
  background: rgba(255, 255, 255, 0.8);
  display: block;
  height: 100vh;
  position: fixed;
  top: 0;
  transition: all .5s ease-in-out;
  width: 100vw;
  z-index: 70; }

/* navigation */
.cont-mobile-menu {
  background-color: #f4f4f4;
  height: 100%;
  left: 0;
  overflow-x: visible;
  padding-top: .6rem;
  position: fixed;
  top: 0;
  -webkit-transform: translate(-680px, 0);
          transform: translate(-680px, 0);
  width: 75vw;
  z-index: 102; }
  .cont-mobile-menu.left-filters {
    padding: 0; }
  .cont-mobile-menu .mobile-logo figure {
    margin: 1rem 0; }
  .cont-mobile-menu .btn-close-menu-mobile {
    position: absolute;
    right: 0;
    top: 1rem;
    transition: all .3s ease-in-out; }
  .cont-mobile-menu .menu-scroll {
    height: 100vh;
    overflow-x: scroll; }
  .cont-mobile-menu .navbar-nav li {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase; }
  .cont-mobile-menu .search-form {
    margin-top: 2rem; }
    .cont-mobile-menu .search-form input {
      background-color: #e7ebd4;
      border-radius: 5px;
      border: none; }
    .cont-mobile-menu .search-form .input-group-append {
      display: none; }
  .cont-mobile-menu hr {
    border-color: #2e1a46;
    margin: 2rem -15px; }

/* overlay layer */
.ssm-overlay {
  background-color: rgba(255, 255, 255, 0.7);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 101; }

/* prevent scroll when nav is open */
.is-navOpen {
  overflow: hidden; }
  .is-navOpen .btn-close-menu-mobile {
    right: -5rem;
    transition: all .3s ease-in-out; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: bold; }

.all-categories-dropdown {
  background: transparent;
  border: none;
  box-shadow: none;
  color: transparent;
  left: 0;
  padding: 4rem 0;
  position: absolute;
  top: -6rem; }
  .all-categories-dropdown:focus {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    color: transparent; }

.sals-h1-title {
  color: #4b764a;
  font-size: 42px;
  font-weight: 400;
  line-height: 46px; }

.sals-h2-title {
  color: #4b764a;
  font-size: 28px;
  font-weight: 400;
  line-height: 30px; }

p {
  font-family: 'Averia Serif Libre', Helvetica, sans-serif; }

.header-nav .navbar-nav li > a {
  color: #4b764a !important;
  letter-spacing: 2px; }

nav .navigation .posts-navigation {
  display: none; }

.main-cont-reviews {
  background-color: #f6f6f6;
  margin-top: 4rem;
  padding: 3rem 0; }
  .main-cont-reviews h2 {
    color: #4b764a;
    font-size: 28px;
    line-height: 30px; }

.search-results .site-content,
.blog .site-content {
  padding: 0 !important; }

.blog .sub-header-filter {
  margin-bottom: 0; }

header .main-header {
  border: 0 !important;
  box-shadow: 0 -1px 15px 4px rgba(0, 0, 0, 0.3) !important;
  padding: 0 1rem !important;
  position: relative;
  z-index: 1; }

header .search-form {
  margin-left: 2rem; }
  header .search-form input {
    border-right: 0; }
  header .search-form .input-group-append button {
    background: transparent;
    border-color: rgba(0, 0, 0, 0.1);
    border-left: 0;
    color: #4b764a; }

header .btn-search-focus {
  margin-left: 2rem; }
  header .btn-search-focus:hover {
    color: #5e8e5f; }

header .hamburger-menu {
  -webkit-appearance: none;
  border: none;
  color: #4b764a; }

.page-filter-button {
  background-color: #2e1a46;
  bottom: -3.71rem;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 1; }
  .page-filter-button:hover {
    cursor: pointer; }
  .page-filter-button .dropdown-toggle::after {
    display: none; }
  .page-filter-button .cont-button-filter {
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: center; }
    .page-filter-button .cont-button-filter h2 {
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 1.2px;
      margin: 0;
      padding: 0;
      text-transform: uppercase; }
      .page-filter-button .cont-button-filter h2::after {
        display: block;
        font-family: 'FontAwesome';
        font-size: 12px;
        margin-top: 5px; }
    .page-filter-button .cont-button-filter[aria-expanded='false'] h2::after {
      content: '\f107'; }
    .page-filter-button .cont-button-filter[aria-expanded='true'] h2::after {
      content: '\f106'; }
    .page-filter-button .cont-button-filter .right-buttons .reset-filters {
      color: #fff;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 1.2px;
      text-transform: uppercase; }

.main-parent-filter.show {
  background: #4b764a;
  color: #fff;
  display: flex !important;
  margin: auto;
  min-height: 270px;
  overflow-y: scroll;
  padding: 1rem;
  right: 0;
  -webkit-transform: translate3d(0, 57px, 0) !important;
          transform: translate3d(0, 57px, 0) !important;
  width: 100%; }

.main-parent-filter .radio-list {
  width: 100%; }

.main-parent-filter .cat-item ul.children {
  display: flex;
  flex-direction: column;
  padding: 0;
  text-align: left; }
  .main-parent-filter .cat-item ul.children > li > label {
    align-items: center;
    display: flex;
    font-size: 12px;
    font-weight: normal;
    line-height: 2;
    margin: 0; }

.nav-filters ul.parent-list {
  width: 100%; }
  .nav-filters ul.parent-list > li:last-child {
    margin: 2rem 0 0;
    text-align: center; }
  .nav-filters ul.parent-list > li:first-child > ul:first-child > li > label {
    font-size: 13px;
    letter-spacing: 1.2px;
    text-transform: uppercase; }
    .nav-filters ul.parent-list > li:first-child > ul:first-child > li > label input[type='checkbox'] {
      display: none; }
  .nav-filters ul.parent-list > li input[type='submit'] {
    background-color: #2e1a46;
    border-radius: 50px 0;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    padding: .5rem 3rem;
    text-transform: uppercase;
    transition: border-radius .51s; }
    .nav-filters ul.parent-list > li input[type='submit']:hover {
      background-color: #2e1a46;
      border-radius: 0 50px;
      color: #fff; }
  .nav-filters ul.parent-list label input[type='checkbox'] {
    margin-right: 5px; }

.nav-filters .cat-item.all-categories, .nav-filters .cat-item.cat-item-22 {
  display: none; }

.cont-categories-filters {
  background-color: #2e1a46;
  color: #fff;
  padding-top: 1.5rem;
  position: relative;
  z-index: 2; }
  .cont-categories-filters .categories > ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; }
    .cont-categories-filters .categories > ul > li {
      padding: 1.5rem 0;
      position: relative;
      text-align: center;
      width: calc(100% / 6); }
      .cont-categories-filters .categories > ul > li.cat-item-22, .cont-categories-filters .categories > ul > li.cat-item-2 {
        display: none; }
      .cont-categories-filters .categories > ul > li > .children {
        background-color: #4b764a;
        left: 0;
        list-style: none;
        margin-top: 1.5rem;
        opacity: 0;
        padding: 0;
        position: absolute;
        right: 0;
        visibility: hidden;
        z-index: 9; }
        .cont-categories-filters .categories > ul > li > .children > li {
          line-height: 2;
          padding: 0 10px; }
          .cont-categories-filters .categories > ul > li > .children > li:hover {
            background-color: #5e8e5f; }
          .cont-categories-filters .categories > ul > li > .children > li a {
            color: #fff;
            display: block;
            font-size: 12px;
            font-weight: 400;
            text-align: center;
            text-transform: uppercase; }
    .cont-categories-filters .categories > ul > .cat-item > a {
      color: #fff;
      font-size: 14px;
      letter-spacing: .7px;
      text-transform: uppercase; }
      .cont-categories-filters .categories > ul > .cat-item > a::after {
        content: '\f107';
        display: block;
        font-family: 'FontAwesome'; }
    .cont-categories-filters .categories > ul > .cat-item:hover > a {
      text-decoration: none; }
      .cont-categories-filters .categories > ul > .cat-item:hover > a::after {
        content: '\f106'; }
    .cont-categories-filters .categories > ul > .cat-item:hover .children {
      opacity: 1;
      transition: opacity .5s, visibility .5s;
      visibility: visible;
      z-index: 9; }

body.category .sub-header-filter {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  z-index: 1; }

body.category .site-header {
  z-index: 2; }

body.category .content-area {
  padding: 0; }

.sub-header-filter {
  background-position: center !important;
  box-shadow: 0 -1px 15px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 2rem;
  padding-top: 2rem !important; }
  .sub-header-filter.header-single-post {
    height: 260px;
    margin-bottom: 0;
    min-height: 260px; }
  .sub-header-filter.header-category {
    height: 260px;
    min-height: 260px;
    padding-top: 0 !important; }
  .sub-header-filter .owl-header {
    min-height: 260px;
    position: absolute;
    z-index: 1; }
    .sub-header-filter .owl-header .owl-item .item {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 260px;
      width: 100%; }
  .sub-header-filter.overlay::before {
    bottom: 0;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1; }
  .sub-header-filter.overlay h1,
  .sub-header-filter.overlay h2 {
    position: relative;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
    z-index: 1; }
  .sub-header-filter.overlay .search-form {
    z-index: 3; }
  .sub-header-filter.page-search {
    height: 0;
    min-height: 0;
    padding: 0 !important; }
  .sub-header-filter h1,
  .sub-header-filter h2 {
    color: #fff;
    font-weight: lighter;
    margin-bottom: 0; }
  .sub-header-filter h1 {
    font-size: 36px; }
  .sub-header-filter h2 {
    font-size: 32px; }
  .sub-header-filter .search-form {
    margin-bottom: 3rem;
    position: relative; }
    .sub-header-filter .search-form .search-field {
      border: 1px solid #d6d6d6;
      border-radius: 0;
      border-top-left-radius: 50px;
      font-size: 18px;
      min-height: 50px;
      padding-left: 2rem; }
      .sub-header-filter .search-form .search-field::-webkit-input-placeholder {
        color: #2e1a46; }
      .sub-header-filter .search-form .search-field::-ms-input-placeholder {
        color: #2e1a46; }
      .sub-header-filter .search-form .search-field::placeholder {
        color: #2e1a46; }
    .sub-header-filter .search-form .input-group-append {
      border-bottom-right-radius: 50px;
      overflow: hidden; }
    .sub-header-filter .search-form .search-submit {
      background-color: #2e1a46;
      border-radius: 0;
      font-size: 24px;
      padding: 0 2.4rem; }

.brand-logo {
  margin-bottom: -3rem; }
  .brand-logo figure {
    margin-bottom: 0;
    text-align: center; }
    .brand-logo figure img {
      width: 130px; }

.cont-search-results {
  color: #2e1a46;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase; }
  .cont-search-results h1 {
    font-size: 18px; }

.error404 .more-recipes-bottom,
.category .more-recipes-bottom {
  background-color: #f6f6f6;
  padding-top: 3rem; }
  .error404 .more-recipes-bottom h3,
  .category .more-recipes-bottom h3 {
    color: #4b764a;
    font-size: 28px;
    line-height: 30px;
    text-align: center; }

.error404 .page-404-main-section h1,
.category .page-404-main-section h1 {
  color: #4b764a;
  font-size: 42px;
  letter-spacing: 0;
  line-height: 46px;
  margin-bottom: 0;
  padding-bottom: 0;
  text-transform: uppercase; }
  .error404 .page-404-main-section h1 small,
  .category .page-404-main-section h1 small {
    color: #2e1a46;
    display: block;
    font-size: 12px;
    letter-spacing: 1.2px; }

.error404 .page-404-main-section .page-content p,
.category .page-404-main-section .page-content p {
  font-size: 20px;
  line-height: 24px; }

.error404 .page-404-main-section .page-menu,
.category .page-404-main-section .page-menu {
  margin-top: 5rem; }
  .error404 .page-404-main-section .page-menu ul,
  .category .page-404-main-section .page-menu ul {
    align-items: center;
    display: flex;
    flex-direction: row !important;
    justify-content: center; }
    .error404 .page-404-main-section .page-menu ul .nav-link,
    .category .page-404-main-section .page-menu ul .nav-link {
      color: #2e1a46 !important;
      font-size: 20px;
      line-height: 24px;
      text-decoration: underline; }

.footer-banner {
  align-items: center;
  background: #2e1a46;
  display: flex;
  height: 80px; }
  .footer-banner .url-description {
    align-items: center;
    display: flex; }
    .footer-banner .url-description section {
      margin: 0; }
    .footer-banner .url-description .custom-html-widget {
      color: #fff;
      font-size: 26px;
      font-weight: 300;
      margin: 0; }
  .footer-banner a {
    display: block;
    width: 85%; }

.cont-main-footer {
  background-position: center;
  background-size: cover; }
  .cont-main-footer .widget-title {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase; }

.footer-widget {
  padding: 25px 0; }
  .footer-widget a {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    line-height: 2.5;
    padding: 0; }
    .footer-widget a:hover {
      background-color: transparent !important;
      text-decoration: underline !important; }

footer {
  border: 0 !important; }
  footer .site-info {
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.3; }
  footer .sep {
    margin: 0 .4rem; }

.menu-footer-copyright-container ul {
  flex-direction: row !important; }

.menu-footer-copyright-container li + li {
  border-left: 1px solid;
  margin-left: 10px;
  padding-left: 10px; }

.menu-footer-copyright-container li > a {
  color: #fff !important;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.3;
  padding: 0; }
  .menu-footer-copyright-container li > a:hover {
    background-color: transparent;
    text-decoration: underline; }

.type-post.hentry {
  margin-bottom: 4rem; }

@media (min-width: 1024px) {
  .page-404-main-section .page-menu ul .menu-item + .menu-item {
    margin-left: 2rem; }
  .header-nav .navbar-nav > .nav-item {
    position: relative; }
    .header-nav .navbar-nav > .nav-item::after {
      border-bottom: 5px solid #4b764a;
      bottom: -1.77rem;
      content: '';
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      transition: -webkit-transform 250ms ease-in-out;
      transition: transform 250ms ease-in-out;
      transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out; }
    .header-nav .navbar-nav > .nav-item:hover::after {
      -webkit-transform: scaleX(1);
              transform: scaleX(1); }
    .header-nav .navbar-nav > .nav-item.active a {
      color: #5e8e5f; }
    .header-nav .navbar-nav > .nav-item.active::after {
      -webkit-transform: scaleX(1);
              transform: scaleX(1); } }

@media (max-width: 992px) {
  header .search-form input {
    font-size: 10px; } }

@media (max-width: 768px) {
  .sub-header-filter .page-filter-button {
    bottom: -4.5rem; } }

@media (max-width: 768px) {
  .loader img {
    width: 100%; }
  .cont-categories-filters {
    padding: 2rem 0; }
  .site-content {
    padding-bottom: 0 !important; }
  .sub-header-filter.page-search {
    margin-bottom: 4rem;
    min-height: 0; }
  .sub-header-filter .page-filter-button {
    padding: .7rem 0; }
  .category .site-content {
    padding-top: 11rem !important; }
  .page-filter-button .cont-button-filter {
    height: 100%;
    position: relative;
    z-index: 2; }
  .nav-filters ul.parent-list > li ul:not(.children) {
    flex-flow: wrap;
    justify-content: space-between; }
    .nav-filters ul.parent-list > li ul:not(.children) > .cat-item {
      margin-bottom: 2rem; }
  .main-parent-filter.show {
    top: -10px !important; }
  footer .site-info {
    flex-direction: column; }
  footer .sep {
    display: none; } }

@media (max-width: 767px) {
  #simple-menu.eds-toggle-icon, .eds-responsive-menu-wrp.sidr {
    display: block !important; }
  .navbar-toggler,
  header .search-form {
    display: none; }
  header.main-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100; }
  .eds-toggle-icon {
    background-color: transparent !important; }
  .eds-responsive-menu-wrp {
    background-color: #fff !important;
    box-shadow: 5px 0 10px 10px rgba(0, 0, 0, 0.2) !important; }
    .eds-responsive-menu-wrp .eds_logo {
      margin: 20px auto;
      max-width: 80%; }
    .eds-responsive-menu-wrp .menu-item a {
      background-color: transparent;
      border: 0;
      color: #000;
      font-family: 'Averia Serif Libre', Helvetica, sans-serif;
      font-size: 20px;
      padding: 12px 0;
      text-align: center; }
    .eds-responsive-menu-wrp .eds-responsive-menu {
      margin: 30px auto 0; }
    .eds-responsive-menu-wrp input {
      background: rgba(77, 126, 77, 0.07);
      border-radius: 4px;
      border: 0; }
      .eds-responsive-menu-wrp input:focus {
        outline: none; } }

@media (max-width: 576px) {
  .navbar-brand a {
    margin-left: 0;
    max-width: 90%; }
  .main-parent-filter.show {
    top: 3.55rem !important; } }
