@font-face {
  font-family: 'Averia Serif Libre Italic';
  font-style: italic;
  font-weight: normal;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-italic.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-italic.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Bold Italic';
  font-style: italic;
  font-weight: bold;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-bold-italic.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-bold-italic.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Light Italic';
  font-style: italic;
  font-weight: 300;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-light-italic.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-light-italic.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Light';
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-light.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-light.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Regular';
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-regular.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-regular.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Bold';
  font-style: normal;
  font-weight: bold;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-bold.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-bold.woff") format("woff"); }

@media (min-width: 1025px) {
  .container-fluid:not(.normal) {
    padding-left: 4rem !important;
    padding-right: 4rem !important; }
  .header-nav .navbar-nav {
    width: 100%; }
    .header-nav .navbar-nav li + li {
      margin-left: 3rem; }
    .header-nav .navbar-nav li > a {
      font-size: 18px;
      letter-spacing: .5px;
      text-transform: uppercase; }
  .post-review .slider-post-image img {
    min-height: 360px; }
  .post-review .wp-posts-carousel-buttons {
    position: absolute;
    right: 0;
    top: 0; } }

@media (max-width: 768px) {
  header .navbar-toggler,
  header .main-search {
    width: 100%; }
  header .main-search {
    margin-top: 1rem; }
  .page-filter-button .cont-button-filter .right-buttons .reset-filters {
    position: relative;
    z-index: 1; }
  .cont-categories-filters .categories > ul {
    flex-direction: column;
    text-align: left; }
    .cont-categories-filters .categories > ul > li {
      width: 100%; }
    .cont-categories-filters .categories > ul > .cat-item > a::after {
      display: inline-block;
      position: absolute;
      right: 0; }
  .sub-header-filter {
    margin-bottom: 0; }
  .brands ul {
    flex-wrap: wrap;
    height: 100% !important;
    justify-content: space-evenly; }
    .brands ul .isotope-item {
      top: 0 !important;
      width: 30%; }
  .footer-banner {
    height: auto;
    padding-bottom: 1rem; }
    .footer-banner .url-site a {
      font-size: 25px;
      width: 100%; }
    .footer-banner .url-description {
      justify-content: center; }
      .footer-banner .url-description .custom-html-widget {
        font-size: 18px; }
  .popular-recipes-container .post-review .wp-posts-carousel-desc,
  .popular-recipes-container .post-review .wp-posts-carousel-title {
    max-width: 100%; }
  .post-review .wp-posts-carousel-title a {
    display: block;
    font-size: 24px;
    margin-bottom: 1rem !important; } }
