@import '../mixins';

.fiesta {
	overflow: hidden;
	position: relative;

	.main {
		@include media-breakpoint-down(md) {
			padding-top: 196px !important;
		}

		padding-top: 14%;
		width: 100%;
	}

	.underlay {
		background-color: #00adb3;
		left: 0;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		z-index: -1;

		&::before {
			content: '\00a0';
			display: inline-block;
			font-size: 0;
			padding-top: 24%;
			width: 0;
		}

		img {
			@media (min-width: 1512px) {
				margin-top: -100px;
			}

			@include media-breakpoint-down(md) {
				margin-top: -25px;
				max-width: 99%;
				padding: 0 0 60px;
			}

			margin-top: -11vw;
			max-width: 98%;
			vertical-align: top;
		}
	}

	.main {
		padding-top: 10%;
	}

	.fiesta-logo {
		@include media-breakpoint-down(md) {
			top: 28px;
		}

		left: 0;
		position: absolute;
		text-align: center;
		top: 2%;
		width: 100%;

		img {
			@include media-breakpoint-down(md) {
				max-width: 224px;			
			}
			max-width: 21vw;
		}
	}
}

.musica-for-your-mouth {
	margin-top: -5vw;
	position: relative;

	.small {
		display: none;
	}

	.top,
	.bottom {
		display: block;
		width: 100%;
	}

	.content {

		@include media-breakpoint-down(md) {
			padding: 29px 10px 28px;
		}

		background-image: url('../../../img/fiesta-style/blue-rip-main.jpg');
		background-position: center;
		padding: 100px 20px 42px;
		text-align: center;

		img {
			@include media-breakpoint-down(md) {
				max-width: 326px;
				margin: 0 auto;
			}

			margin: 0 auto;
			max-width: 1110px;
			width: 100%;
		}
		

		p {
			@include media-breakpoint-down(md) {
				font-size: 19px;
				line-height: 1.69;
				margin: 39px auto;
				max-width: 345px;
				letter-spacing: 0.8px;
			}

			color: white;
			font-size: 21px;
			line-height: 1.5;
			margin: 42px auto;
			max-width: 920px;
			letter-spacing: 0.9px;

			&:last-child {
				margin-bottom: 5rem;
			}

			&.par-custom {
				font-family: 'le-osler-stamp-regular';
				font-size: 38px;
				line-height: 1.26;
				letter-spacing: 1.6px;
			}
		}

		h4 {
			font-family: 'le-osler-stamp-regular' !important;
			font-size: 38px;
			line-height: 1.26;
			letter-spacing: 1.6px;
			max-width: 650px;
			font-weight: 600;
			text-transform: uppercase;
			margin: 0 auto;
			color: $color-light;
		}
	}

	.bottom {
		display: block;
		margin-top: -1px;
		position: relative;
		z-index: 2;
	}
}


.three-salsas {
	margin-top: -62px;
	padding-top: 50px;

	.three-info {
		@include media-breakpoint-down(md) {
			margin: 68px 0 -5px;
			padding: 0 10px 0;
		}

		margin: 146px 142px -30px;
		padding: 0 10px 130px;

		img {
			width: 100%;
		}

		.title {
			height: 43px;
			margin: 22px 0 20px 0;
		}

		h4 {
			@include media-breakpoint-down(md) {
				margin: 34px -1px 0;
			}

			font-family: 'hello-cute';
			font-size: 40px;
			text-align: center;
			margin: 34px 0 0;

			&.tomatillo {
				color: #8f3bae;
			}

			&.roasted {
				color: #00bbe0;
			}

			&.smoky {
				color: #fd8600;
			}
		}

		p {
			@include media-breakpoint-down(md) {
				font-size: 20px;
				padding: 3px 0px;
				margin: 22px -5px 26px;
				min-height: auto;
			}

			color: #464646;
			font-size: 21px;
			letter-spacing: 0.9px;
			line-height: 32px;
			margin: 22px 0px 0;
			min-height: 260px;
			text-align: center;
		}

		.lear-more {
			@include media-breakpoint-down(md) {
				margin: 0 auto 70px;
			}

			width: 160px;
			border-radius: 25px;
			margin: 0 auto;
			text-align: center;
			padding: 7px 0;

			a {
				color: $color-light;
				font-family: 'le-osler-stamp-regular';  
				font-size: 14px;
				letter-spacing: 1px;
			}
		}
	}
}

.dancing-ingredients {
	.top {
		@include media-breakpoint-down(xs) {
			display: none;
		}

		position: relative;
		z-index: -1;
	}

	img {
		display: block;
		width: 100%;
	}
	
	.big {
		@include media-breakpoint-down(xs) {
			display: none;
		}
	}

	.small {
		@include media-breakpoint-down(xs) {
			display: block;
		}
		display: none;
	}
}

.fiesta-vids {
	@include media-breakpoint-down(md) {
		margin-top: -50px;
	}

	margin-top: -52px;

	&::after {
		clear: both;
		content: '';
		display: table;
	}

	.full-width {
		display: block;
		width: 100%;
	}

	.main {
		@include media-breakpoint-down(md) {
			padding: 44px 0 60px;
		}

		background-image: url('../../../img/fiesta-style/orange-back-main.jpg');
		background-position: top center;
		background-repeat: repeat-y;
		background-size: 100% auto;
		padding: 0 0 80px;
		position: relative;

		&::after {
			clear: both;
			content: '';
			display: table;
		}
	}

	.row {
		margin: -1% 0;
		overflow: hidden;
	}

	.video-info {
		max-width: 980px;
		margin: 0 auto;
	}


	.container {
		.row > * {
			@media (max-width: 992px) {
				float: none;
				margin-left: auto;
				margin-right: auto;
				width: 50%;
			}

			@include media-breakpoint-down(md) {
				width: 100%;
				height: 210px;
				margin: 18px 0 0;
			}

			background-position: center center;
			background-size: cover;
			float: left;
			margin: 30px 1%;
			width: 31.333%;

			&::before {
				content: '\00a0';
				display: inline-block;
				font-size: 0;
				padding-bottom: 28.57%;
				padding-top: 28.57%;
				vertical-align: middle;
				width: 0;
			}

			&.full {
				@media (max-width: 992px) {
					width: 50%;
				}

				@include media-breakpoint-down(md) {
					width: 100%;
					height: 310px;
				}

				width: 98%;
				margin: 0 auto;
			}
		}
	}

	.vid-link {
		cursor: pointer;
		position: relative;
		text-align: center;

		&::after {
			-moz-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			content: url('../../../img/fiesta-style/play-white.png');
			display: block;
			left: 50%;
			max-width: 60%;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
		}

		.mask {
			background-color: rgba(0, 176, 185, 0.7);
			bottom: 0;
			left: 0;
			opacity: 0;
			position: absolute;
			right: 0;
			top: 0;
			z-index: -1;
		}

		.msg {
			color: white;
			display: inline-block;
			font-size: 20px;
			opacity: 0;
			position: relative;
			vertical-align: middle;
			width: 95%;
			z-index: -1;
		}

		.mask,
		.msg {
			-moz-transition: opacity .3s;
			-o-transition: opacity .3s;
			-webkit-transition: opacity .3s;
			transition: opacity .3s;
		}

		&:hover {
			.mask {
				opacity: 1;
				z-index: 2;
			}

			.msg {
				opacity: 1;
				z-index: 3;
			}
		}
	}

	.img-cell {
		background-image: url('../img/blue-recipe-back.jpg');
		text-align: center;

		img {
			max-width: 70%;
			vertical-align: middle;
		}
	}

	.recipe {
		display: none;
	}
}


.vid-box {
	background-color: rgba(0, 176, 185, 0.7);
	bottom: 0;
	left: 0;
	overflow: auto;
	padding: 0 10%;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	z-index: 5;

	&::before {
		content: '\00a0';
		display: inline-block;
		font-size: 0;
		padding-bottom: 30%;
		padding-bottom: 50vh;
		padding-top: 30%;
		padding-top: 50vh;
		width: 0;
	}

	.vid-container {
		display: inline-block;
		width: 98%;
		vertical-align: middle;
	}

	.vid-area {
		margin: 0 auto;
		max-height: 85vh;
		max-width: 151vh;
		overflow: hidden;
		position: relative;

		&::before {
			content: '\00a0';
			display: inline-block;
			font-size: 0;
			padding-top: 56.25%;
			width: 0;
		}

		iframe,
		.recipe-img {
			bottom: -.25%;
			height: 100.5%;
			position: absolute;
			right: -.25%;
			width: 100.5%;
		}
	}

	.buttons {
		box-sizing: border-box;
		font-size: 50pt;
		font-size: 8vh;
		height: 8%;
		left: 0;
		padding-right: 15px;
		position: absolute;
		right: 0;
		text-align: right;
		top: 0;

		a {
			color: white;
			display: block;
			margin-top: -10px;
			text-decoration: none;
		}
	}

	.recipe-content {
		background-color: #eeeeee;
		margin: auto;
		max-width: 151vh;
		padding: 2px 2px;

		h1 {
			color: #00b0b9;
			margin-bottom: 0;
			padding-left: 15px;
			padding-right: 15px;
		}

		.recipe-steps {
			padding-bottom: 40px;

			&::after {
				clear: both;
				content: '';
				display: table;
			}
		}

		.ingredients {
			display: inline-block;
			line-height: 1.6em;
			margin-right: 3%;
			max-width: 47%;
			text-align: left;
			vertical-align: top;

			ul {
				list-style: none;
				padding: 0;
			}
		}

		.prepare {
			display: inline-block;
			max-width: 47%;
			padding-top: 48px;
			text-align: left;
			vertical-align: top;

			ol {
				padding: 0;
			}
		}

		@media (max-width: 900px) {
			.table {
				.row {
					padding-left: 15px;
					padding-right: 15px;
					text-align: left;
				}

				.row > * {
					max-width: none;
					width: auto;
				}
			}

			.prepare {
				padding-top: 15px;

				ol {
					padding-left: 20px;
				}
			}
		}
	}
}


footer {
	.footer-banner {
		.url-description {
			.custom-html-widget {
				@include media-breakpoint-down(md) {
					font-size: 24px;
				}
    		}
    	}
    }
}
