@import '../mixins';

section {
	&.banner {
		background-position: center;
		background-size: cover;
		height: 400px;
	}

	&.content {
		@include media-breakpoint-down(sm) {
			background-color: $color-light;
			background-image: none;
			padding-bottom: 50px;
		}

		background-image: url('../../../img/featured-recipes-texture-bg.png');
		background-position: center;
		padding-bottom: 100px;

		h1 {
			@include media-breakpoint-down(sm) {
				font-size: 32px;
				padding: 0 10px;
			}

			color: $color-dark;
			font-family: 'le-osler-stamp-regular';
			font-size: 40px;
			letter-spacing: 1.1px;
			line-height: 1.1;
			margin: 30px 0;
			padding: 0 20px;
			text-align: center;
		}

		.bg-texture {
			@include media-breakpoint-down(sm) {
				background-image: url('../../../img/featured-recipes-texture-bg.png');
			}
		}

		.proud-home {
			@include media-breakpoint-down(sm) {
				min-height: 250px;
				padding: 0 30px;
				text-align: center;
			}

			@include media-ie-landscape {
				display: table;
			}

			align-items: center;
			background-color: $color-main;
			display: flex;
			min-height: 500px;
			padding: 0 130px;

			h2 {
				@include media-breakpoint-down(sm) {
					font-size: 20px;
					line-height: 1.4;
				}

				@include media-ie-landscape {
					display: table-cell;
					vertical-align: middle;
				}

				color: $color-light;
				font-family: 'le-osler-stamp-regular';
				font-size: 32px;
				letter-spacing: 1px;
				line-height: 1.13;
				text-transform: uppercase;
			}
		}

		.proud-img {
			@include media-breakpoint-down(sm) {
				max-height: 250px;
				min-height: 250px;
			}

			max-height: 500px;
			min-height: 500px;
			object-fit: cover;
			width: 100vw;
		}

		h3 {
			@include media-breakpoint-down(sm) {
				font-size: 20px;
				letter-spacing: .8px;
				line-height: 1.45;
			}

			color: $color-dark;
			font-family: 'le-osler-stamp-regular';
			font-size: 28px;
			letter-spacing: 1.2px;
			line-height: 1.54;
		}

		.rigth-img {
			@include media-breakpoint-down(sm) {
				padding: 0 15px;
			}

			transform: rotate(-5deg);
		}

		.left-img {
			@include media-breakpoint-down(sm) {
				padding: 0 15px;
			}

			transform: rotate(5deg);
		}
	}
}
