@import '../mixins';

.faq-page {
	h1 {
		background-color: $color-main;
		color: $color-light;
		font-family: 'le-osler-stamp-regular';
		font-size: 38px;
		letter-spacing: 1.6px;
		line-height: normal;
		margin-bottom: 0;
		padding: .344rem 0;
		text-align: center;
	}

	.cont-tabs {
		padding-bottom: 5rem;

		h3 {
			font-family: 'le-osler-stamp-regular';
			font-size: 24px;
			letter-spacing: 1px;
		}

		.faqs-toggle {
			.faq-item {
				border-bottom: 1px solid $color-grayscale-7;

				> div {
					padding-left: 5px;
				}

				h4 {
					font-family: 'barlow-bold';
					font-size: 16px;
					letter-spacing: 1px;
					line-height: 24px;
				}

				i {
					background: transparent;
					border: none;
					left: inherit;
					right: 0;

					&::after{
						background-color: transparent;
						background-image: url('../../../img/toggle-arrow.png');
						background-position: center;
						background-size: cover;
						content: '';
						height: 11px;
						left: 0;
						top: 0;
						transform: rotate(180deg);
						width: 15px;
					}

					&::before {
						content: none;
					}
				}

				p {
					color: $color-grayscale-2;
					font-size: 14px;
					letter-spacing: 1px;
					line-height: 1.43;
				}

				&[class*='active'] {
					i {
						&::after {
							content: '';
							transform: rotate(0deg);
							visibility: visible;
						}
					}
				}
			}
		}
	}

	.announcer-bar {
		background-color: $color-green-light;

		.btn-chichis {
			min-width: 160px;
			font-family: 'le-osler-stamp-regular';
		}
	}

	.contact-faq {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: .94rem 0;

		p {
			font-size: 22px;
			margin-bottom: 0;
		}

		.btn-primary {
			background-color: $color-main;
			border: 0;
			border-radius: 0;
			color: $color-light;
			font-family: 'le-osler-stamp-regular';
			font-size: 16px;
			letter-spacing: 2pt;
			line-height: 22pt;
			padding: 14px;
			text-transform: uppercase;

			&:hover {
				background-color: $color-main-hover;
			}
	    }
	}
}

