@import '../mixins';

.contact-page {
	.bg-main {
		@include bg-texture;
		color: $color-dark;

		a {
			color: $color-dark;

			&:hover {
				color: $color-main-hover;
			}
		}
	}

	span {
		&.title {
			font-family: 'le-osler-stamp-regular' !important;
			font-size: 21px;
			letter-spacing: .9px;
		}
	}

	.text {
		@include media-breakpoint-down(sm) {
			margin-bottom: 30px;
		}

		margin-bottom: 50px;
	}

	h1 {
		@include media-breakpoint-down(sm) {
			font-size: 32px;
			letter-spacing: 0.8px;
			line-height: 1.16;
			margin-bottom: 10px;
			margin-top: 12px;
		}

		color: $color-dark;
		font-family: 'le-osler-stamp-regular';
		font-size: 38px;
		letter-spacing: 1.6px;
		line-height: normal;
		margin-bottom: 40px;
		margin-top: 40px;
		text-transform: uppercase;
	}

	h3 {
		color: $color-dark;
		font-family: 'le-osler-stamp-regular';
		font-size: 24px;
		margin-bottom: 10px;
		margin-top: 40px;
	}

	p {
		font-size: 20px;
		line-height: 1.5;
	}

	.form-contact {
		@include media-breakpoint-down(sm) {
			margin-top: 20px;
		}

		margin-bottom: 6rem;
		margin-top: 30px;

		textarea {
			background-color: $bg-inputs;
			border: 0;
		}

		input {
			&[type='text'],
			&[type='number'],
			&[type='email'] {
				background-color: $bg-inputs;
				border: 0;
				height: 50px;
			}

			&[type='submit'] {
				border-radius: 100px;
				border: 0;
				font-family: 'le-osler-stamp-regular' !important;
				height: 50px;
				letter-spacing: 0;
				line-height: 1.3 !important;
				margin-top: 2rem;
				max-width: 160px;
				padding: 12px 2rem;
				width: 100%;
			}
		}

		.form-control {
			border-radius: 1px;

			&::placeholder {
				color: $color-dark;
			}
		}

		br {
			display: none;
		}

		span {
			&.wpcf7-form-control-wrap {
				display: block;
				margin-bottom: 20px;
			}
		}

		.wpcf7-submit {
			border: 0;
			padding: 10px 30px;
		}
	}

	.check {
		border: 0 !important;
		padding: 0 !important;

		.wpcf7-list-item {
			display: block;
			margin-left: 0;

			.wpcf7-list-item-label {
				color: $color-dark;
				font-size: 16px;
				margin-left: 10px;
			}
		}
	}

	.question {
		height: 101px;
	}
}
