@import '../mixins';

[data-status='inactive'] {
	display: none;
}

[data-status='active'] {
	display: block;
}

.banner-product {
	background-image: url('../../../img/banner-products.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 280px;
	padding: 0 !important;
	position: relative;
	z-index: 2;

	@include media-breakpoint-down(sm) {
		background-position: top center;
	}

	&::before {
		background: $white-transparent;
		background: -moz-linear-gradient(top, $white-transparent 0%, $filter-middle 70%, $color-dark 100%);
		background: -ms-linear-gradient(top, $white-transparent 0%, $filter-middle 70%, $color-dark 100%);
		background: -o-linear-gradient(top, $white-transparent 0%, $filter-middle 70%, $color-dark 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, $white-transparent), color-stop(70%, $filter-middle), color-stop(100%, $color-dark));
		background: -webkit-linear-gradient(top, $white-transparent 0%, $filter-middle 70%, $color-dark 100%);
		background: linear-gradient(to bottom, $white-transparent 0%, $filter-middle 70%, $color-dark 100%);
		content: '';
		display: block;
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-light', endColorstr='$color-dark', GradientType=0 );
		height: 100%;
		position: relative;
		width: 100%;
		z-index: 3;
	}
}

.bg-light-img {
	background: $color-light;
	background-image: none !important;
}

.products-home {
	&.product-category {

		.items-products {
			padding-top: 0;

			.item {
				margin-bottom: 30px;
				transition: ease .3s;

				.link-product {
					color: $color-dark;
					text-decoration: none;
					transition: ease .3s;

					p {
						color: $color-dark;
						text-align: left;
					}

					small {
						font-family: 'le-osler-stamp-regular';
						font-size: 14px;
						letter-spacing: 1px;
						line-height: 16px;
						text-transform: uppercase;
					}
				}

				&:hover {
					transform: scale(1.05);

					.link-product {
						color: $color-main;
					}
				}
			}
		}

		.description {
			p {
				font-size: 18px;
				line-height: 1.11;
				margin-bottom: 20px;
				margin-top: 20px;
			}
		}

		.img-review {
			margin-left: -5px;
			width: 50%;
		}

		.product-reviews {
			a {
				color: $color-grayscale-7;
				display: block;
				font-family: 'le-osler-stamp-regular';
				font-size: 14px;
				letter-spacing: .5px;
				line-height: 24px;
				text-transform: uppercase;

				&:hover {
					color: $color-main-hover;
				}
			}
		}
	}

	&.all-products-content {
		@include media-breakpoint-down(sm) {
			background-image: none;
		}

		@include bg-texture;
		position: relative;

		h3 {
			text-align: left;
		}

		.description {
			p {
				font-family: 'barlow-regular' !important;
				font-size: 16px;
				letter-spacing: 1px;
				line-height: 26px;
			}
		}

		.name-product {
			@include media-breakpoint-down(sm) {
				margin-top: 20px;
			}

			&[data-count='1'] {
				margin-top: 0;
			}

			margin-top: 6rem;
		}
	}
}

.all-products-carousel,
.other-products {
	@include media-breakpoint-down(sm) {
		padding: 30px 15px;
	}

	padding: 30px 100px;

	.item {
		margin-bottom: 30px;
		text-align: center;
		transition: ease .3s;

		.link-product {
			color: $color-dark;
			display: block;
			text-decoration: none;
			transition: ease .3s;

			&[href*='peppers'] {
				figure {
					.img-product {
						max-height: 150px;
					}
				}
			}

			figure {
				align-items: flex-end;
				display: flex;
				justify-content: center;
				max-height: 255px;
				min-height: 255px;

				.img-product {
					max-height: 255px;
					object-fit: contain;
				}
			}

			p {
				color: $color-dark;
			}

			small {
				font-family: 'le-osler-stamp-regular';
				font-size: 14px;
				letter-spacing: 1px;
				line-height: 16px;
				text-transform: uppercase;
			}
		}

		&:hover {
			transform: scale(1.05);

			.link-product {
				color: $color-main;
			}
		}
	}

	.owl-nav {
		bottom: 50px;
		height: 45px;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		top: 0;
		z-index: -1;

		.owl-prev,
		.owl-next {
			position: absolute;

			&:hover {
				background: transparent;
			}

			&:focus {
				outline: none;
			}
		}

		.owl-prev {
			left: 0;
		}

		.owl-next {
			right: 0;
		}
	}
}

.single-products {
	@include bg-texture;

	.featured-recipes-home {

		h3 {
			background-color: $color-light !important;
		}
	}
}

.single {
	.ingredients-product {
		background-color: $color-green-light;
		padding: 46px 0;

		.title-ingredients {
			color: $color-dark;
			font-family: 'le-osler-stamp-regular' !important;
			font-size: 21px;
			letter-spacing: .9px;
			line-height: 24px;
			margin-bottom: 0;
			text-transform: uppercase;
		}

		.text-ingredients {
			p {
				font-size: 16px;
				letter-spacing: .7px;
				line-height: 1.44;
			}
		}
	}

	.featured-recipes-home {
		background-image: none;
	}
}

.single-product {
	padding-bottom: 2rem;

	.info-product {
		@include media-breakpoint-down(sm) {
			padding: 0 0 3rem;
		}

		padding: 5rem 0 3rem;

		.product-big-image {
			display: flex;
			justify-content: center;

			.img-indicator {
				margin-left: 2rem;
				max-width: 120px;
			}
		}

		.img-product {
			@include media-ie-landscape {
				max-height: 100%;
				width: 100%;
			}

			display: block;
			max-height: 460px;
		}

		h1 {
			@include media-breakpoint-down(sm) {
				font-size: 32px;
				letter-spacing: 0.8px;
				line-height: 1.16;
			}

			color: $color-dark;
			font-family: 'le-osler-stamp-regular';
			font-size: 38px;
			letter-spacing: 1.6px;
			line-height: normal;

			small {
				color: $color-dark;
				display: block;
				font-family: 'le-osler-stamp-regular';
				font-size: 20px;
				line-height: 24px;
				margin-top: 1rem;
				width: 100%;
			}
		}

		.code {
			color: $color-grayscale-4;
			font-size: 16px;
		}

		.tags-product {
			font-size: 14px;
			letter-spacing: 1px;
			line-height: 20px;
			margin-bottom: 15px;
			text-transform: uppercase;
		}

		.sizes {
			align-items: center;
			display: flex;
			
			span {
				font-family: 'le-osler-stamp-regular' !important;
				font-size: 16px;
				letter-spacing: 0;
				text-transform: uppercase;
			}

			.sizes-list {
				background: $color-green-light;
				border-radius: 50px;
				display: flex;
				list-style: none;
				margin-bottom: 0;
				margin-left: 2rem;
				max-width: 240px;
				min-height: 50px;
				padding: 0;

				li {
					@include media-ie-landscape {
						min-height: 50px;
						padding-bottom: 10px;
					}

					-moz-transition: all 0.5s;
					-o-transition: all 0.5s;
					-webkit-transition: all 0.5s;
					align-items: center;
					border-radius: 100px;
					display: flex;
					justify-content: center;
					min-width: 80px;
					padding: 0;
					position: relative;	
					transition: all 0.5s;

					&:hover {
						&::before {
							opacity: 1;
							width: 100%;
						}

						a {
							z-index: 2;
							color: $color-light;
						}

					}

					&::before{
						-moz-transition: all 0.3s;
						-o-transition: all 0.3s;
						-webkit-transition: all 0.3s;
						background-color: $color-main-hover;
						border-radius: 100px;
						content: '';
						height: 100%;
						left: 0;
						opacity: 0;
						position: absolute;
						top: 0;
						transition: all 0.3s;
						width: 0%;
						z-index: 1;
					}

					&.active {
						background-color: $color-main;

						a {
							color: $color-light;
						}
					}

					+ li {
						margin-left: 0;
					}

					a {
						color: $color-dark;
						font-family: 'le-osler-stamp-regular';
						vertical-align: text-bottom;
					}
				}
			}
		}

		.description {
			font-size: 16px;
			letter-spacing: 1px;
			line-height: 26px;
			margin: 1rem 0;
		}

		.cont-cta {

			@include media-breakpoint-down(lg) {
				flex-wrap: wrap;
				justify-content: center;
			}

			@include media-breakpoint-down(md) {
				margin: 2rem 0;
			}

			display: flex;
			margin: 4rem 0 2rem;

			.btn-chichis {

				@include media-breakpoint-down(md) {
					margin: 5px 0 !important;
					min-width: 100%;
				}

				@include media-breakpoint-down(sm) {
					margin: 0 4px!important;
					max-width: 100%;
					min-width: calc(100% / 3 - 8px) !important;
				}

				font-family: 'le-osler-stamp-regular';
				margin: 0 3px!important;
				max-width: 220px;
				min-width: 144px;
				text-transform: uppercase;

				&.review {
					@include media-breakpoint-down(lg) {
						width: auto;
					}

					width: 100%;
				}
			}

			a {
				@include media-breakpoint-down(lg) {
					margin: 10px;
				}

				margin: 0 10px;
			}
		}
	}

	.recipe-share {
		span,
		br {
			display: none;
		}
	}

	.cards-product {
		.card {
			background-color: $color-green-light;
			border: 0;
			border-radius: 0;
			height: 100%;

			.card-header {
				align-items: center;
				background-color: $color-main;
				border-bottom: 0;
				display: flex;
				justify-content: center;
				padding: 20px;

				p {
					color: $color-light;
					font-family: 'le-osler-stamp-regular' !important;
					font-size: 21px;
					letter-spacing: .9px;
					line-height: 24px;
					margin-bottom: 0;
					text-transform: uppercase;
				}
			}

			.card-body {
				@include media-breakpoint-down(md) {
					padding: 25px 15px;
				}

				min-height: 280px;
				padding: 25px 45px;

				p {
					font-size: 16px;
					line-height: 20px;
				}

				img {
					display: block;
					margin: auto;
					max-width: 160px;
					width: 100%;
				}
			}
		}
	}
}

.product-banner-section {
	@include media-breakpoint-down(sm) {
		flex-wrap: wrap;
	}

	display: flex;

	.button-banner {
		@include media-breakpoint-down(sm) {
			min-width: 100%;
		}

		min-width: 46%;
		position: relative;
		z-index: 1;

		img {
			@include media-breakpoint-down(sm) {
				min-height: 330px;
			}

			min-height: 100%;
		}

		.buttons {
			@include media-breakpoint-down(sm) {
				bottom: 75px;
			}

			bottom: 40px;
			left: 0;
			position: absolute;
			right: 0;
		}
	}

	.product-banner {
		@include media-breakpoint-down(sm) {
			left: 0;
			min-width: 100%;
			top: -50px;
		}

		left: -35px;
		min-width: 50%;
		position: relative;
	}
}

.page-template-single-all-products {
	section{
		&.title {
			background-color: $color-main;
		}
	}
}

.all-product {
	.name-product {
		p {
			color: $color-dark;
			line-height: 1.5;
		}
	}

	.list-product {
		@include media-breakpoint-down(sm) {
			margin-bottom: 0;
		}

		margin-bottom: 2rem;
	}
}

