@import '../mixins';

.search-page-title {
	background: $color-main;
	color: $color-light;
	padding: 1.5rem 2rem;

	p {
		font-family: 'le-osler-stamp-regular' !important;
		font-size: 38px;
		letter-spacing: 1.58px;
		margin-bottom: 0;
		text-align: center;
	}
}

.search-result {
	padding-bottom: 7rem;
	padding-top: 5rem;

	.item-search {
		@include media-breakpoint-down(md) {
			flex-direction: column;
		}

		align-items: center;
		border-bottom: solid 1px $color-grayscale-9;
		display: flex;
		justify-content: space-between;
		padding: 25px 20px 25px 0;

		img {
			height: 140px;
			margin: 0;
			object-fit: contain;
			width: 140px;
		}

		article {
			margin-left: 30px;
			width: 80%;

			p {
				font-size: 14px;
				letter-spacing: 1px;
				line-height: 20px;
			}

			.entry-title {
				a {
					color: $color-dark;
					font-family: 'le-osler-stamp-regular';
					font-size: 21px;
					line-height: 24px;

					&:hover {
						color: $color-main-hover;
					}
				}
			}
		}
	}

	.navigation {
		font-size: 18px;
		margin: auto;
		padding-top: 26px;

		.page-numbers {
			color: $color-dark;
			margin: 0 3px;
		}

		.current,
		.prev,
		.next {
			color: $color-main;
			font-size: 18px;
		}
	}
}
