@import '../mixins';

header {
	position: relative;

	.overlay {
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	.main {
		@include media-breakpoint-down(md) {
			min-height: 500px;
			object-fit: cover;
		}

		padding-top: 14%;
		width: 100%;
	}

	.foldable-logo {
		left: 0;
		position: absolute;
		text-align: center;
		top: 54%;
		width: 100%;

		img {
			@include media-breakpoint-down(md) {
				width: 90%;
			}

			width: 48.020833%;
		}
	}
}

body {
	&.vid-open {
		overflow: hidden;
	}
}

.vid-box {
	background-color: $blue-transparent;
	bottom: 0;
	left: 0;
	overflow: auto;
	padding: 0 10%;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	z-index: 5;

	.buttons {
		box-sizing: border-box;
		font-size: 50pt;
		height: 8%;
		left: 0;
		padding-right: 15px;
		position: absolute;
		right: 0;
		text-align: right;
		top: 0;

		a {
			color: $color-light;
			display: block;
			margin-top: -10px;
			text-decoration: none;
		}
	}

	.vid-container {
		display: inline-block;
		vertical-align: middle;
		width: 98%;
	}

	.vid-area {
		margin: 0 auto;
		max-height: 85vh;
		max-width: 151vh;
		overflow: hidden;
		position: relative;

		&::before {
			content: '\00a0';
			display: inline-block;
			font-size: 0;
			padding-top: 56.25%;
			width: 0;
		}

		iframe,
		.recipe-img {
			bottom: -.25%;
			height: 100.5%;
			position: absolute;
			right: -.25%;
			width: 100.5%;
		}
	}

	.recipe-content {
		background-color: $top-header-bg;
		margin: auto;
		max-width: 151vh;
		padding: 2px;

		h1 {
			color: $folda-main;
			font-family: 'le-osler-stamp-regular' !important;
			margin-bottom: 0;
			margin-top: 20px;
			padding-left: 15px;
			padding-right: 15px;
		}

		.recipe-steps {
			padding-bottom: 40px;

			&::after {
				clear: both;
				content: '';
				display: table;
			}
		}

		.ingredients {
			display: inline-block;
			line-height: 1.6em;
			margin-right: 3%;
			max-width: 90%;
			text-align: left;
			vertical-align: top;

			ul {
				list-style: none;
				padding: 0;
			}
		}

		.prepare {
			display: inline-block;
			max-width: 90%;
			padding-top: 48px;
			text-align: left;
			vertical-align: top;

			ol {
				padding: 0;
			}
		}
	}
}

.easy-recipes {
	@include media-breakpoint-down(md) {
		padding: 0 15px;
		top: -51px;
	}

	display: block;
	left: 0;
	margin: 0 auto;
	max-width: 550px;
	position: absolute;
	right: 0;
	top: -95px;
	z-index: 2;
}

section {
	&.how-to-fold {
		margin-top: -66px;
		position: relative;

		.top {
			&.sep {
				@include media-breakpoint-down(md) {
					margin-bottom: -10px;
				}
			}
		}

		.bottom {
			@include media-breakpoint-down(md) {
				min-height: 350px;
				object-fit: cover;
			}
		}

		.wrap-wrapper {
			bottom: 3%;
			left: 0;
			position: absolute;
			right: 0;
			top: 10%;

			.ltext,
			.wrap,
			.rtext {
				bottom: 0;
				position: absolute;
				top: 0;
			}

			.ltext {
				left: 0;
				width: 30%;
				z-index: 1;
			}

			.rtext {
				right: 0;
				width: 30%;
			}

			.wrap {
				@include media-breakpoint-down(md) {
					align-items: center;
					display: flex;
					justify-content: center;
					left: 0;
					margin: 0 auto;
					right: 0;
					width: 60%;
					z-index: 0;
				}

				left: 25%;
				text-align: center;
				width: 50%;
			}

			.not-your-average {
				position: absolute;
				right: 10%;
				top: -3%;
				width: 77%;
			}

			.get-the-bread {
				position: absolute;
				right: 4%;
				top: 66%;
				width: 77%;
			}

			.with-a-twist {
				left: 4%;
				position: absolute;
				top: 42%;
				width: 77%;
			}
		}
	}

	&.folded-fried-vid {
		position: relative;

		img {
			&.background {
				@include media-breakpoint-down(md) {
					min-height: 450px;
					object-fit: cover;
				}
			}
		}

		.background {
			width: 100%;
		}

		.folded-holder {
			@include media-breakpoint-down(md) {
				width: 100%;
			}

			box-sizing: border-box;
			left: 50%;
			max-width: 900px;
			padding: 0 30px;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 65%;
		}

		.play-button {
			@include media-breakpoint-down(md) {
				width: 30%;
			}

			left: 50%;
			max-width: 100%;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 19%;
		}
	}

	&.agua {
		.content {
			margin: 50px auto;
			max-width: 930px;
			padding: 0 15px;
			text-align: center;
		}

		.big-blue {
			font-family: 'le-osler-stamp-regular' !important;
			letter-spacing: 2px;
			text-transform: uppercase;
		}
	}

	&.steps {
		@include media-breakpoint-down(md) {
			margin-top: 86px;
		}

		background: url('../../../img/foldable/background-color-texture-orange.jpg');
		background-size: 100% 100%;
		margin-top: 180px;
		padding: 1px 0;
		text-align: center;

		.top-logo {
			@include media-breakpoint-down(sm) {
				width: 120px;
			}

			max-width: 50%;
			transform: translateY(-40%);
		}

		.show-steps {
			@include media-breakpoint-down(sm) {
				margin: 0 auto 120px;
			}

			display: block;
			margin: 0 auto 160px;
			max-width: 90%;
		}
	}

	&.recipe-vids {
		position: relative;

		.img-cell {
			align-items: center;
			background-image: url('../../../img/foldable/blue-recipe-back.jpg');
			display: flex;
			justify-content: center;
			min-height: 270px;
			text-align: center;

			img {
				max-height: 270px;
			}
		}

		.recipe {
			display: none;
		}

		.vid-link {
			background-position: center center;
			background-size: cover;
			cursor: pointer;
			display: flex;
			min-height: 270px;
			position: relative;
			text-align: center;

			&::after {
				background-image: url('../../../img/foldable/play-white.png');
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				content: '';
				display: block;
				height: 130px;
				left: 50%;
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 130px;
			}

			.mask {
				background-color: $blue-transparent;
				bottom: 0;
				left: 0;
				opacity: 0;
				position: absolute;
				right: 0;
				top: 0;
				z-index: -1;
			}

			.msg {
				color: $color-light;
				display: inline-block;
				font-size: 20px;
				line-height: 25px;
				margin: auto;
				max-height: 270px;
				opacity: 0;
				overflow: hidden;
				position: relative;
				right: 0;
				top: 0;
				vertical-align: middle;
				width: 95%;
				z-index: -1;
			}

			&:hover {
				.mask {
					opacity: 1;
					z-index: 2;
				}

				.msg {
					opacity: 1;
					z-index: 3;
				}
			}
		}
	}
}
