@import '../mixins';

.ie-browser {
	.btn-chis-white {
		padding: .4rem 2rem .85rem !important;
	}

	.featured-recipes-home {
		.recipes {
			.recipes-item {
				.info {
					max-width: 90%;

					a {
						padding: .4rem 2rem .85rem !important;
					}
				}

				.text {
					letter-spacing: normal !important;
				}
			}
		}
	}
}

.banner-home {
	.owl-nav {
		display: none;

		.owl-prev,
		.owl-next {
			position: absolute;
			top: 40%;
		}

		.owl-next {
			right: 1rem;
		}

		.owl-prev {
			left: 1rem;
		}
	}

	.owl-dots {
		align-items: center;
		display: flex;
		flex-direction: column;
		margin: auto;
		position: absolute;
		right: 0;
		top: 50%;
		width: 100px;

		button,
		span {
			&:hover,
			&:focus {
				outline: none;
			}
		}
	}

	.owl-item {
		.item {
			max-height: 530px;
			min-height: 530px;

			.img-recipe {
				@include media-breakpoint-down(sm) {
					background-position: center top;
				}

				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				height: 530px;
			}
		}
	}

	.full-banner {
		color: $color-light;

		.banner-content {
			align-items: flex-end;
			display: flex;
			height: 90%;

			a {
				&:hover {
					background-color: $top-header-shadow;
					color: $color-dark;
				}
			}

			.buttons {
				@media (max-width: 1350px) {
					a {
						margin: 5px 0;
					}
				}

				@media (max-width: 670px) {
					padding: 20px 0 0 50px;
				}
			}
		}

		h2 {

			@include media-breakpoint-down(md) {
				max-width: 95%;
				padding: 0 0 0 50px;
			}

			@include media-breakpoint-down(sm) {
				font-size: 40px;
				line-height: 1;
			}

			font-family: 'le-osler-stamp-regular';
			font-size: 60px;
			letter-spacing: 2.9px;
			line-height: 70px;
			margin: 0;
			max-width: 75%;
			padding: 0 0 0 150px;
			text-shadow: 0 2px 4px $black-transparent2;

			p {
				@include media-breakpoint-down(sm) {
					font-size: 50px !important;
					letter-spacing: 2.1px !important;
					line-height: 1.18 !important;
				}

				font-family: 'le-osler-stamp-regular' !important;
				font-size: 70px !important;
				line-height: 1 !important;

				sub {
					font-size: 50px !important;
				}
			}
		}
	}

	.slide-description {
		@include media-breakpoint-down(md) {
			padding: 3rem;
			padding-bottom: 30px !important;

			.item {
				flex-direction: column-reverse;
			}
		}

		background-color: $color-main;
		background-image: url('../../../img/chichis-pattern-bg-teal.jpg');
		color: $color-light;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		min-height: 100%;
		padding: 0 8rem;

		h2 {
			@include media-breakpoint-down(sm) {
				font-size: 40px;
				line-height: 1;
			}

			font-family: 'le-osler-stamp-regular';
			font-size: 60px;
			letter-spacing: 2.9px;
			line-height: 70px;
			text-shadow: 0 2px 4px $black-transparent2;

			p {
				@include media-breakpoint-down(md) {
					font-size: 50px !important;
					letter-spacing: 2.1px !important;
					line-height: 1.18 !important;
					text-align: left;
				}

				font-family: 'le-osler-stamp-regular' !important;
				font-size: 70px !important;
				line-height: 1 !important;

				sub {
					font-size: 50px !important;
				}
			}
		}

		.description {
			font-family: 'barlow-bold';
			font-size: 21px;
			letter-spacing: 1px;
			line-height: 27px;
			text-shadow: 0 1px 3px $black-transparent2;
		}

		.buttons {
			@include media-breakpoint-down(sm) {
				justify-content: center;
			}

			align-items: center;
			display: flex;
			margin: 25px 0;

			a {
				&:hover {
					background-color: $top-header-shadow;
					color: $color-dark;
				}
			}

			a + a {
				margin-left: 1rem;
			}
		}
	}
}

.btn-chis-white {
	background-color: $color-light;
	border-radius: 25px !important;
	color: $color-dark;
	font-family: 'le-osler-stamp-regular';
	font-size: 14px !important;
	letter-spacing: 1px;
	padding: .85rem 2rem !important;

	&:hover {
		background-color: $top-header-shadow;
		color: $color-dark;
	}
}

.text-under-banner {
	background-image: url('../../../img/text-under-banner.jpg');
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;

	&.text-product {
		background-image: url('../../../img/featured-recipes-texture-bg.png');
		background-position: center;
		background-repeat-y: repeat;

		h1 {
			color: $color-light;
			font-family: 'le-osler-stamp-regular';
			font-size: 38px;
			letter-spacing: 1.6px;
			line-height: 46px;
			margin-bottom: 3rem;
			margin-top: -6rem;
			min-width: 458px;
			padding: 1.7rem 2rem;
			position: relative;
			text-align: center;
			width: fit-content;
			z-index: 4;
		}

		p {
			font-family: 'barlow-regular';
			font-size: 16px;
			letter-spacing: 1px;
			line-height: 1.63;
			margin-bottom: 0;
		}
	}
}

.single-products {
	.text-under-banner {
		h1 {
			min-width: 100%;
		}
	}
}

.products-home {
	@include media-breakpoint-down(sm) {
		padding-bottom: 0;
		padding-top: 30px;
	}

	padding: 50px 0;

	.items-products {
		@include media-breakpoint-down(sm) {
			padding-top: 0;
		}

		padding-top: 40px;

		.item {
			@include media-breakpoint-down(sm) {
				margin-bottom: 10px;
			}

			margin-bottom: 30px;
			transition: ease .3s;

			.link-product {
				color: $color-dark;
				display: block;
				text-decoration: none;
				transition: ease .3s;

				figure {
					@include media-breakpoint-down(sm) {
						max-height: 158px;
						min-height: 158px;
					}

					display: block;
					max-height: 255px;
					min-height: 255px;

					.img-product {
						@include media-breakpoint-down(sm) {
							max-height: 158px;
						}

						max-height: 255px;
					}
				}

				// &[href*='enchilada'] {
				// 	figure {
				// 		max-height: 130px;
				// 		min-height: 130px;

				// 		img {
				// 			max-height: 130px;
				// 		}
				// 	}
				// }

				// &[href*='peppers'] {
				// 	figure {
				// 		max-height: 100px;
				// 		min-height: 100px;

				// 		img {
				// 			max-height: 100px;
				// 		}
				// 	}
				// }
			}

			&:hover {
				transform: scale(1.05);

				.link-product {
					color: $color-main;
				}
			}
		}

		&.page-products {
			.item {
				.link-product {
					display: block;

					&.product-img {

						figure {
							@include media-breakpoint-down(sm) {
								max-height: 158px;
								min-height: 158px;
							}

							align-items: flex-end;
							display: flex;
							justify-content: center;
							max-height: 255px;
							min-height: 255px;

							.img-product {
								@include media-breakpoint-down(sm) {
									max-height: 158px;
								}

								max-height: 255px;
							}
						}

						p {
							color: $color-dark;
						}

						small {
							font-family: 'barlow-bold';
							font-size: 14px;
							letter-spacing: 1px;
							line-height: 16px;
							text-transform: uppercase;
						}
					}

					// &[href*='enchilada'],
					// &[href*='peppers'] {
					// 	figure {
					// 		align-items: flex-end;
					// 		display: flex;
					// 		justify-content: center;
					// 		max-height: 220px;
					// 		min-height: 220px;
					// 	}
					// }

					// &[href*='enchilada'] {
					// 	figure {
					// 		.img-product {
					// 			max-height: 160px;
					// 		}
					// 	}
					// }

					// &[href*='peppers'] {
					// 	figure {
					// 		.img-product {
					// 			max-height: 130px;
					// 		}
					// 	}
					// }
				}
			}
		}

		&.items-all-products {
			.link-product {
				p {
					text-transform: uppercase;
				}
			}
		}
	}

	&.product-category {
		.item {
			.link-product {
				display: block;

				figure {
					@include media-breakpoint-down(sm) {
						max-height: 158px;
						min-height: 158px;
					}

					align-items: flex-end;
					display: flex;
					justify-content: center;
					max-height: 255px;
					min-height: 255px;

					.img-product {
						@include media-breakpoint-down(sm) {
							max-height: 158px;
						}

						max-height: 255px;
					}
				}

				p {
					color: $color-dark;
				}

				small {
					font-family: 'le-osler-stamp-regular';
					font-size: 14px;
					letter-spacing: 1px;
					line-height: 16px;
					text-transform: uppercase;
				}
			}
		}
	}
}

.featured-recipes-home {
	background-image: url('../../../img/featured-recipes-texture-bg.png');
	background-position: center;
	background-repeat-y: repeat;
	padding-top: 50px;

	.title {
		padding: 2rem 0 3rem;
	}

	.show-more {
		padding: 3rem 0 5rem;
	}

	.recipes {
		@include media-breakpoint-down(md) {
			max-height: 250px;
			min-height: 250px;
		}

		@include media-breakpoint-down(sm) {
			@include media-ie-landscape {
				flex-direction: row !important;
			}

			flex-direction: column-reverse !important;
		}

		@for $i from 1 through length($colors-featured) {
			&:nth-child(#{length($colors-featured)}n+#{$i}) {
				background: nth($colors-featured, $i);
			}
		}

		max-height: 500px;
		min-height: 500px;

		figure {
			margin-bottom: 0;

			img {
				@include media-breakpoint-down(md) {
					max-height: 100%;
					min-height: 250px;
				}

				@include media-breakpoint-down(sm) {
					min-height: 250px;
				}

				min-height: 500px;
				object-fit: cover;
			}
		}

		.item {
			height: 48%;
			margin-bottom: 20px;
		}

		.recipes-item {
			@include media-breakpoint-down(md) {
				margin-bottom: 20px;
				max-height: 250px;
				min-height: 230px;
			}

			align-items: center;
			display: flex;
			height: 100%;
			justify-content: center;

			.info {
				align-items: center;
				color: $color-light;
				display: flex;
				flex-direction: column;
				font-family: 'le-osler-stamp-regular';
				font-size: 18px;
				font-weight: inherit;
				justify-content: space-around;
				margin: 0;
				padding: 1rem 1rem .5rem;
				text-align: center;

				p {
					color: $color-light;
					font-family: 'le-osler-stamp-regular' !important;
					font-size: 24px;
					letter-spacing: 1px;
					line-height: normal;
					margin: 0;
				}

				a {
					margin: 1rem auto 0;
					max-width: 150px;
					padding: .8rem 2rem !important;
				}
			}

			&:hover {
				img {
					transform: scale(1.05);
				}
			}
		}
	}
}

.news {
	.post-news {
		margin-top: 2rem;

		.news-item {
			&.left {
				@include media-breakpoint-down(xs) {
					margin-left: 0;
				}

				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				margin-left: 4rem;
				min-height: 595px;
			}

			&.right {
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				min-height: 288px;
				position: relative;

				&:first-child {
					margin-bottom: 1rem;
				}

				&:hover {
					.info {
						visibility: visible;
						z-index: 2;
					}

					&::before {
						background-color: $yellow-transparent;
					}
				}
			}

			a {
				display: block;
			}

			&::before {
				align-items: center;
				background-color: transparent;
				bottom: 0;
				color: $color-light;
				content: '';
				display: flex;
				justify-content: center;
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
				transition: ease .3s;
				z-index: 1;
			}
		}

		.info {

			h4 {
				font-family: 'le-osler-stamp-regular';
				font-size: 18px;
				letter-spacing: 1px;
				line-height: normal;
			}

			.description {
				* {
					font-family: 'barlow-regular';
					font-size: 16px;
					line-height: 20px;
				}
			}

			.link {
				font-family: 'le-osler-stamp-regular';
				font-size: 14px;
				letter-spacing: 1px;
				text-decoration: underline;
			}

			&.yellow {
				bottom: 17%;
				left: 0;
				padding: 0 2rem;
				position: absolute;
				right: 0;
				transition: ease .3s;
				visibility: hidden;

				* {
					color: $color-dark;
				}
			}

			&.red {
				background-color: $red-transparent;
				bottom: 10%;
				color: $color-light;
				left: 0;
				max-width: 460px;
				padding: 2rem 1.5rem;
				position: absolute;
				z-index: 2;

				* {
					color: $color-light;
				}
			}
		}
	}
}

@media (max-width: 1300px) {
	.banner-home {
		.slide-description {
			padding: 0 4rem;

			h2 {
				font-size: 60px;
			}

			.description {
				font-size: 20px;
			}

			.stars-snippet {
				margin: 0 0 10px;
			}
		}
	}
}

@media (max-width: 1200px) {
	.banner-home {
		.slide-description {
			padding: 0 3rem;

			h2 {
				font-size: 50px;
				line-height: 55px;
			}

			.description {
				font-size: 18px;
			}
		}
	}
}

@media (max-width: 767px) {
	.banner-home {
		.slide-description {
			padding: 0 2rem;

			h2 {
				font-size: 40px;
				line-height: 45px;
				margin: 20px 0 10px;
				text-align: center;
			}

			.buttons {
				flex-wrap: nowrap;

				a {
					margin: 7px auto 0 0;
					width: 45%;

					+ a {
						margin-left: 30px;
					}
				}
			}
		}

		.banner-img-custom {
			height: 150px !important;
		}

		.owl-dots {
			flex-direction: row;
			justify-content: center;
			top: 500px;
			width: 100%;

			span {
				box-shadow: 0 0 7px 3px $shadow-carousel-item;
			}
		}

		.owl-item {
			.item {
				flex-direction: column-reverse;
			}
		}

	}

	.featured-recipes-home {
		.recipes {
			max-height: 100%;
			min-height: auto;
		}
	}
}

@media (max-width: 576px) {
	.banner-home {
		.slide-description {
			padding: 0 2rem;

			.buttons {
				margin: 0 0 20px;

				a {
					margin: 7px auto 0 0;
					width: 60%;
				}
			}
		}

		.owl-item {
			.item {
				.img-recipe {
					background-size: cover;

					&.banner-top {
						@include media-ie-landscape {
							background-position: center;
							position: static;
						}
						
						background-position: center -180px;
						height: 530px;
						position: fixed;
						top: 0;
						width: 100%;
						z-index: -1;
					}
				}
			}
		}

	}
}


