@import '../mixins';

// Category Page 
.category-post-image {
	@include media-breakpoint-up(xl) {
		max-width: 255px;
	}

	@include media-breakpoint-down(md) {
		height: 158px;
		width: 100%;
	}

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 255px;
	margin: 0 auto .5rem;
	width: 255px;

	img {
		display: none;
	}
}

.type-post {
	&.hentry {
		margin: 0 auto 4rem;
		max-width: 255px;
	}
}

.brand {
	color: $salsas-color-secondary;
	font-family: 'Averia Serif Libre Bold';
	font-size: 12px;
	letter-spacing: 1.2px;
	line-height: 20px;
	text-transform: uppercase;
}

.header-single-post,
.banner-product {
	.serving-suggestion {
		@include media-breakpoint-down(md) { 
			font-size: 12px;
			line-height: 20px;
		}

		bottom: 1.3rem;
		color: $color-light;
		font-family: 'Averia Serif Libre Bold';
		font-size: 16px;
		letter-spacing: 0;
		line-height: 1.25px;
		position: absolute;
		right: 1.3rem;
		z-index: 5;
	}
}

.left-filters {
	@include media-breakpoint-down(md) {
		z-index: 9;
	}

	background-color: $color-gray;
	font-family: 'Averia Serif Libre Bold';
	padding: 3rem 0 3rem 8%;
	z-index: 11;

	h5 {
		@include media-breakpoint-down(md) {
			color: $color-dark;
			font-family: 'le-osler-stamp-regular';
			font-size: 20px;
			letter-spacing: .83px;
			line-height: 31px;
			margin-bottom: .5rem;
			text-transform: none;
		}

		color: $salsas-color-secondary;
		font-family: 'Averia Serif Libre Bold';
		font-size: 18px;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	.nav-fixed {
		@include media-breakpoint-down(md) {
			margin-top: 2rem;
		}

		@include media-breakpoint-up(lg) {
			padding-left: 6rem;
		}
	}

	.cont-options {
		.sf-field-category {
			> ul {
				> li {
					&:first-child {
						display: none;
					}

					> input {
						&[type='checkbox'] {
							display: none;
						}
					}

					> label {
						padding: 0;
						position: relative;
						width: 100%;

						@include media-breakpoint-down(md) {
							&::after {
								color: $color-dark;
								content: '\f078';
								font-family: 'Font Awesome 5 Free';
								font-size: 12px;
								font-weight: 900;
								position: absolute;
								right: 5px;
							}

							&.active {
								&::after {
									content: '\f077';
								}
							}
						}
					}
				}
			}
		}

		ul {
			padding-left: 0;
			width: 100%;

			> li {
				color: $salsas-color-secondary;
				width: 100%;

				&.all-categories {
					display: none;
				}

				&.sf-field-reset {
					@include media-breakpoint-down(md) {
						justify-content: left;
					}

					display: flex;

					a {
						background-color: $salsas-color-secondary;
						border-radius: 50px 0;
						color: $color-light;
						font-family: 'Averia Serif Libre Bold';
						font-size: 12px;
						font-weight: 300;
						letter-spacing: 1.2px;
						padding: 0.125rem 3.628rem;
						text-transform: uppercase;
						transition: border-radius .51s;

						&:hover {
							background-color: $salsas-color-secondary;
							border-radius: 0 50px;
							color: $color-light;
						}
					}
				}

				> label {
					@include media-breakpoint-down(md) {
						color: $color-dark;
						font-family: 'le-osler-stamp-regular';
						font-size: 17px;
						letter-spacing: .71px;
						line-height: 34px;
						text-transform: none;
					}

					font-family: 'Averia Serif Libre Bold';
					font-size: 13px;
					font-weight: bold;
					letter-spacing: 1.2px;
					text-transform: uppercase;
				}
			}

			&.children {
				@include media-breakpoint-down(md) {
					display: none;
					margin-bottom: 1rem;
				}

				margin-left: 0;

				> li {
					@include media-breakpoint-down(md) {
						padding: 0;
					}

					align-items: center;
					display: flex;

					[type='checkbox'] {
						-webkit-appearance: none;
						background-color: $color-grayscale-4;
						border-radius: 2px;
						display: inline-block;
						height: 15px;
						position: relative;
						width: 15px;

						&:active {
							background-color: $salsas-color-secondary;
						}

						&:checked {
							background-color: $salsas-color-secondary;
							color: $color-light;

							&:active {
								background-color: $salsas-color-main;
							}

							&::after {
								align-items: center;
								color: $color-light;
								content: '\f00c';
								display: flex;
								font-family: 'Font Awesome 5 Free';
								font-size: 9px;
								font-weight: 600;
								height: 15px;
								justify-content: center;
								position: absolute;
								width: 15px;
							}
						}
					}

					> label {
						font-size: 13px;
						letter-spacing: normal;
						line-height: normal;
						text-transform: unset;

						&:hover {
							cursor: pointer;
						}
					}
				}
			}
		}

		input {
			&[type='submit'] {
				@include sals-button;
			}
		}
	}
}

.right-recipes {
	padding-top: 3rem;

	.btn-filter-recipes {
		align-items: center;
		color: $salsas-color-main;
		display: flex;
		font-family: 'Averia Serif Libre Bold';
		font-size: 25px;
		justify-content: center;
		line-height: 35px;
		margin: 2rem 0 3rem;
		text-align: center;

		svg {
			margin-right: 1.5rem;
			width: 30px;
		}

		&:hover,
		&:focus {
			color: $salsas-color-main;
			text-decoration: none;
		}
	}

	.item {
		transition: ease .3s;

		&:hover {
			transform: scale(1.05);
		}

		a {
			&:hover {
				text-decoration: none;
			}
		}
	}

	.stars-snippet {
		padding: 0;
	}

	.entry-header {
		@include media-breakpoint-up(xl) {
			padding: 0;
		}

		@include media-breakpoint-down(md) {
			padding: 0;
		}

		font-family: 'Averia Serif Libre Bold';
		padding: 0 .8rem;

		.entry-title {
			@include media-breakpoint-down(md) {
				font-size: 18px;
				letter-spacing: 0;
				line-height: 19px;
			}

			color: $salsas-color-main;
			font-family: 'Averia Serif Libre Bold' !important;
		}

		p {
			margin-bottom: 0;
		}

		p,
		a {
			font-family: 'Averia Serif Libre Bold';
			font-size: 16px;
			line-height: 20px;
		}
	}

	section {
		&[data-video='true'] {
			&::after {
				right: 2.5rem;
			}
		}
	}

	.btn-write-review-link {
		@include media-breakpoint-up(xl) {
			padding: 0;
		}

		@include media-breakpoint-down(md) {
			padding: 0;
		}

		color: $color-reviews;
		display: block;
		font-family: 'Averia Serif Libre Regular';
		font-size: 16px;
		letter-spacing: normal;
		line-height: 20px;
		text-align: left;
		text-decoration: none;
		text-transform: unset;

		&:hover {
			color: $color-reviews;
			text-decoration: underline;
		}
	}
}

.main-cont-reviews {
	@include media-breakpoint-down(md) {
		background-color: transparent;
	}

	background-color: $color-gray;
	margin-top: 4rem;
	padding: 3rem 0;
}

//salsas recipes styles - override recipes.scss
.page-template-page-recipe {
	h1,
	h2 {
		font-family: 'Averia Serif Libre Bold';
	}

	.btn-main {
		font-family: 'Averia Serif Libre Bold';
		padding: 0.375rem 0.75rem !important;
		width: 100%;
		width: 100%;
	}

	p,
	li,
	span {
		font-family: 'Averia Serif Libre Regular' !important;
		font-size: 16px;
		line-height: 20px;
	}

	li {
		span {
			display: inline-block;
			width: 35px;
		}
	}

	.col-directions {
		li {
			span {
				width: 100%;
			}
		}
	}

	.recipe-information {
		margin: 1rem 0;
	}

	section {
		.information-item {
			label {
				line-height: 2;
			}
		}
	}

	.col-directions {
		li {
			padding-left: 35px;
		}
	}
}
