@import '../mixins';
@import '../fonts';

.contact-row {
	.left-column {
		background-color: $color-main;
		color: $color-light;
		padding-top: 4rem;

		a {
			color: $color-light;
		}
	}

	.right-column {
		input,
		textarea {
			&:not([type='submit']) {
				background-color: $bg-inputs;
				border-radius: 1px;
				font-size: 16px;
				line-height: 1.5;
				margin-bottom: 10px !important;
				min-height: 50px;
			}

			&[type='checkbox'] {
				min-height: 0;
			}

			&[type='submit'] {
				@include sals-button;
				border: 0;
				border-radius: 50px 0;
				min-height: 50px;
			}
		}

		h3 {
			color: $color-main;
			font-size: 24px;
			font-weight: bold;
			line-height: 1;
			margin-left: 15px;
		}

		span {
			&[class*='acceptance'] {
				&:first-child {
					color: $color-secondary;
					display: block;
					font-size: 16px;
					margin: .8rem 0 !important;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.contact-row {
		flex-direction: column-reverse;
	}
}
@media (min-width: 1024px) {
	.contact-row {
		.left-column {
			padding-left: 7rem;
		}

		.right-column {
			padding: 4rem;
		}
	}
}
