@import '../mixins';
@import '../fonts';

// Category Page 
.category-post-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 255px;
	margin: 0 auto;
	width: 255px;

	img {
		display: none;
	}
}

.single-post {
	.navigation,
	.comments-area {
		display: none;
	}
}

.brand-desc {
	margin-top: 3rem;

	h1 {
		font-size: 3.5rem;
	}
}

.page-brand-gallery {
	ul {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		height: 100% !important;
		justify-content: space-evenly;

		.isotope-item {
			float: none !important;
			left: initial !important;
			position: inherit !important;
			top: initial !important;
			width: 25%;

			img {
				margin: 0 auto;
				width: 70%;
			}
		}
	}
}

.sub-header-filter {
	.cont-recipe-video {
		bottom: -7px;
		position: absolute;
		right: 0;

		video,
		iframe {
			height: 130px;
			max-width: 225px;
			min-height: 130px;
			width: 100%;
		}

		.button-play {
			background-image: url('../../../images/button-play-button.png');
			background-position: center;
			background-repeat: no-repeat;
			background-size: 60px 60px;
			bottom: 0;
			height: 100%;
			left: 0;
			margin: auto;
			position: absolute;
			right: 0;
			top: 0;
			width: 100%;
		}
	}
}

.cont-popup-recipe-video {
	iframe {
		height: 500px;
		width: 100%;
	}
}

article {
	&[data-post='category-recipe'] {
		.entry-title {
			border-bottom: 0;
			margin: 1rem 0 0;
			padding: 0;

			a {
				color: $color-main;
				display: block;
				font-size: 16px;

				&:hover {
					color: initial;
				}
			}
		}
	}

	&[data-video='true'] {
		position: relative;

		&::after {
			background-image: url('../../../images/button-play-button.png');
			background-repeat: no-repeat;
			background-size: contain;
			content: '';
			display: block;
			height: 60px;
			position: absolute;
			right: .5rem;
			top: .5rem;
			width: 60px;
		}
	}

	&.recipe {
		.entry-content {
			.wpurp-recipe-title {
				text-align: center !important;
			}
		}
	}

	.information-item {
		display: flex;
		flex-direction: column;
		padding-left: 5rem;
		position: relative;

		&.recipe {
			&-servings {
				&::before {
					background-image: url('../../../images/icons/icon-recipe-servings.png');
				}
			}

			&-calories {
				&::before {
					background-image: url('../../../images/icons/icon-recipe-calories.png');
				}
			}

			&-prep-time {
				&::before {
					background-image: url('../../../images/icons/icon-recipe-prep-time.png');
				}
			}

			&-cook-time {
				&::before {
					background-image: url('../../../images/icons/icon-recipe-cook-time.png');
				}
			}

			&-total-time {
				&::before {
					background-image: url('../../../images/icons/icon-recipe-total-time.png');
				}
			}
		}

		&::before {
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			border-radius: 50%;
			content: '';
			display: inline-block;
			height: 64px;
			left: 0;
			position: absolute;
			width: 64px;
		}

		label {
			color: $color-secondary;
			font-size: 13px;
			letter-spacing: 1.2px;
			margin: 0;
			text-transform: uppercase;
		}

		span {
			color: $color-main;
			font-size: 24px;
			font-weight: bold;
		}
	}

	.cont-columns {
		color: $color-secondary;
		margin-top: 2rem;

		.column {
			&.col-ingredients {
				p {
					font-weight: 600;
				}

				ul {
					list-style: none;
					padding-left: 0;
				}
			}

			ol,
			ul {
				li {
					+ li {
						margin-top: 1rem;
					}
				}
			}

			h4 {
				margin-bottom: 1rem;
			}
		}

		.directions {

		}
	}

	.recipe-share {
		border-bottom: 1px solid $color-grayscale-4;
		border-top: 1px solid $color-grayscale-4;
		margin-top: 1rem;
		padding: 1rem 0;
	}
}

.header-single-post {
	.back-recipes {
		color: $color-light;
		font-size: 12px;
		font-weight: bold;
		letter-spacing: 1.2px;
		text-shadow: 2px 2px 3px $color-dark;
		text-transform: uppercase;

		&:hover {
			text-decoration: none;
		}
	}
}

.category-brand {
	color: $color-secondary;
	font-size: 12px;
	letter-spacing: 1.2px;
	text-transform: uppercase;

	a {
		color: $color-secondary;
	}
}

.btn-recipe-gray {
	background: $color-grayscale-2;
	border-radius: 0;
	color: $color-light;
	font-size: 20px;
	padding: .7rem 4rem;

	&:hover {
		color: $color-light;
	}
}

.page-template-recipes,
.category {
	.site-content {
		padding: 0 !important;
	}
}
.left-filters {
	background-color: $color-grayscale-1;
	padding: 3rem 0 3rem 8%;

	h5 {
		font-size: 19px;
		text-transform: uppercase;
	}


	.cont-options {
		.sf-field-category {
			> ul {
				> li {
					&:first-child {
						display: none;
					}

					> input[type="checkbox"] {
						display: none;
					}
				}
			}
		}

		ul {
			padding-left: 0;
			width: 100%;

			> li {
				color: $color-secondary;
				width: 100%;

				&.all-categories {
					display: none;
				}

				&.sf-field-reset {
					display: flex;
					justify-content: center;

					a {
						@include sals-button;
					}
				}

				> label {
					font-size: 13px;
					font-weight: bold;
					letter-spacing: 1.2px;
					text-transform: uppercase;
				}
			}

			&.children {
				margin-bottom: 2rem;

				> li {
					display: block;

					> label {
						font-size: 14px;
						font-weight: 300;
						letter-spacing: normal;
						text-transform: unset;

						&:hover {
							cursor: pointer;
						}
					}
				}
			}
		}

		input {
			&[type='submit'] {
				@include sals-button;
			}
		}
	}
}

.right-recipes {
	padding-top: 3rem;

	.entry-header {
		padding: 0 1rem;
	}

	article {
		&[data-video='true'] {
			&::after {
				right: 2.5rem;
			}
		}
	}
}

.stars-snippet {
	padding: 0 1rem;
}

// Recipe Page

body {
	&.single-post {
		.site-content {
			padding-bottom: 0 !important;
			padding-top: 2rem !important;
		}

		.post {
			&.hentry {
				margin: 0;
			}
		}
	}

	.btn-modal-close {
		@include sals-button;
	}
}

.entry-header {
	.recipe {
		&-title {
			color: $color-main;
			font-size: 42px;
			line-height: 46px;
			text-align: center;
		}

		&-reviews {
			.write-review {
				text-align: center;
			}
		}

		&-description {
			p {
				color: $color-secondary;
				line-height: 24px;
				margin: 1rem auto;
				max-height: 50px;
				max-width: 80%;
				overflow: hidden;
				position: relative;
				text-align: center;

				&::after {
					background-image: linear-gradient(to bottom, $white-transparent, $color-light);
					bottom: 0;
					content: '';
					display: block;
					height: 20px;
					left: 0;
					position: absolute;
					right: 0;
					width: 100%;
				}

				&.showing {
					background: 0;
					max-height: 100%;

					&::after {
						content: none;
					}
				}
			}

			.cont-show-more {
				text-align: center;

				.read-more {
					border-radius: 0;
					color: $color-grayscale-4;
				}
			}
		}
	}
}

.recipe {
	&-information {
		border-bottom: 1px solid $color-grayscale-4;
		border-top: 1px solid $color-grayscale-4;
		display: flex;
		justify-content: space-between;
		padding: 1rem 0 1.5rem;

		.recipe-calories {
			display: none;
		}
	}
}

.col-right {
	h4 {
		margin-left: 25px;
	}
}

.cont-reviews {
	h2 {
		margin-bottom: 2rem;
		padding: 0;
		text-align: center;
	}

	.columns {
		margin-top: 2rem;
	}
}

@media (max-width: 768px) {
	.recipe {
		&-information {
			flex-direction: column;
		}
	}

	.category-post-image {
		height: 300px;
		margin: 0 auto;
		width: 300px;
	}

	article {
		.information-item {
			line-height: 1.3;
			margin: 1rem 0;
			padding-left: 6rem;

			&::before {
				height: 54px;
				width: 54px;
			}
		}
	}

	.cont-columns {
		.col-directions {
			margin-top: 2rem;
		}
	}

	.cont-recipe-video {
		height: 65px;
		right: 0;
		top: 0;
		width: 65px;

		iframe {
			display: none;
		}
	}
}

@media (max-width: 992px) {
	.cont-columns {
		.col-directions {
			.directions {
				padding-left: 15px;
			}
		}
	}

	.col-right {
		h4 {
			margin-left: 0;
		}
	}
}

@media (min-width: 768px) {
	.header-single-post {
		.back-recipes {
			left: 15%;
			position: absolute;
			top: 1rem;
		}
	}
}

@media print {
	a {
		color: $color-dark;

		&::after {
			color: $color-dark;
		}
	}

	@page {
		margin-bottom: 2cm;
		margin-left: 2cm;
		margin-right: 2cm;
		margin-top: 2cm;
	}

	.main-header,
	.sub-header-filter,
	.comments-area,
	.cont-reviews,
	.btn,
	.cont-recipe-video,
	footer,
	.footer-banner,
	.footer-widget {
		display: none;
	}


	.entry-header {
		.recipe-description {
			p {
				max-height: 100%;

				&::after {
					content: none;
				}
			}
		}
	}

	.cont-columns {
		break-inside: avoid;
		page-break-inside: avoid;
	}
}

@media (max-width: 576px) {
	.category-post-image {
		width: 300px;
	}
}
