@import '../mixins';
@import '../fonts';

// Brand page

.cont-all-brands {
	h1 {
		color: $color-main;
	}
}

.brand-desc {
	font-size: 16px;
	line-height: 1.5em;
}

.page-brand-gallery {
	ul {
		.isotope-item {
			width: 20%;
		}
	}
}

.page-template-brand,
.error404 {
	.site-content {
		padding-bottom: 0 !important;
	}

	.popular-group-recipes {
		background-color: $color-grayscale-1;
		margin-top: 3rem;
	}

	.brand {
		color: $color-secondary;
		font-size: 12px;
		letter-spacing: 1.2px;
		text-transform: uppercase;
	}
}


@media (min-width: 1000px) {
	.cont-all-brands {
		.item {
			a {
				margin: 0 auto;
				max-width: 80%;
			}
		}
	}
}
