@import '../mixins';
@import '../fonts';

.mar-top-6r {
	margin-top: 6rem;
}

.page-template-home {
	.site-content {
		padding: 0 !important;
	}

	.brand {
		color: $color-secondary;
		font-size: 12px;
		letter-spacing: 1.2px;
		text-transform: uppercase;
	}
}

// Post review slider 
.popular-recipes-container {
	.popular-recipes-carousel {
		.item {
			.carousel-image {
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				max-height: 360px;
				min-height: 360px;

				img {
					display: none;
				}
			}

			.information {
				display: flex;
				justify-content: space-between;
			}

			.title {
				h3 {
					color: $color-main;
					font-size: 24px;
					margin: 0;
					text-align: left;
					text-transform: capitalize;
				}
			}

			.right {
				a {
					align-items: center;
					background-color: $color-secondary;
					border-radius: 30px 0;
					color: $color-light;
					display: flex;
					font-weight: bold;
					height: 50px;
					justify-content: center;
					line-height: 1.2;
					transition: border-radius .51s;
					width: 160px;

					&:hover {
						border-radius: 0 30px;
					}
				}
			}

			.description {
				color: $color-secondary;
				font-size: 16px;
				margin-bottom: 0;
				padding: 2% 0;
			}
		}

		.owl-nav {
			display: list-item;
			left: 0;
			margin: auto;
			position: absolute;
			right: 0;
			text-align: center;
			top: 22%;
			z-index: 2;

			button {
				color: $color-secondary;
				position: absolute;

				&:hover {
					background-color: transparent;
					color: inherit;
				}

				&:focus {
					box-shadow: none;
					outline: none;
				}

				span {
					font-size: 60px;
				}

				&.owl-prev {
					left: 16rem;
				}

				&.owl-next {
					right: 16rem;
				}
			}
		}
	}

	.owl-carousel {
		.owl-item {
			&::before {
				background-color: $white-transparent;
				bottom: 0;
				content: '';
				display: block;
				height: 100%;
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
				width: 100%;
				z-index: 2;

			}

			&.center {
				&::before {
					display: none;
				}
			}
		}
	}
}

.popular-group-recipes {
	padding: 3rem 0 5rem;

	h2 {
		color: $color-main;
		font-size: 34px;
		font-weight: lighter;
		margin-bottom: 3rem;
		text-align: center;
	}

	.item {
		a {
			transition: ease .3s;

			&:hover {
				text-decoration: none;
				transform: scale(1.05);
			}
		}

		.recipe-name {
			color: $color-main;
			font-size: 16px;
			margin: 0;
			text-align: left;
			text-transform: capitalize;
		}

		.recipe-image {
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			height: 255px;
			margin-bottom: .5rem;
			width: 255px;
		}
	}
}

.cont-brands {
	background-color: $color-gray;
	padding: 3rem 0;

	h3 {
		color: $color-main;
		font-weight: lighter;
	}
}

// Our brands
.brands {
	ul {
		display: flex;
		justify-content: center;

		.isotope-item {
			left: unset !important;
			margin: 0 15px !important;
			position: inherit !important;
		}
	}
}

@media (max-width: 768px) {
	.popular-recipes-container {
		padding-top: 5rem;

		.popular-recipes-carousel {
			padding: 0 1rem;
		}
	}

	.popular-group-recipes {
		.item {
			margin-bottom: 2rem;
		}
	}

	.sub-header-filter {
		h2 {
			&::after {
				content: '\f107';
				display: block;
				font-family: 'FontAwesome';
				font-size: 20px;
				margin-top: 5px;
			}
		}
	}
}

@media (max-width: 767px) {
	.popular-recipes-container {
		.popular-recipes-carousel {
			.item {
				.information {
					align-items: center;
					flex-direction: column;
					padding: 0 2rem;

					.left {
						margin-bottom: 1rem;

						.title {
							margin-bottom: 1rem;
						}
					}

					.right {
						a {
							width: 200px;
						}
					}
				}

				.description {
					margin-top: 2rem;
					padding: 0 2rem;
				}
			}

			.owl-nav {
				top: 20% !important;

				button {
					color: $color-light;

					&.owl-prev {
						left: 0 !important;
					}

					&.owl-next {
						right: 0 !important;
					}
				}
			}
		}
	}

	.popular-group-recipes {
		.item {
			margin-bottom: 2rem;

			.recipe-image {
				height: 300px;
				width: 100%;
			}
		}
	}
}
