@import '../mixins';
@import '../fonts';

.page-main-faq {
	padding-bottom: 3rem;
	padding-top: 3rem;

	h1 {
		color: $color-main;
	}

	.row-flex {
		align-items: center;
		color: $color-light;
		display: flex;
		justify-content: center;
	}

	.btn-salsas-rounded {
		a {
			@include sals-button;
			min-height: 50px;
			padding: 1rem 3rem;
		}
	}

	h3 {
		color: $color-main;
		font-size: 24px;
		line-height: 22px;
	}

	h4 {
		color: $color-secondary;
		font-size: 12px;
		line-height: 16px;
	}
}

.faqs-toggle {
	.faq-item {
		margin-bottom: 0 !important;
		position: relative;

		p {
			color: $color-text-faqs;
			font-size: 12px;
			line-height: 16px;
		}

		> div {
			&:first-child {
				line-height: 3.5;
				padding-left: 0;
				transition: line-height .3s ease-in-out;
			}

			&:last-child {
				margin: 0;
				padding-left: 0;
			}
		}

		i {
			left: initial !important;
			right: 0;

		}

		+ .faq-item {
			border-top: 1px solid $color-text-faqs;
		}

		&:last-child {
			border-bottom: 1px solid $color-text-faqs;
		}

		&[class*='active'] {
			> div {
				&:first-child {
					line-height: normal;
					margin-top: 1rem;
					transition: line-height .3s ease-in-out;
				}
			}
		}
	}
}

@media (min-width: 1024px) {
	.page-main-faq {
		padding: 5rem 0;
	}
}
