body {
    font-family: "Averia Serif Libre";
    margin: 0;
}
/* Headings
--------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Averia Serif Libre";
    margin: 0 0 20px;
}

.comment-respond h3,
.entry-comments h3 {
    margin-bottom: 3.750rem;
    margin-top: 6.25rem;
}


.navbar-brand {
    padding-top: 0.25rem;
}
.navbar-brand > a {
    font-family: "Averia Serif Libre";
    text-transform: uppercase;
}

#masthead .navbar-nav > li a {
    border-bottom-width: 0;
    display: block;
    font-family: "Averia Serif Libre";
    padding: 9px;
    text-transform: uppercase;
}

div#page-sub-header h1 {
    font-family: "Averia Serif Libre";
    margin-bottom: 0;
    text-transform: none;
}

div#page-sub-header p {
    max-width: 100%;
}
#secondary .widget-title {
    font-family: "Averia Serif Libre";
    margin-bottom: 10px;
    text-transform: uppercase;
}
.entry-meta {
    font-family: "Averia Serif Libre";
    text-transform: uppercase;
}
.post-thumbnail {
    margin-bottom: 1.875rem;
}