@import 'mixins';

.pr-reviewhistogram {
	margin: 0 !important;
}

.p-w-r {
	.pr-rating-stars {
		align-items:center;
		display: flex;

		.pr-star-v4 {
			height: 18px !important;
			margin-right: 4px !important;
			padding: 0 !important;
			width: 19px !important;

			&.pr-star-v4-100-filled {
				background-image: url('../../img/star-red-100.svg');
			}

			&.pr-star-v4-75-filled {
				background-image: url('../../img/star-red-75.svg');
			}

			&.pr-star-v4-50-filled {
				background-image: url('../../img/star-red-50.svg');
			}

			&.pr-star-v4-25-filled {
				background-image: url('../../img/star-red-25.svg');
			}

			&.pr-star-v4-0-filled {
				background-image: url('../../img/star-red-0.svg');
			}
		}
	}

	.pr-review-snapshot {
		background-color: transparent;

		[class^='pr-ratings-histogram-bar'] {
			height: 12px !important;
		}

		.pr-review-snapshot-block-histogram {
			border: 0 !important;
			min-height: 100% !important;
			width: 100% !important;

			.pr-review-snapshot-block-headline {
				display: none;
			}
		}

		.pr-ratings-histogram {
			.pr-ratings-histogram-bar {
				background-color: $color-grayscale-7;
			}

			.pr-histogram-count {
				font-family: 'proxima-nova-regular' !important;
				font-size: 16px;
				padding: 0 18px !important;
				color: $color-dark;
			}

			.pr-histogram-stars {
				height: 25px !important;
			}

			.pr-ratings-histogram-bar {
				background-color: $color-grayscale-10 !important;
			}
		}

		.pr-histogram-label {
			font-family: 'proxima-nova-regular' !important;
			padding: 0 13px !important;
			width: 18% !important;
		}
	}

	.pr-snippet-stars {
		background-color: transparent;
	}

	.pr-snippet {
		&.pr-category-snippet {
			margin: 0 !important;
		}

		text-align: center;

		.pr-snippet-stars-png {
			align-items: center;
			background-color: transparent;
			display: flex !important;
			flex-direction: row-reverse;
			justify-content: center;

			.pr-snippet-rating-decimal {
				border: 0;
				color: $color-dark;
				font-family: 'proxima-nova-bold';
				font-size: 28px !important;
				line-height: 20px;
				margin: 0 5px;
			}

			.pr-category-snippet__total {
				color: $color-grayscale-9 !important;
				font-family: 'proxima-nova-regular';
				font-size: 16px !important;
			}
		}
	}

	.pr-snippet-stars-reco-inline {
		.pr-snippet-read-and-write {
			margin-top: 0 !important;
			display: block !important;

			.pr-snippet-review-count {
				color: $color-grayscale-9;
				font-size: 16px !important;
				font-family: 'proxima-nova-regular';
			}
		}
	}
}

.single {
	.cont-write-review {
		a {
			+ a {
				display: none;
			}
		}
	}

	.product-reviews {
		margin: 10px 0;
	}
}

.cont-review-display {
	.pr-snapshot-mobile {
		display: none;
	}

	.pr-review-display {
		background-color: transparent;

		.pr-rd-main-header {
			display: none;
		}

		.pr-rd-footer {
			background-color: transparent;
		}

		article {
			&.pr-review {
				button {
					span {
						color: $color-main;
						letter-spacing: 1.2px;
						text-transform: uppercase;
					}

					.pr-caret-icon {
						display: none;
					}
				}

				.pr-rd-header {
					display: flex;
					flex-direction: column-reverse;
					margin-bottom: 0;

					.pr-rd-review-headline {
						color: $color-dark;
						font-size: 18px;
						margin: 0 0 13px;
					}

					.pr-snippet-stars {
						.pr-snippet-rating-decimal {
							display: none;
						}

						time {
							font-size: 16px;
							color: $color-grayscale-9;
							padding-left: 10px;
							font-family: 'proxima-nova-regular';
						}
					}
				}

				.pr-rd-description {
					.pr-rd-author-submission-date,
					.pr-rd-author-location {
						display: none;
					}

					.pr-rd-reviewer-details {
						.pr-rd-author-nickname {
							span {
								color: $color-dark;
								font-family: 'proxima-nova-bold' !important;
								font-size: 14px;
								letter-spacing: .5px;
								line-height: 1.43;
								text-transform: uppercase;
							}
						}
					}

					.pr-rd-description-text {
						color: $color-dark;
						font-family: 'proxima-nova-regular' !important;
						font-size: 16px;
						letter-spacing: normal;
						line-height: 1.5;
					}
				}

				footer {
					&.pr-rd-footer {
						display: none;
					}
				}

				+ .pr-review {
					border-top: 1px solid $color-text-faqs;
					padding-top: 1rem;
				}
			}
		}

		.pr-rd-main-footer {
			.pr-rd-to-top {
				display: none;
			}

			.pr-rd-content-block {
				border-top: 1px solid;
				height: 55px;
			}

			.pr-rd-review-position {
				bottom: 0;
				color: black;
				height: 20px;
				left: 0;
				margin: auto;
				position: absolute;
				right: 0;
				top: 0;

				span {
					@include media-breakpoint-down(xs) {
						display: none;
					}

					font-size: 16px;
					color: $color-dark;
					font-family: 'proxima-nova-regular' ;
				}

				.pr-rd-bold {
					@include media-breakpoint-down(xs) {
						display: block;
					}

					font-family: 'proxima-nova-bold' !important;
				}
			}

			.pr-rd-pagination {
				border: none;
				bottom: 0;
				display: block;
				font-size: 16px;
				height: 24px;
				margin: auto;
				padding: 0;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 1;

				button {
					color: $color-main;
					font-family: 'proxima-nova-bold';
					position: absolute;
				}

				button[aria-label="Previous"] {
				  left: 0;
				}

				button[aria-label="Next"] {
				  right: 0;
				}

				span {
					display: none;
				}
			}
		}
	}
}

.stars-snippet {
	.pr-snippet-stars-reco-reco,
	.pr-snippet-write-review-link {
		display: none;
	}

	&.category-page {
		.p-w-r {
			margin: 0;

			.pr-snippet-write-review-link {
				color: $color-reviews;
				font-size: 12px !important;
				line-height: 20px;
			}
		}

		.pr-snippet-review-count {
			display: none;
		}

		.pr-snippet-write-review-link {
			display: block;
		}
	}
}

.cont-write-review {
	margin: 10px 0 40px;
	text-align: center;

	.p-w-r {
		.pr-war {
			max-width: 100%;
		}
	}

	.btn-write-review {
		padding: 1rem 3rem;
	}

	div {
		&[type='submit'] {
			@include herd-button;
			appearance: none;
			border: 0;
			padding: 1rem 3rem;
		}
	}

	.btn-main {
		padding: 9.5px 30px;
		font-size: 16px;
	}
}


.all-product-reviews {
	.pr-rating-stars {
		align-items:center;
		display: flex;

		.pr-star-v4 {
			height: 12px !important;
			margin-right: 3px !important;
			padding: 0 !important;
			width: 12px !important;

			&.pr-star-v4-100-filled {
				background-image: url('../../img/star-100.svg');
			}

			&.pr-star-v4-75-filled {
				background-image: url('../../img/star-75.svg');
			}

			&.pr-star-v4-50-filled {
				background-image: url('../../img/star-50.svg');
			}

			&.pr-star-v4-25-filled {
				background-image: url('../../img/star-25.svg');
			}

			&.pr-star-v4-0-filled {
				background-image: url('../../img/star-0.svg');
			}
		}
	}

	.pr-snippet {
		.pr-snippet-stars-png {
			.pr-snippet-rating-decimal {
				@include media-breakpoint-down(xs) {
					display: none;
				}

				background: $header-cards;	
				color: $color-light !important;
				font-family: 'proxima-nova-regular' !important;
				font-size: 16px !important;
				margin: 0 5px;
				display: none;
			}
		}

		.pr-category-snippet__total {
			@include media-breakpoint-down(xs) {
				font-size: 15px !important;
			}

			color: $color-grayscale-9 !important;
			font-family: 'proxima-nova-regular' !important;
			font-size: 16px !important;
			line-height: 16px;
			text-align: left;
		}
	}
}

.product-reviews {
	.pr-rating-stars {
		align-items:center;
		display: flex;

		.pr-star-v4 {
			height: 18px !important;
			margin-right: 4px !important;
			padding: 0 !important;
			width: 19px !important;

			&.pr-star-v4-100-filled {
				background-image: url('../../img/star-red-100.svg');
			}

			&.pr-star-v4-75-filled {
				background-image: url('../../img/star-red-75.svg');
			}

			&.pr-star-v4-50-filled {
				background-image: url('../../img/star-red-50.svg');
			}

			&.pr-star-v4-25-filled {
				background-image: url('../../img/star-red-25.svg');
			}

			&.pr-star-v4-0-filled {
				background-image: url('../../img/star-red-0.svg');
			}
		}
	}
	

	.pr-snippet {
		.pr-snippet-stars-png {
			.pr-snippet-rating-decimal {
				background: $color-main !important;	
				color: $color-light !important;
				font-family: 'proxima-nova-regular' !important;
				font-size: 16px !important;
				margin: 0 5px !important;
				display: none;
			}
		}

		.pr-category-snippet__total {
			color: $color-grayscale-9 !important;
			font-family: 'proxima-nova-regular' !important;
			font-size: 16px !important;
		}
	}
}
