.cont-all-brands {
  margin-top: 4rem; }
  .cont-all-brands h1 {
    color: #4b764a;
    font-size: 42px; }
    @media (max-width: 991.98px) {
      .cont-all-brands h1 {
        font-size: 35px;
        letter-spacing: 0;
        line-height: 46px; } }
  @media (max-width: 991.98px) {
    .cont-all-brands .item + .item {
      margin-top: 40px; } }
  @media (max-width: 991.98px) {
    .cont-all-brands .item a {
      width: 214px;
      margin: 0 auto; } }
  .cont-all-brands p {
    font-size: 20px;
    line-height: 24px; }
    @media (max-width: 991.98px) {
      .cont-all-brands p {
        font-size: 18px;
        line-height: 23px; } }

.brand-desc {
  font-size: 16px;
  line-height: 1.5em; }

.page-brand-gallery ul .isotope-item {
  width: 20%; }

.page-template-brand .site-content,
.error404 .site-content {
  padding-bottom: 0 !important; }

.page-template-brand .popular-group-recipes,
.error404 .popular-group-recipes {
  background-color: #f4f4f4;
  margin-top: 3rem;
  padding-bottom: 3rem; }

.page-template-brand .brand,
.error404 .brand {
  color: #2e1a46;
  font-size: 12px;
  letter-spacing: 1.2px;
  text-transform: uppercase; }

@media (min-width: 1000px) {
  .cont-all-brands .item a {
    margin: 0 auto;
    max-width: 80%; } }
