.contact-page .left-column {
  background-color: #4b764a;
  color: #fff;
  padding-top: 4rem; }
  @media (max-width: 991.98px) {
    .contact-page .left-column {
      padding-bottom: 3rem; } }
  .contact-page .left-column a {
    color: #fff; }
  .contact-page .left-column h1 {
    color: #fff;
    font-size: 42px;
    line-height: 46px;
    margin-bottom: 3rem;
    text-transform: capitalize; }
    @media (max-width: 991.98px) {
      .contact-page .left-column h1 {
        font-size: 35px; } }
  .contact-page .left-column h3 {
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase; }
  .contact-page .left-column p {
    color: #fff;
    margin-bottom: 3rem; }
    .contact-page .left-column p:last-child {
      margin-bottom: 0; }

.contact-page .right-column input:not([type='submit']),
.contact-page .right-column textarea:not([type='submit']) {
  background-color: rgba(155, 155, 155, 0.2);
  border-radius: 1px;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px !important;
  min-height: 50px; }

.contact-page .right-column input[type='checkbox'],
.contact-page .right-column textarea[type='checkbox'] {
  min-height: 0; }

.contact-page .right-column input[type='submit'],
.contact-page .right-column textarea[type='submit'] {
  background-color: #2e1a46;
  border-radius: 30px 0;
  color: #fff;
  font-family: 'Averia Serif Libre Bold';
  font-size: 18px;
  font-weight: 300;
  letter-spacing: normal;
  padding: .5rem 3rem;
  transition: border-radius .51s;
  border: 0;
  border-radius: 30px 0;
  min-height: 50px; }
  .contact-page .right-column input[type='submit']:hover,
  .contact-page .right-column textarea[type='submit']:hover {
    background-color: #2e1a46;
    border-radius: 0 30px;
    color: #fff; }

.contact-page .right-column h3 {
  color: #4b764a;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  margin-left: 15px; }
  @media (max-width: 991.98px) {
    .contact-page .right-column h3 {
      font-size: 25px;
      line-height: 31px;
      margin: 0;
      text-align: center; } }

.contact-page .right-column span[class*='acceptance']:first-child {
  color: #2e1a46;
  display: block;
  font-size: 16px;
  margin: .8rem 0 !important; }
  .contact-page .right-column span[class*='acceptance']:first-child .wpcf7-list-item {
    margin-left: 0; }

@media (max-width: 767px) {
  .contact-page {
    flex-direction: column-reverse;
    margin-bottom: 3rem; } }

@media (min-width: 1024px) {
  .contact-page .right-column {
    padding: 4rem 1rem; } }
