.cont-coupons-filter {
  align-items: center;
  display: flex;
  justify-content: center; }
  .cont-coupons-filter .coupon-brand {
    max-width: 10%;
    width: 100%; }

@media (max-width: 991.98px) {
  .cont-coupons h2 {
    font-size: 35px;
    line-height: 46px; } }

.cont-print-coupons {
  display: none; }

.print-coupons-minicart a {
  background-color: #2e1a46;
  border-radius: 30px 0;
  color: #fff;
  font-family: 'Averia Serif Libre Bold';
  font-size: 18px;
  font-weight: 300;
  letter-spacing: normal;
  padding: .5rem 3rem;
  transition: border-radius .51s;
  padding: 1.05rem 3rem !important; }
  .print-coupons-minicart a:hover {
    background-color: #2e1a46;
    border-radius: 0 30px;
    color: #fff; }
  .print-coupons-minicart a:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0; }
  .print-coupons-minicart a:nth-child(2) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0; }
  .print-coupons-minicart a.print-coupons i {
    margin-right: .5rem; }
  .print-coupons-minicart a span {
    color: #fff;
    font-size: 18px;
    letter-spacing: normal;
    line-height: 22px;
    text-transform: none; }

.btn-clip-coupon {
  align-items: center;
  background-color: #fff;
  border-radius: 0;
  bottom: 0;
  color: #000;
  display: flex;
  height: 50px;
  justify-content: center;
  left: 0;
  margin: auto;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%; }

.coupon-item[class*='vc_gitem-zone-mini'] {
  height: 100%;
  margin: auto !important;
  position: absolute !important; }

.coupon-item:hover .btn-clip-coupon {
  opacity: 1; }

.cont-recipes-coupons .owl-stage {
  display: flex;
  justify-content: space-around;
  padding: 0 !important; }
  .cont-recipes-coupons .owl-stage .owl-item {
    width: calc(100% / 4) !important; }
    .cont-recipes-coupons .owl-stage .owl-item .wp-posts-carousel-container {
      border: 0; }
      .cont-recipes-coupons .owl-stage .owl-item .wp-posts-carousel-container .slider-post-image {
        height: 270px; }
        .cont-recipes-coupons .owl-stage .owl-item .wp-posts-carousel-container .slider-post-image img {
          display: none; }
        .cont-recipes-coupons .owl-stage .owl-item .wp-posts-carousel-container .slider-post-image span {
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          display: block;
          height: 100%;
          width: 100%; }
    .cont-recipes-coupons .owl-stage .owl-item .wp-posts-carousel-details .wp-posts-carousel-title {
      font-size: 16px;
      text-align: left; }
      .cont-recipes-coupons .owl-stage .owl-item .wp-posts-carousel-details .wp-posts-carousel-title a {
        color: #000; }

.cont-recipes-coupons .cont-extra-recipes .btn-clip-coupon {
  display: none; }

.cont-recipes-coupons .cont-extra-recipes h4 {
  font-size: 20px; }

.cont-recipes-coupons .cont-extra-recipes p {
  display: none; }

@media (max-width: 767px) {
  .cont-brands-mobile {
    overflow: scroll; }
  .print-coupons-minicart {
    text-align: center; }
    .print-coupons-minicart a {
      font-size: 14px; }
  .cont-coupons-filter {
    flex-direction: column;
    list-style: none;
    padding: 0; }
    .cont-coupons-filter li:first-child {
      display: none; }
    .cont-coupons-filter .coupon-brand {
      margin-bottom: 2rem;
      max-width: 100%; } }

@media print {
  h2,
  select,
  .cont-coupons-filter,
  .cont-recipes-coupons,
  .coupon-item {
    display: none; }
  [class*='vc_grid-container-wrapper'][class*='vc_clearfix'] {
    display: none; }
  .cont-print-coupons {
    display: block !important;
    text-align: center; }
    .cont-print-coupons .coupon-printed {
      page-break-after: always; } }
