.mar-top-3r {
  margin-top: 3rem; }

.page-template-home .brand {
  color: #2e1a46;
  font-size: 12px;
  letter-spacing: 1.2px;
  text-transform: uppercase; }

.popular-recipes-container .popular-recipes-carousel .item .carousel-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 360px;
  min-height: 360px; }
  @media (max-width: 767.98px) {
    .popular-recipes-container .popular-recipes-carousel .item .carousel-image {
      max-height: 170px;
      min-height: 170px; } }
  .popular-recipes-container .popular-recipes-carousel .item .carousel-image img {
    display: none; }

.popular-recipes-container .popular-recipes-carousel .item .information {
  display: flex;
  justify-content: space-between; }

.popular-recipes-container .popular-recipes-carousel .item .title h3 {
  color: #4b764a;
  font-size: 24px;
  margin: 0;
  text-align: left;
  text-transform: capitalize; }
  @media (max-width: 767.98px) {
    .popular-recipes-container .popular-recipes-carousel .item .title h3 {
      font-size: 20px;
      letter-spacing: 0;
      line-height: 25px; } }

.popular-recipes-container .popular-recipes-carousel .item .right a {
  align-items: center;
  background-color: #2e1a46;
  border-radius: 30px 0;
  color: #fff;
  display: flex;
  font-weight: bold;
  height: 50px;
  justify-content: center;
  line-height: 1.2;
  transition: border-radius .51s;
  width: 160px; }
  .popular-recipes-container .popular-recipes-carousel .item .right a:hover {
    border-radius: 0 30px; }

.popular-recipes-container .popular-recipes-carousel .item .description {
  color: #2e1a46;
  font-size: 16px;
  margin-bottom: 0;
  padding: 2% 0; }

.popular-recipes-container .popular-recipes-carousel .owl-nav {
  align-items: center;
  display: flex;
  height: 360px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 2; }
  .popular-recipes-container .popular-recipes-carousel .owl-nav button {
    color: #2e1a46;
    position: absolute; }
    .popular-recipes-container .popular-recipes-carousel .owl-nav button:hover {
      background-color: transparent;
      color: inherit; }
    .popular-recipes-container .popular-recipes-carousel .owl-nav button:focus {
      box-shadow: none;
      outline: none; }
    .popular-recipes-container .popular-recipes-carousel .owl-nav button span {
      font-size: 60px; }
    .popular-recipes-container .popular-recipes-carousel .owl-nav button.owl-prev {
      left: 2rem; }
      @media (min-width: 768px) {
        .popular-recipes-container .popular-recipes-carousel .owl-nav button.owl-prev {
          left: 16rem; } }
    .popular-recipes-container .popular-recipes-carousel .owl-nav button.owl-next {
      right: 2rem; }
      @media (min-width: 768px) {
        .popular-recipes-container .popular-recipes-carousel .owl-nav button.owl-next {
          right: 16rem; } }

.popular-recipes-container .owl-carousel .owl-item::before {
  background-color: rgba(255, 255, 255, 0.7);
  bottom: 0;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2; }

.popular-recipes-container .owl-carousel .owl-item.center::before {
  display: none; }

.popular-group-recipes {
  padding: 3rem 0 5rem; }
  @media (max-width: 767.98px) {
    .popular-group-recipes {
      padding-bottom: 0;
      padding-top: 4rem; } }
  .popular-group-recipes h2 {
    margin-bottom: 3rem;
    text-align: center; }
    @media (max-width: 767.98px) {
      .popular-group-recipes h2 {
        line-height: 32px; } }
  .popular-group-recipes .item a {
    transition: ease .3s; }
    .popular-group-recipes .item a:hover {
      text-decoration: none;
      -webkit-transform: scale(1.05);
              transform: scale(1.05); }
  .popular-group-recipes .item .recipe-name {
    color: #4b764a;
    font-family: 'Averia Serif Libre Bold';
    font-size: 16px;
    margin: 0;
    text-align: left;
    text-transform: capitalize; }
    @media (max-width: 767.98px) {
      .popular-group-recipes .item .recipe-name {
        font-size: 18px;
        letter-spacing: 0;
        line-height: 19px; } }
  .popular-group-recipes .item .recipe-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 255px;
    margin-bottom: .5rem;
    width: 255px; }
    @media (max-width: 767.98px) {
      .popular-group-recipes .item .recipe-image {
        height: 158px !important; } }

.cont-brands {
  padding: 3rem 0; }
  @media (min-width: 768px) {
    .cont-brands {
      background-color: #f6f6f6; } }
  @media (max-width: 767.98px) {
    .cont-brands .item + .item {
      margin-top: 2rem; } }
  .cont-brands .item a {
    align-items: center;
    display: flex !important;
    height: 160px; }
    @media (max-width: 767.98px) {
      .cont-brands .item a {
        width: 214px;
        margin: 0 auto; } }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      .cont-brands .item a {
        display: block !important;
        height: auto;
        vertical-align: middle; } }
  .cont-brands h2 {
    margin-bottom: 4rem; }

.brands ul {
  display: flex;
  justify-content: center; }
  .brands ul .isotope-item {
    left: unset !important;
    margin: 0 15px !important;
    position: inherit !important; }

@media (max-width: 767px) {
  .popular-recipes-container .popular-recipes-carousel {
    padding: 0 1rem; }
  .sub-header-filter a {
    color: #fff; }
    .sub-header-filter a:hover, .sub-header-filter a:focus {
      text-decoration: none; }
  .sub-header-filter .cont-categories-filters h2::after {
    content: '\f105';
    display: inline-block;
    font-family: 'FontAwesome';
    font-size: 20px;
    margin-left: 2rem; }
  .sub-header-filter h2 {
    font-size: 28px !important;
    letter-spacing: 0;
    line-height: 46px; } }

@media (max-width: 890px) {
  .popular-recipes-container .popular-recipes-carousel .item .information {
    flex-direction: column; }
    .popular-recipes-container .popular-recipes-carousel .item .information .left {
      margin-bottom: 1rem; }
    .popular-recipes-container .popular-recipes-carousel .item .information .right {
      margin: 0 auto; }
      .popular-recipes-container .popular-recipes-carousel .item .information .right a {
        font-family: 'Averia Serif Libre Bold';
        font-size: 18px;
        line-height: 22px; }
  .popular-recipes-container .popular-recipes-carousel .item .description {
    margin-top: 1rem;
    padding: 0; }
  .popular-recipes-container .popular-recipes-carousel .owl-nav {
    top: 0;
    align-items: center;
    display: flex;
    height: 360px; } }
  @media (max-width: 890px) and (max-width: 767.98px) {
    .popular-recipes-container .popular-recipes-carousel .owl-nav {
      height: 170px;
      left: 9px;
      right: 9px; } }

@media (max-width: 890px) {
    .popular-recipes-container .popular-recipes-carousel .owl-nav button {
      color: #fff; }
      .popular-recipes-container .popular-recipes-carousel .owl-nav button.owl-prev {
        left: 0 !important; }
      .popular-recipes-container .popular-recipes-carousel .owl-nav button.owl-next {
        right: 0 !important; }
  .popular-group-recipes .item {
    margin-bottom: 2rem; }
    .popular-group-recipes .item .recipe-image {
      height: 300px;
      width: 100%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .popular-recipes-container .popular-recipes-carousel .item .information .left {
    padding-left: 1rem; }
  .popular-recipes-container .popular-recipes-carousel .item .information .right {
    padding-right: 1rem; } }
