.category-post-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 255px;
  margin: 0 auto .5rem;
  width: 255px; }
  .category-post-image img {
    display: none; }

@media (max-width: 1199.98px) {
  .row-ie {
    display: inline !important;
    min-width: 50%; } }

.ssbp-wrap .ssbp-list li {
  margin-top: 0 !important; }
  .ssbp-wrap .ssbp-list li > a {
    border-color: #4b764a !important; }
    .ssbp-wrap .ssbp-list li > a::before {
      color: #4b764a !important; }
    .ssbp-wrap .ssbp-list li > a:hover {
      border-color: initial !important; }
      .ssbp-wrap .ssbp-list li > a:hover::before {
        color: #fff !important; }

.single-post .navigation,
.single-post .comments-area,
[class*='page-recipe'] .navigation,
[class*='page-recipe'] .comments-area {
  display: none; }

.brand-desc {
  margin-top: 3rem; }
  .brand-desc h1 {
    font-size: 3.5rem; }

.brand {
  color: #2e1a46;
  font-family: 'Averia Serif Libre Bold';
  font-size: 12px;
  letter-spacing: 1.2px;
  text-transform: uppercase; }

.page-brand-gallery ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100% !important;
  justify-content: space-evenly; }
  .page-brand-gallery ul .isotope-item {
    float: none !important;
    left: initial !important;
    position: inherit !important;
    top: initial !important;
    width: 25%; }
    .page-brand-gallery ul .isotope-item img {
      margin: 0 auto;
      width: 70%; }

.sub-header-filter .cont-recipe-video {
  bottom: -5px;
  position: absolute;
  right: 0; }
  .sub-header-filter .cont-recipe-video video,
  .sub-header-filter .cont-recipe-video iframe {
    height: 130px;
    max-width: 225px;
    min-height: 130px;
    width: 100%; }
  .sub-header-filter .cont-recipe-video .button-play {
    background-image: url("../../../img/button-play-button.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px 60px;
    bottom: 0;
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%; }

.cont-popup-recipe-video iframe {
  height: 500px;
  width: 100%; }

.single-post .brand-logo,
[class*='page-recipe'] .brand-logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 85px;
  margin: 0; }
  @media (max-width: 991.98px) {
    .single-post .brand-logo,
    [class*='page-recipe'] .brand-logo {
      background-size: contain;
      margin: 0 0 2rem; } }

.single-post .btn-main,
.single-post .btn-salsas,
[class*='page-recipe'] .btn-main,
[class*='page-recipe'] .btn-salsas {
  background-color: #4b764a !important;
  border-radius: 30px 0;
  color: #fff;
  font-family: 'Averia Serif Libre Bold' !important;
  font-size: 18px;
  letter-spacing: 0 !important;
  line-height: 22px !important;
  padding: 0.15rem 3.5rem;
  text-transform: inherit;
  transition: border-radius .51s; }
  @media (max-width: 991.98px) {
    .single-post .btn-main,
    .single-post .btn-salsas,
    [class*='page-recipe'] .btn-main,
    [class*='page-recipe'] .btn-salsas {
      margin-bottom: 2rem;
      max-width: 100%;
      padding: 1rem 3.5rem !important;
      width: 100%; } }
  .single-post .btn-main:hover,
  .single-post .btn-salsas:hover,
  [class*='page-recipe'] .btn-main:hover,
  [class*='page-recipe'] .btn-salsas:hover {
    background-color: #3b5d3a;
    border-radius: 0 30px;
    color: #fff; }
  @media (max-width: 991.98px) {
    .single-post .btn-main br,
    .single-post .btn-salsas br,
    [class*='page-recipe'] .btn-main br,
    [class*='page-recipe'] .btn-salsas br {
      display: none; } }

.single-post .recipe-share .date,
[class*='page-recipe'] .recipe-share .date {
  color: #2e1a46;
  margin: 0; }
  @media (max-width: 991.98px) {
    .single-post .recipe-share .date,
    [class*='page-recipe'] .recipe-share .date {
      margin: 2rem 0;
      text-align: center; } }

section[data-post='category-recipe'] .entry-title {
  border-bottom: 0;
  margin: 1rem 0 0;
  padding: 0; }
  section[data-post='category-recipe'] .entry-title a {
    color: #4b764a;
    display: block;
    font-size: 16px; }
    section[data-post='category-recipe'] .entry-title a:hover {
      color: initial; }

section[data-video='true'] {
  position: relative; }
  section[data-video='true']::after {
    background-image: url("../../../img/button-play-button.png");
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: block;
    height: 60px;
    position: absolute;
    right: .5rem;
    top: .5rem;
    width: 60px; }

section.recipe .entry-content .wpurp-recipe-title {
  text-align: center !important; }

section .information-item {
  display: flex;
  flex-direction: column;
  padding-left: 4rem;
  position: relative; }
  section .information-item.recipe-servings::before {
    background-image: url("../../../img/icons/icon-recipe-servings.png"); }
  section .information-item.recipe-calories::before {
    background-image: url("../../../img/icons/icon-recipe-calories.png"); }
  section .information-item.recipe-prep-time::before {
    background-image: url("../../../img/icons/icon-recipe-prep-time.png"); }
  section .information-item.recipe-cook-time::before {
    background-image: url("../../../img/icons/icon-recipe-cook-time.png"); }
  section .information-item.recipe-total-time::before {
    background-image: url("../../../img/icons/icon-recipe-total-time.png"); }
  section .information-item::before {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 51px;
    left: 0;
    position: absolute;
    width: 51px; }
  section .information-item label {
    color: #2e1a46;
    font-family: 'Averia Serif Libre Bold';
    font-size: 12px;
    letter-spacing: 1.2px;
    margin: 0;
    text-transform: uppercase; }
  section .information-item span {
    color: #4b764a;
    font-family: 'Averia Serif Libre Bold';
    font-size: 24px;
    line-height: 22px; }
    @media (max-width: 991.98px) {
      section .information-item span {
        font-size: 25px;
        line-height: 25px; } }

section .cont-columns {
  color: #2e1a46;
  margin-top: 1.57rem; }
  @media (max-width: 991.98px) {
    section .cont-columns {
      margin-top: 1.8rem; } }
  section .cont-columns .column.col-ingredients p {
    font-weight: 600; }
  section .cont-columns .column.col-ingredients ul {
    list-style: none;
    padding-left: 0; }
  section .cont-columns .column h4 {
    color: #2e1a46;
    font-family: 'Averia Serif Libre Bold';
    font-size: 24px;
    line-height: 22px; }
  section .cont-columns .column ol li + li,
  section .cont-columns .column ul li + li {
    margin-top: 1rem; }
  section .cont-columns .column h4 {
    margin-bottom: 1.7rem; }

section .recipe-share {
  border-bottom: 1px solid #cbcbcb;
  border-top: 1px solid #cbcbcb;
  margin-top: 1rem;
  padding: 1rem 0; }
  @media (max-width: 991.98px) {
    section .recipe-share {
      margin-top: 2rem;
      padding: 3rem 0 2rem;
      text-align: center; } }

.header-single-post .back-recipes,
.banner-product .back-recipes {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.2px;
  text-shadow: 2px 2px 3px #000;
  text-transform: uppercase; }
  .header-single-post .back-recipes:hover,
  .banner-product .back-recipes:hover {
    text-decoration: none; }

.header-single-post .serving-suggestion,
.banner-product .serving-suggestion {
  bottom: 1.3rem;
  color: #fff;
  font-family: 'Averia Serif Libre Bold';
  font-size: 16px;
  letter-spacing: 0;
  line-height: 1.25px;
  position: absolute;
  right: 1.3rem; }
  @media (max-width: 991.98px) {
    .header-single-post .serving-suggestion,
    .banner-product .serving-suggestion {
      font-size: 12px;
      line-height: 20px; } }

.category-brand {
  color: #2e1a46;
  font-size: 12px;
  letter-spacing: 1.2px;
  text-transform: uppercase; }
  .category-brand a {
    color: #2e1a46; }

.btn-recipe-gray {
  background: #545454;
  border-radius: 0;
  color: #fff;
  font-size: 20px;
  padding: .7rem 4rem; }
  .btn-recipe-gray:hover {
    color: #fff; }

.left-filters {
  background-color: #f4f4f4;
  padding: 3rem 0 3rem 8%;
  z-index: 11; }
  @media (max-width: 991.98px) {
    .left-filters {
      z-index: 9; } }
  @media (max-width: 767.98px) {
    .left-filters .title {
      margin-bottom: 18px; } }
  .left-filters h5 {
    color: #2e1a46;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase; }
    @media (max-width: 991.98px) {
      .left-filters h5 {
        font-family: 'Averia Serif Libre Regular';
        letter-spacing: 2.08px;
        line-height: 34px;
        margin-bottom: 2rem; } }
    @media (max-width: 767.98px) {
      .left-filters h5 {
        margin-bottom: 0; } }
  @media (min-width: 992px) {
    .left-filters .nav-fixed {
      padding-left: 5rem; } }
  @media (max-width: 991.98px) {
    .left-filters .nav-fixed img {
      margin-right: .5rem;
      width: 20px; } }
  .left-filters .cont-options .sf-field-category > ul > li:first-child {
    display: none; }
  .left-filters .cont-options .sf-field-category > ul > li > input[type="checkbox"] {
    display: none; }
  .left-filters .cont-options .sf-field-category > ul > li > label {
    padding: 0;
    position: relative;
    width: 100%; }
    @media (max-width: 991.98px) {
      .left-filters .cont-options .sf-field-category > ul > li > label::after {
        color: #2e1a46;
        content: '\f078';
        font-family: 'Font Awesome 5 Free';
        font-size: 15px;
        font-weight: 900;
        position: absolute;
        right: 10px; }
      .left-filters .cont-options .sf-field-category > ul > li > label.active::after {
        content: '\f077'; } }
  .left-filters .cont-options ul {
    padding-left: 0;
    width: 100%; }
    .left-filters .cont-options ul > li {
      color: #2e1a46;
      width: 100%; }
      @media (max-width: 991.98px) {
        .left-filters .cont-options ul > li {
          padding: 0; } }
      .left-filters .cont-options ul > li.all-categories {
        display: none; }
      .left-filters .cont-options ul > li.sf-field-reset {
        display: flex; }
        @media (max-width: 991.98px) {
          .left-filters .cont-options ul > li.sf-field-reset {
            justify-content: left; } }
        .left-filters .cont-options ul > li.sf-field-reset a {
          background-color: #2e1a46;
          border-radius: 30px 0;
          color: #fff;
          font-family: 'Averia Serif Libre Bold';
          font-size: 18px;
          font-weight: 300;
          letter-spacing: normal;
          padding: .5rem 3rem;
          transition: border-radius .51s;
          font-size: 12px !important;
          background-color: #2e1a46;
          border-radius: 50px 0;
          color: #fff;
          font-family: 'Averia Serif Libre Bold';
          font-size: 12px;
          font-weight: 300;
          letter-spacing: 1.2px;
          padding: 0.313rem 3.628rem;
          text-transform: uppercase;
          transition: border-radius .51s; }
          @media (max-width: 767.98px) {
            .left-filters .cont-options ul > li.sf-field-reset a {
              margin-top: 40px; } }
          .left-filters .cont-options ul > li.sf-field-reset a:hover {
            background-color: #2e1a46;
            border-radius: 0 30px;
            color: #fff; }
          .left-filters .cont-options ul > li.sf-field-reset a:hover {
            background-color: #2e1a46;
            border-radius: 0 50px;
            color: #fff; }
      .left-filters .cont-options ul > li > label {
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1.2px;
        text-transform: uppercase; }
        @media (max-width: 991.98px) {
          .left-filters .cont-options ul > li > label {
            font-size: 15px;
            letter-spacing: 1.5px;
            line-height: 35px; } }
    .left-filters .cont-options ul.children {
      margin-left: 0; }
      @media (max-width: 767.98px) {
        .left-filters .cont-options ul.children {
          display: none; } }
      .left-filters .cont-options ul.children > li {
        align-items: center;
        display: flex; }
        @media (max-width: 991.98px) {
          .left-filters .cont-options ul.children > li {
            margin: 5px 0;
            padding: 0; } }
        .left-filters .cont-options ul.children > li [type='checkbox'] {
          -webkit-appearance: none;
          background-color: #cbcbcb;
          border-radius: 2px;
          display: inline-block;
          height: 15px;
          position: relative;
          width: 15px; }
          .left-filters .cont-options ul.children > li [type='checkbox']:active {
            background-color: #2e1a46; }
          .left-filters .cont-options ul.children > li [type='checkbox']:checked {
            background-color: #2e1a46;
            color: #fff; }
            .left-filters .cont-options ul.children > li [type='checkbox']:checked:active {
              background-color: #4b764a; }
            .left-filters .cont-options ul.children > li [type='checkbox']:checked::after {
              align-items: center;
              color: #fff;
              content: '\f00c';
              display: flex;
              font-family: 'Font Awesome 5 Free';
              font-size: 9px;
              font-weight: 600;
              height: 15px;
              justify-content: center;
              position: absolute;
              width: 15px; }
        .left-filters .cont-options ul.children > li > label {
          font-size: 12px;
          letter-spacing: normal;
          line-height: normal;
          text-transform: unset; }
          .left-filters .cont-options ul.children > li > label:hover {
            cursor: pointer; }
  .left-filters .cont-options input[type='submit'] {
    background-color: #2e1a46;
    border-radius: 30px 0;
    color: #fff;
    font-family: 'Averia Serif Libre Bold';
    font-size: 18px;
    font-weight: 300;
    letter-spacing: normal;
    padding: .5rem 3rem;
    transition: border-radius .51s; }
    .left-filters .cont-options input[type='submit']:hover {
      background-color: #2e1a46;
      border-radius: 0 30px;
      color: #fff; }

.right-recipes {
  padding-top: 3rem; }
  .right-recipes .btn-filter-recipes {
    align-items: center;
    display: flex;
    font-family: 'Averia Serif Libre Bold';
    font-size: 25px;
    justify-content: center;
    line-height: 35px;
    margin: 0rem 0 3rem;
    text-align: center; }
    .right-recipes .btn-filter-recipes img {
      margin-right: 1.5rem;
      width: 30px; }
    .right-recipes .btn-filter-recipes:hover, .right-recipes .btn-filter-recipes:focus {
      color: inherit;
      text-decoration: none; }
  .right-recipes .item {
    transition: ease .3s; }
    @media (min-width: 992px) {
      .right-recipes .item {
        margin: 0 auto;
        max-width: 255px;
        padding: 0 .7rem; } }
    .right-recipes .item:hover {
      -webkit-transform: scale(1.05);
              transform: scale(1.05); }
    .right-recipes .item a:hover {
      text-decoration: none; }
  .right-recipes .entry-header {
    font-family: 'Averia Serif Libre Bold';
    max-width: 255px;
    margin: 0 auto; }
    .right-recipes .entry-header p {
      color: #4b764a;
      font-family: 'Averia Serif Libre Bold';
      margin-bottom: 0; }
      @media (max-width: 991.98px) {
        .right-recipes .entry-header p {
          font-size: 18px;
          letter-spacing: 0;
          line-height: 19px; } }
  .right-recipes section[data-video='true']::after {
    right: 2.5rem; }
  .right-recipes .btn-write-review-link {
    color: #ffa400;
    display: block;
    font-family: 'Averia Serif Libre Regular';
    font-size: 16px;
    letter-spacing: normal;
    line-height: 30px;
    margin: 0 auto;
    max-width: 255px;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-transform: unset; }
    @media (max-width: 890px) {
      .right-recipes .btn-write-review-link {
        margin: 0 auto;
        max-width: 158px; } }
    .right-recipes .btn-write-review-link:hover {
      color: #ffa400;
      text-decoration: underline; }

body.single-post .post.hentry,
body [class*='page-recipe'] .post.hentry {
  margin: 0; }

body .btn-modal-close {
  background-color: #2e1a46;
  border-radius: 30px 0;
  color: #fff;
  font-family: 'Averia Serif Libre Bold';
  font-size: 18px;
  font-weight: 300;
  letter-spacing: normal;
  padding: .5rem 3rem;
  transition: border-radius .51s; }
  body .btn-modal-close:hover {
    background-color: #2e1a46;
    border-radius: 0 30px;
    color: #fff; }

.entry-header .recipe-title {
  color: #4b764a;
  font-size: 42px;
  line-height: 46px;
  text-align: center; }
  @media (max-width: 991.98px) {
    .entry-header .recipe-title {
      font-size: 35px; } }

.entry-header .recipe-reviews .write-review {
  text-align: center; }

.entry-header .recipe-description p {
  color: #2e1a46;
  line-height: 24px;
  font-size: 20px;
  margin: 1rem auto;
  max-height: 50px;
  overflow: hidden;
  position: relative;
  text-align: center; }
  @media (max-width: 991.98px) {
    .entry-header .recipe-description p {
      font-size: 18px;
      max-height: 60px; } }
  .entry-header .recipe-description p::after {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), #fff);
    bottom: 0;
    content: '';
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%; }
  .entry-header .recipe-description p.showing {
    background: 0;
    max-height: 100%; }
    .entry-header .recipe-description p.showing::after {
      content: none; }

.entry-header .recipe-description .cont-show-more {
  text-align: center; }
  @media (max-width: 991.98px) {
    .entry-header .recipe-description .cont-show-more {
      margin-bottom: 1rem; } }
  .entry-header .recipe-description .cont-show-more .read-more {
    border-radius: 0;
    color: #cbcbcb; }
    @media (max-width: 991.98px) {
      .entry-header .recipe-description .cont-show-more .read-more {
        font-family: 'Averia Serif Libre Regular';
        font-size: 16px;
        line-height: 20px; } }

.recipe-information {
  border-bottom: 2px solid #cbcbcb;
  border-top: 2px solid #cbcbcb;
  display: flex;
  justify-content: space-around;
  padding: 14px 0 16px; }
  .recipe-information .recipe-calories {
    display: none; }

.col-right.col-directions ol {
  padding-left: 1rem; }

.cont-reviews h2 {
  color: #4b764a;
  font-family: 'Averia Serif Libre Regular';
  font-size: 28px;
  margin-bottom: 2rem;
  padding: 0;
  text-align: center; }

.cont-reviews .columns {
  margin-top: 2rem; }

@media (max-width: 767px) {
  .recipe-information {
    flex-direction: column; }
  section .information-item {
    line-height: 1.3;
    margin: 1rem 0;
    margin: 1rem auto;
    min-width: 190px;
    padding-left: 6rem; }
    section .information-item::before {
      height: 54px;
      width: 54px; }
  .cont-columns .col-directions {
    margin-top: 4rem; }
  .cont-recipe-video {
    height: 65px;
    right: 0;
    top: 0;
    width: 65px; }
    .cont-recipe-video iframe {
      display: none; }
  .header-single-post .back-recipes {
    left: 15%;
    position: absolute;
    top: 1rem; } }

@media (max-width: 992px) {
  .cont-columns .col-directions .directions {
    padding-left: 15px; }
  .col-right h4 {
    margin-left: 0; } }

@media (max-width: 890px) {
  .category-post-image {
    height: 158px;
    width: 158px; }
  .right-recipes .entry-header,
  .right-recipes .stars-snippet {
    padding: 0;
    max-width: 158px;
    margin: 0 auto; } }

@media print {
  a {
    color: #000; }
    a::after {
      color: #000; }
  @page {
    margin-bottom: 2cm;
    margin-left: 2cm;
    margin-right: 2cm;
    margin-top: 2cm; }
  .main-header,
  .sub-header-filter,
  .comments-area,
  .cont-reviews,
  .btn,
  .cont-recipe-video,
  footer,
  .footer-banner,
  .footer-widget {
    display: none; }
  .entry-header .recipe-description p {
    max-height: 100%; }
    .entry-header .recipe-description p::after {
      content: none; }
  .cont-columns {
    -webkit-column-break-inside: avoid;
       -moz-column-break-inside: avoid;
            break-inside: avoid;
    page-break-inside: avoid; } }
