@font-face {
  font-family: 'Averia Serif Libre Italic';
  font-style: italic;
  font-weight: normal;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-italic.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-italic.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Bold Italic';
  font-style: italic;
  font-weight: bold;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-bold-italic.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-bold-italic.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Light Italic';
  font-style: italic;
  font-weight: 300;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-light-italic.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-light-italic.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Light';
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-light.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-light.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Regular';
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-regular.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-regular.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Bold';
  font-style: normal;
  font-weight: bold;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-bold.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-bold.woff") format("woff"); }

.category-post-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 255px;
  margin: 0 auto;
  width: 255px; }
  .category-post-image img {
    display: none; }

.single-post .navigation,
.single-post .comments-area {
  display: none; }

.brand-desc {
  margin-top: 3rem; }
  .brand-desc h1 {
    font-size: 3.5rem; }

.page-brand-gallery ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100% !important;
  justify-content: space-evenly; }
  .page-brand-gallery ul .isotope-item {
    float: none !important;
    left: initial !important;
    position: inherit !important;
    top: initial !important;
    width: 25%; }
    .page-brand-gallery ul .isotope-item img {
      margin: 0 auto;
      width: 70%; }

.sub-header-filter .cont-recipe-video {
  bottom: -7px;
  position: absolute;
  right: 0; }
  .sub-header-filter .cont-recipe-video video,
  .sub-header-filter .cont-recipe-video iframe {
    height: 130px;
    max-width: 225px;
    min-height: 130px;
    width: 100%; }
  .sub-header-filter .cont-recipe-video .button-play {
    background-image: url("../../../images/button-play-button.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px 60px;
    bottom: 0;
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%; }

.cont-popup-recipe-video iframe {
  height: 500px;
  width: 100%; }

article[data-post='category-recipe'] .entry-title {
  border-bottom: 0;
  margin: 1rem 0 0;
  padding: 0; }
  article[data-post='category-recipe'] .entry-title a {
    color: #4b764a;
    display: block;
    font-size: 16px; }
    article[data-post='category-recipe'] .entry-title a:hover {
      color: initial; }

article[data-video='true'] {
  position: relative; }
  article[data-video='true']::after {
    background-image: url("../../../images/button-play-button.png");
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: block;
    height: 60px;
    position: absolute;
    right: .5rem;
    top: .5rem;
    width: 60px; }

article.recipe .entry-content .wpurp-recipe-title {
  text-align: center !important; }

article .information-item {
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
  position: relative; }
  article .information-item.recipe-servings::before {
    background-image: url("../../../images/icons/icon-recipe-servings.png"); }
  article .information-item.recipe-calories::before {
    background-image: url("../../../images/icons/icon-recipe-calories.png"); }
  article .information-item.recipe-prep-time::before {
    background-image: url("../../../images/icons/icon-recipe-prep-time.png"); }
  article .information-item.recipe-cook-time::before {
    background-image: url("../../../images/icons/icon-recipe-cook-time.png"); }
  article .information-item.recipe-total-time::before {
    background-image: url("../../../images/icons/icon-recipe-total-time.png"); }
  article .information-item::before {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 64px;
    left: 0;
    position: absolute;
    width: 64px; }
  article .information-item label {
    color: #2e1a46;
    font-size: 13px;
    letter-spacing: 1.2px;
    margin: 0;
    text-transform: uppercase; }
  article .information-item span {
    color: #4b764a;
    font-size: 24px;
    font-weight: bold; }

article .cont-columns {
  color: #2e1a46;
  margin-top: 2rem; }
  article .cont-columns .column.col-ingredients p {
    font-weight: 600; }
  article .cont-columns .column.col-ingredients ul {
    list-style: none;
    padding-left: 0; }
  article .cont-columns .column ol li + li,
  article .cont-columns .column ul li + li {
    margin-top: 1rem; }
  article .cont-columns .column h4 {
    margin-bottom: 1rem; }

article .recipe-share {
  border-bottom: 1px solid #bfbebe;
  border-top: 1px solid #bfbebe;
  margin-top: 1rem;
  padding: 1rem 0; }

.header-single-post .back-recipes {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.2px;
  text-shadow: 2px 2px 3px #000;
  text-transform: uppercase; }
  .header-single-post .back-recipes:hover {
    text-decoration: none; }

.category-brand {
  color: #2e1a46;
  font-size: 12px;
  letter-spacing: 1.2px;
  text-transform: uppercase; }
  .category-brand a {
    color: #2e1a46; }

.btn-recipe-gray {
  background: #545454;
  border-radius: 0;
  color: #fff;
  font-size: 20px;
  padding: .7rem 4rem; }
  .btn-recipe-gray:hover {
    color: #fff; }

.page-template-recipes .site-content,
.category .site-content {
  padding: 0 !important; }

.left-filters {
  background-color: #f4f4f4;
  padding: 3rem 0 3rem 8%; }
  .left-filters h5 {
    font-size: 19px;
    text-transform: uppercase; }
  .left-filters .cont-options .sf-field-category > ul > li:first-child {
    display: none; }
  .left-filters .cont-options .sf-field-category > ul > li > input[type="checkbox"] {
    display: none; }
  .left-filters .cont-options ul {
    padding-left: 0;
    width: 100%; }
    .left-filters .cont-options ul > li {
      color: #2e1a46;
      width: 100%; }
      .left-filters .cont-options ul > li.all-categories {
        display: none; }
      .left-filters .cont-options ul > li.sf-field-reset {
        display: flex;
        justify-content: center; }
        .left-filters .cont-options ul > li.sf-field-reset a {
          background-color: #2e1a46;
          border-radius: 50px 0;
          color: #fff;
          font-weight: 300;
          letter-spacing: 1px;
          padding: .5rem 3rem;
          text-transform: uppercase;
          transition: border-radius .51s; }
          .left-filters .cont-options ul > li.sf-field-reset a:hover {
            background-color: #2e1a46;
            border-radius: 0 50px;
            color: #fff; }
      .left-filters .cont-options ul > li > label {
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 1.2px;
        text-transform: uppercase; }
    .left-filters .cont-options ul.children {
      margin-bottom: 2rem; }
      .left-filters .cont-options ul.children > li {
        display: block; }
        .left-filters .cont-options ul.children > li > label {
          font-size: 14px;
          font-weight: 300;
          letter-spacing: normal;
          text-transform: unset; }
          .left-filters .cont-options ul.children > li > label:hover {
            cursor: pointer; }
  .left-filters .cont-options input[type='submit'] {
    background-color: #2e1a46;
    border-radius: 50px 0;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    padding: .5rem 3rem;
    text-transform: uppercase;
    transition: border-radius .51s; }
    .left-filters .cont-options input[type='submit']:hover {
      background-color: #2e1a46;
      border-radius: 0 50px;
      color: #fff; }

.right-recipes {
  padding-top: 3rem; }
  .right-recipes .entry-header {
    padding: 0 1rem; }
  .right-recipes article[data-video='true']::after {
    right: 2.5rem; }

.stars-snippet {
  padding: 0 1rem; }

body.single-post .site-content {
  padding-bottom: 0 !important;
  padding-top: 2rem !important; }

body.single-post .post.hentry {
  margin: 0; }

body .btn-modal-close {
  background-color: #2e1a46;
  border-radius: 50px 0;
  color: #fff;
  font-weight: 300;
  letter-spacing: 1px;
  padding: .5rem 3rem;
  text-transform: uppercase;
  transition: border-radius .51s; }
  body .btn-modal-close:hover {
    background-color: #2e1a46;
    border-radius: 0 50px;
    color: #fff; }

.entry-header .recipe-title {
  color: #4b764a;
  font-size: 42px;
  line-height: 46px;
  text-align: center; }

.entry-header .recipe-reviews .write-review {
  text-align: center; }

.entry-header .recipe-description p {
  color: #2e1a46;
  line-height: 24px;
  margin: 1rem auto;
  max-height: 50px;
  max-width: 80%;
  overflow: hidden;
  position: relative;
  text-align: center; }
  .entry-header .recipe-description p::after {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), #fff);
    bottom: 0;
    content: '';
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%; }
  .entry-header .recipe-description p.showing {
    background: 0;
    max-height: 100%; }
    .entry-header .recipe-description p.showing::after {
      content: none; }

.entry-header .recipe-description .cont-show-more {
  text-align: center; }
  .entry-header .recipe-description .cont-show-more .read-more {
    border-radius: 0;
    color: #bfbebe; }

.recipe-information {
  border-bottom: 1px solid #bfbebe;
  border-top: 1px solid #bfbebe;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 1.5rem; }
  .recipe-information .recipe-calories {
    display: none; }

.col-right h4 {
  margin-left: 25px; }

.cont-reviews h2 {
  margin-bottom: 2rem;
  padding: 0;
  text-align: center; }

.cont-reviews .columns {
  margin-top: 2rem; }

@media (max-width: 768px) {
  .recipe-information {
    flex-direction: column; }
  .category-post-image {
    height: 300px;
    margin: 0 auto;
    width: 300px; }
  article .information-item {
    line-height: 1.3;
    margin: 1rem 0;
    padding-left: 6rem; }
    article .information-item::before {
      height: 54px;
      width: 54px; }
  .cont-columns .col-directions {
    margin-top: 2rem; }
  .cont-recipe-video {
    height: 65px;
    right: 0;
    top: 0;
    width: 65px; }
    .cont-recipe-video iframe {
      display: none; } }

@media (max-width: 992px) {
  .cont-columns .col-directions .directions {
    padding-left: 15px; }
  .col-right h4 {
    margin-left: 0; } }

@media (min-width: 768px) {
  .header-single-post .back-recipes {
    left: 15%;
    position: absolute;
    top: 1rem; } }

@media print {
  a {
    color: #000; }
    a::after {
      color: #000; }
  @page {
    margin-bottom: 2cm;
    margin-left: 2cm;
    margin-right: 2cm;
    margin-top: 2cm; }
  .main-header,
  .sub-header-filter,
  .comments-area,
  .cont-reviews,
  .btn,
  .cont-recipe-video,
  footer,
  .footer-banner,
  .footer-widget {
    display: none; }
  .entry-header .recipe-description p {
    max-height: 100%; }
    .entry-header .recipe-description p::after {
      content: none; }
  .cont-columns {
    -webkit-column-break-inside: avoid;
            break-inside: avoid;
    page-break-inside: avoid; } }

@media (max-width: 576px) {
  .category-post-image {
    width: 300px; } }
