@font-face {
  font-family: 'Averia Serif Libre Italic';
  font-style: italic;
  font-weight: normal;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-italic.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-italic.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Bold Italic';
  font-style: italic;
  font-weight: bold;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-bold-italic.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-bold-italic.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Light Italic';
  font-style: italic;
  font-weight: 300;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-light-italic.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-light-italic.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Light';
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-light.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-light.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Regular';
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-regular.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-regular.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Bold';
  font-style: normal;
  font-weight: bold;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-bold.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-bold.woff") format("woff"); }

.cont-coupons-filter {
  align-items: center;
  display: flex;
  justify-content: center; }
  .cont-coupons-filter .coupon-brand {
    max-width: 10%;
    width: 100%; }

.cont-print-coupons {
  display: none; }

.print-coupons-minicart a {
  border-radius: 0;
  padding: .7rem 1rem; }
  .print-coupons-minicart a.print-coupons i {
    margin-right: .5rem; }

.btn-clip-coupon {
  align-items: center;
  background-color: #fff;
  border-radius: 0;
  bottom: 0;
  color: #000;
  display: flex;
  height: 50px;
  justify-content: center;
  left: 0;
  margin: auto;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%; }

.coupon-item[class*='vc_gitem-zone-mini'] {
  height: 100%;
  margin: auto !important;
  position: absolute !important; }

.coupon-item:hover .btn-clip-coupon {
  opacity: 1; }

.cont-recipes-coupons .owl-stage {
  display: flex;
  justify-content: space-around;
  padding: 0 !important; }
  .cont-recipes-coupons .owl-stage .owl-item {
    width: calc(100% / 4) !important; }
    .cont-recipes-coupons .owl-stage .owl-item .wp-posts-carousel-container {
      border: 0; }
      .cont-recipes-coupons .owl-stage .owl-item .wp-posts-carousel-container .slider-post-image {
        height: 270px; }
        .cont-recipes-coupons .owl-stage .owl-item .wp-posts-carousel-container .slider-post-image img {
          display: none; }
        .cont-recipes-coupons .owl-stage .owl-item .wp-posts-carousel-container .slider-post-image span {
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          display: block;
          height: 100%;
          width: 100%; }
    .cont-recipes-coupons .owl-stage .owl-item .wp-posts-carousel-details .wp-posts-carousel-title {
      font-size: 16px;
      text-align: left; }
      .cont-recipes-coupons .owl-stage .owl-item .wp-posts-carousel-details .wp-posts-carousel-title a {
        color: #000; }

.cont-recipes-coupons .cont-extra-recipes .btn-clip-coupon {
  display: none; }

.cont-recipes-coupons .cont-extra-recipes h4 {
  font-size: 20px; }

.cont-recipes-coupons .cont-extra-recipes p {
  display: none; }

@media (max-width: 768px) {
  .cont-brands-mobile {
    overflow: scroll; }
  .print-coupons-minicart {
    text-align: center; }
    .print-coupons-minicart a {
      font-size: 14px; }
  .cont-coupons-filter {
    justify-content: left;
    list-style: none;
    padding: 0;
    width: 900px; }
    .cont-coupons-filter li:first-child {
      display: block;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
    .cont-coupons-filter .coupon-brand {
      margin-right: 1rem;
      max-width: 13%; } }

@media print {
  h2,
  select,
  .cont-coupons-filter,
  .cont-recipes-coupons,
  .coupon-item {
    display: none; }
  [class*='vc_grid-container-wrapper'][class*='vc_clearfix'] {
    display: none; }
  .cont-print-coupons {
    display: block !important;
    text-align: center; }
    .cont-print-coupons .coupon-printed {
      page-break-after: always; } }
