@font-face {
  font-family: 'Averia Serif Libre Italic';
  font-style: italic;
  font-weight: normal;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-italic.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-italic.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Bold Italic';
  font-style: italic;
  font-weight: bold;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-bold-italic.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-bold-italic.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Light Italic';
  font-style: italic;
  font-weight: 300;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-light-italic.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-light-italic.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Light';
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-light.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-light.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Regular';
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-regular.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-regular.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Bold';
  font-style: normal;
  font-weight: bold;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-bold.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-bold.woff") format("woff"); }

.page-main-faq {
  padding-bottom: 3rem;
  padding-top: 3rem; }
  .page-main-faq h1 {
    color: #4b764a; }
  .page-main-faq .row-flex {
    align-items: center;
    color: #fff;
    display: flex;
    justify-content: center; }
  .page-main-faq .btn-salsas-rounded a {
    background-color: #2e1a46;
    border-radius: 50px 0;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    padding: .5rem 3rem;
    text-transform: uppercase;
    transition: border-radius .51s;
    min-height: 50px;
    padding: 1rem 3rem; }
    .page-main-faq .btn-salsas-rounded a:hover {
      background-color: #2e1a46;
      border-radius: 0 50px;
      color: #fff; }
  .page-main-faq h3 {
    color: #4b764a;
    font-size: 24px;
    line-height: 22px; }
  .page-main-faq h4 {
    color: #2e1a46;
    font-size: 12px;
    line-height: 16px; }

.faqs-toggle .faq-item {
  margin-bottom: 0 !important;
  position: relative; }
  .faqs-toggle .faq-item p {
    color: #9b9b9b;
    font-size: 12px;
    line-height: 16px; }
  .faqs-toggle .faq-item > div:first-child {
    line-height: 3.5;
    padding-left: 0;
    transition: line-height .3s ease-in-out; }
  .faqs-toggle .faq-item > div:last-child {
    margin: 0;
    padding-left: 0; }
  .faqs-toggle .faq-item i {
    left: initial !important;
    right: 0; }
  .faqs-toggle .faq-item + .faq-item {
    border-top: 1px solid #9b9b9b; }
  .faqs-toggle .faq-item:last-child {
    border-bottom: 1px solid #9b9b9b; }
  .faqs-toggle .faq-item[class*='active'] > div:first-child {
    line-height: normal;
    margin-top: 1rem;
    transition: line-height .3s ease-in-out; }

@media (min-width: 1024px) {
  .page-main-faq {
    padding: 5rem 0; } }
