@font-face {
  font-family: 'Averia Serif Libre Italic';
  font-style: italic;
  font-weight: normal;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-italic.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-italic.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Bold Italic';
  font-style: italic;
  font-weight: bold;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-bold-italic.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-bold-italic.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Light Italic';
  font-style: italic;
  font-weight: 300;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-light-italic.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-light-italic.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Light';
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-light.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-light.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Regular';
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-regular.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-regular.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Bold';
  font-style: normal;
  font-weight: bold;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-bold.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-bold.woff") format("woff"); }

.contact-row .left-column {
  background-color: #4b764a;
  color: #fff;
  padding-top: 4rem; }
  .contact-row .left-column a {
    color: #fff; }

.contact-row .right-column input:not([type='submit']),
.contact-row .right-column textarea:not([type='submit']) {
  background-color: rgba(155, 155, 155, 0.2);
  border-radius: 1px;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px !important;
  min-height: 50px; }

.contact-row .right-column input[type='checkbox'],
.contact-row .right-column textarea[type='checkbox'] {
  min-height: 0; }

.contact-row .right-column input[type='submit'],
.contact-row .right-column textarea[type='submit'] {
  background-color: #2e1a46;
  border-radius: 50px 0;
  color: #fff;
  font-weight: 300;
  letter-spacing: 1px;
  padding: .5rem 3rem;
  text-transform: uppercase;
  transition: border-radius .51s;
  border: 0;
  border-radius: 50px 0;
  min-height: 50px; }
  .contact-row .right-column input[type='submit']:hover,
  .contact-row .right-column textarea[type='submit']:hover {
    background-color: #2e1a46;
    border-radius: 0 50px;
    color: #fff; }

.contact-row .right-column h3 {
  color: #4b764a;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  margin-left: 15px; }

.contact-row .right-column span[class*='acceptance']:first-child {
  color: #2e1a46;
  display: block;
  font-size: 16px;
  margin: .8rem 0 !important; }

@media (max-width: 768px) {
  .contact-row {
    flex-direction: column-reverse; } }

@media (min-width: 1024px) {
  .contact-row .left-column {
    padding-left: 7rem; }
  .contact-row .right-column {
    padding: 4rem; } }
