@font-face {
  font-family: 'Averia Serif Libre Italic';
  font-style: italic;
  font-weight: normal;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-italic.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-italic.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Bold Italic';
  font-style: italic;
  font-weight: bold;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-bold-italic.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-bold-italic.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Light Italic';
  font-style: italic;
  font-weight: 300;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-light-italic.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-light-italic.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Light';
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-light.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-light.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Regular';
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-regular.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-regular.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Bold';
  font-style: normal;
  font-weight: bold;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-bold.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-bold.woff") format("woff"); }

.cont-all-brands h1 {
  color: #4b764a; }

.brand-desc {
  font-size: 16px;
  line-height: 1.5em; }

.page-brand-gallery ul .isotope-item {
  width: 20%; }

.page-template-brand .site-content,
.error404 .site-content {
  padding-bottom: 0 !important; }

.page-template-brand .popular-group-recipes,
.error404 .popular-group-recipes {
  background-color: #f4f4f4;
  margin-top: 3rem; }

.page-template-brand .brand,
.error404 .brand {
  color: #2e1a46;
  font-size: 12px;
  letter-spacing: 1.2px;
  text-transform: uppercase; }

@media (min-width: 1000px) {
  .cont-all-brands .item a {
    margin: 0 auto;
    max-width: 80%; } }
