@font-face {
  font-family: 'Averia Serif Libre Italic';
  font-style: italic;
  font-weight: normal;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-italic.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-italic.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Bold Italic';
  font-style: italic;
  font-weight: bold;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-bold-italic.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-bold-italic.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Light Italic';
  font-style: italic;
  font-weight: 300;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-light-italic.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-light-italic.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Light';
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-light.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-light.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Regular';
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-regular.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-regular.woff") format("woff"); }

@font-face {
  font-family: 'Averia Serif Libre Bold';
  font-style: normal;
  font-weight: bold;
  src: url("../../fonts/averia-serif-libre/averia-serif-libre-bold.woff2") format("woff2"), url("../../fonts/averia-serif-libre/averia-serif-libre-bold.woff") format("woff"); }

.mar-top-6r {
  margin-top: 6rem; }

.page-template-home .site-content {
  padding: 0 !important; }

.page-template-home .brand {
  color: #2e1a46;
  font-size: 12px;
  letter-spacing: 1.2px;
  text-transform: uppercase; }

.popular-recipes-container .popular-recipes-carousel .item .carousel-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 360px;
  min-height: 360px; }
  .popular-recipes-container .popular-recipes-carousel .item .carousel-image img {
    display: none; }

.popular-recipes-container .popular-recipes-carousel .item .information {
  display: flex;
  justify-content: space-between; }

.popular-recipes-container .popular-recipes-carousel .item .title h3 {
  color: #4b764a;
  font-size: 24px;
  margin: 0;
  text-align: left;
  text-transform: capitalize; }

.popular-recipes-container .popular-recipes-carousel .item .right a {
  align-items: center;
  background-color: #2e1a46;
  border-radius: 30px 0;
  color: #fff;
  display: flex;
  font-weight: bold;
  height: 50px;
  justify-content: center;
  line-height: 1.2;
  transition: border-radius .51s;
  width: 160px; }
  .popular-recipes-container .popular-recipes-carousel .item .right a:hover {
    border-radius: 0 30px; }

.popular-recipes-container .popular-recipes-carousel .item .description {
  color: #2e1a46;
  font-size: 16px;
  margin-bottom: 0;
  padding: 2% 0; }

.popular-recipes-container .popular-recipes-carousel .owl-nav {
  display: list-item;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 22%;
  z-index: 2; }
  .popular-recipes-container .popular-recipes-carousel .owl-nav button {
    color: #2e1a46;
    position: absolute; }
    .popular-recipes-container .popular-recipes-carousel .owl-nav button:hover {
      background-color: transparent;
      color: inherit; }
    .popular-recipes-container .popular-recipes-carousel .owl-nav button:focus {
      box-shadow: none;
      outline: none; }
    .popular-recipes-container .popular-recipes-carousel .owl-nav button span {
      font-size: 60px; }
    .popular-recipes-container .popular-recipes-carousel .owl-nav button.owl-prev {
      left: 16rem; }
    .popular-recipes-container .popular-recipes-carousel .owl-nav button.owl-next {
      right: 16rem; }

.popular-recipes-container .owl-carousel .owl-item::before {
  background-color: rgba(255, 255, 255, 0.7);
  bottom: 0;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2; }

.popular-recipes-container .owl-carousel .owl-item.center::before {
  display: none; }

.popular-group-recipes {
  padding: 3rem 0 5rem; }
  .popular-group-recipes h2 {
    color: #4b764a;
    font-size: 34px;
    font-weight: lighter;
    margin-bottom: 3rem;
    text-align: center; }
  .popular-group-recipes .item a {
    transition: ease .3s; }
    .popular-group-recipes .item a:hover {
      text-decoration: none;
      -webkit-transform: scale(1.05);
              transform: scale(1.05); }
  .popular-group-recipes .item .recipe-name {
    color: #4b764a;
    font-size: 16px;
    margin: 0;
    text-align: left;
    text-transform: capitalize; }
  .popular-group-recipes .item .recipe-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 255px;
    margin-bottom: .5rem;
    width: 255px; }

.cont-brands {
  background-color: #f6f6f6;
  padding: 3rem 0; }
  .cont-brands h3 {
    color: #4b764a;
    font-weight: lighter; }

.brands ul {
  display: flex;
  justify-content: center; }
  .brands ul .isotope-item {
    left: unset !important;
    margin: 0 15px !important;
    position: inherit !important; }

@media (max-width: 768px) {
  .popular-recipes-container {
    padding-top: 5rem; }
    .popular-recipes-container .popular-recipes-carousel {
      padding: 0 1rem; }
  .popular-group-recipes .item {
    margin-bottom: 2rem; }
  .sub-header-filter h2::after {
    content: '\f107';
    display: block;
    font-family: 'FontAwesome';
    font-size: 20px;
    margin-top: 5px; } }

@media (max-width: 767px) {
  .popular-recipes-container .popular-recipes-carousel .item .information {
    align-items: center;
    flex-direction: column;
    padding: 0 2rem; }
    .popular-recipes-container .popular-recipes-carousel .item .information .left {
      margin-bottom: 1rem; }
      .popular-recipes-container .popular-recipes-carousel .item .information .left .title {
        margin-bottom: 1rem; }
    .popular-recipes-container .popular-recipes-carousel .item .information .right a {
      width: 200px; }
  .popular-recipes-container .popular-recipes-carousel .item .description {
    margin-top: 2rem;
    padding: 0 2rem; }
  .popular-recipes-container .popular-recipes-carousel .owl-nav {
    top: 20% !important; }
    .popular-recipes-container .popular-recipes-carousel .owl-nav button {
      color: #fff; }
      .popular-recipes-container .popular-recipes-carousel .owl-nav button.owl-prev {
        left: 0 !important; }
      .popular-recipes-container .popular-recipes-carousel .owl-nav button.owl-next {
        right: 0 !important; }
  .popular-group-recipes .item {
    margin-bottom: 2rem; }
    .popular-group-recipes .item .recipe-image {
      height: 300px;
      width: 100%; } }
