.pr-reviewhistogram {
  margin: 0 !important; }

.p-w-r .pr-rating-stars {
  align-items: center;
  display: flex; }
  .p-w-r .pr-rating-stars .pr-star-v4 {
    height: 18px !important;
    margin-right: 4px !important;
    padding: 0 !important;
    width: 19px !important; }
    .p-w-r .pr-rating-stars .pr-star-v4.pr-star-v4-100-filled {
      background-image: url("../../img/star-red-100.svg"); }
    .p-w-r .pr-rating-stars .pr-star-v4.pr-star-v4-75-filled {
      background-image: url("../../img/star-red-75.svg"); }
    .p-w-r .pr-rating-stars .pr-star-v4.pr-star-v4-50-filled {
      background-image: url("../../img/star-red-50.svg"); }
    .p-w-r .pr-rating-stars .pr-star-v4.pr-star-v4-25-filled {
      background-image: url("../../img/star-red-25.svg"); }
    .p-w-r .pr-rating-stars .pr-star-v4.pr-star-v4-0-filled {
      background-image: url("../../img/star-red-0.svg"); }

.p-w-r .pr-review-snapshot {
  background-color: transparent; }
  .p-w-r .pr-review-snapshot [class^='pr-ratings-histogram-bar'] {
    height: 12px !important; }
  .p-w-r .pr-review-snapshot .pr-review-snapshot-block-histogram {
    border: 0 !important;
    min-height: 100% !important;
    width: 100% !important; }
    .p-w-r .pr-review-snapshot .pr-review-snapshot-block-histogram .pr-review-snapshot-block-headline {
      display: none; }
  .p-w-r .pr-review-snapshot .pr-ratings-histogram .pr-ratings-histogram-bar {
    background-color: #d6d6d6; }
  .p-w-r .pr-review-snapshot .pr-ratings-histogram .pr-histogram-count {
    font-family: 'proxima-nova-regular' !important;
    font-size: 16px;
    padding: 0 18px !important;
    color: #000; }
  .p-w-r .pr-review-snapshot .pr-ratings-histogram .pr-histogram-stars {
    height: 25px !important; }
  .p-w-r .pr-review-snapshot .pr-ratings-histogram .pr-ratings-histogram-bar {
    background-color: #cecece !important; }
  .p-w-r .pr-review-snapshot .pr-histogram-label {
    font-family: 'proxima-nova-regular' !important;
    padding: 0 13px !important;
    width: 18% !important; }

.p-w-r .pr-snippet-stars {
  background-color: transparent; }

.p-w-r .pr-snippet {
  text-align: center; }
  .p-w-r .pr-snippet.pr-category-snippet {
    margin: 0 !important; }
  .p-w-r .pr-snippet .pr-snippet-stars-png {
    align-items: center;
    background-color: transparent;
    display: flex !important;
    flex-direction: row-reverse;
    justify-content: center; }
    .p-w-r .pr-snippet .pr-snippet-stars-png .pr-snippet-rating-decimal {
      border: 0;
      color: #000;
      font-family: 'proxima-nova-bold';
      font-size: 28px !important;
      line-height: 20px;
      margin: 0 5px; }
    .p-w-r .pr-snippet .pr-snippet-stars-png .pr-category-snippet__total {
      color: #b4afaa !important;
      font-family: 'proxima-nova-regular';
      font-size: 16px !important; }

.p-w-r .pr-snippet-stars-reco-inline .pr-snippet-read-and-write {
  margin-top: 0 !important;
  display: block !important; }
  .p-w-r .pr-snippet-stars-reco-inline .pr-snippet-read-and-write .pr-snippet-review-count {
    color: #b4afaa;
    font-size: 16px !important;
    font-family: 'proxima-nova-regular'; }

.single .cont-write-review a + a {
  display: none; }

.single .product-reviews {
  margin: 10px 0; }

.cont-review-display .pr-snapshot-mobile {
  display: none; }

.cont-review-display .pr-review-display {
  background-color: transparent; }
  .cont-review-display .pr-review-display .pr-rd-main-header {
    display: none; }
  .cont-review-display .pr-review-display .pr-rd-footer {
    background-color: transparent; }
  .cont-review-display .pr-review-display article.pr-review button span {
    color: #e41e26;
    letter-spacing: 1.2px;
    text-transform: uppercase; }
  .cont-review-display .pr-review-display article.pr-review button .pr-caret-icon {
    display: none; }
  .cont-review-display .pr-review-display article.pr-review .pr-rd-header {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 0; }
    .cont-review-display .pr-review-display article.pr-review .pr-rd-header .pr-rd-review-headline {
      color: #000;
      font-size: 18px;
      margin: 0 0 13px; }
    .cont-review-display .pr-review-display article.pr-review .pr-rd-header .pr-snippet-stars .pr-snippet-rating-decimal {
      display: none; }
    .cont-review-display .pr-review-display article.pr-review .pr-rd-header .pr-snippet-stars time {
      font-size: 16px;
      color: #b4afaa;
      padding-left: 10px;
      font-family: 'proxima-nova-regular'; }
  .cont-review-display .pr-review-display article.pr-review .pr-rd-description .pr-rd-author-submission-date,
  .cont-review-display .pr-review-display article.pr-review .pr-rd-description .pr-rd-author-location {
    display: none; }
  .cont-review-display .pr-review-display article.pr-review .pr-rd-description .pr-rd-reviewer-details .pr-rd-author-nickname span {
    color: #000;
    font-family: 'proxima-nova-bold' !important;
    font-size: 14px;
    letter-spacing: .5px;
    line-height: 1.43;
    text-transform: uppercase; }
  .cont-review-display .pr-review-display article.pr-review .pr-rd-description .pr-rd-description-text {
    color: #000;
    font-family: 'proxima-nova-regular' !important;
    font-size: 16px;
    letter-spacing: normal;
    line-height: 1.5; }
  .cont-review-display .pr-review-display article.pr-review footer.pr-rd-footer {
    display: none; }
  .cont-review-display .pr-review-display article.pr-review + .pr-review {
    border-top: 1px solid #9b9b9b;
    padding-top: 1rem; }
  .cont-review-display .pr-review-display .pr-rd-main-footer .pr-rd-to-top {
    display: none; }
  .cont-review-display .pr-review-display .pr-rd-main-footer .pr-rd-content-block {
    border-top: 1px solid;
    height: 55px; }
  .cont-review-display .pr-review-display .pr-rd-main-footer .pr-rd-review-position {
    bottom: 0;
    color: black;
    height: 20px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0; }
    .cont-review-display .pr-review-display .pr-rd-main-footer .pr-rd-review-position span {
      font-size: 16px;
      color: #000;
      font-family: 'proxima-nova-regular'; }
      @media (max-width: 575.98px) {
        .cont-review-display .pr-review-display .pr-rd-main-footer .pr-rd-review-position span {
          display: none; } }
    .cont-review-display .pr-review-display .pr-rd-main-footer .pr-rd-review-position .pr-rd-bold {
      font-family: 'proxima-nova-bold' !important; }
      @media (max-width: 575.98px) {
        .cont-review-display .pr-review-display .pr-rd-main-footer .pr-rd-review-position .pr-rd-bold {
          display: block; } }
  .cont-review-display .pr-review-display .pr-rd-main-footer .pr-rd-pagination {
    border: none;
    bottom: 0;
    display: block;
    font-size: 16px;
    height: 24px;
    margin: auto;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1; }
    .cont-review-display .pr-review-display .pr-rd-main-footer .pr-rd-pagination button {
      color: #e41e26;
      font-family: 'proxima-nova-bold';
      position: absolute; }
    .cont-review-display .pr-review-display .pr-rd-main-footer .pr-rd-pagination button[aria-label="Previous"] {
      left: 0; }
    .cont-review-display .pr-review-display .pr-rd-main-footer .pr-rd-pagination button[aria-label="Next"] {
      right: 0; }
    .cont-review-display .pr-review-display .pr-rd-main-footer .pr-rd-pagination span {
      display: none; }

.stars-snippet .pr-snippet-stars-reco-reco,
.stars-snippet .pr-snippet-write-review-link {
  display: none; }

.stars-snippet.category-page .p-w-r {
  margin: 0; }
  .stars-snippet.category-page .p-w-r .pr-snippet-write-review-link {
    color: #ffa400;
    font-size: 12px !important;
    line-height: 20px; }

.stars-snippet.category-page .pr-snippet-review-count {
  display: none; }

.stars-snippet.category-page .pr-snippet-write-review-link {
  display: block; }

.cont-write-review {
  margin: 10px 0 40px;
  text-align: center; }
  .cont-write-review .p-w-r .pr-war {
    max-width: 100%; }
  .cont-write-review .btn-write-review {
    padding: 1rem 3rem; }
  .cont-write-review div[type='submit'] {
    background-color: #e41e26 !important;
    border-radius: 0;
    color: #fff;
    font-family: 'proxima-nova-regular' !important;
    letter-spacing: 2pt;
    line-height: 22pt !important;
    text-transform: uppercase;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 0;
    padding: 1rem 3rem; }
    .cont-write-review div[type='submit']:hover {
      background-color: #c2171e !important;
      color: #fff; }
  .cont-write-review .btn-main {
    padding: 9.5px 30px;
    font-size: 16px; }

.all-product-reviews .pr-rating-stars {
  align-items: center;
  display: flex; }
  .all-product-reviews .pr-rating-stars .pr-star-v4 {
    height: 12px !important;
    margin-right: 3px !important;
    padding: 0 !important;
    width: 12px !important; }
    .all-product-reviews .pr-rating-stars .pr-star-v4.pr-star-v4-100-filled {
      background-image: url("../../img/star-100.svg"); }
    .all-product-reviews .pr-rating-stars .pr-star-v4.pr-star-v4-75-filled {
      background-image: url("../../img/star-75.svg"); }
    .all-product-reviews .pr-rating-stars .pr-star-v4.pr-star-v4-50-filled {
      background-image: url("../../img/star-50.svg"); }
    .all-product-reviews .pr-rating-stars .pr-star-v4.pr-star-v4-25-filled {
      background-image: url("../../img/star-25.svg"); }
    .all-product-reviews .pr-rating-stars .pr-star-v4.pr-star-v4-0-filled {
      background-image: url("../../img/star-0.svg"); }

.all-product-reviews .pr-snippet .pr-snippet-stars-png .pr-snippet-rating-decimal {
  background: #ddb140;
  color: #fff !important;
  font-family: 'proxima-nova-regular' !important;
  font-size: 16px !important;
  margin: 0 5px;
  display: none; }
  @media (max-width: 575.98px) {
    .all-product-reviews .pr-snippet .pr-snippet-stars-png .pr-snippet-rating-decimal {
      display: none; } }

.all-product-reviews .pr-snippet .pr-category-snippet__total {
  color: #b4afaa !important;
  font-family: 'proxima-nova-regular' !important;
  font-size: 16px !important;
  line-height: 16px;
  text-align: left; }
  @media (max-width: 575.98px) {
    .all-product-reviews .pr-snippet .pr-category-snippet__total {
      font-size: 15px !important; } }

.product-reviews .pr-rating-stars {
  align-items: center;
  display: flex; }
  .product-reviews .pr-rating-stars .pr-star-v4 {
    height: 18px !important;
    margin-right: 4px !important;
    padding: 0 !important;
    width: 19px !important; }
    .product-reviews .pr-rating-stars .pr-star-v4.pr-star-v4-100-filled {
      background-image: url("../../img/star-red-100.svg"); }
    .product-reviews .pr-rating-stars .pr-star-v4.pr-star-v4-75-filled {
      background-image: url("../../img/star-red-75.svg"); }
    .product-reviews .pr-rating-stars .pr-star-v4.pr-star-v4-50-filled {
      background-image: url("../../img/star-red-50.svg"); }
    .product-reviews .pr-rating-stars .pr-star-v4.pr-star-v4-25-filled {
      background-image: url("../../img/star-red-25.svg"); }
    .product-reviews .pr-rating-stars .pr-star-v4.pr-star-v4-0-filled {
      background-image: url("../../img/star-red-0.svg"); }

.product-reviews .pr-snippet .pr-snippet-stars-png .pr-snippet-rating-decimal {
  background: #e41e26 !important;
  color: #fff !important;
  font-family: 'proxima-nova-regular' !important;
  font-size: 16px !important;
  margin: 0 5px !important;
  display: none; }

.product-reviews .pr-snippet .pr-category-snippet__total {
  color: #b4afaa !important;
  font-family: 'proxima-nova-regular' !important;
  font-size: 16px !important; }
