[data-status='inactive'] {
  opacity: 0;
  position: absolute;
  width: 92%; }

[data-status='active'] {
  opacity: 1;
  position: relative; }

.banner-product {
  background-image: url("../../../img/banner-products.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px; }

.text-product h1 {
  color: #e41e26;
  margin-bottom: 15px; }

.banner-all-products {
  background-image: url("../../../img/all-product-background.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0 54px; }
  .banner-all-products p {
    font-family: 'proxima-nova-bold' !important;
    font-size: 22px !important; }
  .banner-all-products .items-all-products {
    padding-top: 20px; }
    .banner-all-products .items-all-products .item {
      margin-bottom: 15px;
      transition: ease .3s; }
      .banner-all-products .items-all-products .item .img-product {
        height: 220px;
        -o-object-fit: contain;
           object-fit: contain;
        width: 220px; }
        @media (max-width: 575.98px) {
          .banner-all-products .items-all-products .item .img-product {
            height: 157px;
            width: 157px; } }
      .banner-all-products .items-all-products .item .link-product {
        color: #000;
        display: block;
        text-decoration: none;
        transition: ease .3s; }
      .banner-all-products .items-all-products .item:hover {
        -webkit-transform: scale(1.05);
                transform: scale(1.05); }
        .banner-all-products .items-all-products .item:hover .link-product {
          color: #e41e26; }

.product-category .item {
  text-align: left; }

.product-category .items-products p {
  font-family: 'proxima-nova-bold' !important;
  font-size: 18px;
  line-height: 1.11;
  margin-bottom: 5px;
  margin-top: 20px;
  text-align: left;
  width: auto; }

.product-category .img-review {
  margin-left: -5px;
  width: 75%; }

.product-category .product-reviews a {
  color: #e41e26;
  display: block;
  text-decoration: underline; }

.all-products-carousel {
  padding: 30px 100px; }
  @media (max-width: 991.98px) {
    .all-products-carousel {
      padding: 30px 0 0; } }
  @media (max-width: 575.98px) {
    .all-products-carousel .owl-stage {
      display: flex;
      align-items: center;
      min-height: 280px; } }
  .all-products-carousel .item {
    margin-bottom: 30px;
    transition: ease .3s; }
    @media (max-width: 575.98px) {
      .all-products-carousel .item {
        opacity: .4; } }
    .all-products-carousel .item img {
      height: 160px;
      margin: auto;
      -o-object-fit: contain;
         object-fit: contain;
      width: 160px;
      transition: ease .3s; }
      @media (max-width: 575.98px) {
        .all-products-carousel .item img {
          height: 110px;
          width: 110px; } }
    .all-products-carousel .item .link-product {
      color: #000;
      display: block;
      text-align: center;
      text-decoration: none;
      transition: ease .3s; }
      .all-products-carousel .item .link-product p {
        font-size: 18px;
        line-height: 1.11;
        margin-top: 10px; }
    .all-products-carousel .item:hover {
      -webkit-transform: scale(1.05);
              transform: scale(1.05); }
      .all-products-carousel .item:hover .link-product {
        color: #e41e26; }
  .all-products-carousel .center .item {
    opacity: 1; }
    .all-products-carousel .center .item img {
      height: 180px;
      margin: auto;
      -o-object-fit: contain;
         object-fit: contain;
      width: 180px; }
  .all-products-carousel .owl-nav {
    bottom: 50px;
    height: 45px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1; }
    @media (max-width: 991.98px) {
      .all-products-carousel .owl-nav {
        top: inherit;
        bottom: 30px;
        z-index: 1; } }
    .all-products-carousel .owl-nav .owl-prev,
    .all-products-carousel .owl-nav .owl-next {
      position: absolute; }
      @media (max-width: 991.98px) {
        .all-products-carousel .owl-nav .owl-prev,
        .all-products-carousel .owl-nav .owl-next {
          top: -210px;
          height: 180px;
          opacity: 0; } }
      .all-products-carousel .owl-nav .owl-prev:hover,
      .all-products-carousel .owl-nav .owl-next:hover {
        background: transparent; }
      .all-products-carousel .owl-nav .owl-prev:focus,
      .all-products-carousel .owl-nav .owl-next:focus {
        outline: none; }
    .all-products-carousel .owl-nav .owl-prev {
      left: 0; }
    .all-products-carousel .owl-nav .owl-next {
      right: 0; }

.single-product .info-product {
  padding-bottom: 50px;
  padding-top: 70px; }
  @media (max-width: 991.98px) {
    .single-product .info-product {
      padding-bottom: 35px;
      padding-top: 35px; } }
  .single-product .info-product .img-product {
    display: block;
    margin: auto; }
  .single-product .info-product h1 {
    color: #e41e26;
    font-size: 48px;
    line-height: 42px; }
    @media (max-width: 991.98px) {
      .single-product .info-product h1 {
        font-size: 36px;
        line-height: 1.14; } }
  .single-product .info-product .code {
    color: #bfbebe;
    font-size: 16px; }
  .single-product .info-product .tags-product {
    display: none;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
    margin-bottom: 15px;
    text-transform: uppercase; }
  .single-product .info-product .sizes {
    align-items: center;
    display: flex; }
    .single-product .info-product .sizes span {
      font-family: 'proxima-nova-bold' !important;
      font-size: 16px;
      letter-spacing: 0;
      text-transform: uppercase; }
    .single-product .info-product .sizes .sizes-list {
      display: flex;
      list-style: none;
      margin-bottom: 0;
      margin-left: 2rem;
      padding: 0; }
      .single-product .info-product .sizes .sizes-list li {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 7px 0;
        position: relative;
        transition: all .5s; }
        .single-product .info-product .sizes .sizes-list li:hover a {
          color: #ef1717;
          z-index: 2; }
        .single-product .info-product .sizes .sizes-list li.active a {
          color: #e41e26; }
        .single-product .info-product .sizes .sizes-list li + li {
          margin-left: 1.5rem; }
        .single-product .info-product .sizes .sizes-list li a {
          color: #9b9b9b;
          font-family: 'proxima-nova-bold';
          font-size: 15px;
          text-decoration: underline;
          vertical-align: text-bottom; }
  .single-product .info-product .description {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px; }
  .single-product .info-product .cont-cta {
    display: flex;
    justify-content: flex-start;
    margin: 3rem 0 4px; }
    @media (max-width: 991.98px) {
      .single-product .info-product .cont-cta {
        flex-wrap: wrap;
        justify-content: flex-start; } }
    .single-product .info-product .cont-cta .btn-main {
      max-width: 220px;
      min-width: 160px;
      height: 50px;
      padding: 9px 0;
      font-size: 16px;
      letter-spacing: 1px; }
      @media (max-width: 991.98px) {
        .single-product .info-product .cont-cta .btn-main {
          margin: 5px 0;
          max-width: 100%;
          min-width: 100%; } }
      @media (max-width: 767.98px) {
        .single-product .info-product .cont-cta .btn-main {
          margin: 0;
          max-width: calc(100% / 3 - 5px);
          min-width: calc(100% / 3 - 5px); } }
      @media (max-width: 575.98px) {
        .single-product .info-product .cont-cta .btn-main {
          margin: 5px 0;
          max-width: 100%;
          min-width: 100%; } }
      .single-product .info-product .cont-cta .btn-main.review {
        width: 100%; }
        @media (max-width: 1199.98px) {
          .single-product .info-product .cont-cta .btn-main.review {
            width: auto; } }
    .single-product .info-product .cont-cta a:not(:first-child) {
      margin-left: 30px; }
      @media (max-width: 991.98px) {
        .single-product .info-product .cont-cta a:not(:first-child) {
          margin-left: 0; } }

.single-product .recipe-share span,
.single-product .recipe-share br {
  display: none; }

.single-product .cards-product .card {
  background-color: #e9e2dd;
  border: 0;
  border-radius: 0;
  height: 100%; }
  .single-product .cards-product .card .card-header {
    align-items: center;
    background-color: #ddb140;
    border-bottom: 0;
    display: flex;
    justify-content: center;
    padding: 20px; }
    .single-product .cards-product .card .card-header p {
      font-family: 'proxima-nova-bold' !important;
      font-size: 22px;
      margin-bottom: 0; }
  .single-product .cards-product .card .card-body {
    min-height: 280px;
    padding: 25px 45px; }
    @media (max-width: 991.98px) {
      .single-product .cards-product .card .card-body {
        padding: 25px 15px; } }
    .single-product .cards-product .card .card-body p {
      font-size: 16px;
      line-height: 1.5; }
    .single-product .cards-product .card .card-body img {
      display: block;
      margin: auto;
      max-width: 180px;
      width: 100%; }

.ingredients-product {
  background-color: #e9e2dd;
  padding: 25px 0 40px;
  margin-bottom: 60px; }
  @media (max-width: 991.98px) {
    .ingredients-product {
      padding: 0px 0 40px; } }
  .ingredients-product .title-ingredients {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.09;
    letter-spacing: normal;
    font-family: 'proxima-nova-bold' !important; }
    @media (max-width: 575.98px) {
      .ingredients-product .title-ingredients {
        padding: 18px 0;
        margin-bottom: 27px; } }
  .ingredients-product .nutrition .btn-main {
    font-size: 16px;
    letter-spacing: 2px;
    min-height: 50px;
    padding: 9px 20px; }

.all-product .name-product .description-product p {
  font-family: 'proxima-nova-regular' !important;
  font-size: 16px;
  line-height: 1.5;
  width: 90%; }
  @media (max-width: 991.98px) {
    .all-product .name-product .description-product p {
      width: auto; } }

.all-product .list-product {
  margin-bottom: 50px; }

.single .ssbp--theme-6 .ssbp-btn {
  border-color: #e41e26 !important; }
  .single .ssbp--theme-6 .ssbp-btn::before {
    color: #e41e26 !important; }
  .single .ssbp--theme-6 .ssbp-btn:hover {
    border-color: transparent !important; }
    .single .ssbp--theme-6 .ssbp-btn:hover::before {
      color: #fff !important; }

.single .ssbp--theme-6 .ssbp-list li {
  margin-left: 0 !important;
  margin-right: 14px !important; }
