.contact-page {
  padding-bottom: 80px; }
  .contact-page .text {
    margin-bottom: 50px; }
  .contact-page h1 {
    color: #e41e26;
    margin-bottom: 40px;
    margin-top: 40px; }
  .contact-page h3 {
    color: #e41e26;
    margin-bottom: 10px; }
    @media (max-width: 575.98px) {
      .contact-page h3:not(:first-child) {
        margin-top: 20px; } }
  .contact-page p {
    font-size: 16px;
    line-height: 1.5; }
  .contact-page .form-contact {
    margin-top: 30px; }
    .contact-page .form-contact .form-control {
      border: solid 1px #b4afaa;
      border-radius: 0;
      padding: .78rem 1.5rem; }
      @media (max-width: 575.98px) {
        .contact-page .form-contact .form-control {
          padding: 1.3rem 1.5rem; } }
      .contact-page .form-contact .form-control::-webkit-input-placeholder {
        color: #b4afaa; }
      .contact-page .form-contact .form-control::-moz-placeholder {
        color: #b4afaa; }
      .contact-page .form-contact .form-control::-ms-input-placeholder {
        color: #b4afaa; }
      .contact-page .form-contact .form-control::placeholder {
        color: #b4afaa; }
    .contact-page .form-contact br {
      display: none; }
    .contact-page .form-contact span.wpcf7-form-control-wrap {
      display: block;
      margin-bottom: 20px; }
      @media (max-width: 575.98px) {
        .contact-page .form-contact span.wpcf7-form-control-wrap {
          margin-bottom: 10px; } }
    .contact-page .form-contact .wpcf7-submit {
      border: 0;
      padding: 10px 30px; }
      @media (max-width: 575.98px) {
        .contact-page .form-contact .wpcf7-submit {
          padding: 11px 42px;
          font-size: 16px;
          margin-top: 10px; } }
  .contact-page .optional {
    border: 0 !important;
    padding: 0 !important; }
    .contact-page .optional .wpcf7-list-item {
      display: block;
      margin-left: 0; }
      .contact-page .optional .wpcf7-list-item label {
        width: 100%; }
      .contact-page .optional .wpcf7-list-item .wpcf7-list-item-label {
        color: #000;
        font-size: 16px;
        margin-left: 10px; }
  .contact-page .question {
    height: 101px; }
